<div class="skip">
    <span class="blind">skip navigation</span>
    <ul>
        <li><a href="#naviMenu">Menu Shortcuts</a></li>
        <li><a href="#main">Text Shortcuts</a></li>
        <li><a href="#footer">Footer Information Shortcuts</a></li>
    </ul>
</div>
<% if(type == 'light') { %><header class="light" id="header"><% } else if(type == 'dark') {%><header class="dark" id="header"><% } else if(type == 'transparent') {%><header class="transparent" id="header"><% } %>
    <div class="header-inner">
        <h1 class="site-logo">
            <a href="javascript:void(0)" class="site-name">
                <span class="blind">SK Networks</span>
            </a>
        </h1>
        <div class="site-navi" id="naviMenu">
            <ul class="depth1-list">
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">Company</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list ">
                            <li class="depth2-item ">
                                <a href="javascript:void(0)" target="_self" class="depth2">Company <br class="pc-only">Overview</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">CEO Message</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">History</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Global Networks</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">Business</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Business Overview</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Global Investment</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">ICT Marketing</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2 spec">Walkerhill Hotels &amp; Resorts</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">SK Magic</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">SK Speedmate</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">SK Electlink</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Glowide</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">MINTIT</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">En-core</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">PhnyX Lab</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">Sustainability</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Overview of <br class="pc-only">Sustainable<br class="pc-only"> Management</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Social Value</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Double Bottom Line</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Social Value <br class="pc-only">Performance</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Environment</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Environmental <br class="pc-only">Management</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Climate Change</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Society</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Employee Happiness</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Safety &amp; Health</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Stakeholder <br class="pc-only">Happiness</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Information Protection <br class="pc-only">and Security</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Governance</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Governance</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Ethical Management</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Investment <br class="pc-only">Management</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Data Center</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Sustainability Report <br class="pc-only">and Policy</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Certifications</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">IR</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Stocks</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Stock Prices</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Shareholder Return</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Finance</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Financial Status</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Audit Report</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Credit Ratings</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">IR Information</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">IR Event</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">IR Materials</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">PR</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Newsroom</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Brand</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">Career</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Business Culture</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Human Resource <br class="pc-only">Development</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Appraisal/<br class="pc-only">Remuneration</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Recruitment information</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="site-util">
            <div class="util contact-wrap">
                <% if(type == 'light') { %><a href="javascript:void(0)" class="btn text design1 case2 color1 contact"><% } else if(type == 'dark') {%><a href="javascript:void(0)" class="btn text design1 case2 color7 contact"><% } else if(type == 'transparent') {%><a href="javascript:void(0)" class="btn text design1 case2 color2 contact"><% } %>
                    <span class="btn-text">Contact</span>
                </a>
            </div>
            <div class="util lang" id="gnb_lang">
                <button title="language selection" aria-label="language selection" aria-haspopup="true" class="selected">
                    <span class="select-text cur-lang">KR</span>
                </button>
                <div class="option-area">
                    <ul class="option-list">
                        <li class="option-item">
                            <a href="javascript:void(0)" class="option">KR</a>
                        </li>
                        <li class="option-item">
                            <a href="javascript:void(0)" class="option active">EN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="site-control">
            <button class="btn icon case2 menu-header">
                <span class="btn-text blind">Open Menu</span>
            </button>
        </div>
    </div>
</header>