<div class="local-info">
    <ul class="data-list breadcrumb design1 <%= typeof casetype !== 'undefined' ? casetype : 'case1' %> dark">
        <li class="data-item"><span class="item-text">Home</span></li>
        <li class="data-item"><span class="item-text"><%= depth1 %></span></li>
        <% if(depth2) { %><li class="data-item"><span class="item-text"><%= depth2 %></span></li><%}%>
        <% if(depth3) { %><li class="data-item"><span class="item-text"><%= depth3 %></span></li><%}%>
    </ul>
</div>