<!-- page-foot -->
<footer id="footer">
    <div class="footer-inner">
        <div class="footer-head">
            <a href="#" class="footer-subject"><span class="footer-name blind">ClickESG</span></a>
        </div>
        <div class="footer-body">
            <div class="section">
                <div class="section-wrap">
                    <div class="section-body">
                        <div class="section-content">
                            <div class="section-list">
                                <div class="section-item">
                                    <h2 class="section-title">SERVICE</h2>
                                    <ul class="section-detail">
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">Service 소개</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">ESG 진단 컨설팅</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">ESG 공급망 진단 컨설팅</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">Net-Zero 컨설팅</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">ESG Data Hub 구축 컨설팅</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">CDP 대응 자문 컨설팅</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="section-item">
                                    <h2 class="section-title">SOLUTION</h2>
                                    <ul class="section-detail">
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">Solution 소개</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">ESG Assessment</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">SCM Assessment</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">Net-Zero</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">Data Hub</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">CDP Assistance</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="section-item">
                                    <h2 class="section-title">ABOUT US</h2>
                                    <ul class="section-detail">
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">ClickESG 소개</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="#" class="section-detail-link">Partnership</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="" class="section-detail-link">Reference</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="" class="section-detail-link">News & Article</a>
                                        </li>
                                        <li class="section-detail-item">
                                            <a href="" class="section-detail-link">News & AContact Us</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="section-item">
                                    <h2 class="section-title">
                                        <a href="" class="link">PLATFORM</a>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-aside">
        <p class="copyright">COPYRIGHTS 2024 SK Inc. ALL RIGHTS RESERVED.</p>
        <ul class="info-area">
            <li class="info-area-link">
                <a href="">이용약관</a>
            </li>
            <li class="info-area-link">
                <a href="">개인정보 처리방침</a>
            </li>
            <li class="info-area-link">
                <a href="">사이트맵</a>
            </li>
        </ul>
    </div>
</footer>
<!-- //page-foot -->