<!-- page-foot -->
<footer id="footer">
    <div class="footer-inner">
        <div class="footer-head">
            <a href="#" class="footer-subject"><span class="footer-name blind">SK networks</span></a>
        </div>
        <div class="footer-body">
            <div class="section policy">
                    <div class="section-wrap">
                            <div class="section-head blind">운영 정책</div>
                            <div class="section-body">
                                <ul class="navi-list">
                                        <li class="navi-item"><a href="#" class="navi-text privacy">개인정보처리방침</a></li>
                                        <li class="navi-item"><a href="#" class="navi-text">사이트맵</a></li>
                                        <li class="navi-item"><a href="https://ethics.sk.co.kr/" target="_blank" title="새창 열기" class="navi-text">제보하기</a></li>
                                </ul>
                                <ul class="info-list">
                                    <!-- <li class="info-item ncsi"><span class="info-text blind">NCSI</span></li> -->
                                    <li class="info-item isms" title="정보보호 관리체계(ISMS) 인증&#10;[인증범위] 온라인 서비스 운영(ERS, 수입차 부품 홍보 및 자동차부품 대리점 관리, 대리점 휴대폰 주문 및 악세사리 판매, ICT마케팅)&#10;[유효기간] 2021.12.15 ~ 2024.12.14">
                                        <span class="info-text blind">정보보호 관리체계 ISMS 인증 마크</span>
                                    </li>
                                    <li class="info-item wa" title="웹접근성 인증">
                                        <span class="info-text blind">웹접근성 인증 마크</span>
                                    </li>
                                </ul>
                            </div>
                    </div>
            </div>
            <div class="section info">
                <div class="section-wrap">
                    <div class="section-head blind">기업정보</div>
                    <div class="section-body">
                        <ul class="data-list">
                            <li class="data-item"><span class="data-text">경기도 수원시 장안구 경수대로 976번길 19(송죽동)</span></li>
                            <li class="data-item"><span class="data-text">Tel : 070-7800-2114</span></li>
                            <li class="data-item"><span class="data-text">Copyright ⓒ 2024 by SK Networks Co. Ltd. All Rights Reserved</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section family-site">
                <button title="패밀리 사이트" aria-label="패밀리 사이트" aria-haspopup="true" class="btn-family">
                    <span class="btn-text">패밀리 사이트</span>
                </button>
                <div class="site-area">
                    <ul class="site-list">
                        <li class="site-item">
                            <a href="https://www.walkerhill.com/" target="_blank" title="새창 열기" class="site">워커힐 호텔앤리조트</a>
                        </li>
                        <li class="site-item">
                            <a href="https://www.walkerhill.com/grandwalkerhillseoul/" target="_blank" title="새창 열기" class="site">그랜드 워커힐 서울</a>
                        </li>
                        <li class="site-item">
                            <a href="https://www.walkerhill.com/vistawalkerhillseoul/" target="_blank" title="새창 열기" class="site">비스타 워커힐 서울</a>
                        </li>
                        <li class="site-item">
                            <a href="https://www.walkerhill.com/about/CustomerService" target="_blank" title="새창 열기" class="site">워커힐 대외사업부</a>
                        </li>
                        <li class="site-item">
                            <a href="https://www.sknservice.com/index.do" target="_blank" title="새창 열기" class="site">SK네트웍스 서비스</a>
                        </li>
                        <li class="site-item">
                            <a href="https://www.skmagic.com/?_ga=2.199319278.1937658122.1716172891-198197358.1712136793" target="_blank" title="새창 열기" class="site">SK매직</a>
                        </li>
                        <li class="site-item">
                            <a href="https://www.speedmate.com/Company" target="_blank" title="새창 열기" class="site">SK스피드메이트</a>
                        </li>
                        <li class="site-item">
                            <a href="https://skelectlink.co.kr/" target="_blank" title="새창 열기" class="site">SK일렉링크</a>
                        </li>
                        <li class="site-item">
                            <a href="https://www.mintit.co.kr/" target="_blank" title="새창 열기" class="site">민팃</a>
                        </li>
                        <li class="site-item">
                            <a href="https://www.en-core.com/" target="_blank" title="새창 열기" class="site">엔코아</a>
                        </li>
                        <li class="site-item">
                            <a href="https://hico.vc/hico-ventures/" target="_blank" title="새창 열기" class="site">하이코캐피탈</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-to-top">
        <button type="button" id="topBtn" class="top-btn">
            <span class="btn-text">Top</span>
        </button>
    </div>
</footer>
<!-- //page-foot -->