<header class="transparent" id="header">
    <div class="header-inner">
        <h1 class="site-logo">
            <a href="javascript:void(0)" class="site-name">
                <span class="blind">ClickESG 로고</span>
            </a>
        </h1>
        <div class="site-navi" id="naviMenu">
            <ul class="depth1-list">
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">SERVICE</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list ">
                            <li class="depth2-item ">
                                <a href="javascript:void(0)" target="_self" class="depth2">Service 소개</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">ESG 진단 컨설팅</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">ESG 공급망 진단 컨설팅</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Net-Zero 컨설팅</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">ESG Data Hub 구축 컨설팅</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">CDP 대응 자문 컨설팅</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">SOLUTION</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Solution 소개</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">ESG Assessment</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">SCM Assessment</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Net-Zero</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Data Hub</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">CDP Assistance</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">ABOUT US</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">ClickESG 소개</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Partnership</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Reference</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">News & Article</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">PLATFORM</a>
                </li> 
            </ul>
        </div>
    </div>
</header>

<body>
    <div class="body" style="background-color: blue;width: 100%;height: 200vh;"></div>
</body>