<div class="skip">
    <span class="blind">skip navigation</span>
    <ul>
        <li><a href="#naviMenu">메뉴 바로가기</a></li>
        <li><a href="#main">본문 바로가기</a></li>
        <li><a href="#footer">하단 정보(링크) 바로가기</a></li>
    </ul>
</div>
<% if(type == 'light') { %><header class="light" id="header"><% } else if(type == 'dark') {%><header class="dark" id="header"><% } else if(type == 'transparent') {%><header class="transparent" id="header"><% } %>
    <div class="header-inner">
        <h1 class="site-logo">
            <a href="javascript:void(0)" class="site-name">
                <span class="blind">SK 네트웍스 로고</span>
            </a>
        </h1>
        <div class="site-navi" id="naviMenu">
            <ul class="depth1-list">
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">Company</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list ">
                            <li class="depth2-item ">
                                <a href="javascript:void(0)" target="_self" class="depth2">기업 개요</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">CEO인사말</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">연혁</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">글로벌 네트워크</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">Business</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">사업 개요</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">글로벌 투자</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">정보통신</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">워커힐 호텔앤리조트</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">SK매직</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">SK스피드메이트</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">SK일렉링크</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">글로와이드</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">민팃</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">엔코아</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">피닉스 랩</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">Sustainability</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">Sustainability <br class="pc-only">개요</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">사회적 가치</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">Double Bottom Line</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">사회적 가치 성과</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">환경</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">환경경영</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">기후변화</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">사회</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">구성원 행복</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">안전보건</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">이해관계자 행복</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">정보보호 및 보안</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">거버넌스</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">지배구조</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">윤리경영</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">투자관리</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">자료실</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">보고서 및 정책</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">인증</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">IR</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">주식정보</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">주가정보</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">주주환원</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">재무정보</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">주요재무현황</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">감사보고서</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">신용등급</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">IR정보</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">IR일정</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">IR자료</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">공시정보</a>
                                <div class="depth3-wrap">
                                    <ul class="depth3-list">
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">전자공시</a>
                                        </li>
                                        <li class="depth3-item">
                                            <a href="javascript:void(0)" target="_self" class="depth3">전자공고</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">PR</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">뉴스룸</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">브랜드</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="depth1-item">
                    <a href="javascript:void(0)" class="depth1">Career</a>
                    <div class="depth2-wrap">
                        <ul class="depth2-list">
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">기업문화</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">인재육성</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">평가/보상</a>
                            </li>
                            <li class="depth2-item">
                                <a href="javascript:void(0)" target="_self" class="depth2">채용정보</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="site-util">
            <div class="util contact-wrap">
                <% if(type == 'light') { %><a href="javascript:void(0)" class="btn text design1 case2 color1 contact"><% } else if(type == 'dark') {%><a href="javascript:void(0)" class="btn text design1 case2 color7 contact"><% } else if(type == 'transparent') {%><a href="javascript:void(0)" class="btn text design1 case2 color2 contact"><% } %>
                    <span class="btn-text">문의·제안</span>
                </a>
            </div>
            <div class="util lang" id="gnb_lang">
                <button title="언어 선택" aria-label="언어 선택" aria-haspopup="true" class="selected">
                    <span class="select-text cur-lang">KR</span>
                </button>
                <div class="option-area">
                    <ul class="option-list">
                        <li class="option-item">
                            <a href="javascript:void(0)" class="option active">KR</a>
                        </li>
                        <li class="option-item">
                            <a href="javascript:void(0)" class="option">EN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="site-control">
            <button class="btn icon case2 menu-header">
                <span class="btn-text blind">메뉴 열기</span>
            </button>
        </div>
    </div>
</header>