<div class="pagination design1 case1">
    <span class="page-util">
        <span class="util-item disabled">
            <a class="btn icon case1 arrow-left2-bg" href="#"><span class="btn-text blind">이전</span></a>
        </span>
    </span>
    <span class="page-list">
        <a class="page-item current" href="#">1</a>
        <a class="page-item" href="#">2</a>
        <a class="page-item" href="#">3</a>
        <a class="page-item" href="#">4</a>
        <a class="page-item" href="#">5</a>
    </span>
    <span class="page-util">
        <span class="util-item">
            <a class="btn icon case1 arrow-right2-bg" href="#"><span class="btn-text blind">다음</span></a>
        </span>
    </span>
</div>