<% if (name === 'colors') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="principle">Principle</a></li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="lightAndDarkMode">Light and Dark mode</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="basicColor">Basic color</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="mainColor">Main color</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="subColor">Sub color</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="greyscale">Greyscale</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="semanticColor">Semantic color</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="background">Background</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="popupBox">Popup box</a></li>
            </ul>
        </li>
    </ul>
</div>
<% } else if (name === 'typography') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="typeface">Typeface</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="components">Components</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="heading">Heading</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="title">Title</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="body">Body</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="detail">Detail</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="label">Label</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="link">Link</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="fontSizes">Font sizes</a></li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="fontWeight">Font weight</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="lineHeight">Line height</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="headingAndDetail">Heading and Title</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="bodyAndCode">Body and Detail</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="component">Component</a></li>
            </ul>
        </li>
    </ul>
</div>
<% } else if (name === 'layout') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="responsiveLayoutGrid">Responsive layout grid</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="breakPoint">Break point</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="contentsArea">Contents area</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="spacing">Spacing</a></li>
    </ul>
</div>
<% } else if (name === 'object-styles') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="radius">Radius</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="smallRounding">Small rounding</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="defaultRounding">Default rounding</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="etcRounding">ETC rounding</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="fullRounding">Full rounding</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="borderWidth">Border width</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="shadow">Shadow</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="defaultShadow">Default shadow</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="onLightGray">On light gray</a></li>
            </ul>
        </li>
    </ul>
</div>
<% } else if (name === 'principles') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="designPrinciples">디자인 원칙</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="planOfPrinciple">원칙을 따르기 위한 주요 방안</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="responsive">Responsive</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="accessibility">Accessibility</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="visualHierarchy">Visual Hierarchy</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="meaningfulText">Meaningful text</a></li>
            </ul>
        </li>
    </ul>
</div>
<% } else if (name === 'content-design') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="contentDesign">콘텐츠 디자인이란?</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="bestPractice">모범 사례</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="altTextShort">대체 텍스트는 짧게</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="chartSummary">차트와 그래프는 요약해서 작성</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="plainLanguage">평범한 언어를 사용</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="userFlow">사용자 시각의 흐름</a></li>
            </ul>
        </li>
    </ul>
</div>
<% } else if (name === 'design-tokens') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="designToken">디자인 토큰이란?</a></li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="globalTokens">Global tokens</a></li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="aliasTokens">Alias tokens</a></li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="theming">Theming</a></li>
    </ul>
</div>
<% } else if (name === 'top-navigation') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="ComponentVariants">Component variants</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="standardTopNavigation">Standard top navigation</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="subTopNavigation">Sub top navigation</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="semanticColor">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="afterScrolling">After scrolling</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="board">Board</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="joinMembership">Join membership</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'button-navigation') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="mainBottomNavigation">Main bottom navigation</a></li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="newsBottomNavigation">News bottom navigation</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="updateBadge">Update badge</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="case">Case</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="placement">Placement</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="itemDistribution">Item distribution</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="usageGuidelines">Usage guidelines</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'navigation-drawer') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="updateBadge">Update badge</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="memberInformation">Member information</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="settingsIcon">Settings icon </a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'footer') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="notice">Notice</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="siteMap">Site map</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="businessInformation">Business information</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="customerService">Customer service</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="placement">Placement</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="responsiveDesign">Responsive design</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'box-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="labelAndIcon">Label and Icon</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="variant">Variant</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="primaryVariant">Primary variant</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="secondaryVariant">Secondary variant</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="actionVariant">Action variant</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="disabled">Disabled</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="loading">Loading</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="icon">Icon</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="onOffStates">On/Off states</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="size">Size</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="behaviors">Behaviors</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="focus">Focus</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="flexibleWidth">Flexible width</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="overflow">Overflow</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="guideline">Guideline</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="highContrastMode">High-contrast mode</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="fixingTheBottom">Fixing the bottom</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'text-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a> 
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="textOnly">Text only</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="textIcon">Text + Icon</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="underlined">Underlined</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="UsageGuidelines">Usage guidelines</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="screenReaderSupport">화면 판독기 지원</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="useInSentence">문장 내 사용</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="intuitiveExperience">직관적인 경험</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul> 
</div>
<% } else if (name === 'tab-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="label">Label</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="stage">Stage</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="states">States</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="padding">Padding</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="margin">Margin</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="elementType">Element Type</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="numberitems">항목 수</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="sideMargin">측면 여백</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="noContent">표시될 콘텐츠가 없는 경우</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="multipleTabs">여러 개의 탭을 중첩하는 경우</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="largeNumberItemsTab">탭의 항목 수가 많을 경우</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'icon-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="gnb">GNB</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="close">Close</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="contextualHelp">Contextual help</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="mobileTapbar">Mobile tapbar</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="stickyMenu">Sticky menu</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="dropDownArrow">Drop down arrow</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="player">Player</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="badge">Badge</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="layoutAndDensity">Layout and Density</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="usageGuidelines">Usage guidelines</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'select-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="checkbox">Check box</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="checkboxGroup">Check box group</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="radioButton">Radio button</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="radioButtonLayout">Radio button layout</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="toggleButton">Toggle button</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="toggleButtonLayout">Toggle button layout</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="RequiredNotice">필수 사항</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="usageGuidelines">Usage guidelines</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="Internationalization">Internationalization</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'tag') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="labelAndIcon">Label and Icon</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="keyword">Keyword</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="icon">Icon</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="group">Group</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="textOverflow">Text overflow</a></li> 
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'text-field') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="label">Label</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="value">Value</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="error">Error</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="info">Info</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="closeIcon">Close icon</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="textIcon">Text icon</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="focusOn">Focus on</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="typing">Typing</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="disabled">Disabled</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="disabledReadOnly">Disabled (Read only)</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="textArea">Text area</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="securityNumber">Security number</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="combinationDropDown">Combination (Drop down)</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="combinationBoxButton">Combination (Box button)</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="placeholder">플레이스홀더 사용</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="ScrollableInputField">입력 필드 내에서 스크롤</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="RequiredFieldIndicator">필수 표시 사용</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'dropdown') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="label">Label</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="placeholder">Placeholder</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="value">Value</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="width">Width</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="size">Size</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="quiet">Quiet</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="menuContainer">Menu container</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="requiredOrOptional">Required or optional</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="disabled">Disabled</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="info">Info</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="popover">Popover</a></li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="tray">Tray</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="behaviors">Behaviors</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="overflow">Overflow</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="menuHeight">Menu height</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="internationalization">Internationalization</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'search') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="labelAndIcon">Label and Icon</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="typing">Typing</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="value">Value</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="closeIcon">Close icon</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="width">Width</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="usedForGnb">Used for GNB</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="behaviors">Behaviors</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="overflow">Overflow</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="responsiveLayout">Responsive layout</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="realTimeTrendingKeywords">실시간 인기 검색어 노출</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="autocompleteSuggestions">연관 검색어(자동완성)</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="recentSearches">최근 검색어</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="noResults">결과 없음</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="internationalization">Internationalization</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'table') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="standardTable">표준형</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="lineTable">라인형</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="columnSeparator">열 구분</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'data-list') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="totalValue">Total value</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="sorting">Sorting</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="icon">Icon</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="hover">Hover</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="titleLength">Title length</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'accordion') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="faq">FAQ</a></li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="oneOnOneInquiry">1:1 Inquiry</a></li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'layer-popup') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="elementPatternsAndTypes">Element patterns and Types</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="header">Header</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="resizing">Resizing</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="scrollArea">Scroll area</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="landscape">Landscape</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'alert-snackbar') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="title">Title</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="description">Description</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="confirmationVariant">Confirmation variant</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="warning">Warning</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="input">Input</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="textOverflow">Text overflow</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="overlappingButtons">Overlapping buttons</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="usageGuidelines">Usage guidelines</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'tooltip') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="title">Title</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="closeButton">Close button</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="size">Size</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="popoverPlacement">Popover placement</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="popoverOffset">Popover offset</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="passwordValidation">Password validation</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="iconToolDescription">Icon tool description</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="textOverflow">Text overflow</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="usageGuidelines">Usage guidelines</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'thumbnail') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="timeLine">Time line</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="iconArea">Icon area</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="textArea">Text area</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="dimmer">Dimmer</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="border">Border</a></li>
            </ul>
        </li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="behaviors">Behaviors</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="video">Video</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="keyword">Keyword</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="timeLineKeyword">Time line + Keyword</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="aspectRatio">Aspect ratio</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="imageExposureMethod">Image exposure method</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="horizontalImage">가로형 이미지</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="verticalImage">세로형 이미지</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="noImageAvailable">이미지 없는 경우</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="breakingNewsImage">뉴스 속보 이미지</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } else if (name === 'loading') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
        <li class="nav-item term case-02">
            <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
            <ul class="sub-nav-list">
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="circularType">Circular type</a></li>
                <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="linearType">Linear type</a></li>
            </ul>
        </li>
        <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
    </ul>
</div>
<% } %>
<!-- //page-aside -->