<!-- page-foot -->
<div class="footer" id="footer">
	<div class="footer-inner">
		<div class="footer-head">
			<em class="footer-subject">©Pentabreed. StyleGuide Create with</em>
		</div>
		<div class="footer-body">
			<a href="https://www.pentabreed.com" target="_blank" class="company">
				<span class="text blind">펜타브리드</span>
			</a>
		</div>
	</div>
</div>
<!-- //page-foot -->