@charset "utf-8";

body {
    .blind {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        border: 0;
        white-space: nowrap;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
    }

    /* Accent */
    .accent {
        //color
        &.color-01 {
            color: color(primary,100) !important;
        }
    }

    /* Small */
    .small {
        &.design-01 {
            &.style-01 {
                @include font(small-6x, regular);
            }
            &.gray-01 {
                color: color(gray,500);
            }
        }
    }

    /* Link */
    .link {
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
        text-decoration: underline;
    }

    .skip {
        ul {
            li {
                a {
                    display: flex;
                    position: absolute;
                    top: -10rem;
                    right: 0;
                    left: 0;
                    height: 5.6rem;
                    background: color(gray, 900);
                    color: color(gray, 000);
                    font-size: 16px;
                    line-height: 5.6rem;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    z-index: 99999;

                    &:focus-within,
                    &:focus,
                    &:active {
                        top: 0;
                    }
                }
            }
        }
    }
        
    // highlight
    .highlight-js {
        font-size: 0;
    }

    // highlight
    .highlight-js .hljs {
        padding: 1.5rem;
        border: 0.1rem solid #f3f3f3;
        background: #ffffff;
        font-size: 1.2rem;
        line-height: 1.5;
        font-family: Consolas, Courier New, monospace, 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', dotum, 돋움, sans-serif;
        scrollbar-color: #cdcdcd #f0f0f0;
    }
}