@charset "utf-8";

body {
    .blind {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        border: 0;
        white-space: nowrap;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
    }

    @include web {
        .mo-only {
            display: none !important;
        }
    }

    @include mobile {
        .pc-only {
            display: none !important;
        }
    }

    /* Accent */
    .accent {
        //weight
        &.case1 {
            font-weight: 400 !important;
        }

        &.case2 {
            font-weight: 500 !important;
        }

        &.case3 {
            font-weight: 600 !important;
        }

        &.case4 {
            font-weight: 700 !important;
        }

        //color
        &.color1 {
            color: custom-color(primary, 100) !important;
        }

        &.color2 {
            color: custom-color(etc, 100) !important;
        }

        &.color3 {
            color: custom-color(neutral, 060) !important;
        }

        &.color4 {
            color: custom-color(system, 070) !important;
        }
        &.color5 {
            color: custom-color(system, 080) !important;
        }
        &.color6 {
            color: custom-color(typo, 020) !important;
        }
        &.color7 {
            color: custom-color(primary, 080) !important;
        }
        &.color8 {
            color: custom-color(typo, 010) !important;
        }
        &.color9 {
            color: custom-color(primary, 070) !important;
        }
        &.color10 {
            color: custom-color(secondary, 100) !important;
        }
    }

    .skip {
        ul {
            li {
                a {
                    display: flex;
                    position: absolute;
                    top: -10rem;
                    right: 0;
                    left: 0;
                    height: 5.6rem;
                    background: custom-color(neutral, 080);
                    color: custom-color(system, 070);
                    font-size: 16px;
                    line-height: 5.6rem;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    z-index: 99999;
    
                    &:focus-within,
                    &:focus,
                    &:active {
                        top: 0;
                    }
                }
            }
        }
    }

    .scroll-guide {
        display: flex;
        color: custom-color(system,070);
        align-items: center;
        gap: 0.8rem;
        @include font(small-5x, bold);
        &::after {
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            content:'';
            background-image: icon(arrow-down2, custom-color(system,070));
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: center;
        }
    }
    
    .no-result-wrap {
        padding: 16rem 0;
        text-align: center;
        .no-result-title {
            @include font(small-2x,bold);
            color: custom-color(typo,005);
        }
        @include mobile {
            padding: 8rem 0;
            .no-result-title {
                @include font(small-3x,bold);
            }
        }
    }

    .text-bundle {
        display: inline-block;
    }

    &.no-scroll {
        overflow: hidden;
    }

    //404 에러페이지
    .error-page {
        min-height: calc(100vh - 29rem);
        .main-inner {
            max-width: 123.6rem;
            margin: 0 auto;
            margin-top: 13.6rem;
            padding-left: 26.7rem;
            @include mobile {
                margin-top: 9rem;
                padding-left: unset;
            }
            .content-head {
                font-size: 16rem;
                font-weight: 700;
                line-height: 130%;
                letter-spacing: -0.32rem;
                color: #6D0CA6;
                opacity: 0.5;
                + .content-body {
                    margin-top: 1.6rem;
                }
                @include mobile {
                    font-size: 14rem;
                    letter-spacing: -0.28rem;
                    text-align: center;
                    display: block;
                    + .content-body {
                        margin-top: 1.2rem;
                    }
                }
            }
            .content-body {
                .para {
                    &.type1 {
                        font-size: 3.2rem;
                        font-weight: 700;
                        color: #15151A;
                        @include mobile {
                            font-size: 2.4rem;
                        }
                    }
                    &.type2 {
                        font-size: 1.8rem;
                        font-weight: 500;
                        color: #3F3F46;
                        @include mobile {
                            font-size: 1.6re,;
                        }
                    }
                    + .para {
                        margin-top: 2.4rem;
                        @include mobile {
                            margin-top: 1.6rem;
                        }
                    }
                }
                + .content-util {
                    margin-top: 8rem;
                    @include mobile {
                        margin-top: 4.8rem;
                        .btn-display {
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}