#wrap {
	position: relative;
	min-height: 100vh;
	overflow: hidden;

	.main {
		padding: 0 1.8rem;
	}

	.local {
		&.design1 {
			margin: 0 auto;
			max-width: 120rem;

			.local-body {
				.content-body {
					padding-bottom: 16rem;

					@include mobile {
						padding-bottom: 8rem;
					}
				}
			}
		}

		&.design2 {
			width: 100%;

			.local-body {
				.content-body {
					padding-bottom: 0;
				}
			}
		}

		&.design3 {
			margin: 0 auto;
			max-width: 120rem;
				.local-body {
					.content-body {
						padding-top: 23.2rem;
						padding-bottom: 16rem;

						@include mobile {
							padding: 13.8rem 1.6rem 8rem;
						}
					}
				}
		}
	}

	.local-head {
		&.design1 {
			.local-subject {
				.local-name {
					@include font(large-12x, bold);
					line-height: 120%;
					text-align: left;
				}
			}
			@include mobile {
				.local-subject {
					.local-name {
						@include font(large-1x, bold);
					}
				}
			}
		}

		&.design2 {
			.local-subject {
				.local-name {
					@include font(large-5x, bold);
					text-align: center;
				}
			}
			@include mobile {
				.local-subject {
					.local-name {
						@include font(large-3x, bold);
					}
				}
			}
		}

		&.design3 {
			padding: 3.2rem 1.8rem 12rem;

			.local-subject {
				.local-name {
                    color: color(typo, 020);
					text-align: center;
					@include font(large-3x, extrabold);
				}
			}

			@include mobile {
				padding: 4rem 1.8rem 6.4rem;

				.local-subject {
					.local-name {
						@include font(medium, extrabold);
					}
				}
			}
		}

		&.design4 {
      display: flex;
			position: relative;
			width: 100%;
			height: 100vh;
			padding: 14rem 0 20rem 0;
			margin: 0 auto;
			justify-content: flex-start;
			flex-direction: column;
			min-height: 980px;
			max-width: 1200px;
			opacity: 0;
			transition: opacity 0.5s ease-out;

			@include mobile() {
				width: 100%;
				padding: 8.2rem 0 20rem 0;
				min-height: 60rem;
				max-width: 100%;
			}

			.local-info {
				margin: 0;

				& + .local-subject {
					margin-top: 10rem;

					@include mobile() {
						margin-top: 5.5rem;
					}
				}
			}

			.local-subject {
				display: flex;
				position: relative;
				top: 50px;
				transition: top 0.5s ease-out;
				align-items: center;

				.local-name {
					@include font(large-12x, bold);
					color: color(typo, 020);
					line-height: 1.2;
					transition: color 1s ease-out;

					@include mobile() {
						@include font(large-1x, bold);
					}
				}

				&+.local-aside {
				margin-top: 12rem;
					@include mobile() {
						margin-top: 48px;
					}
				}
			}

			.local-aside {
				display: flex;
				position: relative;
				top: 50px;
        height: auto;
				justify-content: flex-end;
                align-items: flex-end;
				transition: top 0.5s ease-out;

				.loca-wrap {
					width: 506px;

					@include mobile() {
						width: 100%;
					}

					.local-title {
						@include font(medium, bold);
						color: color(primary, 080);
						transition: color 1s ease-out;

						@include mobile() {
							@include font(small-1x, bold);
						}

						&+.local-summary {
							margin-top: 16px;
						}
					}

					.local-summary {
						color: color(neutral, 080);
						transition: color 1s ease-out;
						@include font(small-3x, bold);

						@include mobile() {
							@include font(small-4x, bold);
						}
					}
				}
			}

			.local-figure {
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 0;
				height: 0;
				transform: translateX(-50%);
				overflow: hidden;
				border-radius: 16px 16px 0 0;
				z-index: -1;
				transition: all 0.5s ease-out;

				@include mobile() {
					border-radius: 8px 8px 0 0;
				}

				video, img {
					position: absolute;
					top: 0;
					left: 50%;
					width: 1200px;
					height: 100%;
					transform: translateX(-50%);
					-o-object-fit: cover;
					object-fit: cover;

					@include mobile() {
						width: 100vw;
					}
				}

				&::after {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						content: '';
						background-color: rgba(0,0,0,0);
						transition: background-color .3s ease;
				}
			}

			.local-util {
				position: absolute;
				bottom: 48px;
				left: 50%;
				transform: translateX(-50%);

				@include mobile() {
					bottom: 10rem;
				}
			}

			&.active1 {
				opacity: 1;

				.local-subject {
					top: 0;
				}

				.local-aside {
					top: 0;
				}

				.local-figure {
					width: 1200px;
					height: 200px;
					@include mobile() {
						width: 100%;
					}
				}
			}

			&.active2 {
				.local-subject {
					.local-name {
						color: color(system, 070);
					}
				}

				.local-aside {
					.loca-wrap {
						.local-title {
							color: color(system, 070);
						}

						.local-summary {
							color: color(system, 070);
						}
					}
				}

				.local-figure {
					width: 100vw;
					height: 100%;
					border-radius: 0;

					video, img {
						width: 100%;
						height: 100%;
					}

					&::after {
						background-color: rgba(0,0,0,0.5);
					}
				}
			}
		}

		&.design5 {
			position: relative;
			width: 100%;
			padding: 14rem 0 0 0;
			margin: 0 auto;

			@include mobile() {
				padding: 8.2rem 0 0;
			}

			.local-info {
				@include mobile() {
					margin: 0 !important;
				}
			}

			.local-subject {
				display: flex;
				position: relative;
				//padding: 25rem 0;
				height: 60.573vh;
				text-align: center;
				align-items: center;
				justify-content: center;

				@include mobile() {
					//padding: 16rem 0;
					height: 50vh;
				}

				.local-name {
					position: relative;
					color: color(typo, 020);
					transform: translateY(30%);
					opacity: 0;
					@include font(large-5x, bold);

					@include mobile() {
						@include font(medium, bold);
					}
				}
			}

			.local-aside {
				display: flex;
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 100vh;
				align-items: center;
				justify-content: center;
				z-index: 2;

				.local-wrap {
					.local-title {
						color: color(typo, 000);
						@include font(large-5x, bold);

						@include mobile() {
							text-align: center;
							@include font(large-3x, bold);
						}

						@at-root .en & {
							text-align: center;
						}
					}
				}
			}

			.local-figure {
				position: relative;
				left: 50%;
				width: 90vw;
				height: 100vh;
				transform:translateY(15%);
				overflow: hidden;
				z-index: 1;
				opacity: 0;
				background-color: rgba(0, 0, 0, 0.0);

				img {
					position: absolute;
					top: 0;
					left: 50%;
					width: 100%;
					height: 100%;
					transform: translateX(-50%);
					-o-object-fit: cover;
					object-fit: cover;

					}

					&::after {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						content: '';
						background-color: inherit;
						transition: background-color .3s ease;
				}
			}

			.local-util {
				position: fixed;
				top: calc(100vh - 4.8rem - 2.3rem);
				left: 50%;
				transform: translateX(-50%);
				z-index: 2;

				@include mobile() {
					top: calc(100vh - 10rem - 2.3rem);
				}
			}
		}
	}

	.local-body {
		.content-head {
			display: block;
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			border: 0;
			font-size: 1px;
			line-height: 1px;
			overflow: hidden;
			visibility: hidden;
			clip: rect(0 0 0 0);
			clip: rect(0, 0, 0, 0);
			pointer-events: none;
		}
	}

	.section {

		// normal
		&.design1 {}

		// section-head와 section-body가 flex 되는 경우
		&.design2 {
			.section-wrap {
				display: flex;

				@include mobile {
					flex-direction: column;
				}
			}
		}

		// name과 util이 flex 되는 경우
		&.design3 {
			.section-head {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			@include mobile {
				.section-head {
					flex-direction: column;
					align-items: flex-start;

					.section-name {
						+ .section-util {
							width: 100%;
							margin-top: 2.4rem;
						}
					}
				}
			}
		}

		// section-body가 flex 되는 경우
		&.design4 {
			.section-body {
				display: flex;
				@include mobile {
					flex-direction: column;
				}
			}
		}

        &.design5 {
			.section-head {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			@include mobile {
				.section-head {
					flex-direction: column;
					align-items: flex-start;

					.section-name {
						+ .section-util {
							margin-top: 4.8rem;
						}
					}
				}
			}
        }

		&[class*=design] {
			// space
			&.case1 {
				.section-wrap {
					.section-head {
						+.section-body {
							margin-top: 4rem;

							@include mobile {
								margin-top: 2.4rem;
							}
						}
					}
                    .section-body {
                        >.para {
							+.para {
								margin-top: 1.6rem;
							}
                            +.note {
                                display: inline-block;
                                margin-top: 1.6rem;
                            }
							@include mobile {
								+.para {
									margin-top: 1.2rem;
								}
								+.note {
									display: inline-block;
									margin-top: 1.2rem;
								}
							}
                        }
                        +.section-util {
                            margin-top: 4rem;
                            @include mobile {
                                margin-top: 4.8rem;
                            }
                        }
                    }
				}
			}

			&.case2 {
				.section-wrap {
					.section-head {
                        .section-name {
                            +.section-summary {
                                margin-top: 4rem;
                                @include mobile {
                                    margin-top: 2.4rem;
                                }
                            }
                        }
						+.section-body {
							margin-top: 2.4rem;
							@include mobile {
								margin-top: 1.6rem;
							}
						}
					}
					.section-body {
						>.para {
							+.para {
								margin-top: 1.6rem;
							}
						}
						@include mobile {
							>.para {
								+.para {
									margin-top: 1.2rem;
								}
							}
						}
					}
				}
			}

			&.case3 {
				.section-wrap {
					.section-head {
						+.section-body {
							margin-top: 6.4rem;
							@include mobile {
								margin-top: 3.2rem;
							}
						}
					}
					.section-body {
						>.para {
							+.para {
								margin-top: 1.6rem;
							}
						}
						@include mobile {
							>.para {
								+.para {
									margin-top: 1.2rem;
								}
							}
						}
					}
				}
			}

			&.case4 {
				.section-wrap {
					.section-head {
						+.section-body {
							margin-top: 8rem;
							@include mobile {
								margin-top: 4.8rem;
							}
						}
					}
					.section-body {
						>.para {
							+.para {
								margin-top: 1.6rem;
							}
						}
						@include mobile {
							>.para {
								+.para {
									margin-top: 1.2rem;
								}
							}
						}
					}
				}
			}

            &.case5 {
				.section-wrap {
                    .section-caption {
                        ~.section-head {
                            margin-top: 4rem;
                            @include mobile {
                                margin-top: 2.4rem;
                            }
                        }
                    }
					.section-head {
                        .section-name {
                            +.section-summary {
                                margin-top: 1.6rem;
                                @include mobile {
                                    margin-top: 1.2rem;
                                }
                            }
                        }
                        +.section-body {
                            margin-top: 4rem;
                            @include mobile {
                                margin-top: 2.4rem;
                            }
                        }
					}
					.section-body {
						>.para {
							+.para,
                            +.note {
								margin-top: 1.6rem;
							}
						}
						@include mobile {
							>.para {
								+.para,
                                +.note {
									margin-top: 1.2rem;
								}
							}
						}
                        +.section-util {
                            margin-top: 8rem;
                            @include mobile {
                                margin-top: 4.8rem;
                            }
                        }
					}
				}
            }
            &.case6 {
                .section-wrap {
                    .section-head {
                        +.section-body {
                            margin-top: 3rem;
                            @include mobile {
                                margin-top: 2.7rem;
                            }
                        }
                    }
					.section-body {
						>.para {
							+.para {
								margin-top: 1.6rem;
							}
						}
						@include mobile {
							>.para {
								+.para {
									margin-top: 1.2rem;
								}
							}
						}
					}
                }
            }

            &.case7 {
                .section-wrap {
                    .section-head {
                        ~.section-body {
                            margin-top: 1.6rem;
                            @include mobile {
                                margin-top: 1.2rem;
                            }
                        }
                        ~.section-util {
                            margin-top: 4rem;
                            @include mobile {
                                margin-top: 2.4rem;
                            }
                        }
                    }
					.section-body {
						>.para {
							+.para {
								margin-top: 1.6rem;
							}
						}
						@include mobile {
							>.para {
								+.para {
									margin-top: 1.2rem;
								}
							}
						}
					}
                }
            }

			&.case8 {
                .section-wrap {
					.section-body {
						>.para {
							+.para {
								margin-top: 4rem;
							}
						}
						@include mobile {
							>.para {
								+.para {
									margin-top: 2.4rem;
								}
							}
						}
					}
                }
            }

			&.case9 {
				.section-wrap {
					.section-head {
						.section-name {
                            +.section-summary {
                                margin-top: 2.4rem;
                                @include mobile {
                                    margin-top: 1.6rem;
                                }
                            }
                        }
						+.section-body {
							margin-top: 6.4rem;
							@include mobile {
								margin-top: 4rem;
							}
						}
					}
                    .section-body {
                        >.para {
							+.para {
								margin-top: 1.6rem;
							}
							@include mobile {
								+.para {
									margin-top: 1.2rem;
								}
							}
                        }
                    }
				}
			}

			&.case10 {
				.section-wrap {
					.section-head {
						+.section-body {
							margin-top: 2.4rem;

							@include mobile {
								margin-top: 1.6rem;
							}
						}
					}
                    .section-body {
                        +.section-util {
                            margin-top: 8rem;
                            @include mobile {
                                margin-top: 4.8rem;
                            }
                        }
                    }
				}
			}

			// font style
			&.type1 {
                .section-caption {
                    color: color(primary, 080);
                    @include font(small-5x, medium);
                }
				.section-name {
					@include font(medium, bold);
					color: color(typo, 020);

					@include mobile {
						@include font(small-1x, bold);
					}

					+.section-summary {
						color: color(typo, 010);
						margin-top: 2.4rem;
						@include font(small-3x, medium);

						@include mobile {
							margin-top: 1.6rem;
							@include font(small-4x, medium);
						}
					}
				}

				.section-body {
					>.para {
						color: color(typo, 010);
						@include font(small-3x, medium);

						@include mobile {
							@include font(small-4x, medium);
						}
					}
				}
			}

			&.type2 {
				.section-name {
					color: color(typo, 020);
					@include font(small-1x, bold);

					@include mobile {
						@include font(small-2x, bold);
					}

					+.section-summary {
						color: color(typo, 010);
						margin-top: 1.6rem;
						@include font(small-4x, medium);

						@include mobile {
							margin-top: 1.6rem;
							@include font(small-5x, medium);
						}
					}
				}

				.section-body {
					>.para {
						color: color(typo, 010);
						@include font(small-3x, medium);
						@include mobile {
							@include font(small-4x, medium);
						}
					}
				}
			}

			&.type3 {
				.section-name {
					color: color(typo, 020);
					@include font(large-3x, bold);

					@include mobile {
						@include font(medium, bold);
					}
					+.section-summary {
						color: color(typo, 010);
						margin-top: 2.4rem;
						@include font(small-3x, medium);

						@include mobile {
							margin-top: 1.6rem;
							@include font(small-4x, medium);
						}
					}
				}

				.section-body {
					>.para {
						color: color(typo, 020);
						@include font(small-1x, bold);
						@include mobile {
							@include font(small-2x, bold)
						}
					}
					.note {
                        display: inline-block;
						color: color(typo, 010);
						@include font(small-3x, medium);
						@include mobile {
							@include font(small-4x, medium);
						}
					}
				}
			}

			&.type4 {
				.section-name {
					color: #000;
					@include font(small-4x, bold);
				}

				.section-body {
					>.para {
						color: color(typo, 010);
						@include font(small-4x, medium);
						@include mobile {
								@include font(small-5x, medium);
						}
					}
				}
			}

            &.type5 {
                .section-head {
                    .section-name {
                        color: color(typo, 020);
                        @include font(large-3x, bold);
                        @include mobile {
                            @include font(medium, bold);
                        }
                    }
                    .section-summary {
                        color: color(typo, 010);
                        @include font(small-2x, bold);
                        @include mobile {
                            @include font(small-3x, bold);
                        }
                    }
                }
                .section-body {
                    >.para {
                        color: color(typo, 010);
                        @include font(small-3x, medium);
                        @include mobile {
                            @include font(small-4x, medium);
                        }
                    }
                }
            }

			&.type6 {
				.section-name {
					@include font(small-1x, bold);
					color: color(typo, 020);

					@include mobile {
						@include font(small-2x, bold);
					}

					+.section-summary {
						@include font(small-3x, medium);
						color: color(typo, 010);

						@include mobile {
							@include font(small-4x, medium);
						}
					}
				}

                .section-body {
                    >.para {
                        color: color(typo, 010);
                        @include font(small-3x, medium);
                        @include mobile {
                            @include font(small-4x, medium);
                        }
                    }
                }
			}

            &.type7 {
				.section-name {
					@include font(medium, bold);
					color: color(typo, 020);

					@include mobile {
						@include font(small-1x, bold);
					}
				}

				.section-body {
					>.para {
						@include font(small-4x, medium);
						color: color(typo, 010);

						@include mobile {
							@include font(small-5x, medium);
						}
					}
				}
            }
            &.type8 {
				.section-name {
					@include font(medium, bold);
					color: color(typo, 000);

					@include mobile {
						@include font(small-1x, bold);
					}
				}

				.section-body {
					>.para {
                        color: color(typo, 000);
						@include font(small-3x, medium);

						@include mobile {
							@include font(small-4x, medium);
						}
					}
				}
            }

			// align
			&.align1 {
				.section-head {
					text-align: left;
				}
			}

			&.align2 {
				.section-caption,
				.section-head {
					text-align: right;
				}
			}

			&.align3 {
				.section-head {
					text-align: center;
				}
			}

			&.align4 {
					.section-caption,
					.section-head,
					.section-body {
							text-align: center;
					}
			}
		}

		// 상세페이지 공통
		&.detail-layout {
			.section-wrap {
				.section-head {
					.section-name {
						+ .section-summary {
							margin-top: 3.2rem;
						}
					}
					+ .section-body{
						margin-top: 6.4rem;
						img {
							max-width: 100%;
						}
						+ .section-aside {
							margin-top: 6.4rem;
							+ .section-util {
								margin-top: 8rem;
							}
						}
						+ .section-util {
							margin-top: 8rem;
						}
					}
				}
				.section-util{
					.btn-display{
						justify-content: center;
						+ .board-dipslay {
							margin-top: 6.4rem;
						}
					}
				}
			}

			@include mobile{
				.section-wrap{
					.section-head {
						+ .section-body{
							margin-top: 3.2rem;
							+ .section-aside {
								margin-top: 3.2rem;
								+ .section-util {
									margin-top: 4.8rem;
								}
							}
							+ .section-util {
								margin-top: 4.8rem;
							}
						}
					}
					.section-util{
						.btn-display{
							+ .board-dipslay {
								margin-top: 3.2rem;
							}
						}
					}
					.section-body{
						.data-display{
							.data-subject{
								@include font(small-3x, bold);
							}
							.data-body{
								.para{
									@include font(small-5x, bold);
								}
							}
						}
					}
				}
			}
		}

		// 별첨 공통
		.comment {
			&.design1 {
				color: color(typo, 010);
				@include font(small-5x, medium);

				@include mobile {
					@include font(small-6x, medium);
				}
			}
			&.design2 {
				color: color(system, 100);
				@include font(small-2x, bold);

				@include mobile {
					@include font(small-3x, bold);
				}
			}
			&.design3 {
				color: color(system, 100);
				@include font(small-3x, bold);

				@include mobile {
					@include font(small-4x, bold);
				}
			}
		}
	}

	// breadcrumb
	.local-info {
		margin: 0 auto;
		max-width: 120rem;
		.data-list {
			&.breadcrumb {
				display: flex;

				&.design1 {
					&.case1 {
						padding-top: 17.2rem;
						justify-content: center;

						@include mobile {
							padding-top: 8.2rem;
						}
					}

					&.case2 {
						position: relative;

						@include mobile() {
							justify-content: center;
						}

						&.active1 {
							opacity: 1;
							transition: opacity 0.2s ease-out;
						}
					}

					&.dark {
						color: color(typo, 005);

						.data-item:last-child {
							.item-text {
								color: color(neutral, 090);
								font-weight: 700;
							}
						}
					}

					&.light {
						color: color(system, 070);

						.data-item:last-child {
							.item-text {
								font-weight: 700;
							}
						}
					}

					.data-item {
						position: relative;
						flex-shrink: 0;

						.item-text {
							@include font(small-5x, medium);
							position: relative;
						}

						+.data-item {
							margin-left: 3.2rem;

							.item-text {
								&::before {
									position: absolute;
									top: 0.1rem;
									left: -2.3rem;
									width: 1.6rem;
									height: 1.6rem;
									content: '';
									background-image: icon(arrow-right1, color(neutral, 030));
									background-size: 0.7rem 1rem;
									background-repeat: no-repeat;
									background-position: center center;
								}
							}
						}

						&:last-child {
							flex-shrink: unset;
						}

						@include mobile {
							@include blind;

							.item-text {
								@include font(small-6x, medium);
							}

							+.data-item {
								margin-left: 2.4rem;

								.item-text {
									&::before {
										top: -0.1rem;
										left: -1.9rem;
										width: 1.6rem;
										height: 1.6rem;
										content: '';
										background-size: 0.6rem 1.1rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}