<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    }) 
    %>
    <div class="main ir stock-info audit-report" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates.en/_local-info.ejs', {
                    depth1: 'IR',
                    depth2: 'Finance',
                    depth3: 'Audit Report',
                }) %>
                <div class="local-head design3"> 
                    <div class="local-subject">
                        <h2 class="local-name">Audit Report</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">Audit Report page</div>
                    <div class="content-body">
                        <div class="section design2 type1 current">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">External Auditors</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">Corporate Name : Samjong Accounting Corp. I Date of Appointment : 2022.11.29 I<br> Term of Contract : 2023~2025 I The Latest Audit Opinion : -</p>
                                </div>
                            </div>
                        </div>
                        <div class="section design2 type1 report">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Latest Audit Report</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design1 case1 type1">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-subject">Consolidated</p>
                                                    <p class="board-date">2023</p>
                                                </div>
                                                <div class="board-util">
                                                    <div class="btn-display align2">
                                                        <div class="btn-area">
                                                            <a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">Download</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-subject">Separate</p>
                                                    <p class="board-date">2023</p>
                                                </div>
                                                <div class="board-util">
                                                    <div class="btn-display align2">
                                                        <div class="btn-area">
                                                            <a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">Download</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design2 type1 report">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Past Audit Report</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="data-display design2 case6 type1">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2023</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2022</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2021</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2020</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2019</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2018</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2017</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2016</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2015</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2014</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2013</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2012</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2011</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2010</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2009</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2008</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2007</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Consolidated</span></a>
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Separate</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>

</html>