<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main ir stock-info ir-shareholders" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates.en/_local-info.ejs', {
                    depth1: 'IR',
                    depth2: 'Stocks',
                    depth3: 'Shareholder Return',
                }) %>
                <div class="local-head design3">
                    <div class="local-subject">
                        <h2 class="local-name">Shareholder Return</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">Shareholder Return</div>
                    <div class="content-body">
                        <div class="section design1 case1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Shareholder Return</h4>
                                        <p class="section-summary">SK Networks maintains a transparent dividend policy and take various measures to enhance shareholder value, including treasury stock buybacks and retirements.
                                        </p>
                                    </div>
                                </div>
                                <div class="section-body banner">
                                    <div class="board-list design5 case2 type1">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-name">Dividend Policy</p>
                                                </div>
                                                <div class="board-body">
                                                    <p class="para">
                                                        We will implement a transparent dividend policy aligned with our intermediary holding company structure and gradually expand the total shareholder return by introducing an interim dividend system.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-head">
                                                    <p class="board-name">Treasury Stock Management</p>
                                                </div>
                                                <div class="board-body">
                                                    <p class="para">
                                                        We will increase the value per share through treasury stock buybacks and retirement.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Dividends</h4>
                                        <div class="section-summary">( Unit : KRW 1 million )</div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="t-display design1 case1 type1 align3 scroll">
                                        <table style="min-width: 740px;" class="col-w-1">
                                            <caption>The table provides dividend details and consists of categories, 2023, 2022, 2021, 2020, and 2019.</caption>
                                            <colgroup>
                                                <col class="col1">
                                                <col class="col2">
                                                <col class="col3">
                                                <col class="col4">
                                                <col class="col5">
                                                <col class="col6">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">Category</th>
                                                    <th scope="col">2023</th>
                                                    <th scope="col">2022</th>
                                                    <th scope="col">2021</th>
                                                    <th scope="col">2020</th>
                                                    <th scope="col">2019</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Total Dividends</td>
                                                    <td>40,506</td>
                                                    <td>26,250</td>
                                                    <td>26,237</td>
                                                    <td>26,237</td>
                                                    <td>28,881</td>
                                                </tr>
                                                <tr>
                                                    <td>Net Income (연결)</td>
                                                    <td>5,459</td>
                                                    <td>90,765</td>
                                                    <td>103,540</td>
                                                    <td>42,053</td>
                                                    <td>-122,613</td>
                                                </tr>
                                                <tr>
                                                    <td>Dividend Payout Ratio</td>
                                                    <td>724%</td>
                                                    <td>29%</td>
                                                    <td>25%</td>
                                                    <td>62%</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>Dividend Yield*</td>
                                                    <td>3.39%</td>
                                                    <td>3.1%</td>
                                                    <td>2.39%</td>
                                                    <td>2.47%</td>
                                                    <td>2.02%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p class="comment design1">*Common shares and based on the closing price of the day before the dividend record date</p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Dividend History</h4>
                                        <div class="section-summary">( Unit : KRW 1 million )</div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="t-display design1 case1 type1 align3 scroll">
                                        <table style="min-width: 741px;" class="col-w-2">
                                            <caption>The table provides dividend history information and consists of dividend base date, dividend payment date, common stock, and preferred stock.</caption>
                                            <colgroup>
                                                <col class="col1">
                                                <col class="col2">
                                                <col class="col3">
                                                <col class="col4">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">Dividend record date</th>
                                                    <th scope="col">Dividend payment date</th>
                                                    <th scope="col">Common Share</th>
                                                    <th scope="col">Preferred Share</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2024.04.01</td>
                                                    <td>2024.04.23</td>
                                                    <td>200</td>
                                                    <td>225</td>
                                                </tr>
                                                <tr>
                                                    <td>2022.12.31</td>
                                                    <td>2023.04.21</td>
                                                    <td>120</td>
                                                    <td>145</td>
                                                </tr>
                                                <tr>
                                                    <td>2021.12.31</td>
                                                    <td>2022.04.20</td>
                                                    <td>120</td>
                                                    <td>145</td>
                                                </tr>
                                                <tr>
                                                    <td>2020.12.31</td>
                                                    <td>2021.04.16</td>
                                                    <td>120</td>
                                                    <td>145</td>
                                                </tr>
                                                <tr>
                                                    <td>2019.12.31</td>
                                                    <td>2020.04.21</td>
                                                    <td>120</td>
                                                    <td>145</td>
                                                </tr>
                                                <tr>
                                                    <td>2018.12.31</td>
                                                    <td>2019.04.18</td>
                                                    <td>120</td>
                                                    <td>145</td>
                                                </tr>
                                                <tr>
                                                    <td>2017.12.31</td>
                                                    <td>2018.04.19</td>
                                                    <td>120</td>
                                                    <td>145</td>
                                                </tr>
                                                <tr>
                                                    <td>2016.12.31</td>
                                                    <td>2017.04.12</td>
                                                    <td>100</td>
                                                    <td>125</td>
                                                </tr>
                                                <tr>
                                                    <td>2015.12.31</td>
                                                    <td>2016.04.12</td>
                                                    <td>100</td>
                                                    <td>125</td>
                                                </tr>
                                                <tr>
                                                    <td>2014.12.31</td>
                                                    <td>2015.04.15</td>
                                                    <td>100</td>
                                                    <td>125</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p class="comment design1">* Following the amendment of the Articles of Incorporation at the 70th Annual General Meeting of Shareholders, the dividend record date will be set after the dividend announcement starting from 2023.</p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Treasury Stock Buyback and Retirement</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="t-display design1 case1 type1 align3 scroll">
                                        <table style="min-width: 560px;" class="col-w-3">
                                            <caption>This table provides information on the retirement of treasury stocks and consists of dividend base date, dividend payment date, common stock, and preferred stock.</caption>
                                            <colgroup>
                                                <col class="col1">
                                                <col class="col2">
                                                <col class="col3">
                                                <col class="col4">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Treasury Stock Buyback / Retirement</th>
                                                    <th scope="col">No. of shares</th>
                                                    <th scope="col">Total (Unit : KRW 1 million)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2024.03.05</td>
                                                    <td>Treasury Stock Retirement</td>
                                                    <td>14,500,363</td>
                                                    <td>77,387</td>
                                                </tr>
                                                <tr>
                                                    <td>2023.04.05</td>
                                                    <td>Treasury Stock Retirement</td>
                                                    <td>12,409,382</td>
                                                    <td>69,703</td>
                                                </tr>
                                                <tr>
                                                    <td>2023.03.14 ~ 2023.09.21</td>
                                                    <td>Treasury Stock Buyback</td>
                                                    <td>19,962,158</td>
                                                    <td>100,430</td>
                                                </tr>
                                                <tr>
                                                    <td>2020.03.05 ~ 2020.06.04</td>
                                                    <td>Treasury Stock Buyback</td>
                                                    <td>22,000,000</td>
                                                    <td>112,756</td>
                                                </tr>
                                                <tr>
                                                    <td>2017.08.11 ~ 2017.10.24</td>
                                                    <td>Treasury Stock Buyback</td>
                                                    <td>7,622,000</td>
                                                    <td>53,342</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p class="comment design1">* As of June. 30. 2024 (Common shares basis)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>

</html>