<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    }) 
    %>
    <div class="main ir" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates.en/_local-info.ejs', {
                    depth1: 'IR',
                    depth2: '공시정보',
                    depth3: '전자공고',
                }) %>
                <div class="local-head design3"> 
                    <div class="local-subject">
                        <h2 class="local-name">전자공고</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">전자공고 page</div>
                    <div class="content-body">
                        <div class="section detail-layout design1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">정기주주총회 소집공고</h4>
                                        <div class="section-summary">
                                            <div class="data-display design2 case2 type2">
                                                <ul class="data-list">
                                                    <li class="data-item">
                                                        <div class="item-wrap">
                                                            <div class="item-head">
                                                                <p class="item-date">2024.02.01</p>
                                                            </div>
                                                            <div class="item-util">
                                                                <div class="btn-display design1 case3 align1">
                                                                    <div class="btn-area">
                                                                        <a class="btn design3 case2 type3 color5 al-icon-printer pc-only" href="#"><span class="btn-text">Print</span></a>
                                                                        <a class="btn design3 case2 type3 color5 al-icon-share" href="#"><span class="btn-text">Share</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <!-- 에디터 영역 -->
                                    <p style="font-size: 20px; color: #15151A; font-weight: 700; text-align: center;">
                                        정기주주총회 소집공고
                                    </p><br><br>
                                    <p style="font-size: 20px; color: #15151A;">
                                        
                                        삼가 주주 여러분의 건승과 일익 번창을 기원합니다.<br>
                                        상법 제365조 및 당사 정관 제21조에 의거하여 아래와 같이 제71기 정기주주총회를 소집하오니 참석하여 주시기 바랍니다.<br><br>
                                        - 아래 –<br><br>
                                        1. 일시: 2024년 3월 27일(수) 오전 10:00
                                    </p>
                                    <!-- //에디터 영역 -->
                                </div>
                                <div class="section-aside">
                                    <div class="data-display design2 case3 type1">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-subject">관련자료 다운로드</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="download-list">
                                                            <a href="#" class="download-item">2023 사업보고서 1.pdf</a>
                                                            <a href="#" class="download-item">2023 사업보고서 2.pdf</a>
                                                            <a href="#" class="download-item">2023 사업보고서 3.pdf</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="section-util">
                                    <div class="btn-display">
                                        <a href="#" class="btn design1 case1 type1 color1"><span class="btn-text">List</span></a> 
                                    </div>
                                    <div class="board-dipslay">
                                        <div class="board-list design2 case1 type1">
                                            <div class="board-item">
                                                <a href="#" class="board-info">
                                                    <span class="board-name">PREV</span>
                                                    <span class="board-caption">[엔코아] 엔코아, 2024 AI 제품 서비스 개발을 주도할 기술 인재 채용</span>
                                                </a>
                                                <a href="#" class="board-info">
                                                    <span class="board-name">NEXT</span>
                                                    <span class="board-caption">[SK네트웍스] SK네트웍스, 탄소중립 경영 글로벌 기관 인정!
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>

</html>