<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    }) 
    %>
    <div class="main ir" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates.en/_local-info.ejs', {
                    depth1: 'IR',
                    depth2: 'IR Information',
                    depth3: 'IR News',
                }) %>
                <div class="local-head design3"> 
                    <div class="local-subject">
                        <h2 class="local-name">IR News</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">IR News page</div>
                    <div class="content-body">
                        <div class="section detail-layout design1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Lorem ipsum dolor sit amet consectetur adipisicing elit. In nemo qui obcaecati.</h4>
                                        <div class="section-summary">
                                            <div class="data-display design2 case2 type2">
                                                <ul class="data-list">
                                                    <li class="data-item">
                                                        <div class="item-wrap">
                                                            <div class="item-head">
                                                                <p class="item-date">2024.02.01</p>
                                                            </div>
                                                            <div class="item-util">
                                                                <div class="btn-display design1 case3 align1">
                                                                    <div class="btn-area">
                                                                        <a class="btn design3 case2 type3 color5 al-icon-printer pc-only" href="#"><span class="btn-text">Print</span></a>
                                                                        <a class="btn design3 case2 type3 color5 al-icon-share" href="#"><span class="btn-text">Share</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <!-- 에디터 영역 -->
                                    <p style="font-size: 20px; color: #15151A; font-weight: 700;">
                                        - Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
                                        - Accusamus error deserunt consequuntur totam aspernatur obcaecati consequatur soluta temporibus earum aliquid?<br>
                                        - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab consequatur quis tempore. Pariatur, eum saepe!<br>
                                        - Consectetur vel ipsa quod, sequi facilis blanditiis illum debitis tempora numquam molestias officia nulla libero at
                                    </p><br><br>
                                    <p style="font-size: 20px; color: #15151A;">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione facilis at in ipsam nisi, adipisci commodi perspiciatis voluptatum vitae minima, suscipit assumenda dolores sint alias neque voluptas soluta sed eos!<br><br>
                                    Quia sint tempore, culpa molestiae facere illum unde id dolorum inventore eligendi provident voluptas quidem praesentium. Enim, ipsa unde. Maiores assumenda eaque neque! Ipsum blanditiis natus, libero facere magni optio.
                                    Similique numquam minus animi cupiditate, odit maxime voluptas nostrum consectetur vitae nihil sunt debitis, tenetur asperiores repellat illum impedit temporibus est corporis autem? Repudiandae, eligendi! Quisquam accusamus ipsam adipisci quo.
                                    Dignissimos eius illum laboriosam ipsam dolores iste laborum repellat natus reiciendis adipisci, minima officia ex maiores nisi ipsa, optio obcaecati repellendus praesentium illo voluptatum quaerat? Veniam ex illo deserunt ut!<br><br>
                                    Quidem, quia rem est officiis voluptate dignissimos doloribus voluptatem nulla doloremque porro, eum fugit, sunt optio libero explicabo voluptatum quod magni laudantium numquam tenetur illum ab. Sapiente facere reprehenderit placeat!
                                    Fuga sequi voluptatibus eligendi exercitationem porro! Nobis perspiciatis ut quos sed voluptatum fugiat laborum? Maxime, exercitationem. Maiores voluptate blanditiis tenetur hic debitis velit nobis ipsam, expedita deleniti officiis est laudantium!<br><br>
                                    Ut aspernatur corporis nihil reiciendis excepturi? Corporis illo tenetur provident assumenda possimus, ut fugiat laudantium optio dicta. Quod, exercitationem tenetur possimus debitis, repellat corporis quaerat laudantium ut reiciendis doloremque fuga?
                                    Facere voluptatum harum voluptate aut nesciunt soluta, blanditiis suscipit nihil perspiciatis vitae nobis unde quidem asperiores nostrum enim repellendus quaerat tempore quae eligendi quia id natus odit officia maxime. Eos!
                                    Quis ab nobis suscipit voluptatibus nihil dignissimos ut, labore tempore, incidunt amet dicta vero neque alias delectus, iusto tempora veniam. Consequatur laudantium quam cupiditate beatae sed esse deserunt id officiis.
                                    Amet consequuntur animi facilis eum, totam pariatur nemo voluptatum porro eaque tempore omnis ea a aspernatur distinctio nobis facere nam sunt debitis cupiditate aliquam. Eum ab dolore exercitationem nulla dolor!
                                    </p>
                                    <!-- //에디터 영역 -->
                                </div>
                                <div class="section-util">
                                    <div class="btn-display">
                                        <a href="#" class="btn design1 case1 type1 color1"><span class="btn-text">List</span></a> 
                                    </div>
                                    <div class="board-dipslay">
                                        <div class="board-list design2 case1 type1">
                                            <div class="board-item">
                                                <a href="#" class="board-info">
                                                    <span class="board-name">PREV</span>
                                                    <span class="board-caption">[엔코아] 엔코아, 2024 AI 제품 서비스 개발을 주도할 기술 인재 채용</span>
                                                </a>
                                                <a href="#" class="board-info">
                                                    <span class="board-name">NEXT</span>
                                                    <span class="board-caption">[SK네트웍스] SK네트웍스, 탄소중립 경영 글로벌 기관 인정!
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>

</html>