<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        Tab();
    });
</script>
</head>
<body class="kr">
<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    }) 
    %>
    <div class="main ir stock-info ir-document" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates/_local-info.ejs', {
                    depth1: 'IR',
                    depth2: 'IR정보',
                    depth3: 'IR 자료',
                }) %>
                <div class="local-head design3"> 
                    <div class="local-subject">
                        <h2 class="local-name">IR 자료</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">IR 자료 페이지</div>
                    <div class="content-body">
                        <div class="section design1 type1">
                            <div class="section-wrap">
                                <div class="section-body">
                                    <div class="tab-display design1 case1 type1">
                                        <div class="swiper tab-wrap">
                                            <ul class="swiper-wrapper tab-list" role="tablist">
                                                <li id="tab1" class="swiper-slide tab-item" aria-controls="tab-panel1">
                                                    <button role="tab" class="tab-text">경영실적발표</button>
                                                </li>
                                                <li id="tab2"class="swiper-slide tab-item" aria-controls="tab-panel1">
                                                    <button role="tab" class="tab-text">IR 자료</button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="panel-display design1 case1">
                                        <div class="panel-list">
                                            <div id="tab-panel1" class="panel-item" role="tabpanel">
                                                <div class="panel-wrap">
                                                    <div class="panel-head">
                                                        <div class="data-display design2 case4 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">경영실적 발표자료</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="submit-form design1 case1 align1">
                                                                                <div class="form-list">
                                                                                    <div class="form-item">
                                                                                        <div class="form search design1 case1 type1">
                                                                                            <label for="ppt-search" class="blind">
                                                                                                검색어 입력
                                                                                            </label>
                                                                                            <input id="ppt-search" class="input-elem" type="text" placeholder="검색어를 입력하세요.">
                                                                                            <div class="input-icon">
                                                                                                <button class="btn icon case3 remove">
                                                                                                    <span class="btn-text blind">삭제</span>
                                                                                                </button>
                                                                                                <button class="btn icon case3 search">
                                                                                                    <span class="btn-text blind">검색</span>
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="t-display design1 case1 type1 align3 mo-layout1">
                                                            <table>
                                                                <caption>이 표는 경영실적 발표자료 정보를 제공하며 번호, 제목, 언어, 다운로드로 구성되어 있습니다.</caption>
                                                                <colgroup>
                                                                    <col style="width: 8%;">
                                                                    <col style="width: 53%;">
                                                                    <col>
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">번호</th>
                                                                        <th scope="col">제목</th>
                                                                        <th scope="col">언어</th>
                                                                        <th scope="col">다운로드</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>938</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>937</td>
                                                                        <td>2024년 2분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>936</td>
                                                                        <td>2024년 2분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>935</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>934</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>933</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>933</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>932</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>931</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>930</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>929</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                        <!-- 페이지네이션 -->
                                                        <div class="pagination design1 case1">
                                                            <span class="page-util">
                                                                <span class="util-item disabled">
                                                                    <a class="btn icon case1 arrow-left2-bg" href="#"><span class="btn-text blind">이전</span></a>
                                                                </span>
                                                            </span>
                                                            <span class="page-list">
                                                                <a class="page-item current" href="#">1</a>
                                                                <a class="page-item" href="#">2</a>
                                                                <a class="page-item" href="#">3</a>
                                                                <a class="page-item" href="#">4</a>
                                                                <a class="page-item" href="#">5</a>
                                                            </span>
                                                            <span class="page-util">
                                                                <span class="util-item">
                                                                    <a class="btn icon case1 arrow-right2-bg" href="#"><span class="btn-text blind">다음</span></a>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="tab-panel2" class="panel-item" role="tabpanel">
                                                <div class="panel-wrap">
                                                    <div class="panel-head">
                                                        <div class="data-display design2 case4 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">IR 자료</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="submit-form design1 case1 align1">
                                                                                <div class="form-list">
                                                                                    <div class="form-item">
                                                                                        <div class="form search design1 case1 type1">
                                                                                            <label for="docu-search" class="blind">
                                                                                                검색어 입력
                                                                                            </label>
                                                                                            <input id="docu-search" class="input-elem" type="text" placeholder="검색어를 입력하세요.">
                                                                                            <div class="input-icon">
                                                                                                <button class="btn icon case3 remove">
                                                                                                    <span class="btn-text blind">삭제</span>
                                                                                                </button>
                                                                                                <button class="btn icon case3 search">
                                                                                                    <span class="btn-text blind">검색</span>
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="t-display design1 case1 type1 align3 mo-layout1">
                                                            <table>
                                                                <caption>이 표는 IR 자료 정보를 제공하며 번호, 제목, 언어, 다운로드로 구성되어 있습니다.</caption>
                                                                <colgroup>
                                                                    <col style="width: 8%;">
                                                                    <col style="width: 53%;">
                                                                    <col>
                                                                    <col>
                                                                </colgroup>
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">번호</th>
                                                                        <th scope="col">제목</th>
                                                                        <th scope="col">언어</th>
                                                                        <th scope="col">다운로드</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>938</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>937</td>
                                                                        <td>2024년 2분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>936</td>
                                                                        <td>2024년 2분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>935</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>934</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>933</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>933</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>932</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>931</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>930</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>929</td>
                                                                        <td>2024년 1분기 경영실적</td>
                                                                        <td>국문</td>
                                                                        <td class="fs-0">
                                                                            <button class="btn design3 case4 type3 color5 ar-icon-download"><span class="btn-text">다운로드</span></button>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                        <!-- 페이지네이션 -->
                                                        <div class="pagination design1 case1">
                                                            <span class="page-util">
                                                                <span class="util-item disabled">
                                                                    <a class="btn icon case1 arrow-left2-bg" href="#"><span class="btn-text blind">이전</span></a>
                                                                </span>
                                                            </span>
                                                            <span class="page-list">
                                                                <a class="page-item current" href="#">1</a>
                                                                <a class="page-item" href="#">2</a>
                                                                <a class="page-item" href="#">3</a>
                                                                <a class="page-item" href="#">4</a>
                                                                <a class="page-item" href="#">5</a>
                                                            </span>
                                                            <span class="page-util">
                                                                <span class="util-item">
                                                                    <a class="btn icon case1 arrow-right2-bg" href="#"><span class="btn-text blind">다음</span></a>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>
</body>

</html>