<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>

</head>
<body class="kr">
<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    }) 
    %>
    <div class="main ir stock-info elect-not" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates/_local-info.ejs', {
                    caseType: 'design1',
                    depth1: 'IR',
                    depth2: '공시정보',
                    depth3: '전자공고',
                }) %>
                <div class="local-head design3"> 
                    <div class="local-subject">
                        <h2 class="local-name">전자공고</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">전자공고 페이지</div>
                    <div class="content-body">
                        <div class="section design1 case1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">전자공고</h4>
                                        <div class="submit-form design1 case1 align1">
                                            <div class="form-list">
                                                <div class="form-item">
                                                    <div class="form select design1 case1 type1">
                                                        <label for="elect-select" class="blind">분류 선택</label>
                                                        <select name="name" id="elect-select">
                                                            <option value="option1">제목</option>
                                                            <option value="option2">내용</option>
                                                        </select>
                                                        <div class="arrow"><span class="blind">닫힘</span></div>
                                                    </div>
                                                </div>
                                                <div class="form-item">
                                                    <div class="form search design1 case1 type1">
                                                        <label for="temp-search" class="blind">
                                                            검색어 입력
                                                        </label>
                                                        <input id="temp-search" class="input-elem" type="text" placeholder="검색어를 입력하세요.">
                                                        <div class="input-icon">
                                                            <button class="btn icon case3 remove">
                                                                <span class="btn-text blind">삭제</span>
                                                            </button>
                                                            <button class="btn icon case3 search">
                                                                <span class="btn-text blind">검색</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="t-display design1 case1 type1 align3 mo-layout1">
                                        <table class="col-w-1">
                                            <caption>이 표는 전자공고 정보를 제공하며 번호, 제목, 공고일로 구성되어 있습니다.</caption>
                                            <colgroup>
                                                <col class="col1">
                                                <col class="col2">
                                                <col class="col3">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">번호</th>
                                                    <th scope="col">제목</th>
                                                    <th scope="col">공고일</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td><a href="javascript:void(0)" target="_blank" title="새창 열기" class="link">정기 주주총회 소집공고</a></td>
                                                    <td>2024.03.13</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td><a href="javascript:void(0)" target="_blank" title="새창 열기" class="link">제 71기 결산 배당을 위한 기준일 공고</a></td>
                                                    <td>2024.02.16</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td><a href="javascript:void(0)" target="_blank" title="새창 열기" class="link">소규모 주식교환 공고</a></td>
                                                    <td>2023.09.13</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td><a href="javascript:void(0)" target="_blank" title="새창 열기" class="link">소규모 주식교환 공고</a></td>
                                                    <td>2023.09.13</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td><a href="javascript:void(0)" target="_blank" title="새창 열기" class="link">정기 주주총회 소집공고</a></td>
                                                    <td>2023.09.13</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td><a href="javascript:void(0)" target="_blank" title="새창 열기" class="link">정기 주주총회 소집공고</a></td>
                                                    <td>2023.09.13</td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td><a href="javascript:void(0)" target="_blank" title="새창 열기" class="link">정기 주주총회 소집공고</a></td>
                                                    <td>2022.06.13</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td><a href="javascript:void(0)" target="_blank" title="새창 열기" class="link">정기 주주총회 소집공고</a></td>
                                                    <td>2022.06.13</td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td><a href="javascript:void(0)" target="_blank" title="새창 열기" class="link">정기 주주총회 소집공고</a></td>
                                                    <td>2022.02.13</td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td><a href="javascript:void(0)" target="_blank" title="새창 열기" class="link">정기 주주총회 소집공고</a></td>
                                                    <td>2022.02.13</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- 검색결과 없음 -->
                                    <div class="no-result-wrap">
                                        <em class="no-result-title">검색된 결과가 없습니다.</em>
                                    </div>
                                    <!-- //검색결과 없음 -->
                                </div>
                                <div class="section-util">
                                    <div class="pagination design1 case1">
                                        <span class="page-util">
                                            <span class="util-item disabled">
                                                <a class="btn icon case1 arrow-left2-bg" href="#"><span class="btn-text blind">이전</span></a>
                                            </span>
                                        </span>
                                        <span class="page-list">
                                            <a class="page-item current" href="#">1</a>
                                            <a class="page-item" href="#">2</a>
                                            <a class="page-item" href="#">3</a>
                                            <a class="page-item" href="#">4</a>
                                            <a class="page-item" href="#">5</a>
                                        </span>
                                        <span class="page-util">
                                            <span class="util-item">
                                                <a class="btn icon case1 arrow-right2-bg" href="#"><span class="btn-text blind">다음</span></a>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>
</body>

</html> 