<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="kr">
<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    }) 
    %>
    <div class="main ir stock-info ir-schedule" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates/_local-info.ejs', {
                    depth1: 'IR',
                    depth2: 'IR정보',
                    depth3: 'IR 일정',
                }) %>
                <div class="local-head design3"> 
                    <div class="local-subject">
                        <h2 class="local-name">IR 일정</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">IR 일정 페이지</div>
                    <div class="content-body bg-color">
                        <div class="section design2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">예정행사</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design4 case1 type1">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <p class="board-caption">경영실적발표</p>
                                                    <p class="board-name">24년 1분기 실적 및 전략 발표회</p>
                                                </div>
                                                <div class="board-util">
                                                    <div class="mark-display case3">
                                                        <div class="mark-list">
                                                            <div class="mark design2 case1 al-icon-location">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">해외</span>
                                                                </div>
                                                            </div>
                                                            <div class="mark design2 case1 al-icon-calendar">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">2024.04.01</span>
                                                                    <span class="mark-text accent case2 color3">오후 1시</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <p class="board-caption">해외NDR</p>
                                                    <p class="board-name">해외 기업 설명회</p>
                                                </div>
                                                <div class="board-util">
                                                    <div class="mark-display case3">
                                                        <div class="mark-list">
                                                            <div class="mark design2 case1 al-icon-location">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">해외</span>
                                                                </div>
                                                            </div>
                                                            <div class="mark design2 case1 al-icon-calendar">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">2024.04.01</span>
                                                                    <span class="mark-text accent case2 color3">오후 1시</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <p class="board-caption">경영실적발표</p>
                                                    <p class="board-name">24년 1분기 실적 및 전략 발표회</p>
                                                </div>
                                                <div class="board-util">
                                                    <div class="mark-display case3">
                                                        <div class="mark-list">
                                                            <div class="mark design2 case1 al-icon-location">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">해외</span>
                                                                </div>
                                                            </div>
                                                            <div class="mark design2 case1 al-icon-calendar">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">2024.04.01</span>
                                                                    <span class="mark-text accent case2 color3">오후 1시</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <p class="board-caption">해외NDR</p>
                                                    <p class="board-name">해외 기업 설명회</p>
                                                </div>
                                                <div class="board-util">
                                                    <div class="mark-display case3">
                                                        <div class="mark-list">
                                                            <div class="mark design2 case1 al-icon-location">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">해외</span>
                                                                </div>
                                                            </div>
                                                            <div class="mark design2 case1 al-icon-calendar">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">2024.04.01</span>
                                                                    <span class="mark-text accent case2 color3">오후 1시</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-display">
                                        <a class="btn design3 case1 type1 color2 ar-icon-plus-bg" href="#"><span class="btn-text">더보기</span></a>
                                    </div>
                                    <!-- 검색결과 없음 -->
                                    <div class="no-result-wrap">
                                        <em class="no-result-title">검색된 결과가 없습니다.</em>
                                    </div>
                                    <!-- //검색결과 없음 -->
                                </div>
                            </div>
                        </div>
                        <div class="section design2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">지난행사</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design4 case1 type1">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <p class="board-caption">해외NDR</p>
                                                    <p class="board-name">해외 기업 설명회</p>
                                                </div>
                                                <div class="board-util">
                                                    <div class="mark-display case3">
                                                        <div class="mark-list">
                                                            <div class="mark design2 case1 al-icon-location">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">해외</span>
                                                                </div>
                                                            </div>
                                                            <div class="mark design2 case1 al-icon-calendar">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">2024.04.01</span>
                                                                    <span class="mark-text accent case2 color3">오후 1시</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <p class="board-caption">경영실적발표</p>
                                                    <p class="board-name">24년 1분기 실적 및 전략 발표회</p>
                                                </div>
                                                <div class="board-util">
                                                    <div class="mark-display case3">
                                                        <div class="mark-list">
                                                            <div class="mark design2 case1 al-icon-location">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">해외</span>
                                                                </div>
                                                            </div>
                                                            <div class="mark design2 case1 al-icon-calendar">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">2024.04.01</span>
                                                                    <span class="mark-text accent case2 color3">오후 1시</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <p class="board-caption">경영실적발표</p>
                                                    <p class="board-name">24년 1분기 실적 및 전략 발표회</p>
                                                </div>
                                                <div class="board-util">
                                                    <div class="mark-display case3">
                                                        <div class="mark-list">
                                                            <div class="mark design2 case1 al-icon-location">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">해외</span>
                                                                </div>
                                                            </div>
                                                            <div class="mark design2 case1 al-icon-calendar">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">2024.04.01</span>
                                                                    <span class="mark-text accent case2 color3">오후 1시</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <p class="board-caption">해외NDR</p>
                                                    <p class="board-name">해외 기업 설명회</p>
                                                </div>
                                                <div class="board-util">
                                                    <div class="mark-display case3">
                                                        <div class="mark-list">
                                                            <div class="mark design2 case1 al-icon-location">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">해외</span>
                                                                </div>
                                                            </div>
                                                            <div class="mark design2 case1 al-icon-calendar">
                                                                <div class="mark-text-area case1">
                                                                    <span class="mark-text">2024.04.01</span>
                                                                    <span class="mark-text accent case2 color3">오후 1시</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-display">
                                        <a class="btn design3 case1 type1 color2 ar-icon-plus-bg" href="#"><span class="btn-text">더보기</span></a>
                                    </div>
                                    <!-- 검색결과 없음 -->
                                    <div class="no-result-wrap">
                                        <em class="no-result-title">검색된 결과가 없습니다.</em>
                                    </div>
                                    <!-- //검색결과 없음 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>
</body>

</html>