<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        localAnimations_Case02();
    });
</script>
</head>
<body class="kr">
<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main business hotel" id="main">
        <div class="main-inner">
            <div class="local design2">
                <div class="local-head design5" data-local-animation="case-2">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'Business',
                        depth2: '워커힐 호텔앤리조트',
                        depth3: null,
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject"><h2 class="local-name">Beyond Entertainment,<br>Elevating Excitement</h2></div>
                    <div class="local-aside">
                        <div class="local-wrap">
                            <h2 class="local-title">워커힐 호텔앤리조트</h2>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/business/bg-local-head-business-hotel.jpg" alt="">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head blind">워커힐 호텔앤리조트 페이지</div>
                    <div class="content-body">
                        <div class="section design1 case3 type1 core">
                            <div class="section-wrap">
                                <div class="article intro">
                                    <div class="article-wrap">
                                        <div class="article-head">
                                            <h3 class="title">워커힐 호텔앤리조트</h3>
                                            <h4 class="sub-title">숙박, 전시, 체험, 공연 등 모든 것이 가능한 'All Around Destination'</h4>
                                        </div>
                                        <div class="article-body">
                                            <p class="para case2">
                                                워커힐 호텔앤리조트는 도심 속 자연에서의 힐링과 함께 레저, 문화, 미식 등 라이프스타일 전반에 걸쳐 최고의 경험을 선사하는 대한민국 호텔 업계 리더입니다.
                                            </p>
                                            <p class="para case2">
                                                그랜드 워커힐 서울, 비스타 워커힐 서울, 더글라스 하우스, 다락휴 등 차별화된 감성을 전달하는 다채로운 콘셉트의 브랜드는 고객의 다양한 취향과 니즈를 충족시키고 있습니다. 또한 최고의 셰프들이 선사하는 고메 음식과 다채로운 다이닝 경험을 제공하는 레스토랑과 바, 전문가의 손길로 최고의 서비스를 제공하는 7개의 연회장을 비롯하여 빛의 시어터, 포레스트 파크, 리버파크, 테네즈 파크 등 다채로운 시설을 갖추고 있어 최상의 즐거움과 영감을 제공합니다.
                                            </p>
                                            <p class="para case2">
                                                2021년 '친환경 호텔' 선포 이후 변화와 혁신을 통해 2021년 '친환경 호텔 표지 인증’을 획득했으며, 진정성 있는 ESG 경영 실천을 위한 새로운 비즈니스 모델을 제시하고, 고객과 함께 하는 ESG 가치 실현을 위해 노력하고 있습니다.
                                            </p>
                                            <p class="para case2">
                                                더불어 워커힐 호텔앤리조트는 ‘문화(Culture)’와 ‘기술(Technology)’ 영역의 혁신을 통해 ‘AI 호텔’로 거듭날 예정입니다.
                                            </p>
                                        </div>
                                        <div class="article-util">
                                            <a class="btn design3 case3 type1 color6 ar-icon-arrow-right-up2" href="https://www.walkerhill.com/kr/" target="_blank" title="새창 열기"><span class="btn-text">워커힐 호텔앤리조트 웹사이트로 이동하기</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="article major">
                                    <div class="article-wrap">
                                        <div class="article-head">
                                            <h4 class="title">주요 성과</h4>
                                        </div>
                                        <div class="article-body">
                                            <ul class="board-list design7 case1 type2">
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 business">
                            <div class="section-wrap">
                                <div class="section-body">
                                    <div class="data-display business-network">
                                        <div class="data-head">
                                            <strong class="data-name">사업 영역</strong>
                                        </div>
                                        <div class="data-body">
                                            <div class="data-list">
                                                <div class="data-item back-grand">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">그랜드 워커힐 서울</strong>
                                                        <p class="para">아름다운 한강과 푸르른 아차산에 둘러싸인 도심 속 최고의 휴양지, 그랜드 워커힐 서울은 품격 있는 시설과 감동적인 서비스로 편안하고 여유로운 휴식을 선사합니다.</p>
                                                        <p class="para">사계절의 매력을 느낄 수 있는 산책로와 한강 전망의 야외 수영장, 피크닉을 즐길 수 있는 포레스트 파크, 독서와 휴식을 위한 라이브러리 등의 시설과 워커힐의 레저 전문가 WALKEE(워키)와 함께하는 액티비티 프로그램, 몰입형 예술 전시 빛의 시어터 등 다양한 즐거움을 경험할 수 있습니다.</p>
                                                        <p class="para">또한, 7개의 다목적 연회장으로 구성된 컨벤션 센터와 애스톤 하우스에서는 고급스럽고 프라이빗한 최상의 연회 및 웨딩을 진행하고 있으며, 품격 높은 행사를 위한 최고의 서비스를 제공합니다.</p>
                                                    </div>
                                                    <div class="contents-util">
                                                        <a class="btn design3 case3 type4 color6 ar-icon-arrow-right-up2" href="https://www.walkerhill.com/grandwalkerhillseoul/" target="_blank" title="새창 열기">
                                                            <span class="btn-text">그랜드 워커힐 서울 웹사이트로 이동하기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="data-item back-vista">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">비스타 워커힐 서울</strong>
                                                        <p class="para">최신 트렌드를 바탕으로 신선하고 색다른 휴식을 통해 활력과 에너지를 선사하는 비스타 워커힐 서울은 ‘REFRESHING. VIVIDLY.’라는 슬로건 아래 고객에게 신선한 자극과 색다른 경험을 제공합니다.</p>
                                                        <p class="para">탁 트인 한강 전경의 야외 가든 SKYARD, 통창 너머 도심의 전경이 펼쳐지는 실내 수영장, 최신의 트렌드와 문화 콘텐츠를 소개하는 SPACE WALKERHILL 등 차별화된 시설을 갖추고 있으며, 전 객실에 IT 기술 및 서비스를 더해 새로운 투숙 경험이 가능합니다. WELLNESS CLUB에서 제안하는 다양한 프로그램은 고객들의 삶에 활력과 새로운 에너지를 불어넣는 건강한 라이프를 추구합니다.</p>
                                                    </div>
                                                    <div class="contents-util">
                                                        <a class="btn design3 case3 type4 color6 ar-icon-arrow-right-up2" href="https://www.walkerhill.com/vistawalkerhillseoul/" target="_blank" title="새창 열기">
                                                            <span class="btn-text">비스타 워커힐 서울 웹사이트로 이동하기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="data-item back-douglas">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">더글라스 하우스</strong>
                                                        <p class="para">'숲 속의 아지트'  더글라스 하우스는 자연 친화적인 인테리어, 여행에 꼭 필요한 서비스만을 엄선하여 최상의 힐링 여행을 즐길 수 있도록 돕고 있습니다. 또한 Adults-only로 운영되고 있어 도심 속 자연에서 조용한 사색을 즐기고 싶은 고객들을 위한 '나를 위한 휴식처'로 자리매김했습니다.</p>
                                                        <p class="para">더글라스 하우스는 라이트 조식과 해피아워가 제공되는 전용 라운지, 최인아 책방이 선정한 최신의 도서가 제공되는 라이브러리와 자연을 마음 가득 담을 수 있는 전용 가든 등의 시설을 갖추었습니다. 또 차량 진입이 제한된 산책로에서 고즈넉한 산책을 즐기며 자연의 포근함과 여유로움을 느끼는 휴식이 가능합니다.</p>
                                                    </div>
                                                    <div class="contents-util">
                                                        <a class="btn design3 case3 type4 color6 ar-icon-arrow-right-up2" href="https://www.walkerhill.com/grandwalkerhillseoul/douglas/Intro" target="_blank" title="새창 열기">
                                                            <span class="btn-text">더글라스 하우스 웹사이트로 이동하기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="data-item back-outside">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">대외사업</strong>
                                                        <p class="para">인천공항 환승호텔, 프리미엄 라운지 마티나 골드를 비롯해 국내 최초 캡슐 호텔이자 스마트한 여행객들의 휴식처, 다락휴를 인천공항과 여수 등에 운영 중입니다. 그 밖에 금룡 삼일빌딩점과 국내 주요 골프장 클럽하우스 5개소, 2015년 개최된 프레지던트컵과 같은 국제적인 행사를 비롯한 다양한 아웃사이드 케이터링 서비스 등 F&B사업을 진행하고 있습니다.</p>
                                                        <p class="para">최근에는 워커힐의 브랜드를 활용한 다양한 PB상품을 출시하여 워커힐 호텔앤리조트만의 서비스 노하우와 브랜드 가치를 다양한 고객에게 전하고 있습니다.</p>
                                                    </div>
                                                    <div class="contents-util">
                                                        <a class="btn design3 case3 type4 color6 ar-icon-arrow-right-up2" href="https://www.walkerhill.com/about/CustomerService" target="_blank" title="새창 열기">
                                                            <span class="btn-text">워커힐 대외사업부 웹사이트로 이동하기</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 banner-section">
                            <div class="section-wrap">
                                <div class="section-body">
                                    <div class="banner design1 case1 type1">
                                        <div class="banner-wrap">
                                            <div class="banner-head">
                                                <img src="../../assets/images/logo/logo-walkerhill.svg" alt="워커힐 로고 이미지">
                                            </div>
                                            <div class="banner-body">
                                                <p class="para">사업제안·고객문의가 필요하신가요?</p>
                                            </div>
                                            <div class="banner-footer">
                                                <span class="summary">워커힐 호텔앤리조트는 여러분의 소중한 제안을 기다리고 있습니다.</span>
                                            </div>
                                            <div class="banner-util">
                                                <a class="btn design3 case1 type1 color2 ar-icon-arrow-right2-bg" href="https://www.walkerhill.com/customer/VOCForm.wh" target="_blank">
                                                    <span class="btn-text">문의하기</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 press">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">PRESS NOW</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list design2 case1 type1">
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now 썸네일 이미지">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK네트웍스</p>
                                                        <p class="post-subject">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!</p>
                                                        <p class="post-summary">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="등록일">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now 썸네일 이미지">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK렌터카</p>
                                                        <p class="post-subject">SK렌터카, ‘IF 디자인 어워드 2024’ 본상 수상</p>
                                                        <p class="post-summary">SK렌터카(대표이사 : 황일문)가 세계 3대 디자인 공모전 중 하나로 꼽히는 ‘IF 디자인 어워드 2024’에서 ‘플랫폼·UI(사용자 인터페이스)’ 부문 본상을 수상했다고 20일 밝혔다. ‘IF 디자인 어워드’는 독일 ‘인터내셔널 포럼 디자인’이 주관하는 디자인 공모전으로, 매년 50…
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="등록일">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now 썸네일 이미지">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK네트웍스</p>
                                                        <p class="post-subject">SK네트웍스, 탄소중립 경영 글로벌 기관 인정!</p>
                                                        <p class="post-summary">2018년부터 지속가능경영보고서를 작성해오며 회사의 친환경 활동을 꾸준히 이해관계자들과 소통하고 있는 SK네트웍스가 국제적 수준의 ESG 경영 실천을 입증했다. SK네트웍스(대표이사: 이호정)는 13일 여의도 글래드호텔에서 열린 '2023 CDP 코리아 어워드'에서 산업…
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="등록일">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="section-util btn-display align3">
                                    <div class="btn-area">
                                        <a class="btn design3 case1 type1 color2 ar-icon-plus-bg" href="#"><span class="btn-text">더보기</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>