<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        localAnimations_Case02();
    });
</script>
</head>
<body class="kr">
<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main business encore" id="main">
        <div class="main-inner">
            <div class="local design2">
                <div class="local-head design5" data-local-animation="case-2">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'Business',
                        depth2: '엔코아',
                        depth3: null,
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject"><h2 class="local-name">Beyond Data<br>Maximize Your Value</h2></div>
                    <div class="local-aside">
                        <div class="local-wrap">
                            <h2 class="local-title">엔코아</h2>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/business/bg-local-head-business-encore.jpg" alt="">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">엔코아 페이지</div>
                    <div class="content-body">
                        <div class="section design1 case3 type1 core">
                            <div class="section-wrap">
                                <div class="article intro">
                                    <div class="article-wrap">
                                        <div class="article-head">
                                            <h3 class="title">엔코아</h3>
                                            <h4 class="sub-title">기업의 지속 가능한 데이터 관리와 활용을 지원하는 데이터 비즈니스 전문기업</h4>
                                        </div>
                                        <div class="article-body">
                                            <p class="para case2">
                                                엔코아는 지난 27년간 DATA와 IT에 대한 이해와 통찰력을 기반으로 독자적인 방법론을 수립하고 기업과 기관의 체계적인 데이터 관리와 활용을 위한 데이터 컨설팅 서비스와 데이터 통합관리 솔루션 DATAWARE™를 개발 공급하고 있습니다. 제조, 서비스, 금융, 통신, 공공, 유통, 의료, 교육 등 다양한 산업군에서 엔코아의 서비스와 제품을 활용하고 있습니다.
                                            </p>
                                            <p class="para case2">
                                                기업과 기관의 데이터 거버넌스 체계 수립, 차세대 시스템 구축, 데이터 이행과 통합, 데이터 레이크 구축, 데이터 포털 구축, 클라우드, MSA 환경 대응, 인공지능을 활용한 데이터 표준화 전략, IT 교육 등 기술 트렌드와 고객 니즈에 적합한 효율적인 전략과 전문 솔루션, 정보를 제공하며 관련 비즈니스를 확장하고 있습니다.
                                            </p>
                                            <p class="para case2">
                                                2024년에는 빠르게 변화하는 IT환경과 Tech의 비약적인 발전에 대응하며 기업과 기관의 지속 가능한 데이터 관리와 활용을 지원하는 데이터 자산화 전략과 솔루션을 제시하고자 합니다.
                                            </p>
                                        </div>
                                        <div class="article-util">
                                            <a class="btn design3 case3 type1 color6 ar-icon-arrow-right-up2" href="https://www.en-core.com" target="_blank" title="새창 열기"><span class="btn-text">엔코아 웹사이트로 이동하기</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="article major">
                                    <div class="article-wrap">
                                        <div class="article-head">
                                            <h4 class="title">주요 성과</h4>
                                        </div>
                                        <div class="article-body">
                                            <ul class="board-list design7 case1 type2">
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 business">
                            <div class="section-wrap">
                                <div class="section-body">
                                    <div class="data-display business-network">
                                        <div class="data-head">
                                            <strong class="data-name">사업 영역</strong>
                                        </div>
                                        <div class="data-body">
                                            <div class="data-list">
                                                <div class="data-item back-dataConsulting">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">데이터 컨설팅</strong>
                                                        <p class="para">엔코아는 금융, 제조, 유통, 통신, 공공 등 다양한 산업군을 이해하고 있는 전문 데이터 컨설턴트 및 솔루션 아키텍트를 보유하고 독자적인 데이터 컨설팅 서비스를 제공하고 있습니다.</p>
                                                        <p class="para">차세대 구축, 데이터 설계, 통합, 이행, 성능 관리, 품질관리, 거버넌스 등 축적된 데이터 컨설팅 노하우를 기반으로 완성된 데이터 컨설팅 방법론인 EDF™(Enterprise Data Framework)는 차세대 구축, 데이터 설계, 통합, 이행, 성능 관리, 품질 관리, 거버넌스 등 축적된 데이터 컨설팅 노하우를 바탕으로 구성돼 고객 니즈에 대응하는 최적의 컨설팅을 제공합니다.</p>
                                                    </div>
                                                </div>
                                                <div class="data-item back-dataware">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">데이터 솔루션 DATAWARE™</strong>
                                                        <p class="para">엔코아는 기업 데이터 관리를 위하여 하나의 플랫폼으로 데이터 품질 극대화를 위한 데이터 통합 관리 솔루션 DATAWARE™를 제공합니다.</p>
                                                        <p class="para">DATAWARE™는 기업 데이터의 분석, 설계, 운용, 관리에 이르기까지 기업 전반의 데이터 관리 체계를 지원하는 통합 솔루션으로 데이터 모델링, 메타, 품질,흐름, 영향분석, 데이터이행, 운영 관리 등으로 구성되며 국제 웹 표준을 준수하고, 전자정부 프레임워크 호환을 기본으로 구성되어 있습니다.</p>
                                                        <p class="para">On-Premises 환경이나 Cloud 환경에 최적으로 서비스 모듈이 구성되어 OS와 브라우저에 구애받지 않는 서비스 제공이 가능합니다. 모든 솔루션은 플러그인 형태로 별도의 장착이 가능하며 하나의 통합 웹 기반의 관리 포털 형태로 제공되어 최적의 운영관리 환경을 제공합니다. DATAWARE™는 기업과 기관의 효율적인 데이터 매니지먼트를 위해 뛰어난 편의성과 생산성을 제공합니다.</p>
                                                    </div>
                                                    <div class="contents-figure">
                                                        <picture>
                                                            <source media="(max-width: 1023px)" srcset="../../assets/images/business/dataware-figure-01-k-mo.svg">
                                                            <source media="(max-width: 1920px)" srcset="../../assets/images/business/dataware-figure-01-k-pc.svg">
                                                            <img src="../../assets/images/business/dataware-figure-01-k-pc.svg" alt="1. 엔코아의 독보적인 데이터컨설팅 프레임워크(EDF) 적용 2. ALL-in-One Data Platform 3. 금융, 공공, 제조, 유통 등 다양한산업계의 데이터 시스템 구축에 활용">
                                                        </picture>
                                                    </div>
                                                </div>
                                                <div class="data-item back-playData">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">IT 전문 인력 양성</strong>
                                                        <p class="para">엔코아 IT 교육센터 플레이데이터(PlayData)아카데미는 4차 산업 시대를 이끌어갈 IT 인력을 양성하는 전문 교육 센터로 엔코아의 컨설팅 노하우로 구성된 커리큘럼, 국내 최고 수준의 전담 강사로 구성되어 현장 프로젝트 중심의 맞춤형 교육 프로그램을 제공하고 있습니다.</p>
                                                        <p class="para">2017년 개원하여 현재까지 약 3000명 이상의 학생과 재직자가 엔코아 플레이데이터의 교육 과정을 수료하였습니다.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 banner-section">
                            <div class="section-wrap">
                                <div class="section-body">
                                    <div class="banner design1 case1 type1">
                                        <div class="banner-wrap">
                                            <div class="banner-head">
                                                <img src="../../assets/images/logo/logo-encore.svg" alt="엔코아 로고 이미지">
                                            </div>
                                            <div class="banner-body">
                                                <p class="para">사업제안·고객문의가 필요하신가요?</p>
                                            </div>
                                            <div class="banner-footer">
                                                <span class="summary">엔코아는 여러분의 소중한 제안을 기다리고 있습니다.</span>
                                            </div>
                                            <div class="banner-util">
                                                <a class="btn design3 case1 type1 color2 ar-icon-arrow-right2-bg" href="https://www.en-core.com/company/contactus" target="_blank">
                                                    <span class="btn-text">문의하기</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 press">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">PRESS NOW</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list design2 case1 type1">
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now 썸네일 이미지">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK네트웍스</p>
                                                        <p class="post-subject">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!</p>
                                                        <p class="post-summary">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="등록일">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now 썸네일 이미지">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK렌터카</p>
                                                        <p class="post-subject">SK렌터카, ‘IF 디자인 어워드 2024’ 본상 수상</p>
                                                        <p class="post-summary">SK렌터카(대표이사 : 황일문)가 세계 3대 디자인 공모전 중 하나로 꼽히는 ‘IF 디자인 어워드 2024’에서 ‘플랫폼·UI(사용자 인터페이스)’ 부문 본상을 수상했다고 20일 밝혔다. ‘IF 디자인 어워드’는 독일 ‘인터내셔널 포럼 디자인’이 주관하는 디자인 공모전으로, 매년 50…
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="등록일">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now 썸네일 이미지">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK네트웍스</p>
                                                        <p class="post-subject">SK네트웍스, 탄소중립 경영 글로벌 기관 인정!</p>
                                                        <p class="post-summary">2018년부터 지속가능경영보고서를 작성해오며 회사의 친환경 활동을 꾸준히 이해관계자들과 소통하고 있는 SK네트웍스가 국제적 수준의 ESG 경영 실천을 입증했다. SK네트웍스(대표이사: 이호정)는 13일 여의도 글래드호텔에서 열린 '2023 CDP 코리아 어워드'에서 산업…
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="등록일">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="section-util btn-display align3">
                                    <div class="btn-area">
                                        <a class="btn design3 case1 type1 color2 ar-icon-plus-bg" href="/#"><span class="btn-text">더보기</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>