<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        localAnimations_Case02();
    });
</script>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main business infocom" id="main">
        <div class="main-inner">
            <div class="local design2">
                <div class="local-head design5" data-local-animation="case-2">
                    <%-include('../_templates.en/_local-info.ejs', {
                        depth1: 'Business',
                        depth2: 'ICT Marketing',
                        depth3: null,
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject"><h2 class="local-name">Connecting people and <br>AI through ICT devices</h2></div>
                    <div class="local-aside">
                        <div class="local-wrap">
                            <h2 class="local-title">ICT Marketing</h2>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/business/bg-local-head-business-infocom.jpg" alt="">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head blind">ICT Marketing</div>
                    <div class="content-body">
                        <div class="section design1 case3 type1 core">
                            <div class="section-wrap">
                                <div class="article intro">
                                    <div class="article-wrap">
                                        <div class="article-head">
                                            <h3 class="title">ICT Marketing</h3>
                                            <h4 class="sub-title">Korea’s No. 1 mobile device distributor</h4>
                                        </div>
                                        <div class="article-body">
                                            <p class="para case2">
                                                SK Networks sells approximately 4.33 million mobile devices a year largely in wholesale distribution and distributes various ICT devices such as laptops, tablet PCs, and ICT accessories through collaboration with manufacturers.
                                            </p>
                                            <p class="para case2">
                                                In addition, we provide integrated distribution services to customers through our nationwide infrastructure. Through SK Networks Service, one of our subsidiaries, we offer a variety of services, including operation of the SK Telecom and SK Broadband’s networks and provision of IT solutions and communication system equipment.
                                            </p>
                                            <p class="para case2">
                                                We are currently expanding our recycling business sector by operating a resource circulation center that handles a variety of waste products including unused assets and waste generated within the IT industry.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="article major">
                                    <div class="article-wrap">
                                        <div class="article-head">
                                            <h4 class="title">Performance Highlights</h4>
                                        </div>
                                        <div class="article-body">
                                            <ul class="board-list design7 case1 type2">
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 business">
                            <div class="section-wrap">
                                <div class="section-body">
                                    <div class="data-display business-network">
                                        <div class="data-head">
                                            <strong class="data-name">Core <br class="pc-only">Competitiveness</strong>
                                        </div>
                                        <div class="data-body">
                                            <div class="data-list">
                                                <div class="data-item back-wholesale">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">WHOLESALE OF MOBILE DEVICES</strong>
                                                        <p class="para">SK Networks, as the biggest mobile phone distributor in Korea, supplies mobile devices demanded by customers through the nationwide logistics infrastructure and purchase platform-based distribution network.</p>
                                                        <p class="para">Based on the partnerships with SK telecom, the Korea’s largest mobile communication service provider, and other manufacturers over the world, we accomplished to sell 4.33 million mobile phone devices in 2022.</p>
                                                        <p class="para">Even in the gradually stagnating market environment, we have provided loan/payment services and purchase system to improve agencies’ purchase convenience and strengthened the business model through sales consulting to develop together with 1,041 agencies nationwide.</p>
                                                        <p class="para">The Mobile Device Business will expand the role of SK Networks in the mobile phone distribution market through a continuous value creation for its clients, thereby securing significant profits and stable growth.</p>
                                                    </div>
                                                </div>
                                                <div class="data-item back-logiService">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">Logistics Service</strong>
                                                        <p class="para">SK Networks offers an integrated shipping service to customers through the nationwide logistics infrastructure and system capacities. With the logistics experience in mobile devices, we are expanding our services from ICT devices to various areas such as a third-party logistics and warehousing. We are also in the process of moving to a bigger distribution center in the Seoul Capital Area (SCA) to satisfy customers’ shipping demands.</p>
                                                        <p class="para">Starting in 2021, we will establish the integrated logistics system based on the new SCA distribution center, thereby growing into the Korea’s top logistics service provider with SCM* capacity.</p>
                                                        <span class="comment design1">* SCM: Supply Chain Management</span>
                                                    </div>
                                                </div>
                                                <div class="data-item back-dist">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">ICT Device / Accessory B2B Distribution</strong>
                                                        <p class="para">Major ICT devices such as laptop, tablet, etc. are sourced from global manufacturers (Apple, Samsung) and such services aligned to varying customer needs as solution customization, shipping and installation are offered. Furthermore, various ICT accessories are planned and supplied to on/offline distribution channels to help B2B customers boost smartphone sales and enrich mobile user experience.</p>
                                                    </div>
                                                </div>
                                                <div class="data-item back-subsidiary">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">Network infrastructure administration management and global IT HW/SW distribution businesses<br>(SK Networks Service)</strong>
                                                        <p class="para">Drawing upon long years of excellence in ICT technology, SK Networks Service engages in network infrastructure administration management and global IT HW/SW distribution businesses. Our business presence has been recently expanded to cover environment-friendly businesses including solar power generation and *EPC projects, EV charging infrastructure deployment/maintenance, resource recycling business, etc. in a bid to bolster sustainability. SK Networks Service vows to remain competitive with change and innovation and promote shared prosperity by opening up new possibilities and creating value for customers.</p>
                                                        <p class="comment design1">* EPC: Engineering Procurement Construction</p>
                                                    </div>
                                                    <div class="contents-util">
                                                        <a class="btn design3 case3 type4 color6 ar-icon-arrow-right-up2" href="https://www.sknservice.com/en/index.do" target="_blank" title="새창 열기"><span class="btn-text">Go to the SK Networks Service</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 banner-section">
                            <div class="section-wrap">
                                <div class="section-body">
                                    <div class="banner design1 case1 type1">
                                        <div class="banner-wrap">
                                            <div class="banner-head">
                                                <img src="../../assets/images/logo/logo-c1-e.svg" alt="SK networks Logo Image">
                                            </div>
                                            <div class="banner-body">
                                                <p class="para">Interested in a business proposals or <br class="pc-only">have customer inquiries</p>
                                            </div>
                                            <div class="banner-footer">
                                                <span class="summary">SK Networks welcome your valuable suggestions and inquires.</span>
                                            </div>
                                            <div class="banner-util">
                                                <a class="btn design3 case1 type1 color2 ar-icon-arrow-right2-bg" href="/#">
                                                    <span class="btn-text">Go to Inquiry</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 press">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">PRESS NOW</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list design2 case1 type1">
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now Image">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK네트웍스</p>
                                                        <p class="post-subject">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!</p>
                                                        <p class="post-summary">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="date of registration">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now Image">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK렌터카</p>
                                                        <p class="post-subject">SK렌터카, ‘IF 디자인 어워드 2024’ 본상 수상</p>
                                                        <p class="post-summary">SK렌터카(대표이사 : 황일문)가 세계 3대 디자인 공모전 중 하나로 꼽히는 ‘IF 디자인 어워드 2024’에서 ‘플랫폼·UI(사용자 인터페이스)’ 부문 본상을 수상했다고 20일 밝혔다. ‘IF 디자인 어워드’는 독일 ‘인터내셔널 포럼 디자인’이 주관하는 디자인 공모전으로, 매년 50…
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="date of registration">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now Image">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK네트웍스</p>
                                                        <p class="post-subject">SK네트웍스, 탄소중립 경영 글로벌 기관 인정!</p>
                                                        <p class="post-summary">2018년부터 지속가능경영보고서를 작성해오며 회사의 친환경 활동을 꾸준히 이해관계자들과 소통하고 있는 SK네트웍스가 국제적 수준의 ESG 경영 실천을 입증했다. SK네트웍스(대표이사: 이호정)는 13일 여의도 글래드호텔에서 열린 '2023 CDP 코리아 어워드'에서 산업…
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="date of registration">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="section-util btn-display align3">
                                    <div class="btn-area">
                                        <a class="btn design3 case1 type1 color2 ar-icon-plus-bg" href="#"><span class="btn-text">View more</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>
</html>