<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        localAnimations_Case02();
    });
</script>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main business hotel" id="main">
        <div class="main-inner">
            <div class="local design2">
                <div class="local-head design5" data-local-animation="case-2">
                    <%-include('../_templates.en/_local-info.ejs', {
                        depth1: 'Business',
                        depth2: 'Walkerhill Hotels & Resorts',
                        depth3: null,
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject"><h2 class="local-name">Beyond Entertainment,<br>Elevating Excitement</h2></div>
                    <div class="local-aside">
                        <div class="local-wrap">
                            <h2 class="local-title">Walkerhill Hotels &amp; Resorts</h2>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/business/bg-local-head-business-hotel.jpg" alt="">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head blind">Walkerhill Hotels &amp; Resorts</div>
                    <div class="content-body">
                        <div class="section design1 case3 type1 core">
                            <div class="section-wrap">
                                <div class="article intro">
                                    <div class="article-wrap">
                                        <div class="article-head">
                                            <h3 class="title">Walkerhill Hotels &amp; Resorts</h3>
                                            <h4 class="sub-title">All Around Destination where everything is possible: lodging, exhibitions, experiences, performances and more</h4>
                                        </div>
                                        <div class="article-body">
                                            <p class="para case2">
                                                Walkerhill Hotels &amp; Resorts, a leader in the Korean hotel industry, offers premier experiences across leisure, culture, gastronomy, and lifestyle in an urban natural setting.
                                            </p>
                                            <p class="para case2">
                                                Our diverse brands, including Grand Walkerhill Seoul, Vista Walkerhill Seoul, Douglas House, and Darakhyu, each provide a unique ambiance that caters to various customer preferences and needs.
                                            </p>
                                            <p class="para case2">
                                                Our services also include gourmet cuisine from top chefs, restaurants and bars that provide varied dining experiences, and 7 banquet venues where top-notch services are available with the touch of experts. Our unique facilities, like the Théâtre des Lumières, Forest Park, Riverpark, and TENEZ Park, ensure ultimate enjoyment and inspiration.
                                            </p>
                                            <p class="para case2">
                                                Since announcing our commitment to being an Eco-Friendly Hotel in 2021, we have achieved the Eco-Friendly Hotel Certification and introduced innovative business models for authentic ESG management. We are dedicated to realizing ESG values in partnership with our customers.
                                                Moreover, Walkerhill Hotels &amp; Resorts is set to evolve into an AI Hotel through innovation in both Culture and Technology.
                                            </p>
                                        </div>
                                        <div class="article-util">
                                            <a class="btn design3 case3 type1 color6 ar-icon-arrow-right-up2" href="https://www.walkerhill.com/en" target="_blank" title="Opens in a new window."><span class="btn-text">Go to the Walkerhill Hotels &amp; Resorts</span></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="article major">
                                    <div class="article-wrap">
                                        <div class="article-head">
                                            <h4 class="title">Performance Highlights</h4>
                                        </div>
                                        <div class="article-body">
                                            <ul class="board-list design7 case1 type2">
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-figure">
                                                            <img src="https://place-hold.it/108X108" alt="">
                                                        </div>
                                                        <div class="board-info">
                                                            <strong class="board-name">Title (admin)</strong>
                                                            <p class="para">Text (admin)</p>
                                                            <span class="note">add text (admin)</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 business">
                            <div class="section-wrap">
                                <div class="section-body">
                                    <div class="data-display business-network">
                                        <div class="data-head">
                                            <strong class="data-name">Core <br class="pc-only">Competitiveness</strong>
                                        </div>
                                        <div class="data-body">
                                            <div class="data-list">
                                                <div class="data-item back-grand">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">Grand Walkerhill Seoul</strong>
                                                        <p class="para">Surrounded by the beautiful Hangang River and lush Achasan Mountain, Grand Walkerhill Seoul is the ultimate urban resort, providing comfort and relaxation with prestigious facilities and impressive services.</p>
                                                        <p class="para">A variety of facilities are available at the resort, including walking paths where guests can enjoy the charm of the four seasons, an outdoor swimming pool overlooking the Hangang River, a Forest Park for picnics, and the Walkerhill Library for reading and relaxing. Additionally, activity programs with Walkerhill’s leisure specialists (WALKEE) and an immersive art exhibition, Théâtre des Lumières, will keep the guests entertained as well.</p>
                                                        <p class="para">The resort also hosts luxurious and private banquets and weddings at the convention center composed of 7 multipurpose banquet halls and Aston House, providing top-notch services for high-end occasions.</p>
                                                    </div>
                                                    <div class="contents-util">
                                                        <a class="btn design3 case3 type4 color6 ar-icon-arrow-right-up2" href="https://www.walkerhill.com/grandwalkerhillseoul/en/" target="_blank" title="Opens in a new window.">
                                                            <span class="btn-text">Go to the Grand Walkerhill Seoul</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="data-item back-vista">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">VISTA Walkerhill Seoul</strong>
                                                        <p class="para">Vista Walkerhill Seoul rejuvenates and energizes guests through original and unique relaxation based on the latest trends. The hotel offers fresh stimuli and unconventional experiences under the slogan “REFRESHING. VIVIDLY.”</p>
                                                        <p class="para">Different facilities available at the hotel include SKYARD, an outdoor rooftop garden with a panoramic view of the Hangang River, an indoor swimming pool with a cityscape view through large windows, and SPACE WALKERHILL introducing the latest trends and cultural content. Each guest room is equipped with state-of-the-art services, offering a whole new lodging experience. In addition, various programs offered by the WELLNESS CLUB help customers create a healthy lifestyle and infuse their lives with vitality and new energy.</p>
                                                    </div>
                                                    <div class="contents-util">
                                                        <a class="btn design3 case3 type4 color6 ar-icon-arrow-right-up2" href="https://www.walkerhill.com/vistawalkerhillseoul/en/" target="_blank" title="Opens in a new window.">
                                                            <span class="btn-text">Go to the VISTA Walkerhill Seoul
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="data-item back-douglas">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">Douglas House</strong>
                                                        <p class="para">A solitary querencia* in a quiet forest, Douglas House features nature-friendly décor and carefully selected services that allow guests to enjoy the ultimate healing journey. Operating as an adult-only property, it has been well received as the perfect location for guests who seek quiet contemplation amid nature in the city.</p>
                                                        <p class="para">Facilities offered at Douglas House include a private lounge offering a light breakfast and happy hour, a library furnished with the latest books selected by Choi In-ah Bookstore, and an exclusive garden where one can fill their heart with nature. The warmth and composure of nature will bring relaxation while enjoying a tranquil stroll on the car-free walking path.</p>
                                                    </div>
                                                    <div class="contents-util">
                                                        <a class="btn design3 case3 type4 color6 ar-icon-arrow-right-up2" href="https://www.walkerhill.com/grandwalkerhillseoul/en/douglas/Intro" target="_blank" title="Opens in a new window.">
                                                            <span class="btn-text">Go to the Douglas House</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="data-item back-outside">
                                                    <div class="contents">
                                                        <strong class="contents-name type1">External Businesses</strong>
                                                        <p class="para">n addition to Incheon Airport Transit Hotel and premium Matina Lounge, Walkerhill Hotels &amp; Resorts operates DARAKHYU, South Korea’s first capsule hotel and a resting place for discerning travelers, at Incheon Airport and Yeosu. It also has a strong F&B presence with Golden Dragon Chinese restaurant at Samil Building and five golf club houses at major domestic country clubs in South Korea, as well as outside catering services for international events such as the 2015 Presidents Cup.</p>
                                                        <p class="para">Recently, various PB products utilizing the Walkerhill brand have been launched to deliver the unique service know-how and brand value of Walkerhill Hotels &amp; Resorts to a wide range of customers.</p>
                                                    </div>
                                                    <div class="contents-util">
                                                        <a class="btn design3 case3 type4 color6 ar-icon-arrow-right-up2" href="https://www.walkerhill.com/en/about/CustomerService" target="_blank" title="Opens in a new window.">
                                                            <span class="btn-text">Walkerhill External Business</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 banner-section">
                            <div class="section-wrap">
                                <div class="section-body">
                                    <div class="banner design1 case1 type1">
                                        <div class="banner-wrap">
                                            <div class="banner-head">
                                                <img src="../../assets/images/logo/logo-walkerhill.svg" alt="Walkerhill Logo Image">
                                            </div>
                                            <div class="banner-body">
                                                <p class="para">Interested in a business proposals or <br class="pc-only">have customer inquiries</p>
                                            </div>
                                            <div class="banner-footer">
                                                <span class="summary">Walkerhill hotels &amp; resorts welcome your valuable suggestions and inquires.</span>
                                            </div>
                                            <div class="banner-util">
                                                <a class="btn design3 case1 type1 color2 ar-icon-arrow-right2-bg" href="https://www.walkerhill.com/en/customer/VOCForm.wh" target="_blank">
                                                    <span class="btn-text">Go to Inquiry</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1 press">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">PRESS NOW</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list design2 case1 type1">
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now Image">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK네트웍스</p>
                                                        <p class="post-subject">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!</p>
                                                        <p class="post-summary">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="date of registration">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now Image">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK렌터카</p>
                                                        <p class="post-subject">SK렌터카, ‘IF 디자인 어워드 2024’ 본상 수상</p>
                                                        <p class="post-summary">SK렌터카(대표이사 : 황일문)가 세계 3대 디자인 공모전 중 하나로 꼽히는 ‘IF 디자인 어워드 2024’에서 ‘플랫폼·UI(사용자 인터페이스)’ 부문 본상을 수상했다고 20일 밝혔다. ‘IF 디자인 어워드’는 독일 ‘인터내셔널 포럼 디자인’이 주관하는 디자인 공모전으로, 매년 50…
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="date of registration">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="/#" class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="https://place-hold.it/384x213" alt="press now Image">
                                                </div>
                                                <div class="post-inform">
                                                    <div class="post-head">
                                                        <p class="post-caption">SK네트웍스</p>
                                                        <p class="post-subject">SK네트웍스, 탄소중립 경영 글로벌 기관 인정!</p>
                                                        <p class="post-summary">2018년부터 지속가능경영보고서를 작성해오며 회사의 친환경 활동을 꾸준히 이해관계자들과 소통하고 있는 SK네트웍스가 국제적 수준의 ESG 경영 실천을 입증했다. SK네트웍스(대표이사: 이호정)는 13일 여의도 글래드호텔에서 열린 '2023 CDP 코리아 어워드'에서 산업…
                                                        </p>
                                                    </div>
                                                    <p class="post-date" title="date of registration">2024.02.01</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="section-util btn-display align3">
                                    <div class="btn-area">
                                        <a class="btn design3 case1 type1 color2 ar-icon-plus-bg" href="#"><span class="btn-text">View more</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>
</html>