<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main etc sitemap" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates.en/_local-info.ejs', {
                    depth1: 'Sitemap',
                    depth2: null,
                    depth3: null,
                }) %>
                <div class="local-head design3">
                    <div class="local-subject">
                        <h2 class="local-name">Sitemap</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">Sitemap</div>
                    <div class="content-body">
                        <div class="section design1 case2">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h3 class="section-name">
                                            Company
                                        </h3>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <ul class="sitemap-list">
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Company Overview</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">CEO Message</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">History</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Global Networks</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h3 class="section-name">
                                            Business
                                        </h3>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <ul class="sitemap-list">
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Business Overview</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Walkerhill Hotels &amp; Resorts</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">ICT Marketing</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Hotels &amp; Resorts</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">SK Magic</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">SK Speedmate</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">SK Electlink</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Glowide</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">MINTIT</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">En-core</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">PhnyX Lab</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h3 class="section-name">
                                            Sustainability
                                        </h3>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <ul class="sitemap-list">
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Overview of<br class="pc-only">Sustainable <br class="pc-only">Management</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Social Value</a>
                                            <ul class="sitemap-list-depth2">
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Double Bottom Line</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Social Value Performance</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Environment</a>
                                            <ul class="sitemap-list-depth2">
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Environmental Management</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Climate Change</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Society</a>
                                            <ul class="sitemap-list-depth2">
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Employee Happiness</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Safety &amp; Health</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Stakeholder Happiness</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Information Protection and Security</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Governance</a>
                                            <ul class="sitemap-list-depth2">
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Governance</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Ethical Management</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Investment Management</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Data Center</a>
                                            <ul class="sitemap-list-depth2">
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Sustainability Report and Policy</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Certifications</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h3 class="section-name">
                                            IR
                                        </h3>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <ul class="sitemap-list">
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Stocks</a>
                                            <ul class="sitemap-list-depth2">
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Stock Prices</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Shareholder Return</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Finance</a>
                                            <ul class="sitemap-list-depth2">
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Financial Status</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Audit Report</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">Credit Ratings</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">IR Information</a>
                                            <ul class="sitemap-list-depth2">
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">IR Event</a>
                                                </li>
                                                <li class="sitemap-item-depth2">
                                                    <a href="javascript:void(0)" class="sitemap-depth2">IR Materials</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h3 class="section-name">
                                            PR
                                        </h3>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <ul class="sitemap-list">
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Newsroom</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Brand</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h3 class="section-name">
                                            Career
                                        </h3>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <ul class="sitemap-list">
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Business Culture</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Human Resource Development</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Appraisal/Remuneration</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Recruitment information</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a class="btn design3 case3 type1 color6 ar-icon-arrow-right-up2" href="https://www.skcareers.com/" target="_blank" title="Opens in a new window.">
                                                <span class="btn-text">Job Openings</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h3 class="section-name">
                                            Contact / SNS
                                        </h3>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <ul class="sitemap-list">
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Contact</a>
                                        </li>
                                        <li class="sitemap-item">
                                            <a href="javascript:void(0)" class="sitemap">Privacy Policy</a>
                                        </li>
                                    </ul>
                                    <div class="sitemap-util btn-display design1 case3">
                                        <div class="btn-area">
                                            <a class="btn design3 case3 type1 color6 ar-icon-arrow-right-up2 blog" href="https://blog.sknetworks.co.kr/?_ga=2.226815837.1728627398.1563336670-980524045.1557883331" target="_blank" title="Opens in a new window.">
                                                <span class="btn-text">Blog</span>
                                            </a>
                                            <a class="btn design3 case3 type1 color6 ar-icon-arrow-right-up2 post" href="https://m.post.naver.com/my.nhn?memberNo=43457791" target="_blank" title="Opens in a new window.">
                                                <span class="btn-text">Post</span>
                                            </a>
                                            <a class="btn design3 case3 type1 color6 ar-icon-arrow-right-up2 facebook" href="https://www.facebook.com/official.sknetworks" target="_blank" title="Opens in a new window.">
                                                <span class="btn-text">Facebook</span>
                                            </a>
                                            <a class="btn design3 case3 type1 color6 ar-icon-arrow-right-up2 youtube" href="https://www.youtube.com/channel/UCMQo25JGe40HNs6kK7LyphQ" target="_blank" title="Opens in a new window.">
                                                <span class="btn-text">Youtube</span>
                                            </a>
                                            <a class="btn design3 case3 type1 color6 ar-icon-arrow-right-up2 insta" href="https://www.instagram.com/sknetworks_official/" target="_blank" title="Opens in a new window.">
                                                <span class="btn-text">Instagram</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>

</html>