<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../_templates.en/_head.ejs', { layoutTemplate: 'front' , pageJavascript: '' }) %>
</head>

<body class="en">
    <div id="wrap">
        <%-include('../_templates.en/_header.ejs', { type: 'light' , }) %>
            <div class="main pr brand" id="main">
                <div class="main-inner">
                    <div class="local design1">
                        <%-include('../_templates.en/_local-info.ejs', { 
                            depth1: 'PR',
                            depth2: 'Brand',
                            depth3: '' ,
                        }) %>
                        <div class="local-head design3">
                            <div class="local-subject">
                                <h2 class="local-name">Brand</h2>
                            </div>
                        </div>
                        <div class="local-body">
                            <div class="content-head">Brand page</div>
                            <div class="content-info">
                            </div>
                            <div class="content-body">
                                <div class="section design4 case2 type1 brand-ci">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <div class="section-subject">
                                                <h4 class="section-name">Meaning of the CI</h4>
                                            </div>
                                        </div>
                                        <div class="section-body">
                                            <p class="para">
                                                The logo is the most important element in our identity, as it represents all aspects of SK Networks including its products and services, as well as its trustworthiness, quality and top-tier position. The logo is the official symbol of SK Networks, so its figure should not be changed in any way. The logo, used in various media including print and promotional materials, plays an important role in delivering the corporate and brand image of SK Networks.</p>
                                            <div class="section-figure">
                                                <img src="../../assets/images/pr/brand-sk-logo.png" alt="sk Networks logo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section design2 type1 regulation-util">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <div class="section-subject">
                                                <h4 class="section-name">Clear Space</h4>
                                            </div>
                                        </div>
                                        <div class="section-body">
                                            <div class="btn-display design1 case3 align1">
                                                <div class="btn-area">
                                                    <a class="btn design3 case1 type1 color1 ar-icon-download-bg" href="#"><span class="btn-text">AI File Download</span></a>
                                                    <a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">JPG File Download</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section spatial-regulation">
                                    <div class="section-wrap">
                                        <div class="section-info">
                                            <div class="board-list design9 case1 type1">
                                                <div class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-subject">
                                                            <span class="board-name">Clear Space A</span>
                                                        </div>
                                                        <div class="board-figure">
                                                            <img src="../../assets/images/pr/brand-ci-img-01-en.png" alt="">
                                                        </div>
                                                        <p class="board-info">
                                                            When applying the SK Identifier, make sure to have sufficient clear space according to these guidelines. Assuming the letter “K” of the logo mark is X high, there should be 0.5 times around the space of X in all directions.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="board-item">
                                                    <div class="board-wrap">
                                                        <div class="board-subject">
                                                            <span class="board-name">Clear Space B</span>
                                                        </div>
                                                        <div class="board-figure">
                                                            <img src="../../assets/images/pr/brand-ci-img-02-en.png" alt="">
                                                        </div>
                                                        <p class="board-info">
                                                            This particular rule is applicable only if it is difficult to secure visibility due to space limitations and it is important to maximize the visibility of media applications such as digital medium, outdoor billboards. Assuming the letter “K” of the logo mark is X high, there should be 0.25 times around the space of X in all directions.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section design1 case2 type1 color-regulation">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <div class="section-subject">
                                                <h4 class="section-name">Corporate Color</h4>
                                            </div>
                                        </div>
                                        <div class="section-body">
                                            <p class="para">SK’s color are composed of its primary colors and secondary colors. SK Red and SK Orange are SK’s representative colors. These guidelines must be observed because the consistent application of SK’s colors ensure the proper representation of SK’s image.</p>
                                            <div class="data-display design1 case1 type1">
                                                <div class="data-list">
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="data-subject">Primary Colors</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <div class="data-display sk-color">
                                                                    <ul class="data-list">
                                                                        <li class="data-item">
                                                                            <div class="item-wrap">
                                                                                <div class="item-head" style="background-color: #EA002C;">
                                                                                    <em class="item-subject">SK Red</em>
                                                                                </div>
                                                                                <div class="item-body">
                                                                                    <ul class="color-list">
                                                                                        <li class="list-item">
                                                                                            <span class="head">PANTONE</span>
                                                                                            <span class="body">186C</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">CMYK</span>
                                                                                            <span class="body">0 / 100 / 81 / 4</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">RGB</span>
                                                                                            <span class="body">234 / 0 / 44</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">HEX</span>
                                                                                            <span class="body">#EA002C</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="data-item">
                                                                            <div class="item-wrap">
                                                                                <div class="item-head" style="background-color: #F47725;">
                                                                                    <em class="item-subject">SK Orange</em>
                                                                                </div>
                                                                                <div class="item-body">
                                                                                    <ul class="color-list">
                                                                                        <li class="list-item">
                                                                                            <span class="head">PANTONE</span>
                                                                                            <span class="body">158C</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">CMYK</span>
                                                                                            <span class="body">0 / 66 / 91 / 4</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">RGB</span>
                                                                                            <span class="body">255 / 122 / 0</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">HEX</span>
                                                                                            <span class="body">#F47725</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="data-subject">Secondary Colors</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <div class="data-display sk-color">
                                                                    <ul class="data-list">
                                                                        <li class="data-item">
                                                                            <div class="item-wrap">
                                                                                <div class="item-head" style="background-color: #FBBC05;">
                                                                                    <em class="item-subject">SK Yellow</em>
                                                                                </div>
                                                                                <div class="item-body">
                                                                                    <ul class="color-list">
                                                                                        <li class="list-item">
                                                                                            <span class="head">PANTONE</span>
                                                                                            <span class="body">7408C</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">CMYK</span>
                                                                                            <span class="body">0 / 20 / 100 / 0</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">RGB</span>
                                                                                            <span class="body">251 / 188 / 5</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">HEX</span>
                                                                                            <span class="body">#FBBC05</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="data-item">
                                                                            <div class="item-wrap">
                                                                                <div class="item-head" style="background-color: #B3CF0A;">
                                                                                    <em class="item-subject">SK Green</em>
                                                                                </div>
                                                                                <div class="item-body">
                                                                                    <ul class="color-list">
                                                                                        <li class="list-item">
                                                                                            <span class="head">PANTONE</span>
                                                                                            <span class="body">2292C</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">CMYK</span>
                                                                                            <span class="body">43 / 0 / 100 / 0</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">RGB</span>
                                                                                            <span class="body">155 / 207 / 10</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">HEX</span>
                                                                                            <span class="body">#B3CF0A</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="data-item">
                                                                            <div class="item-wrap">
                                                                                <div class="item-head" style="background-color: #009A93;">
                                                                                    <em class="item-subject">SK Teal</em>
                                                                                </div>
                                                                                <div class="item-body">
                                                                                    <ul class="color-list">
                                                                                        <li class="list-item">
                                                                                            <span class="head">PANTONE</span>
                                                                                            <span class="body">3275C</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">CMYK</span>
                                                                                            <span class="body">100 / 0 / 50 / 0</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">RGB</span>
                                                                                            <span class="body">0 / 154 / 147</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">HEX</span>
                                                                                            <span class="body">#009A93</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="data-item">
                                                                            <div class="item-wrap">
                                                                                <div class="item-head" style="background-color: #0072C6;">
                                                                                    <em class="item-subject">SK Blue</em>
                                                                                </div>
                                                                                <div class="item-body">
                                                                                    <ul class="color-list">
                                                                                        <li class="list-item">
                                                                                            <span class="head">PANTONE</span>
                                                                                            <span class="body">300C</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">CMYK</span>
                                                                                            <span class="body">100 / 50 / 0 / 0</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">RGB</span>
                                                                                            <span class="body">0 / 114 / 198</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">HEX</span>
                                                                                            <span class="body">#0072C6</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="data-item">
                                                                            <div class="item-wrap">
                                                                                <div class="item-head" style="background-color: #0E306D;">
                                                                                    <em class="item-subject">SK Navy</em>
                                                                                </div>
                                                                                <div class="item-body">
                                                                                    <ul class="color-list">
                                                                                        <li class="list-item">
                                                                                            <span class="head">PANTONE</span>
                                                                                            <span class="body">288C</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">CMYK</span>
                                                                                            <span class="body">100 / 79 / 0 / 37</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">RGB</span>
                                                                                            <span class="body">14 / 48 / 109</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">HEX</span>
                                                                                            <span class="body">#0E306D</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="data-item">
                                                                            <div class="item-wrap">
                                                                                <div class="item-head" style="background-color: #68127A;">
                                                                                    <em class="item-subject">SK Purple</em>
                                                                                </div>
                                                                                <div class="item-body">
                                                                                    <ul class="color-list">
                                                                                        <li class="list-item">
                                                                                            <span class="head">PANTONE</span>
                                                                                            <span class="body">526C</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">CMYK</span>
                                                                                            <span class="body">75 / 100 / 0 / 0</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">RGB</span>
                                                                                            <span class="body">104 / 33 / 122</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">HEX</span>
                                                                                            <span class="body">#68127A</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="data-item">
                                                                            <div class="item-wrap">
                                                                                <div class="item-head" style="background-color: #fff; border-color: #27272A;">
                                                                                    <em class="item-subject accent color5">SK White</em>
                                                                                </div>
                                                                                <div class="item-body">
                                                                                    <ul class="color-list">
                                                                                        <li class="list-item">
                                                                                            <span class="head">PANTONE</span>
                                                                                            <span class="body">White</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">CMYK</span>
                                                                                            <span class="body">0 / 0 / 0 / 0</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">RGB</span>
                                                                                            <span class="body">255 / 255 / 255</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">HEX</span>
                                                                                            <span class="body">#FFFFFF</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                        <li class="data-item">
                                                                            <div class="item-wrap">
                                                                                <div class="item-head" style="background-color: #000; border-color: #27272A;">
                                                                                    <em class="item-subject">SK Black</em>
                                                                                </div>
                                                                                <div class="item-body">
                                                                                    <ul class="color-list">
                                                                                        <li class="list-item">
                                                                                            <span class="head">PANTONE</span>
                                                                                            <span class="body">Black</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">CMYK</span>
                                                                                            <span class="body">0 / 0 / 0 / 100</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">RGB</span>
                                                                                            <span class="body">0 / 0 / 0</span>
                                                                                        </li>
                                                                                        <li class="list-item">
                                                                                            <span class="head">HEX</span>
                                                                                            <span class="body">#000000</span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section design1 case2 type1 color-criteria">
                                    <div class="section-wrap">
                                        <div class="section-head">
                                            <div class="section-subject">
                                                <h4 class="section-name">Background Color Scheme</h4>
                                            </div>
                                        </div>
                                        <div class="section-body">
                                            <p class="para">
                                                When expressing the SK CI in color, the default background color is white. Other background colors may be used as long as the visibility and image representation of SK CI are clear.<br> 
                                                Avoid using the CI over background which do not provide enough legibility or cause visual figure. Refer to the exampls below.
                                            </p>
                                            <div class="data-display design1 case2 type1 align3">
                                                <div class="data-list">
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="data-subject">Background Color Usage</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <img src="../../assets/images/pr/brand-gray-img.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="data-subject">Background Color Scheme</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <img src="../../assets/images/pr/brand-summary-img.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%-include('../_templates.en/_footer.ejs')%>
    </div>
</body>

</html>