<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="kr">
<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    }) 
    %>
    <div class="main pr" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates/_local-info.ejs', {
                    depth1: 'PR',
                    depth2: '뉴스룸',
                    depth3: '보도자료',
                }) %>
                <div class="local-head design3"> 
                    <div class="local-subject">
                        <h2 class="local-name">보도자료</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">보도자료 페이지</div>
                    <div class="content-body">
                        <div class="section detail-layout design1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">[워커힐] 벚꽃 성지 ‘워커힐 호텔앤리조트’, 설레는 봄을 만끽하는 ‘2024 스프링 페스티벌(Spring Festival)’ 개최</h4>
                                        <div class="section-summary">
                                            <div class="data-display design2 case2 type2">
                                                <ul class="data-list">
                                                    <li class="data-item">
                                                        <div class="item-wrap">
                                                            <div class="item-head">
                                                                <p class="item-date">2024.02.01</p>
                                                            </div>
                                                            <div class="item-util">
                                                                <div class="btn-display design1 case3 align1">
                                                                    <div class="btn-area">
                                                                        <button class="btn design3 case2 type3 color5 al-icon-printer pc-only"><span class="btn-text">인쇄</span></button>
                                                                        <button class="btn design3 case2 type3 color5 al-icon-share"><span class="btn-text">공유</span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <!-- 에디터 영역 -->
                                    <p style="font-size: 20px; color: #15151A; font-weight: 700;">
                                        - 이달 29일 ‘수학, 생각하는 힘, 영재를 인재로’ 주제로 송용진 인하대 교수 초빙 강연 개최<br>
                                        - 사전판매 ‘완판’ 이어 20일부터 일반 판매 돌입… 미니 디저트·차와 함께 강연 즐기는 고품격 문화 경험<br>
                                        - 2019년부터 매월 개최 ‘문화살롱’, 최인아책방이 직접 큐레이션하며 콘텐츠 깊이·품격 더해<br>
                                        - “문화살롱 외에도 음악회, 파크 콘서트, 전시 등 풍성한 문화 콘텐츠 지속 마련…워커힐만의 독보적인 지식과 문화의 경험을 많은 고객들께서 향유해보시길 기대”
                                    </p><br><br>
                                    <p style="font-size: 20px; color: #15151A;">
                                    사전판매 기간 뜨거운 고객 반응을 이끌어낸 워커힐 3월 문화살롱의 일반 입장권 판매는 20일부터 시작될 예정이다. = 워커힐 호텔앤리조트 제공<br><br>
                                    워커힐 호텔앤리조트(총괄 현몽주, 이하 워커힐)가 독립서점인 ‘최인아책방’과 함께 개최하는 ‘영재의 법칙’ 저자 송용진 교수 초빙 3월 문화살롱이 현장에서 뜨거운 반응을 이끌어내고 있다.
                                    <br><br>
                                    여기에 더해 고객들이 벚꽃 구경과 함께 봄의 축제를 여유롭게 즐길 수 있도록 그랜드 워커힐 서울, 비스타 워커힐 서울, 더글라스 하우스에서 호텔 별로 총 6개에 달하는 객실 패키지를 준비했다.
                                    <br><br>
                                    와인 페어를 즐기는 ‘스프링 페스티벌(SPRING FESTIVAL)Ⅰ 패키지’(22만원부터)와 와인 페어 및 미니 음악회까지 포함된 ‘스프링 페스티벌(SPRING FESTIVAL) Ⅱ 패키지(39만원부터)’로 구성한 각 패키지의 금액은 객실 별, 요일 별로 상이하며 세금 및 봉사료는 별도다.
                                    <br><br>
                                    워커힐 호텔앤리조트 관계자는 “워커힐은 서울의 대표 벚꽃 성지로 손꼽혀 매년 봄 많은 고객들이 방문하고 있는 만큼, 워커힐에서 더욱 즐거운 시간을 보낼 수 있도록 스프링 페스티벌을 기획했다”라며 “워커힐만의 야외 공간 매력을 활용한 다채로운 프로그램과 패키지를 통해 봄의 정취를 만끽하고 낭만과 추억이 함께하는 행복한 시간을 보내시길 바란다”라고 전했다.
                                    <br><br>
                                    스프링 페스티벌 및 패키지 등과 관련한 문의는 유선 또는 홈페이지를 통해 안내받을 수 있다.

                                    </p>
                                    <!-- //에디터 영역 -->
                                </div>
                                <div class="section-util">
                                    <div class="btn-display">
                                        <a href="#" class="btn design1 case1 type1 color1"><span class="btn-text">목록</span></a> 
                                    </div>
                                    <div class="board-dipslay">
                                        <div class="board-list design2 case1 type1">
                                            <div class="board-item">
                                                <a href="#" class="board-info">
                                                    <span class="board-name">이전글</span>
                                                    <span class="board-caption">[엔코아] 엔코아, 2024 AI 제품 서비스 개발을 주도할 기술 인재 채용</span>
                                                </a>
                                                <a href="#" class="board-info">
                                                    <span class="board-name">다음글</span>
                                                    <span class="board-caption">[SK네트웍스] SK네트웍스, 탄소중립 경영 글로벌 기관 인정!
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>
</body>

</html>