.accordion-display {
    .accordion-item {
        .accordion-head {
            cursor: pointer;
            .btn {
                display: block;
                width: 100%;
                .btn-text {
                    white-space: normal;
                }
            }
        }
        .accordion-body {
            height: 0;
            transition: height 0.3s ease;
            overflow: hidden;
        }
    }
    // 열림 > 닫힘
    &.collapse {
        height: auto;
    }
    &.design1 {
    }

    // etc: 개인정보처리방침, esg: 지배구조
    &.design2 {
        &.case1 {
            .accordion-item {
                .accordion-head {
                    position: relative;
                    background-color: color(system,070);
                    @include web {
                        border-bottom: 1px solid color(neutral,060);
                    }
                    .btn {
                        position: relative;
                        padding: 2.4rem 5.6rem 2.4rem 0;
                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            right: 0;
                            width: 2.4rem;
                            height: 2.4rem;
                            background: icon(arrow-down1, color(neutral, 090)) no-repeat center center;
                            background-image: icon(arrow-down1, color(neutral, 090));
                            background-size: 1.4rem 0.9rem;
                            transform: translateY(-50%);
                            transition: all 0.3s ease;
                        }
                        @include mobile {
                            padding: 1.6rem 4.8rem 1.6rem 0;
                        }
                    }
                }
                .accordion-body {
                    .accordion-inner {
                        padding: 2.4rem 0 8rem;
                        @include mobile {
                            padding: 1.6rem 0 4.8rem;
                        }
                    }
                    .para {
                        + .para {
                            margin-top: 1.6rem;
                            @include mobile {
                                margin-top: 1.2rem;
                            }
                        }
                    }
                }
                &:last-child {
                    .accordion-body {
                        .accordion-inner {
                            padding: 2.4rem 0 0;
                            @include mobile {
                                padding: 1.6rem 0 0;
                            }
                        }
                    }
                }
                &.active {
                    .accordion-head {
                        .btn {
                            &::after {
                                transform: translateY(-50%) rotate(-180deg);
                            }
                        }
                    }
                }
            }
        }
        &.type1 {
            .accordion-item {
                .accordion-head {
                    .btn {
                        .btn-text {
                            color: color(typo,020);
                            text-align: left;
                            @include font(small-1x,bold);
                            @include mobile {
                                @include font(small-2x,bold);
                            }
                        }
                    }
                }
                .accordion-body {
                    .para {
                        color: color(typo,010);
                        @include font(small-3x,medium);
                        @include mobile {
                            @include font(small-4x,medium);
                        }
                    }
                }
            }
        }
        &.type2 {
            .accordion-item {
                .accordion-head {
                    .btn {
                        .btn-text {
                            color: color(typo,020);
                            text-align: left;
                            @include font(small-2x,bold);
                            @include mobile {
                                @include font(small-3x,bold);
                            }
                        }
                    }
                }
                .accordion-body {
                    .para {
                        color: color(typo,010);
                        @include font(small-4x,medium);
                        @include mobile {
                            @include font(small-5x,medium);
                        }
                    }
                }
            }
        }
    }
}