.quick-nav {
    min-width: 20rem;
    padding-top: 22rem;
    position: sticky;
    top: 0;
    align-self: flex-start;
    margin-right: 20rem;
    margin-left: auto;
    .nav-list {
        .nav-item {
            .anchor {
                display: block;
                transition: 0.3s ease;
            }
            &.term {
                > .anchor {
                    padding: 0.6rem 1rem;
                    color: color(gray,400);
                    @include font(small-6x,medium)
                }
                &.case-02 {
                    + .term {
                        margin-top: 0.8rem;
                    }
                }
            }
            &.desc {
                position: relative;
                margin-left: 1rem;
                > .anchor {
                    padding: 0.4rem 0.8rem;
                    margin: 0 0.7rem;
                    border-radius: 0.2rem;
                    color: color(gray,400);
                    @include font(small-7x,regular);
                }
                &:before {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-left: 1px solid color(gray,200);
                }
            }
            &.active {
                &.term {
                    &.case-01 {
                        > .anchor {
                            color: color(primary,100);
                            background-color: color(bg,blue);
                        }
                    }
                    &.case-02 {
                        > .anchor {
                            color: color(gray,900);
                        }
                    }
                    
                }
                
                &.desc {
                    > .anchor {
                        color: color(primary,100);
                        background-color: color(bg,blue);
                    }
                }
            }
        }
    }
}