@charset "utf-8";

.btn {
    display: inline-flex;
    border: 1px solid transparent;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    cursor: pointer;

    .btn-text {
        display: flex;
        position: relative;
        text-align: left;
        align-items: center;
        word-break: break-word;

        &::after,
        &::before {
            transition: 0.3s ease;
        }
    }

    /* Shape Variations */
    &.design1 {
        &.case1 {
            padding: 1.4rem 3.1rem;
            border-radius: 5rem;
            min-height: 5.6rem;
        }

        &.case2 {
            padding: 0.7rem 1.5rem;
            border-radius: 5rem;
        }
    }

    &.design2 {
        &.case1 {
            padding: 1.4rem 0;
        }
        &.case2 {
            padding: 0;
        }
    }

    &.design3 {
        &.case1 {
            padding: 1.4rem 0.7rem 1.4rem 3.1rem;
            border-radius: 5rem;
            min-height: 5.6rem;

            &.type1 .btn-text {
                padding-right: 6.4rem;
            }

            &[class*=-icon] {
                &[class*=al-] .btn-text::before,
                &[class*=ar-] .btn-text::after {
                    position: absolute;
                    top: 50%;
                    right: 0;

                    transform: translateY(-50%);
                }
            }
        }

        &.case2 {
            padding: 1.4rem 0;
            min-height: 5.6rem;
        }

        &.case3 {
            padding: 1.5rem;
            border-radius: 0.8rem;
            @include mobile {
                padding: 1.1rem;
                &.type1 {
                    .btn-text {
                        @include font(small-5x, bold);
                    }
                }
            }
        }
        &.case4 {
            padding: 0;
            border: unset;
        }

        // Icon + Text
        &[class*=-icon] {

            &[class*=al-] .btn-text::before,
            &[class*=ar-] .btn-text::after {
                display: block;
                content: '';
                background-repeat: no-repeat;
                background-position: center center;
                flex: none;
            }
        }

        // Icon Right
        &.ar-icon- {
            position: relative;

            &arrow-right2-bg .btn-text::after {
                width: 4rem;
                height: 4rem;
                margin-left: 2.4rem;
                background-image: icon(arrow-right2, color(system, 070));
                background-size: 1.5rem 1.4rem;
                background-color: color(neutral, 080);
                border-radius: 100%;
            }

            &arrow-right2 .btn-text::after {
                width: 2.4rem;
                height: 2.4rem;
                margin-left: 0.8rem;
                background-image: icon(arrow-right2, color(system, 100));
                background-size: 1.5rem 1.4rem;
            }

            &arrow-fill-down .btn-text::after {
                width: 1.6rem;
                height: 1.6rem;
                margin-left: 0.8rem;
                background-image: icon(arrow-fill-down, color(system, 100));
                background-size: 0.8rem 0.6rem;
            }

            &arrow-right-up2 .btn-text::after {
                width: 1.6rem;
                height: 1.6rem;
                margin-left: 0.8rem;
                background-image: icon(arrow-right-up2, color(primary, 070));
                background-size: 0.8rem 0.8rem;
            }

            &arrow-right-up2-2 .btn-text::after {
                width: 2.4rem;
                height: 2.4rem;
                margin-left: 0.8rem;
                background-image: icon(arrow-right-up2, color(system, 100));
                background-size: 1.1rem 1.1rem;
            }

            &download-bg .btn-text::after {
                width: 4rem;
                height: 4rem;
                margin-left: 2.4rem;
                background-image: icon(download, color(system, 070));
                background-size: 1.8rem 1.8rem;
                background-color: color(neutral, 080);
                border-radius: 100%;
            }

            &download .btn-text::after {
                width: 2.4rem;
                height: 2.4rem;
                margin-left: 0.8rem;
                background-image: icon(download, color(system, 100));
                background-size: 1.8rem 1.7rem;
            }

            &plus-bg .btn-text::after {
                width: 4rem;
                height: 4rem;
                margin-left: 2.4rem;
                background-image: icon(plus, color(system, 070));
                background-size: 1.5rem 1.4rem;
                background-color: color(neutral, 080);
                border-radius: 100%;
            }

            &refresh .btn-text::after {
                width: 1.6rem;
                height: 1.6rem;
                margin-left: 0.8rem;
                background-image: icon(refresh, color(system, 100));
                background-size: 1.4rem 1.2rem;
            }

            &arrow-down1 .btn-text::after {
                width: 2.4rem;
                height: 2.4rem;
                margin-left: 0.8rem;
                background-image: icon(arrow-down1, color(system, 100));
                background-size: 1.4rem 0.9rem;
            }
            &close .btn-text::after {
                width: 2.4rem;
                height: 2.4rem;
                margin-left: 0.8rem;
                background-image: icon(close, color(system, 100));
                background-size: 1.2rem 1.2rem;
            }
        }

        // icon left
        &.al-icon- {
            position: relative;

            &arrow-left2 .btn-text::before {
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 0.8rem;
                background-image: icon(arrow-left2, color(system, 100));
                background-size: 1.5rem 1.4rem;
            }

            &info .btn-text::before {
                width: 1.6rem;
                height: 1.6rem;
                margin-right: 0.8rem;
                background-image: icon(info, color(system, 100));
                background-size: 1.4rem 1.4rem;
            }

            &printer .btn-text::before {
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 0.8rem;
                background-image: icon(printer, color(system, 100));
                background-size: 2.2rem 2.2rem;
            }

            &share .btn-text::before {
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 0.8rem;
                background-image: icon(share, color(system, 100));
                background-size: 1.8rem 2rem;
            }
        }
    }

    &[class*=design] {
        /* font info */
        &.type1 {
            .btn-text {
                @include font(small-4x, bold);
                line-height: 2.6rem;
            }
        }

        &.type2 {
            .btn-text {
                @include font(small-5x, bold)
            }
        }

        &.type3 {
            .btn-text {
                @include font(small-4x, bold);
                line-height: 2.6rem;
            }
        }

        &.type4 {
            .btn-text {
                @include font(small-4x, bold);
                line-height: 2.6rem;
                @include mobile {
                    @include font(small-5x, bold);
                    line-height: 2.2rem;
                }
            }
        }

        /* color */
        &.color1 {
            color: color(system, 070);
            background-color: color(semantic, 020);
            border-color: color(semantic, 020);

            &.disabled {
                color: color(neutral, 040) !important;
                background-color: color(neutral, 020) !important;
                border-color: color(neutral, 020) !important;

                &[class*=-icon] {
                    &[class*=arrow-right2-bg] .btn-text::after {
                        background-color: color(neutral, 040) !important;
                        background-image: icon(arrow-right2, color(system, 070)) !important;
                    }
                }
            }

            @include web {
                &:hover,
                &:focus-visible {
                    background-color: color(neutral, 070);
                    border-color: color(neutral, 070);
                }
            }
        }

        &.color2 {
            color: color(system, 080);
            background-color: color(system, 070);
            border-color: color(neutral, 030);

            &.disabled {
                color: color(neutral, 040) !important;
                border-color: color(neutral, 020) !important;

                &[class*=-icon] {
                    &[class*=arrow-right2-bg] .btn-text::after {
                        background-color: color(neutral, 040) !important;
                        background-image: icon(arrow-right2, color(system, 070)) !important;
                    }
                }
            }

            @include web {
                &:hover,
                &:focus-visible {
                    color: color(system, 070);
                    background-color: color(semantic, 020);
                    border-color: color(semantic, 020);
                }
            }
        }

        &.color3 {
            color: color(system, 070);
            background-color: transparent;
            border-color: color(system, 070);

            &.disabled {
                color: color(semantic, 010) !important;
                border-color: color(semantic, 010) !important;

                &[class*=-icon] {
                    &[class*=arrow-right2-bg] .btn-text::after {
                        background-color: color(semantic, 010) !important;
                        background-image: icon(arrow-right2, color(neutral, 070)) !important;
                    }
                }
            }

            @include web {

                &:hover,
                &:focus-visible {
                    color: color(system, 080);
                    background-color: color(system, 070);
                    border-color: color(system, 070);
                }
            }
        }

        &.color4 {
            color: color(system, 080);
            background-color: transparent;
            border-color: transparent;

            &.disabled {
                color: color(neutral, 040) !important;

                &[class*=-icon] {
                    &[class*=arrow-left2] .btn-text::before {
                        background-image: icon(arrow-left2, color(neutral, 040)) !important;
                    }

                    &[class*=arrow-right2] .btn-text::after {
                        background-image: icon(arrow-right2, color(neutral, 040)) !important;
                    }
                }
            }

            @include web {
                &:hover,
                &:focus-visible {
                    color: color(primary, 070);

                    &[class*=-icon] {
                        &[class*=arrow-left2] .btn-text::before {
                            background-image: icon(arrow-left2, color(primary, 070));
                        }
                        &[class*=arrow-right2] .btn-text::after {
                            background-image: icon(arrow-right2, color(primary, 070));
                        }
                        &[class*=arrow-down1] .btn-text::after {
                            background-image: icon(arrow-down1, color(primary, 070));
                        }
                        &[class*=close] .btn-text::after {
                            background-image: icon(close, color(primary, 070));
                        }
                    }
                    &close .btn-text::after {
                        width: 2.4rem;
                        height: 2.4rem;
                        margin-left: 0.8rem;
                        background-image: icon(close, color(system, 100));
                        background-size: 1.2rem 1.2rem;
                    }
                }
            }
        }

        &.color5 {
            color: color(system, 080);
            background-color: transparent;
            border-color: transparent;

            &.disabled {
                color: color(neutral, 040) !important;
                &[class*=-icon] {
                    &[class*=download] .btn-text::after {
                        background-image: icon(download, color(neutral, 040)) !important;
                    }
                }
            }

            @include web {
                &:hover,
                &:focus-visible {
                    color: color(primary, 070);

                    &[class*=-icon] {
                        &[class*=download] .btn-text::after {
                            background-image: icon(download, color(primary, 070)) !important;
                        }
                        &[class*=arrow-right-up2-2] .btn-text::after {
                            background-image: icon(arrow-right-up2, color(primary, 070)) !important;
                        }
                        &[class*=printer] .btn-text::before {
                            background-image: icon(printer, color(primary, 070)) !important;
                        }
                        &[class*=share] .btn-text::before {
                            background-image: icon(share, color(primary, 070)) !important;
                        }
                    }
                }
            }
        }

        &.color6 {
            color: color(system, 080);
            background-color: color(system, 070);
            border-color: color(neutral, 030);

            &.disabled {
                color: color(semantic, 005) !important;
                background-color: color(system, 070) !important;
                border-color: color(neutral, 020) !important;
                &[class*=-icon] {
                    &[class*=arrow-right-up2] .btn-text::after {
                        background-image: icon(arrow-right-up2, color(neutral, 040)) !important;
                    }
                }
            }

            @include web {
                &:hover,
                &:focus-visible {
                    color: color(system, 070);
                    background-color: color(primary, 070);
                    &[class*=-icon] {
                        &[class*=arrow-right-up2] .btn-text::after {
                            background-image: icon(arrow-right-up2, color(system, 070));
                        }
                    }
                }
            }
        }

        // 헤더 dark 버전 (hover는 디자인이 다 완성되면 추가)
        &.color7 {
            color: color(system, 100);
            background-color: color(secondary, 070);
            border-color: color(secondary, 070);
        }

        &.color8 {
            color: color(typo, 010);
            background-color: transparent;
            border-color: transparent;
        }
    }

    /* icon only */
    &.icon {
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 100%;
        transition: all 0.3s;

        &.case1 {
            width: 4rem;
            height: 4rem;
        }

        &.case2 {
            width: 3.2rem;
            height: 3.2rem;
        }

        &.case3 {
            width: 2.4rem;
            height: 2.4rem;
        }

        &.arrow-right2-bg {
            background-image: icon(arrow-right2, color(system, 080));
            background-size: 1.6rem 1.4rem;
            background-color: color(neutral, 020);

            &.disabled {
                background-color: color(neutral, 040) !important;
                background-image: icon(arrow-right2, color(semantic, 000)) !important;
            }

            @include web {
                &:hover,
                &:focus-visible {
                    background-color: color(secondary, 080);
                    background-image: icon(arrow-right2, color(semantic, 000));
                }
            }
        }
        &.arrow-left2-bg {
            background-image: icon(arrow-left2, color(system, 080));
            background-size: 1.6rem 1.4rem;
            background-color: color(neutral, 020);

            &.disabled {
                background-color: color(neutral, 040) !important;
                background-image: icon(arrow-left2, color(semantic, 000)) !important;
            }

            @include web {
                &:hover,
                &:focus-visible {
                    background-color: color(secondary, 080);
                    background-image: icon(arrow-left2, color(semantic, 000));
                }
            }
        }
        &.menu-header {
            display: inline-block;
            background-image: icon(menu-header, color(system, 100));
        }
        &.modal-close {
            background-color: color(secondary, 070);
            background-image: icon(close, color(system, 100));
			background-repeat: no-repeat;
        }
    }

    &.disabled {
        pointer-events: none;
        cursor: not-allowed;
    }
}

/* button display */
.btn-display {
    display: flex;
    .btn-area {
        display: flex;
        flex-wrap: wrap;
    }

    &.design1 {
        .btn-area {
            .btn {
                &.flex {
                    width: 100%;
                }
            }
        }
    }

    &.design2 {
        .btn-area {
            flex-direction: column;
        }
    }

    // gap
    &.case1 {
        .btn-area {
            gap: 0.5rem;
        }
    }

    &.case2 {
        .btn-area {
            gap: 1.2rem;
        }
    }
    &.case3 {
        .btn-area {
            gap: 2.4rem;
            @include mobile {
                gap: 1.6rem;
            }
        }

    }
    &.case4 {
        .btn-area {
            gap: 4rem;
            @include mobile {
                gap: 2.4rem;
            }
        }
    }
    &.case5 {
        .btn-area {
            gap: 1.6rem;
            @include mobile {
                gap: 1.2rem;
            }
        }
    }
    &.case6 {
        .btn-area {
            gap: 2.4rem;
            @include mobile {
                gap: 0.4rem;
            }
        }
    }

    // align
    &.align2 {
        .btn-area {
            flex: 1 1 100%;
            justify-content: end;
        }
    }

    &.align3 {
        .btn-area {
            flex: 1 1 100%;
            justify-content: center;
        }
    }

    &.align4 {
        .btn-area {
            flex: 1 1 100%;
            justify-content: space-between;
        }
    }
    &.align5 {
        @include mobile {
            .btn-area {
                flex: 1 1 100%;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}