#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7.2rem;
    z-index: 999;
    transition: top .5s cubic-bezier(.5,0,0,1);

    .header-inner {
        display: flex;
        height: 100%;
        padding: 0 6rem;
        max-height: 7.2rem;
        justify-content: space-between;
        align-items: center;

        .site-logo {
            display: inline-block;
            max-height: 7.2rem;

            .site-name {
                display: inline-block;
                width: 104px;
                height: 36px;
                background-size: 100% 100%;
            }
        }

        .site-navi {
            .depth1-list {
                display: flex;

                .depth1-item {
                    .depth1 {
                        display: inline-block;
                        position: relative;
                        padding: 2.3rem 3rem;
                        transition: color .3s ease;
                        @include font(small-4x, bold);

                        @include webLarge {

                            &::after {
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                width: 0;
                                height: 0.3rem;
                                content: '';
                                background-color: custom-color(primary, 070);
                                transform: translateX(-50%);
                                transition: width .3s ease;
                            }

                            &:hover,
                            &:focus {
                                color: custom-color(primary, 070);

                                &::after {
                                    width: calc(100% - 3.6rem);
                                }
                            }
                        }
                    }

                    .depth2-wrap {
                        .depth2-list {
                            display: flex;
                            justify-content: flex-start;
                            row-gap: 2.4rem;
                            padding-top: 4rem;
                            overflow: hidden;

                            .depth2-item {
                                display: block;
                                min-width: 13.5rem;
                                margin-left: 4.1rem;

                                .depth2 {
                                    display: block;
                                    position: relative;
                                    color: custom-color(typo, 020);
                                    transition: color .3s ease;
                                    @include font(small-3x, bold);

                                    &.spec {
                                        white-space: nowrap;
                                    }

                                    &::before {
                                        display: inline-block;
                                        position: absolute;
                                        top: .5rem;
                                        left: -2.5rem;
                                        width: 0.1rem;
                                        height: 1.9rem;
                                        content: '';
                                        background-color: #E4E4E7;
                                    }

                                    @include webLarge {

                                        &:hover,
                                        &:focus {
                                            color: custom-color(primary, 070);
                                        }
                                    }
                                }

                                .depth3-wrap {
                                    padding-top: 2.4rem;
                                    padding-left: 0.1rem;

                                    .depth3-item {

                                        .depth3 {
                                            display: block;
                                            color: custom-color(typo, 005);
                                            transition: color .3s ease;
                                            @include font(small-4x, medium);

                                            @include webLarge {

                                                &:hover,
                                                &:focus {
                                                    color: custom-color(primary, 070);
                                                }
                                            }
                                        }

                                        @include webLarge {
                                            +.depth3-item {
                                                padding-top: 1.6rem;
                                            }
                                        }
                                    }
                                }
                                @media (min-width: 1200px) {
                                    @at-root .en & {
                                        width: 16rem;
                                    }
                                }
                            }
                            @include webLarge {
                                height: 39.9rem;
                                align-content: flex-start;
                            }
                        }
                    }

                    @include webLarge {
                        .depth2-wrap {
                            position: absolute;
                            left: 50%;
                            width: 100%;
                            transform: translate(-50%, -1rem);
                            opacity: 0;
                            transition: opacity .5s cubic-bezier(.5,0,0,1), transform .5s cubic-bezier(.5,0,0,1);
                            visibility: hidden;
                        }
                        &.active {
                            &:hover,
                            &:focus-within {
                                .depth1 {
                                    color: custom-color(primary, 070);
    
                                    &::after {
                                        width: calc(100% - 3.6rem);
                                    }
                                }
    
                                .depth2-wrap {
                                    display: flex;
                                    justify-content: center;
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translate(-50%, 0);
                                }
                            }
                        }
                    }
                }
            }

            &::after {
                position: absolute;
                top: 7.2rem;
                left: 0;
                width: 100%;
                height: 0;
                content: '';
                z-index: -1;
                transition: height .5s cubic-bezier(.5,0,0,1);
            }

            @include webLarge {
                &:not(.close) {
                    &:hover,
                    &:focus-within {
                        &::after {
                            height: 39.9rem;
                            border-bottom: .1rem solid custom-color(secondary, 070);
                            background-color: custom-color(system, 070);
                        }
                    }
                }
            }
        }

        .site-util {
            display: flex;
            align-items: center;

            .util {
                &.contact-wrap {
                    .btn.contact {
                        @include font(small-5x, bold);
                    }
                }
                
                &.lang {
                    position: relative;

                    .selected {
                        display: inline-block;
                        padding: 1rem 0;
                        cursor: pointer;

                        .select-text {
                            display: inline-block;
                            vertical-align: middle;
                            transition: color .3s ease;
                            @include font(small-4x, bold)
                        }

                        &::after {
                            display: inline-block;
                            width: 1.6rem;
                            height: 1.6rem;
                            content: '';
                            margin-left: 0.8rem;
                            background-image: icon(arrow-fill-down, custom-color(system, 100));
                            background-repeat: no-repeat;
                            background-position: center;
                            vertical-align: middle;
                            transition: background-image .3s ease;
                        }
                    }

                    .option-area {
                        .option-list {
                            padding: 0.7rem;
                            border: .1rem solid custom-color(neutral, 030);
                            border-radius: .2rem;
                            background-color: custom-color(system, 070);

                            .option-item {
                                text-align: center;
                                .option {
                                    display: inline-block;
                                    padding: 0.5rem 1rem;
                                    @include font(small-4x, medium);

                                    @include webLarge {

                                        &:hover,
                                        &:focus {
                                            color: custom-color(primary, 070);
                                            @include font(small-4x, bold);
                                        }
                                    }
                                }
                            }
                        }

                        @include webLarge {
                            position: absolute;
                            top: 100%;
                            transform: translateY(-1rem);
                            opacity: 0;
                            transition: .3s ease;
                            z-index: 10;
                            min-width: 5.9rem;  
                            visibility: hidden;

                            &.active {
                                transform: translateY(0);
                                opacity: 1;
                                visibility: visible;
                            }

                        }
                    }

                    @include webSmall {
                        .selected {
                            display: none;
                        }

                        .option-area {
                            padding: 0 0.8rem;

                            .option-list {
                                display: flex;
                                padding: 0;
                                border: none;

                                .option-item {
                                    .option {
                                        padding: 0;
                                        color: custom-color(typo, 010);
                                        @include font(small-5x, medium);

                                        &.active {
                                            text-decoration: underline;
                                        }
                                    }

                                    +.option-item {
                                        margin-left: 2.4rem;
                                    }
                                }
                            }
                        }
                    }
                }

                ~.util {
                    margin-left: 3.2rem;
                }
            }
        }
        .site-control {
            display: none;
        }
    }
    &:after {
        transition: background-color .3s ease;
    }



    &.dark {
        background-color: rgba(32, 32, 32, 0.12);
        backdrop-filter: blur(40px);
        transition: .3s ease;
        .header-inner {
            .site-logo {
                .site-name {
                    background-image: url('../images/logo/logo-w-e.svg');
                }
            }
            .site-navi {
                &::after {
                    background-color: rgba(32, 32, 32, 0.12);
                    backdrop-filter: blur(40px);
                    transition: .3s ease;
                }
                @include webLarge {

                    &:hover,
                    &:focus-within {
                        &::after {
                            background-color: custom-color(system, 070);
                        }
                    }
                }
            }
        }
        .depth1 {
            color: custom-color(system, 070);
        }

        .selected {
            .select-text {
                color: custom-color(system, 070);
            }

            &::after {
                background-image: icon(arrow-fill-down, custom-color(system, 070));
            }
        }

        &::after {
            background-color: rgba(238, 238, 238, 0.20);
        }
        @include webLarge {
            &.hover {
                &:hover,
                &:focus-within {
                    background-color: custom-color(system, 070);
                    .site-logo {
                        .site-name {
                            background-image: url('../images/logo/logo-c2-e.svg');
                        }
                    }
                    .site-navi {
                        .depth1-list {
                            .depth1-item {
                                .depth1 {
                                    color: custom-color(system, 100);
                                    &:hover {
                                        color: custom-color(primary, 070);
                                    }
                                }
                            }
                        }
                    }
                    .site-util {
                        .contact-wrap {
                            .contact {
                                color: custom-color(system, 070);
                                background-color: custom-color(semantic, 020);
                                border-color: custom-color(semantic, 020);
                                &:hover,
                                &:focus {
                                    background-color: custom-color(neutral, 070);
                                    border-color: custom-color(neutral, 070);
                                }
                            }
                        }
                        .lang {
                            .selected {
                                .cur-lang {
                                    color: custom-color(system, 100);
                                }
                                &::after {
                                    background-image: icon(arrow-fill-down, custom-color(system, 100));
                                }
                            }
                        }
                    }
                    &::after {
                        background-color: #eeeeee;
                    }
                }
            }
        }
        @include webSmall {
            .site-control {
                .menu-header {
                    background-image: icon(menu-header, custom-color(system, 070));
                }
            }
            &.open {
                background-color: custom-color(system, 070);
                .site-logo {
                    .site-name {
                        background-image: url('../images/logo/logo-c2-e.svg');
                    }
                }
                .site-navi {
                    .depth1-list {
                        .depth1-item {
                            .depth1 {
                                color: custom-color(typo, 020);
                            }
                        }
                    }
                }
            }
        }
    }

    &.transparent {
        background-color: transparent;
        backdrop-filter: blur(4rem);
        .header-inner {
            .site-navi {
                &::after {
                    background-color: transparent;
                    backdrop-filter: none;
                }
            }
            .site-util {
                .util {
                    .btn {
                        color: custom-color(system, 100);
                        background-color: custom-color(system, 070);
                        border-color: custom-color(neutral, 030);
                    }
                    &.lang {
                        .selected {
                            &::after {
                                background-image: icon(arrow-fill-down, custom-color(system, 070));
                            }
                        }
                    }
                }
            }
        }
        &::after {
            background-color: rgba(238, 238, 238, 0.20);
        }
        &.hover {
            .header-inner {
                .site-util {
                    .util {
                        &.lang {
                            .selected {
                                &::after {
                                    background-image: icon(arrow-fill-down, custom-color(system, 100));
                                }
                            }
                        }
                    }
                }
            }
        }
        @extend .dark;
    }

    &.light,
    &.up-color {
        background-color: custom-color(system, 070);
        .header-inner {
            .site-logo {
                .site-name {
                    background-image: url('../images/logo/logo-c2-e.svg');
                }
            }
            .site-navi {
                .depth1 {
                    color: custom-color(system, 100);
                }
                &::after {
                    background-color: custom-color(system, 070);
                }
            }
            .site-util {
                .util {
                    &.lang {
                        .selected {
                            .select-text {
                                color: custom-color(system, 100);
                            }
                            &::after {
                                background-image: icon(arrow-fill-down, custom-color(system, 100));
                            }
                        }
                    }
                    .btn {
                        color: custom-color(system, 070);
                        background-color: custom-color(secondary, 080);
                        border-color: custom-color(secondary, 080);
                    }
                }
            }
            @include webSmall {
                .site-control {
                    .menu-header {
                        background-image: icon(menu-header, custom-color(system, 100));
                    }
                }
            }
        }
        &::after {
            background-color: #eeeeee;
        }
    }

    @include webLarge {
        &.regular {
            top: -7.2rem;
        }
    
        &.regular-focus {
            top: -47.2rem;
        }
        &::after {
            position: absolute;
            top: 7.1rem;
            left: 0;
            width: 100%;
            height: 0.1rem;
            content: '';
            pointer-events: none;
        }
    }

    @include webSmall {
        height: 5.8rem;
        overflow: hidden;
        transition: top .3s ease;
        &.regular,
        &.regular-focus:not(.open) {
            top: -5.8rem;
        }

        .header-inner {
            padding: 0;
            flex-direction: column-reverse;
            justify-content: flex-end;
            padding-top: 5.8rem;
            max-height: unset;

            .site-logo {
                position: absolute;
                top: 0;
                width: 100%;
                padding: 1.4rem 1.8rem;

                .site-name {
                    width: 9rem;
                    height: 3rem;

                    >img {
                        vertical-align: top;
                    }
                }
            }

            .site-navi {
                display: none;
                width: 100%;
                height: 100%;
                padding: 3.2rem 0 4rem;
                opacity: 0;
                transition: opacity .3s ease;
                overflow-y: auto;

                .depth1-list {
                    flex-direction: column;

                    .depth1-item {
                        overflow: hidden;
                        .depth1 {
                            display: flex;
                            width: 100%;
                            padding: 0 1.8rem;
                            align-items: center;
                            justify-content: space-between;
                            @include font(medium, bold);

                            &::after {
                                display: block;
                                width: 1.7rem;
                                height: 1.7rem;
                                padding: 0.5rem;
                                content: '';
                                margin-right: 0.5rem;
                                background-image: icon(plus, custom-color(system, 100));
                                background-position: center;
                                background-repeat: no-repeat;
                                transition: background-image .1s;
                            }
                            &.active {
                                color: custom-color(primary, 070);
                                ~.depth2-wrap {
                                    height: 100%;
                                }
                                &::after {
                                    background-image: icon(minus, custom-color(system, 100));
                                }
                            }
                        }

                        .depth2-wrap {
                            display: none;
                            // transition: height .3s ease;
                            .depth2-list {
                                flex-direction: column;
                                gap: 0;
                                padding-top: 2rem;

                                .depth2-item {
                                    padding-left: 3.4rem;
                                    margin-left: 0;
                                    background-color: custom-color(secondary, 070);

                                    .depth2 {
                                        padding: 2.7rem 0 2rem;

                                        &::before {
                                            display: none;
                                        }
                                    }

                                    .depth3-wrap {
                                        padding-top: 0;
                                        padding-left: 0.8rem;
                                        padding-bottom: 1.5rem;

                                        .depth3-item {
                                            .depth3 {
                                                display: block;
                                                padding: 0.4rem 0;
                                            }
                                        }
                                    }

                                    +.depth2-item {
                                        border-top: .1rem solid custom-color(neutral, 030);
                                    }

                                }
                            }
                        }

                        +.depth1-item {
                            margin-top: 1.6rem;
                        }
                    }
                }
            }

            .site-util {
                display: none;
                width: 100%;
                padding: 1.3rem 1.8rem 1.6rem;
                justify-content: space-between;
                border-bottom: .1rem solid custom-color(neutral, 030);
                opacity: 0;
                transition: opacity .3s ease;

                .util {
                    &.contact-wrap {
                        .btn.contact {
                            padding: 0;
                            border: none;
                            color: custom-color(typo, 010);
                            background-color: transparent;
                            @include font(small-4x, medium);
                        }
                    }
                }
            }
            .site-control {
                display: inline-block;
                position: absolute;
                top: 1.4rem;
                right: 1.8rem;
                .menu-header {
                    transition: .1s ease;
                }
            }
        }
        &.open {
            position: fixed;
            .header-inner {
                background-color: custom-color(system, 070);
            }
        }
    }
    &.open {
        max-height: 100vh;
        .header-inner {
            transition: background-color .3s ease;
            .site-navi,
            .site-util {
                opacity: 1;
            }
            .site-navi {
                .depth1-item {
                    animation: depth1Fade .3s forwards;
                    transform: translateY(2rem);
                    opacity: 0;
                }
            }
            @keyframes depth1Fade {
                to {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
            .site-control {
                .menu-header {
                    background-image: icon(close, custom-color(system, 100));
                    background-size: 1.8rem;
                }
            }
        }
    }
}
.header-dark {
    background-color: #050505;
}