@use '../components/mixin' as *;
@use '../components/variables' as *;
@use '../components/icons' as *;

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.4rem;
    transition: all 0.3s ease-out;
    z-index: 999;

    .header-inner {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        max-height: 6.4rem;
        padding: 0 6rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0rem;
            transition: all 0.3s ease-out;
            opacity: 0;
            z-index: -1;
        }

        .site-logo {
            display: inline-block;
            max-height: 6.4rem;

            .site-name {
                display: inline-block;
                width: 10.2rem;
                height: 3.8rem;
            }
        }

        .site-navi {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -10.2rem;

            .depth1-list {
                position: relative;
                width: 72rem;
                display: flex;
                justify-content: space-between;
                transition: all 0.3s ease-out;

                @include mobile {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: auto;
                    width: 100% !important;
                    flex-direction: column;
                    transition: height 0.3s ease-out;
                    padding: 2rem 0 0;
                }
                
                .depth1-item {
                    width: 18rem;

                    @include mobile {
                        width: 100%;
                        &.open {
                            display: block;
                            
                            .depth1 {
                                color: custom-color(primary, 090) !important;

                                .open-close {
                                    &::after {
                                        background: icon('mines', custom-color(neutral, 090)) no-repeat center;
                                    }
                                }
                                &::after {
                                    display: none;
                                }
                            }

                            .depth2-wrap {
                                display: block;
                            }
                        }
                    }

                    .depth1 {
                        display: inline-block;
                        position: relative;
                        font-size: 1.7rem;
                        font-weight: 700;
                        padding: 2rem 0;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0.1rem;
                            left: 0;
                            width: 0;
                            height: 0.2rem;
                            background-color: custom-color(primary, 100);
                            transition: all 0.3s ease-out;
                        }

                        &.link {
                            position: relative;

                            &::before {
                                content: "";
                                display: inline-block;
                                position: absolute;
                                top: 50%;
                                right: -3.5rem;
                                width: 3.6rem;
                                height: 3.6rem;
                                background-size: 2rem;
                                transform: translateY(-50%);
                                opacity: 0.5;
                            }
                        }

                        @include mobile {


                            .open-close {
                                position: relative;

                                &::after {
                                    content: "";
                                    display: inline-block;
                                    position: absolute;
                                    top: 50%;
                                    right: 0;
                                    width: 1.5rem;
                                    height: 1.65rem;
                                    background: icon('plus', custom-color(neutral, 090)) no-repeat center;
                                    background-size: 2rem;
                                    transform: translateY(-50%);
                                }
                            }
                            &::after {
                                display: none;
                            }
                        }
                    }


                    .depth2-wrap {
                        display: none;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        visibility: visible;
                        transform: translateY(-10px);
                        transition: all 0.3s ease-out;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 2;

                        .depth2-list {
                            display: flex;
                            flex-direction: column;
                            gap: 2.2rem;
                            padding: 2.8rem 0;

                            @include mobile {
                                padding: 0;
                            }

                            .depth2-item {
                                .depth2 {
                                    font-size: 1.6rem;
                                    line-height: 1.9rem;
                                }
                            }

                        }
                        @include mobile {
                            position: relative;
                            width: 100%;
                            padding: 3rem 2.2rem;
                            background: #f9f8f9;
                            display: none;
                        }
                    }

                    &:hover .depth1::after {
                        width: 18rem;
                    }
                }
            }

            @include mobile {
                position: absolute;
                top: 6.4rem;
                left: 0;
                height: 100%;
                margin-left: 0;
                opacity: 0;
            }

        }

        @include mobile {
            padding: 0 1.8rem;

            .site-control {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);

                .menu {
                    position: relative;
                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        right: 1.8rem;
                        width: 2rem;
                        height: 1.6rem;
                        background: icon('menu', custom-color(neutral, 090)) no-repeat center;
                        background-size: 2rem;
                        transform: translateY(-50%);
                    }
                }
            }

            &::after {
                display: none;
            }
        }
    }

    // 해더 type1
    &.transparent {
        .header-inner {
            &::after {
                background-color: custom-color(secondary, 060);
            }

            .site-logo {
                .site-name {
                    background: url(../images/logo/logo-white.svg);
                }
            }

            .site-navi {
                .depth1-list {
                   .depth1-item {
                        .depth1 {
                            color: custom-color(secondary, 060);

                            &.link {
                                &::before {
                                    background: icon('link', custom-color(secondary, 060)) no-repeat center;
                                }
                            }
                        }
                    }
                }
            }
        }
        &:hover {
            background-color: custom-color(secondary, 060);

            .header-inner {
                border-bottom: 1px solid #d9d9d9;

                &::after {
                    background-color: custom-color(secondary, 060);
                }

                .site-logo {
                    .site-name {
                        background: url(../images/logo/logo-colored.svg);
                    }
                }

                .site-navi {
                    .depth1-list {
                        .depth1-item {
                            .depth1 {
                                color: custom-color(neutral, 090);

                                &.link {
                                    &::before {
                                        background: icon('link', custom-color(neutral, 090)) no-repeat center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // 해더 type2
    &.white,
    &.scroll {
        background-color: custom-color(secondary, 060);

        .header-inner {
            border-bottom: 1px solid #d9d9d9;

            &::after {
                background-color: custom-color(secondary, 060);
            }

            .site-logo {
                .site-name {
                    background: url(../images/logo/logo-colored.svg);
                }
            }

            .site-navi {
                .depth1-list {
                    .depth1-item {
                        .depth1 {
                            color: custom-color(neutral, 090);

                            &.link {
                                &::before {
                                    background: icon('link', custom-color(neutral, 090)) no-repeat center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // for dropdown menu
    &.active {
        .header-inner{
            border-bottom: 1px solid #d9d9d9;

            .site-logo {
                .site-name {
                    background: url(../images/logo/logo-colored.svg);
                }
            }

            .site-navi {
                .depth1-list {
                    width: 102rem;
                    .depth1-item {
                        .depth1 {
                            color: custom-color(neutral, 090);
                        }

                        .depth2-wrap {
                            visibility: visible;
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }

            &::after {
                height: 36.4rem;
                opacity: 1;
            }
        }
    }

    @include mobile {
        &.mobile {
            height: 100%;
            .header-inner {
                .site-navi {
                    height: 100%;
                    opacity: 1;
                    .depth1-list {
                        .depth1-item {
                            .depth1 {
                                padding: 2.2rem;
                                opacity: 1;
                                visibility: visible;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }
                        }
                    }
                }
                
                .site-control {
                    .menu {
                        &::after {
                            background: icon('close', custom-color(neutral, 090)) no-repeat center;
                        }
                    }
                }
            }
        }
    }
}

