@use "sass:color";
@use "sass:map";
$icon: (
    arrow-right: (
        size-w: 7,
        size-h: 11,
        paths:
        'M4.43842 5.49908L0.96875 2.02941L2.02941 0.96875L6.55974 5.49908L2.02941 10.0294L0.96875 8.96875L4.43842 5.49908Z'
        ,
    ),
    go-view: (
        size-w: 78,
        size-h: 74,
        paths:(
            'M0 39L75 39V35L0 35V39Z',
            'M39.1716 3.0003L73.1716 37.0003L39.1716 71.0003L42 73.8287L77.4142 38.4145C78.1953 37.6335 78.1953 36.3671 77.4142 35.5861L42 0.171875L39.1716 3.0003Z'
        )
        ,
    ),
    line: (
        size-w: 14,
        size-h: 2,
        paths:
        'M14 1.75H0V0.25H14V1.75Z'
        ,
    ),
);

@function icon($name, $color) {
    $size-w: map.get($icon, $name, 'size-w');
    $size-h: map.get($icon, $name, 'size-h');
    $paths: map.get($icon, $name, 'paths');

    $svg-paths: '';

    @each $path in $paths {
        $rgb-color: color.channel($color, "red") + ',' + color.channel($color, "green") + ',' + color.channel($color, "blue");
        $svg-paths: "#{$svg-paths}%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='#{$path}' fill='rgb(#{$rgb-color})'/%3E";
    }

    $data: "data:image/svg+xml,%0A%3Csvg width='#{$size-w}' height='#{$size-h}' viewBox='0 0 #{$size-w} #{$size-h}' fill='none' xmlns='http://www.w3.org/2000/svg'%3E#{$svg-paths}%3C/svg%3E%0A";

    @return url($data);
}