#lnb {
    position: sticky;
    top: 0;
    height: 100vh;
    min-width: 30rem;
    align-self: flex-start;
    overflow-y: auto;
    z-index: 998;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .lnb-inner {
        position: relative;
        padding-bottom: 12rem;
        &::after {
            position: absolute;
            top: 0;
            right: 0px;
            height: calc(100% + 12rem);
            content: "";
            border-right: 1px solid rgb(233, 233, 233);
            min-height: 100vh;
        }
    }
    .depth2-wrap {
        margin-top: 4rem;
        
        .depth2-head {
            .depth2-subject {
                display: block;
                padding: 0.8rem 3rem;
                color: color(gray,900);
                @include font(small-2x,bold);
            }
        }

        .depth2-body {
            margin: 0 1.5rem;
            .depth2-list {
                .depth2-item {
                    .depth2 {
                        display: block;
                        position: relative;
                        padding: 1rem 1.5rem;
                        color: color(gray,400);
                        border-radius: 0.2rem;
                        @include font(small-3x,regular);
                        &.dropdown {
                            &::before {
                                display: inline-block;
                                position: absolute;
                                right: 2rem;
                                width: 2.4rem;
                                height: 2.4rem;
                                background: icon(line, color(gray,400)) no-repeat center center;
                                content: '';
                                flex-shrink: 0;
                                transform: rotate(90deg);
                                transition: .3s cubic-bezier(0.65, 0, 0.35, 1);
                            }
                            &::after {
                                display: inline-block;
                                position: absolute;
                                right: 2rem;
                                width: 2.4rem;
                                height: 2.4rem;
                                background: icon(line, color(gray,400)) no-repeat center center;
                                content: '';
                                flex-shrink: 0;
                                transition: .3s cubic-bezier(0.65, 0, 0.35, 1);
                            }
                        }
                    }
                    &.active {
                        .depth2:not(.dropdown) {
                            background: color(bg,blue);
                            color: color(primary,100);
                            @include font(small-3x,medium);
                        }
                        .depth2.dropdown {
                            color: color(gray,900);
                            @include font(small-3x,medium);
                        }
                        .depth3-wrap {
                            display: block;
                        }
                    }
                    &.open {
                        .depth2 {
                            &.dropdown {
                                &::before {
                                    background: icon(line, color(gray,900)) no-repeat center center;
                                    transform: translateY(-1rem) rotateY(0deg);
                                    opacity: 0;
                                }
                                &::after {
                                    background: icon(line, color(gray,900)) no-repeat center center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .depth3-wrap {
        display: none;
        position: relative;
        margin-left: 2.8rem;
        &::before {
            position: absolute;
            top: 50%;
            left: -0.6rem;
            height: calc(100% - 3.6rem);
            content: '';
            border-left: 1px solid color(gray,200);
            transform: translateY(-50%);
        }
        .depth3-item {
            .depth3 {
                display: block;
                position: relative;
                padding: 0.6rem 1rem;
                color: color(gray,400);
                border-radius: 0.2rem;
                @include font(small-4x,regular);
            }
            &.active {
                .depth3 {
                    display: flex;
                    color: color(primary,100);
                    align-items: center;
                    background-color: color(bg,blue);
                    @include font(small-4x,medium);
                    &:after {
                        display: inline-block;
                        width: 1.6rem;
                        height: 1.6rem;
                        content:'';
                        background-image: icon(arrow-right, color(primary,100));
                        background-repeat: no-repeat;
                        background-size: 0.7rem 1.1rem;
                        background-position: center;
                    }
                    &:before {
                        position: absolute;
                        left: -0.75rem;
                        width: 0.4rem;
                        height: 0.4rem;
                        content:'';
                        border-radius: 100%;
                        background-color: color(primary,100);
                    }
                }
            }
        }
    }
    .site-logo {
        display: flex;
        width: 100%;
        height: 8rem;
        padding: 2.5rem 3rem;
        align-items: center;

        .site-name {
            display: block;
            width: 10.9rem;
            height: 3rem;
            background-image: url(../../assets/images/logo/logo-yna-b.svg);
        }
    }
}