// IR
@mixin blind {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    visibility: hidden;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

// ellipsis
@mixin ellipsis($line: 1) {
    @if $line ==1 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    @else {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}

// scroll
@mixin scroll-x {
    width: calc(100% + 3.6rem);
    max-width: unset;
    overflow: auto;
    padding-bottom: 1.6rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    margin-left: -1.8rem;
    &::-webkit-scrollbar {
        height: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #D5D4D9;
        border-radius: 5rem;
    }
    &::-webkit-scrollbar-track {
        margin-left: 1.8rem;
        margin-right: 1.8rem;
        border-radius: 5rem;
    }
}
@mixin scroll-y {
    // width: calc(100% - 1.8rem);
    // padding-right: 1.8rem;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
        // height: calc(100% - 20px);
        background-color: #D5D4D9;
        border-radius: 5rem;
    }
}

@mixin font($size, $weight: regular) {
    font-weight: map-get($font-weight, $weight);
    font-size: map-get($font-size, $size);
}