// breakpoints
$mobile : 320px;
$mobile-large : 768px;
$tablet : 1024px;
$web-small : 1200px;
$web : 1920px;
$iframe: 1040px;

// IR
@mixin blind {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    visibility: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

// ellipsis
@mixin ellipsis($line: 1) {
    @if $line ==1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}

// 반응형
@mixin mobile2 {
    @media (max-width:#{$mobile-large - 1}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width:#{$tablet - 1}) {
        @content;
    }
}

@mixin web2 {
    @media (max-width:#{$web-small - 1}) {
        @content;
    }
}

@mixin web {
    @media (min-width:#{$tablet}) {
        @content;
    }
}

@mixin webSmall {
    @media (max-width:#{$web-small - 1}) {
        @content;
    }
}
@mixin webLarge {
    @media (min-width:#{$web-small}) {
        @content;
    }
}

@mixin iframe {
    @media (min-width:#{$tablet}) {
        @content;
        width: calc(100% + 1.7rem);
        margin-left: -0.85rem;
    }
    @media (max-width:#{$tablet - 1}) {
        @content;
        width: 100%;
    }
}
// scroll
@mixin scroll-x {
    width: calc(100% + 3.6rem);
    max-width: unset;
    overflow: auto;
    padding-bottom: 1.6rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    margin-left: -1.8rem;
    &::-webkit-scrollbar {
        height: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #D5D4D9;
        border-radius: 5rem;
    }
    &::-webkit-scrollbar-track {
        margin-left: 1.8rem;
        margin-right: 1.8rem;
        border-radius: 5rem;
    }
}
@mixin scroll-y {
    // width: calc(100% - 1.8rem);
    // padding-right: 1.8rem;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
        // height: calc(100% - 20px);
        background-color: #D5D4D9;
        border-radius: 5rem;
    }
}