.swiper-display {
    // pr : 영상 라이브러리
    &.pr-swiper1 {
        width: 88%;
        max-width: 105.6rem;
        .swiper-wrapper {
            .swiper-slide {
                .img {
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 56%;
                    border-radius: 1.6rem;
                    overflow: hidden;
                    aspect-ratio: 336 / 189;
                    iframe, 
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &::after {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        height: 100%;
                        content: '';
                        background-image: icon(play, color(system,070));
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-color: rgba(0, 0, 0, 0.60);
                        background-size: 1.6rem 1.8rem;
                        transform: translate(-50%,-50%)
                    }
                }
                .para {
                    position: absolute;
                    bottom: 1.6rem;
                    left: 50%;
                    width: calc(100% - 3.2rem);
                    color: color(system,070);
                    transform: translateX(-50%);
                    z-index: 1;
                    @include font(small-5x,bold);
                    @include ellipsis;
                }

                &.swiper-slide-active {
                    .img {
                        &::after {
                            display: none;
                        }
                    }
                    .para {
                        color: transparent;
                    }
                    &::after {
                        position: absolute;
                        right: 0.8rem;
                        bottom: 0.8rem;
                        width: 4.8rem;
                        height: 4.8rem;
                        content: '';
                        background-image: icon(volume, color(system,070));
                        background-repeat: no-repeat;
                        background-size: 2.4rem 2.7rem;
                        background-position: center center;
                    }
                }
            }
        }
        + .swiper-control {
            .swiper-button-prev {
                left: 0;
            }
            .swiper-button-next {
                right: 0;
            }
            @include mobile {
                display: flex;
                position: relative;
                margin-top: 2.4rem;
                align-items: center;
                .swiper-button-next {
                    left: 1.2rem;
                }
                [class*=swiper-button] {
                    position: relative;
                    margin: unset;
                    transform: unset;
                }
            }
        }
        @include mobile {
            width: 100%;
            .swiper-wrapper {
                .swiper-slide {
                    .img {
                        + .para {
                            margin-top: 1.2rem;
                        }
                        &::after {
                            display: none;
                        }
                    }
                    .para {
                        position: relative;
                        bottom: unset;
                        left: unset;
                        width: 100%;
                        padding: 0 0.8rem;
                        color: color(typo,020);
                        white-space: wrap;
                        transform: unset;
                        z-index: 1;
                        @include font(small-6x,bold);
                        @include ellipsis(2);
                    }
                    &.swiper-slide-active {
                        .img {
                            &::after {
                                display: none;
                            }
                        }
                        .para {
                            color: color(typo,020);
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &.pr-swiper2 {
        position: relative;
        .swiper-wrapper {
            .swiper-slide {
                &:has(a:focus-visible) {
                    outline: auto;
                }
                >a {
                    display: flex;
                    position: relative;
                    pointer-events: none;
                    img,
                    .tit,
                    .des {
                        pointer-events: auto;
                    }
                    .figure-wrap {
                        position: relative;
                        border-radius: 1.6rem;
                        overflow: hidden;

                        width: 49.17%;
                        max-width: 59rem;
                        height: 0;
                        padding-bottom: 45.3rem;
                        >img {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            object-fit: cover;
                            transition: transform .3s ease-out;
                        }
                        @include mobile {
                            width: 100%;
                            max-width: unset;
                            height: 0;
                            padding-bottom: 76.7%;
                        }
                    }
                    .text-wrap {
                        width: 100%;
                        width: 53rem;
                        flex-shrink: 0;
                        .slide-head {
                            .cate {
                                display: block;
                                color: color(primary, 070);
                                +.tit {
                                    color: color(typo, 020);
                                    @include web {
                                        margin-top: 2.4rem;
                                        @include font(medium, bold);
                                        @include ellipsis(2);
                                    }
                                    @include mobile {
                                        margin-top: 1.6rem;
                                        @include font(small-1x, bold);
                                    }
                                }
                                @include web {
                                    @include font(small-4x, bold);
                                }
                                @include mobile {
                                    @include font(small-5x, bold);
                                }
                            }
                            +.slide-body {
                                .des {
                                    color: color(typo, 010);
                                    margin-top: 1.2rem;
                                    @include web {
                                        @include font(small-3x, medium);
                                        @include ellipsis(3);
                                        +.date {
                                            padding-top: 2.4rem;
                                        }
                                    }
                                    @include mobile {
                                        @include font(small-4x, medium);
                                        @include ellipsis(3);
                                        +.date {
                                            padding-top: 1.6rem;
                                        }
                                    }
                                }
                                .date {
                                    display: inline-block;
                                    color: color(typo, 005);
                                    @include web {
                                        @include font(small-5x, medium);
                                    }
                                    @include mobile {
                                        @include font(small-6x, medium);
                                    }
                                }
                            }
                            @include web {
                                padding-top: 4rem;
                            }
                        }
                    }
                    @include web {
                        gap: 3rem;
                        justify-content: space-between;
                        &:hover {
                            .figure-wrap img {
                                transform: translate(-50%, -50%) scale(1.1);
                            }
                        }
                    }
                    @include mobile {
                        flex-direction: column;
                        gap: 4.8rem;
                    }
                }
                @include web {
                    &.swiper-slide-active {
                        z-index: 10;
                    }
                }
            }
        }
        .swiper-control {
            .btn {
                display: inline-block;
                position: unset;
                margin-top: 0;
                +.btn {
                    margin-left: 1.2rem;
                }
                &::after {
                    display: none;
                }
            }
            @include web {
                position: absolute;
                right: 43.8rem;
                bottom: 4rem;
                z-index: 10;
            }
            @include mobile {
                margin-top: 2.4rem;
            }
        }
    }
    // 버튼 공통
    + .swiper-control {
        .btn {
            &::after {
                display: none;
            }
        }
    }
}

