.table-display {
    &.design-01 {
        table {
            width: 100%;
            border-top: .1rem solid color(gray, 400);
            thead {
                background-color: color(gray, 050);
                border-bottom: .1rem solid color(gray, 200);
                tr {
                    th {
                        padding: 1.7rem 2rem;
                        color: color(gray, 500);
                        @include font(small-4x, regular);
                    }
                }
            }
            tbody {
                tr {
                    th {
                        color: color(gray, 900);
                        min-height: 5.2rem;
                        padding-top: 1.3rem;
                        padding-left: 2rem;
                        vertical-align: top;
                        border-bottom: .1rem solid color(gray, 100);
                        @include font(small-3x, medium);
                    }
                    td {
                        padding: 1.3rem 0;
                        color: color(gray, 600);
                        border-bottom: .1rem solid color(gray, 100);
                        @include font(small-4x, regular);
                    }
                }
            }
        }
    }
    &.design-02 {
        table {
            width: 100%;
            border-top: .1rem solid color(gray, 500);
            thead {
                background-color: color(gray, 050);
                border-bottom: .1rem solid color(gray, 200);
                tr {
                    th {
                        padding: 1.7rem 2rem;
                        color: color(gray, 500);
                        @include font(small-4x, regular);
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 1.3rem 2rem;
                        color: color(gray, 600);
                        border-bottom: .1rem solid color(gray, 200);
                        @include font(small-4x, regular);
                    }
                }
            }
        }
    }
    .align-01 {
        text-align: left;
    }
    .align-02 {
        text-align: right;
    }
    .align-03 {
        text-align: center;
    }
}