.tab-display {
    &.design1 {
        .tab-wrap {
            .tab-list {
                align-items: flex-end;
            }
            .tab-item {
                max-width: 60rem;
                flex-shrink: 1;
                .tab-text {
                    display: inline-block;
                    position: relative;
                    width: 100%;
                    transition: color .3s ease;
                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0.1rem;
                        content: '';
                        background-color: custom-color(neutral, 030);
                        transition: .3s ease;
                    }
                }
                &.active {
                    .tab-text {
                        &::after {
                            height: 0.3rem;
                            background-color: custom-color(system, 100);
                        }
                    }
                }
            }
            &.full {
                .tab-item {
                    width: 100%;
                    flex-shrink: 1;
                }
            }
        }
        @include mobile {
            position: relative;
            .tab-list {
                .tab-item {
                    width: auto;
                    max-width: unset;
                    flex-shrink: 0;
                }
            }
            &::after {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 0.1rem;
                content: '';
                background-color: custom-color(neutral, 030);
            }
        }
    }

    &.case1 {
        .tab-wrap {
            .tab-item {
                .tab-text {
                    padding: 2rem 1rem;
                }
            }
        }
        @include mobile {
            .tab-wrap {
                .tab-item {
                    .tab-text {
                        padding: 2rem;
                    }
                }
            }
        }
    }
    &.case2 {
        .tab-wrap {
            .tab-item {
                .tab-text {
                    padding: 2rem 1rem;
                }
            }
        }
    }

    &.type1 {
        .tab-wrap {
            .tab-item {
                .tab-text {
                    color: custom-color(typo, 005);
                    @include font(small-3x, bold);
                }
                &.active {
                    .tab-text {
                        color: custom-color(system, 100);
                    }
                }
            }
        }
    }
    &.type2 {
        .tab-wrap {
            .tab-item {
                .tab-text {
                    color: custom-color(typo, 005);
                    @include font(small-3x, bold);
                    @include mobile {
                        @include font(small-4x, bold);
                    }
                }
                &.active {
                    .tab-text {
                        color: custom-color(system, 100);
                    }
                }
            }
        }
    }
}


.panel-display {
    &.design1 {
        .panel-list {
            .panel-item {
                &.hidden {
                    display: none;
                }
            }
        }
    }
    &.case1 {
        padding-top: 6.4rem;
        @include mobile {
            padding-top: 3.2rem;
        }
    }
}

