.t-display {
	width: 100%;
	margin: 0 auto;
	max-width: 120rem;
	table {
		width: 100%;
		table-layout: fixed;
		// table-layout: auto;
		border-spacing: 0;
		border-collapse: collapse;
		border-right: hidden;
		border-left: hidden;
		border-top: hidden;
	}
	&.scroll {
		@include mobile {
			width: calc(100% + 3.6rem);
			max-width: unset;
			overflow: auto;
			padding-bottom: 1.6rem;
			padding-right: 1.8rem;
			padding-left: 1.8rem;
			margin-left: -1.8rem;
			&::-webkit-scrollbar {
				height: 0.5rem;
			}
			&::-webkit-scrollbar-thumb {
				background-color: #D5D4D9;
				border-radius: 5rem;
			}
			&::-webkit-scrollbar-track {
				margin-left: 1.8rem;
				margin-right: 1.8rem;
				border-radius: 5rem;
			}
			table {
				padding-right: 1.8rem;
			}
		}
	}
    &.design1 {
		&.case1 {
			table {
				>thead {
					>tr {
						>th {
							padding: 1.8rem;
							background-color: custom-color(secondary, 080);
							border-right: 1px solid custom-color(neutral, 060);
							border-left: 1px solid custom-color(neutral, 060);
							border-top: 1px solid custom-color(neutral, 060);
							@include mobile {
								padding: 1.5rem 1rem;
							}
						}
						&:first-child {
							>th {
								&:first-child {
									border-radius: 0.8rem 0 0 0.8rem;
								}
								&:last-child {
									border-radius: 0 0.8rem 0.8rem 0;
								}
							}
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							padding: 1.8rem 2rem;
							vertical-align: middle;
							border-right: 1px solid custom-color(neutral, 030);
							border-bottom: 1px solid custom-color(neutral, 030);
							&.t-bg {
								background: custom-color(secondary, 070);
							}
							@include mobile {
								padding: 1.5rem 2.4rem;
							}
						}
					}
				}
			}
		}
        &.case2 {
			table {
				>thead {
					>tr {
						>th {
							padding: 1.8rem;
							background-color: custom-color(secondary, 080);
							border-right: 1px solid custom-color(neutral, 060);
							@include mobile {
								padding: 1.5rem 1rem;
							}
						}
						&:first-child {
							>th {
								&:first-child {
									border-radius: 0.8rem 0 0 0.8rem;
								}
								&:last-child {
									border-radius: 0 0.8rem 0.8rem 0;
								}
							}
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							padding: 1.8rem 2rem;
							vertical-align: middle;
							border-right: 1px solid custom-color(neutral, 030);
							@include mobile {
								padding: 1.5rem 2.4rem;
							}
						}
					}
				}
			}
        }

		&.type1 {
			table {
				>thead {
					>tr {
						>th {
							color: custom-color(typo, 000);
							text-align: center;
							@include font(small-3x, bold);
							@include mobile {
								@include font(small-4x, bold);
							}
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							color: custom-color(typo, 010);
							@include font(small-3x, bold);
							@include mobile {
								@include font(small-4x, bold);
							}
						}
					}
				}
			}
		}

		// 모바일에서 첫번째 th, td 요소 숨김
		&.mo-layout1 {
			@include mobile {
				table {
					>colgroup {
						col:first-child {
							display: none;
						}
					}
					>thead {
						>tr {
							>th {
								&:first-child {
									display: none;
								}
								&:nth-child(2) {
									border-radius: 0.8rem 0 0 0.8rem;
								}
							}
						}
					}
					>tbody {
						>tr {
							>td {
								&:first-child {
									display: none;
								}
								&.fs-0 {
									.btn .btn-text {
										font-size: 0;
										&::after {
											margin-left: 0;
										}
									}
								}
							}
						}
					}
				}
			}
		}
    }

	//esg 환경경영 popup table 1
    &.design2 {
		&.case1 {
			table {
				>thead {
					>tr {
						>th {
							padding: 1.8rem;
							background-color: custom-color(secondary, 080);
							border-right: 1px solid custom-color(neutral, 060);
							border-left: 1px solid custom-color(neutral, 060);
							@include mobile {
								padding: 1.5rem 1rem;
							}
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							padding: 2rem;
							vertical-align: middle;
							border-right: 1px solid custom-color(neutral, 030);
							border-bottom: 1px solid custom-color(neutral, 030);
							@include mobile {
								padding: 1.5rem 2.4rem;
							}
							&.t-bg{
								background: custom-color(secondary, 070);
								text-align: center;
							}
						}
					}
				}
			}
		}

		&.type1 {
			table {
				>thead {
					>tr {
						>th {
							@include font(small-3x, bold);
							color: custom-color(typo, 000);
							text-align: center;
							@include mobile {
								@include font(small-4x, bold);
							}
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							@include font(small-3x, bold);
							color: custom-color(typo, 010);
							@include mobile {
								@include font(small-4x, bold);
							}
						}
					}
				}
			}
		}
    }

	//esg 환경경영 popup table 2
    &.design3 {
		display: flex;
		&.case1 {
			table {
				border-top: 1px solid custom-color(neutral, 060);
				>thead {
					>tr {
						>th {
							padding: 1.8rem;
							background-color: custom-color(secondary, 080);
							border-right: 1px solid custom-color(neutral, 060);
							border-left: 1px solid custom-color(neutral, 060);
							border-top: 1px solid custom-color(neutral, 060);
							border-bottom: 1px solid custom-color(neutral, 060);
							@include mobile {
								padding: 1.5rem 1rem;
							}
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							padding: 1.8rem;
							vertical-align: middle;
							border-right: 1px solid custom-color(neutral, 030);
							@include mobile {
								padding: 1.5rem 2.4rem;
							}
							&.t-bg{
								background: custom-color(secondary, 070);
								border-bottom: 1px solid custom-color(neutral, 030);
							}
							&.bl-bg{
								background-color: custom-color(secondary, 080);
								border-bottom: 1px solid custom-color(neutral,060);
							}
						}
						>td {
							border-bottom: 1px solid custom-color(neutral, 030);
						}
					}
				}
				+ table {
					border-top: unset;
					border-left: 1px solid custom-color(neutral,060);
					position: relative;
					@include mobile {
						border-top: 1px solid custom-color(neutral,060);
					}
					>tbody {
						>tr:first-child {
							>td {
								border-top: 1px solid custom-color(neutral, 030);
							}
						}
					}
				}
			}
		}

		&.type1 {
			table {
				>thead {
					>tr {
						>th {
							@include font(small-3x, bold);
							color: custom-color(typo, 000);
							text-align: center;
							@include mobile {
								@include font(small-4x, bold);
							}
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							@include font(small-3x, bold);
							color: custom-color(typo, 010);
							@include mobile {
								@include font(small-4x, bold);
							}
							&.bl-bg{
								color: custom-color(secondary, 070);
							}
						}
					}
				}
			}
		}
    }
    &.design4 {
		&.case1 {
			table {
				>thead {
					>tr {
						>th {
							padding: 1.8rem;
							background-color: custom-color(secondary, 080);
							border-right: 1px solid custom-color(neutral, 060);
							border-left: 1px solid custom-color(neutral, 060);
							border-top: 1px solid custom-color(neutral, 060);
							border-bottom: 1px solid custom-color(neutral, 060);
							@include mobile {
								padding: 1.5rem 1rem;
							}
							&.t-bg{
								background: custom-color(secondary, 070);
								border-right: 1px solid custom-color(neutral, 030);
								border-bottom: 1px solid custom-color(neutral, 030);
							}
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							padding: 2rem;
							vertical-align: middle;
							border-right: 1px solid custom-color(neutral, 030);
							border-bottom: 1px solid custom-color(neutral, 030);
							@include mobile {
								padding: 1.5rem 2.4rem;
							}
						}
						>td{
							&.t-bg{
								background: custom-color(secondary, 070);
							}
							.radio-list{
								align-items: center;
								justify-content: center;
							}
						}
					}
				}
			}
		}

		&.type1 {
			table {
				>thead {
					>tr {
						>th {
							@include font(small-3x, bold);
							color: custom-color(typo, 000);
							text-align: center;
							@include mobile {
								@include font(small-4x, bold);
							}
							&.t-bg{
								@include font(small-4x, bold);
								color: custom-color(typo, 010);
								@include mobile {
									@include font(small-5x, bold);
								}
							}
						}
					}
				}

				>tbody {
					>tr {
                        >th,
						>td {
							@include font(small-3x, bold);
							color: custom-color(typo, 010);
							@include mobile {
								@include font(small-4x, bold);
							}
						}
					}
				}
			}
		}
    }

	//align
	&.align1 {
		tbody {
			text-align: left;
		}
	}
	&.align2 {
		tbody {
			text-align: right;
		}
	}
	&.align3 {
		tbody {
			text-align: center;
		}
	}

	th,
	td {
		&.align1 {
			text-align: left;
		}
		&.align2 {
			text-align: right;
		}
		&.align3 {
			text-align: center;
		}
	}

	// table info
    .t-info {
		&.type1 {
			color: custom-color(neutral, 050);
			font-weight: 600;
			font-size: 3.2rem;
		}
		&.type2 {
			color: custom-color(neutral, 050);
			font-weight: 600;
			font-size: 1.3rem;
		}
		+ table {
			margin-top: 2rem;
		}
    }

	table + .t-info {
		margin-top: 2rem;
	}

	// table 정보가 없는 경우
	.no-results {
		padding: 6.6rem 0 7.8rem;
	}

	// 코멘트 text
	+ .comment {
		margin-top: 1.6rem;
		@include mobile {
			margin-top: 1.2rem;
		}
		
	}

	// col width
	
}