@use "sass:color";
@use "sass:map";
// breakpoints
// $mobile : 320px;
// $mobile-large : 768px;
// $tablet : 1024px;
// $web-small : 1280px;
// $web : 1920px;

// img path
$img-path: '../../assets/images/';

// color palettes : Light, Dark mode
$color-palettes: (
  primary: (100: #4F6FCB,
    100D: #6D93FF,
  ),
  deep-primary: (100: #374E8E,
    100D: #374E8E),
  secondary: (100: #293766,
    100D: #4F6FCB,
  ),
  active: (100: #4F6FCB,
    100D: #4F6FCB,
  ),
  disabled: (100: #DCE2F5,
    100D: #414960,
  ),
  info: (100: #7CB1FF,
    100D: #7CB1FF,
  ),
  warning: (100: #E36F5A,
    100D: #E36F5A,
  ),
  accent: (100: #CF4223,
    100D: #F9532F,
  ),
  cancell: (100: #CDCDCD,
    100D: #444444,
  ),
  button: (100: #293766,
    100D: #293766,
  ),
  gray: (900: #111111,
    900D: #F1F1F1,
    600: #444444,
    600D: #D0D0D0,
    500:#666666,
    500D:#A0A0A0,
    400:#888888,
    400D:#777777,
    300:#CDCDCD,
    300D:#444444,
    200:#E9E9E9,
    200D:#333333,
    100:#F5F5F5,
    100D:#232323,
    050:#F9F9F9,
    050D:#232323,
    000:#FFFFFF,
    000D:#FFFFFF,
  ),
  bg: (blue: #F6F8FC,
    bluedD: #232426,
    pink: #F9EFFA,
    pinkD: #2C272D,
    green: #F7FAF6,
    greenD: #212724,
    purple: #3061FF,
    purpleD: #24242B,
    mint: #FAFFFC,
    mintD: #272B2A,
    yellow: #FFFCF6,
    yellowD: #2D2D28,
    map: #D0EAF7,
    mapD: #242627,
  ),
  etc: (100: #F9F9F9,

  ),
);

// create color
@function color($theme: neutral, $variant: 000, $opacity: 1) {
    $set-color: map.get($color-palettes, $theme, $variant);
    $red: color.channel($set-color, "red");
    $green: color.channel($set-color, "green");
    $blue: color.channel($set-color, "blue");
    $create-color: rgba($red, $green, $blue, $opacity);
    @return $create-color;
}

// font
$font-size: (
  small-10x: 1rem,
  small-9x: 1.1rem,
  small-8x: 1.2rem,
  small-7x: 1.3rem,
  small-6x: 1.4rem,
  small-5x: 1.5rem,
  small-4x: 1.6rem,
  small-3x: 1.8rem,
  small-2x: 2rem,
  small-1x: 2.4rem,
  small: 2.8rem,
  medium: 3.2rem,
  large: 3.6rem,
  large-1x: 4rem,
  large-2x: 4.5rem,
  large-3x: 4.8rem,
  large-4x: 5.2rem,
  large-5x: 6.4rem,
  large-6x: 7.2rem,
  large-7x: 8rem,
  large-8x: 8.8rem,
  large-9x: 9.6rem,
  large-10x: 10.4rem,
  large-11x: 11.2rem,
  large-12x: 12rem,
);

$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  heavy: 900,
);