<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    <meta name="Referrer" content="origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>연합 뉴스 디자인 시스템</title>
    <!-- 연합뉴스 link -->
    <link rel="shortcut icon" type="image/x-icon" href="https://qa-r.yna.co.kr/www/home_n/v02/img/favicon.ico">
    <link rel="icon" type="image/x-icon" href="https://qa-r.yna.co.kr/www/home_n/v02/img/favicon.ico">
    <link rel="icon" type="image/x-icon" href="https://r.yna.co.kr/www/home_n/v02/img/favicon.ico">
    <!-- 가이드 link -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/gsap.min.js"></script>
    <script src="../assets/js/ScrollTrigger.min.js"></script>
    <script src="../assets/js/ScrollToPlugin.min.js"></script>
    <script src="../assets/js/swiper-bundle.min.js"></script>
    <script src="../assets/js/common.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            frontCommon.Html.reset();
        });
    </script>
</head>

<body>
    <div id="wrap">
        <div class="skip">
            <span class="blind">skip navigation</span>
            <ul>
                <li><a href="#naviMenu">메뉴 바로가기</a></li>
                <li><a href="#main">본문 바로가기</a></li>
                <li><a href="#footer">하단 정보(링크) 바로가기</a></li>
            </ul>
        </div>
        <!-- page-head -->
        <div class="header" id="header">
            <div class="header-inner">
                <!-- 공통 로고 -->
                <h1 class="site-logo">
                    <a href="./main/index.html" class="site-name">
                        <span class="blind">연합뉴스</span>
                    </a>
                </h1>

                <!-- 공통 네비게이션 -->
                <div class="site-navi" id="naviMenu">
                    <div class="depth1-wrap">
                        <ul class="depth1-list">
                            <li class="depth1-item ">
                                <a href="./foundation/colors.html" class="depth1">Foundation</a>
                            </li>
                            <li class="depth1-item active">
                                <a href="./components/top-navigation.html" class="depth1">Components</a>
                            </li>
                            <li class="depth1-item ">
                                <a href="./guidelines/principles.html" class="depth1">Guidelines</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- 공통 유틸 -->
                <div class="site-util">
                    <div class="util-list">
                        <em class="util-item version">
                            <span class="text">v 0.1</span>
                        </em>
                        <!-- <div class="util-item search">
                    <div class="search-input-wrap">
                        <input type="text" class="search-input" placeholder="Please enter the keyword" />
                    </div>
                </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- //page-head -->
        <!-- page-body -->
        <div class="main" id="main">
            <div class="main-inner">
                <div class="local">
                    <div class="local-head">
                        <div class="local-subject">
                            <h2 class="local-name blind">Box Button 디자인 가이드</h2>
                        </div>
                    </div>
                    <div class="local-body">
                        <div class="lnb" id="lnb">
                            <div class="lnb-inner">
                                <div class="site-logo">
                                    <a href="/main/index.html" class="site-name">
                                        <span class="blind">연합뉴스</span>
                                    </a>
                                </div>
                                <!-- 타입별 depth2 : 이동 URL 전부 수정할 예정 (현재 javascript:void(0) 되어있는 부분)-->

                                <div class="depth2-wrap components">
                                    <div class="depth2-head">
                                        <em class="depth2-subject">Components</em>
                                    </div>
                                    <div class="depth2-body">
                                        <ul class="depth2-list">
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">Navigation</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="./components/top-navigation.html" class="depth3">Top Navigation</a></li>
                                                        <li class="depth3-item "><a href="./components/button-navigation.html" class="depth3">Button Navigation</a></li>
                                                        <li class="depth3-item "><a href="./components/navigation-drawer.html" class="depth3">Navigation drawer</a></li>
                                                        <li class="depth3-item "><a href="./components/footer.html" class="depth3">Footer</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item active open"><a href="javascript:void(0)" class="depth2 dropdown">Button</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item active"><a href="./components/box-button.html" class="depth3">Box Button</a></li>
                                                        <li class="depth3-item "><a href="./components/text-button.html" class="depth3">Text Button</a></li>
                                                        <li class="depth3-item "><a href="./components/tab-button.html" class="depth3">Tab Button</a></li>
                                                        <li class="depth3-item "><a href="./components/icon-button.html" class="depth3">Icon Button</a></li>
                                                        <li class="depth3-item "><a href="./components/select-button.html" class="depth3">Select Button</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="./components/tag.html" class="depth2">Tag</a></li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">Input</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="./components/text-field.html" class="depth3">Text Field</a></li>
                                                        <li class="depth3-item "><a href="./components/dropdown.html" class="depth3">Dropdown</a></li>
                                                        <li class="depth3-item "><a href="./components/search.html" class="depth3">Search</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="./components/table.html" class="depth2">Table</a></li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">List</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="./components/data-list.html" class="depth3">Data List</a></li>
                                                        <li class="depth3-item "><a href="./components/accordion.html" class="depth3">Accordion</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">Popup</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="./components/layer-popup.html" class="depth3">Layer Popup</a></li>
                                                        <li class="depth3-item "><a href="./components/alert-snackbar.html" class="depth3">Alert&Snackbar</a></li>
                                                        <li class="depth3-item "><a href="./components/tooltip.html" class="depth3">Tooltip</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">UI Elements</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="./components/thumbnail.html" class="depth3">Thumbnail</a></li>
                                                        <li class="depth3-item "><a href="./components/loading.html" class="depth3">Loading</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="content">
                            <div class="content-inner">
                                <div class="content-head">
                                    <h3 class="content-name">Box Button</h3>
                                    <p class="content-summary">박스 버튼은 상자 형태의 가장 일반적인 버튼입니다.<br> 화면의 콘텐츠 영역이나 하단 영역에 배치되어 화면에서 중요한 작업을 실행하기 위한 버튼으로 사용됩니다.</p>
                                </div>
                                <div class="content-body">
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="anatomy">Anatomy</h4>
                                            </div>
                                            <div class="section-body">
                                                <img src="../assets/images/components/boxButton-01-a.jpg" alt=" ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="options">Options</h4>
                                            </div>
                                            <div class="section-body">
                                                <ul class="post-list design-01">
                                                    <li class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-02-a.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="labelAndIcon">Label and Icon</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        버튼에는 항상 레이블이 있어야 합니다.<br>
                                                                        아이콘은 필요할 때만 사용하고 레이블 텍스트와<br>
                                                                        강력한 연관성이 있을 때만 사용합니다.<br>
                                                                        보편적으로 이해되는 아이콘만 사용하는 경우는<br>
                                                                        레이블 없이아이콘만 단독으로 사용 할 수 있습니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-02-b.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="variant">Variant</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        중요도는 Primary로 갈수록 높아지며,<br>
                                                                        Line으로 갈수록 낮아집니다.<br>
                                                                        화면 내에서 액션의 중요도에 따라<br>
                                                                        버튼의 variant를 다르게 사용합니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="post-item">
                                                        <div class="post-wrap" data-link-cont="primaryVariant">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-02-c.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="variant">Primary variant</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        강한 강조나 중요한 역할을 하는 버튼일 경우에 사용합니다. Primary 버튼은 한 화면에서 너무 많이 사용되지 않도록 제한적으로 사용해야합니다.
                                                                    </p>
                                                                    <p class="para">
                                                                        또한, Primary 버튼은 단독으로 하단에 고정하여 사용할 수 있습니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-02-d.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="secondaryVariant">Secondary variant</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        보조 버튼은 강조를 낮추기 위한 것입니다.<br>
                                                                        주로 입력폼의 확인/등록의 동작을 하기 위해 사용됩니다.
                                                                        단독으로는 사용되지 않으며 입력 폼과 같이 그룹으로
                                                                        사용해야 합니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-02-e.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="actionVariant">Action Variant</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        버튼의 상호작용을 목적으로 하는 버튼입니다.<br>
                                                                        주로 이전(취소)이나 링크로 사용됩니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-02-f.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="disabled">Disabled</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        비활성화된 상태로 버튼은 동작이 존재하지만 해당<br>
                                                                        상황에서는 사용자가 클릭 할 수 없습니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-02-g.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="loading">Loading</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        사용자가 버튼을 눌렀을 때 버튼 내부에서 진행 상태를<br>
                                                                        알릴 수 있습니다. 이는 진행이 빠르게 진행되어야 할 때 (5초 이하)에만 사용해야 합니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-02-h.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="icon">Icon</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        레이블을 보조하기 위해 아이콘을 사용할 수 있습니다.<br>
                                                                        아이콘 두개 동시 사용은 권장하지 않습니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-02-i.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="onOffStates">On/Off states</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        이 버튼은 사용자가 탭 할때 마다 YES / NO로 상태를<br>
                                                                        변경 할 수 있습니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="size">Size</h4>
                                                <p class="section-summary small">
                                                    버튼은 소형, 중형, 대형, 초대형의 네 가지 크기로 제공됩니다. 중형 크기는 기본이며 가장 자주 사용되는 옵션입니다.<br>
                                                    페이지 내에서 중요도의 계층을 만드는 데 사용해야 합니다. 필요한 경우에 따라 환경에 맞게 버튼 크기는 임의로 변경 가능합니다.
                                                </p>
                                            </div>
                                            <div class="section-body">
                                                <img src="../assets/images/components/boxButton-03-a.jpg" alt=" ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="behaviors">Behaviors</h4>
                                            </div>
                                            <div class="section-body">
                                                <div class="post-list design-01">
                                                    <div class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-04-a.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="focus">Focus</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        PC 환경에서 버튼에 Hover 할 경우 커서가<br>
                                                                        포인터 모양으로 바뀝니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-04-b.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="flexibleWidth">Flexible width</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        PC는 버튼별로 특정 고정 값을 사용합니다.<br>
                                                                        Tablet과 Mobile은 해상도 내에서 각각<br>
                                                                        좌우 마진값(24px/16px) 유지해서 가변으로 적용됩니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/boxButton-04-c.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="overflow">Overflow</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        Label은 1줄을 초과하지 않도록 작성되어야 합니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="usage">Usage</h4>
                                            </div>
                                            <div class="section-body">
                                                <div class="data-list design-04">
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="guideline">Guideline</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <ul class="data-list bullet-01">
                                                                    <li class="data-item">
                                                                        버튼이 두 개 이상 나열될 때에는 균등한 비율을 권장합니다.
                                                                    </li>
                                                                    <li class="data-item">
                                                                        입력폼과 사용할 경우와 Action 버튼이 나열되는 경우는 레이블의 좌우 마진 값으로 버튼의 넓이를 변경할 수 있습니다.
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="data-figure">
                                                                <img src="../assets/images/components/boxButton-05-a.jpg" alt=" ">
                                                                <ul class="post-list design-02 style-01">
                                                                    <li class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure do">
                                                                                <img src="../assets/images/components/boxButton-05-b.jpg" alt=" ">
                                                                            </div>
                                                                            <div class="post-info">
                                                                                <div class="post-body">
                                                                                    <p class="para">
                                                                                        나란히 나열되는 경우 액션 버튼의 우선순위를 고려하여 배치합니다.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure dont">
                                                                                <img src="../assets/images/components/boxButton-05-c.jpg" alt=" ">
                                                                            </div>
                                                                            <div class="post-info">
                                                                                <div class="post-body">
                                                                                    <p class="para">
                                                                                        Primary버튼을 나열할 때에는 균등한 비율로만 배열 가능합니다.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure do">
                                                                                <img src="../assets/images/components/boxButton-05-d.jpg" alt=" ">
                                                                            </div>
                                                                            <div class="post-info">
                                                                                <div class="post-body">
                                                                                    <p class="para">
                                                                                        동일한 위계의 서브 액션이 나열되는 경우, Line 사용을 권장합니다.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure dont">
                                                                                <img src="../assets/images/components/boxButton-05-e.jpg" alt=" ">
                                                                            </div>
                                                                            <div class="post-info">
                                                                                <div class="post-body">
                                                                                    <p class="para">
                                                                                        Primary버튼과 Secondary버튼은 나열이 불가능합니다.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="highContrastMode">High-contrast mode</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <ul class="data-list bullet-01">
                                                                    <li class="data-item">
                                                                        배경과 최대 대비를 보장하려면 밝은 배경과 이미지에는 정적 검정을 사용하고 어두운 배경과 이미지에는 정적 흰색을 사용합니다.
                                                                    </li>
                                                                    <li class="data-item">
                                                                        대비가 많이 다른 복잡한 이미지 위에 정적 구성 요소를 배치하지 않습니다.
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="data-figure">
                                                                <div class="post-list design-02">
                                                                    <div class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure do">
                                                                                <img src="../assets/images/components/boxButton-05-f.jpg" alt=" ">
                                                                            </div>
                                                                            <div class="post-info">
                                                                                <div class="post-body">
                                                                                    <p class="para">
                                                                                        테마에 관계없이 Primary버튼 Label은 white를 사용합니다.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure dont">
                                                                                <img src="../assets/images/components/boxButton-05-g.jpg" alt=" ">
                                                                            </div>
                                                                            <div class="post-info">
                                                                                <div class="post-body">
                                                                                    <p class="para">
                                                                                        다크 테마에서 Primary버튼 Label의 컬러는 반전되지 않습니다.
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="fixingTheBottom">Fixing the bottom (Only on the app)</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <ul class="data-list bullet-01">
                                                                    <li class="data-item">
                                                                        앱 화면에서는 항상 화면 하단에 버튼을 고정하고 있습니다.
                                                                    </li>
                                                                    <li class="data-item">
                                                                        화면의 버튼 영역에 위치한 이 버튼은 가장 중요한 동작을 실행하는 목적으로 사용됩니다.
                                                                    </li>
                                                                    <li class="data-item">
                                                                        버튼과 내용이 겹쳐질 경우를 위해서 그라데이션을 적용합니다.
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="data-figure">
                                                                <img src="../assets/images/components/boxButton-05-h.jpg" alt=" ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section code">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="code">Code</h4>
                                                <div class="btn-display">
                                                    <a href="https://codepen.io/PIX-the-bold/pen/WNVryvo" target="_blank" class="btn view-code design-01">
                                                        View Code
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="section-body">
                                                <pre class="highlight-js">
                                                <code class="html">&lt;div class="btn-area02"&gt;
    &lt;a class="btn-unit021"&gt;
        &lt;strong class="txt01"&gt;로그인&lt;/strong&gt;
    &lt;/a&gt;
    &lt;a class="btn-unit030"&gt;
        &lt;strong class="txt01"&gt;회원가입&lt;/strong&gt;
    &lt;/a&gt;
&lt;/div&gt;</code>
                                            </pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="quick-nav">
                            <ul class="nav-list">
                                <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
                                <li class="nav-item term case-02">
                                    <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
                                    <ul class="sub-nav-list">
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="labelAndIcon">Label and Icon</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="variant">Variant</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="primaryVariant">Primary variant</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="secondaryVariant">Secondary variant</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="actionVariant">Action variant</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="disabled">Disabled</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="loading">Loading</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="icon">Icon</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="onOffStates">On/Off states</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="size">Size</a></li>
                                <li class="nav-item term case-02">
                                    <a href="javascript:void(0)" class="anchor" data-link="behaviors">Behaviors</a>
                                    <ul class="sub-nav-list">
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="focus">Focus</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="flexibleWidth">Flexible width</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="overflow">Overflow</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item term case-02">
                                    <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
                                    <ul class="sub-nav-list">
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="guideline">Guideline</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="highContrastMode">High-contrast mode</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="fixingTheBottom">Fixing the bottom</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
                            </ul>
                        </div>

                        <!-- //page-aside -->
                    </div>
                </div>
            </div>
        </div>
        <!-- //page-body -->
        <!-- page-foot -->
        <div class="footer" id="footer">
            <div class="footer-inner">
                <div class="footer-head">
                    <em class="footer-subject">©Pentabreed. StyleGuide Create with</em>
                </div>
                <div class="footer-body">
                    <a href="https://www.pentabreed.com" target="_blank" class="company">
                        <span class="text blind">펜타브리드</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- //page-foot -->
    </div>
</body>

</html>