<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    <meta name="Referrer" content="origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>연합 뉴스 디자인 시스템</title>
    <!-- 연합뉴스 link -->
    <link rel="shortcut icon" type="image/x-icon" href="https://qa-r.yna.co.kr/www/home_n/v02/img/favicon.ico">
    <link rel="icon" type="image/x-icon" href="https://qa-r.yna.co.kr/www/home_n/v02/img/favicon.ico">
    <link rel="icon" type="image/x-icon" href="https://r.yna.co.kr/www/home_n/v02/img/favicon.ico">
    <!-- 가이드 link -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/gsap.min.js"></script>
    <script src="../assets/js/ScrollTrigger.min.js"></script>
    <script src="../assets/js/ScrollToPlugin.min.js"></script>
    <script src="../assets/js/swiper-bundle.min.js"></script>
    <script src="../assets/js/common.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            frontCommon.Html.reset();
        });
    </script>
</head>

<body>
    <div id="wrap">
        <div class="skip">
            <span class="blind">skip navigation</span>
            <ul>
                <li><a href="#naviMenu">메뉴 바로가기</a></li>
                <li><a href="#main">본문 바로가기</a></li>
                <li><a href="#footer">하단 정보(링크) 바로가기</a></li>
            </ul>
        </div>
        <!-- page-head -->
        <div class="header" id="header">
            <div class="header-inner">
                <!-- 공통 로고 -->
                <h1 class="site-logo">
                    <a href="./main/index.html" class="site-name">
                        <span class="blind">연합뉴스</span>
                    </a>
                </h1>

                <!-- 공통 네비게이션 -->
                <div class="site-navi" id="naviMenu">
                    <div class="depth1-wrap">
                        <ul class="depth1-list">
                            <li class="depth1-item ">
                                <a href="./foundation/colors.html" class="depth1">Foundation</a>
                            </li>
                            <li class="depth1-item active">
                                <a href="./components/top-navigation.html" class="depth1">Components</a>
                            </li>
                            <li class="depth1-item ">
                                <a href="./guidelines/principles.html" class="depth1">Guidelines</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- 공통 유틸 -->
                <div class="site-util">
                    <div class="util-list">
                        <em class="util-item version">
                            <span class="text">v 0.1</span>
                        </em>
                        <!-- <div class="util-item search">
                    <div class="search-input-wrap">
                        <input type="text" class="search-input" placeholder="Please enter the keyword" />
                    </div>
                </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- //page-head -->
        <!-- page-body -->
        <div class="main" id="main">
            <div class="main-inner">
                <div class="local">
                    <div class="local-head">
                        <div class="local-subject">
                            <h2 class="local-name blind">Layer Popup 디자인 가이드</h2>
                        </div>
                    </div>
                    <div class="local-body">
                        <div class="lnb" id="lnb">
                            <div class="lnb-inner">
                                <div class="site-logo">
                                    <a href="/main/index.html" class="site-name">
                                        <span class="blind">연합뉴스</span>
                                    </a>
                                </div>
                                <!-- 타입별 depth2 : 이동 URL 전부 수정할 예정 (현재 javascript:void(0) 되어있는 부분)-->

                                <div class="depth2-wrap components">
                                    <div class="depth2-head">
                                        <em class="depth2-subject">Components</em>
                                    </div>
                                    <div class="depth2-body">
                                        <ul class="depth2-list">
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">Navigation</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="./components/top-navigation.html" class="depth3">Top Navigation</a></li>
                                                        <li class="depth3-item "><a href="./components/button-navigation.html" class="depth3">Button Navigation</a></li>
                                                        <li class="depth3-item "><a href="./components/navigation-drawer.html" class="depth3">Navigation drawer</a></li>
                                                        <li class="depth3-item "><a href="./components/footer.html" class="depth3">Footer</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">Button</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="./components/box-button.html" class="depth3">Box Button</a></li>
                                                        <li class="depth3-item "><a href="./components/text-button.html" class="depth3">Text Button</a></li>
                                                        <li class="depth3-item "><a href="./components/tab-button.html" class="depth3">Tab Button</a></li>
                                                        <li class="depth3-item "><a href="./components/icon-button.html" class="depth3">Icon Button</a></li>
                                                        <li class="depth3-item "><a href="./components/select-button.html" class="depth3">Select Button</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="./components/tag.html" class="depth2">Tag</a></li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">Input</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="./components/text-field.html" class="depth3">Text Field</a></li>
                                                        <li class="depth3-item "><a href="./components/dropdown.html" class="depth3">Dropdown</a></li>
                                                        <li class="depth3-item "><a href="./components/search.html" class="depth3">Search</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="./components/table.html" class="depth2">Table</a></li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">List</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="./components/data-list.html" class="depth3">Data List</a></li>
                                                        <li class="depth3-item "><a href="./components/accordion.html" class="depth3">Accordion</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item active open"><a href="javascript:void(0)" class="depth2 dropdown">Popup</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item active"><a href="./components/layer-popup.html" class="depth3">Layer Popup</a></li>
                                                        <li class="depth3-item "><a href="./components/alert-snackbar.html" class="depth3">Alert&Snackbar</a></li>
                                                        <li class="depth3-item "><a href="./components/tooltip.html" class="depth3">Tooltip</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">UI Elements</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="./components/thumbnail.html" class="depth3">Thumbnail</a></li>
                                                        <li class="depth3-item "><a href="./components/loading.html" class="depth3">Loading</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="content">
                            <div class="content-inner">
                                <div class="content-head">
                                    <h3 class="content-name">Layer Popup</h3>
                                    <p class="content-summary">팝업은 사용자에게 중요한 정보를 보여주거나 사용자 선택을 요청하는 구성 요소입니다. <br> 창이 띄워진 경우, 이 창을 종료하지 않는 이상 원래 창 화면을 작동할 수 없습니다.</p>
                                </div>
                                <div class="content-body">
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="anatomy">Anatomy</h4>
                                            </div>
                                            <div class="section-body">
                                                <img src="../assets/images/components/layerpop-01.jpg" alt=" ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="elementPatternsAndTypes">Element patterns and Types</h4>
                                            </div>
                                            <div class="section-body">
                                                <img src="../assets/images/components/layerpop-02.jpg" alt=" ">
                                                <div class="table-display design-02">
                                                    <table>
                                                        <caption>해당 table의 알맞는 caption을 작성해주세요.</caption>
                                                        <colgroup>
                                                            <col width="18.37%">
                                                            <col width="auto">
                                                        </colgroup>
                                                        <thead>
                                                            <tr class="align-01">
                                                                <th>Value</th>
                                                                <th>Usage</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Default</td>
                                                                <td>기본 알림 팝업으로 사용자 확인이 중요할 때 사용됩니다.</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Bottom Sheet</td>
                                                                <td>선택 또는 설정에 있어 화면 이동이 발생하지 않도록 하단에 고정된 시트로,<br> 내용 변경이 거의 없어 내용에 맞게 크기가 고정되어 있는 기본형 시트입니다.</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Layer Pop</td>
                                                                <td>레이어 팝업은 주로 사용자가 화면에 진입하자마자 세부 정보를 노출하여 관심을 집중할 수 있도록 하는것이 목적입니다.</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Full Pop</td>
                                                                <td>큰 사이즈의 레이어 팝업으로 내용이 많을 경우 사용하며 정해진 길이 초과시 스크롤이 생성됩니다.</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="usage">Usage</h4>
                                            </div>
                                            <div class="section-body">
                                                <div class="data-list design-04">
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="header">Header</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <p class="para">하단 버튼에 따라서 상단 닫기 아이콘 버튼을 노출하지 않을 수 있습니다.</p>
                                                            </div>
                                                            <div class="data-figure">
                                                                <img src="../assets/images/components/layerpop-03-a.jpg" alt=" ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="resizing">Resizing</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <p class="para">내용이 정해진 시트 높이를 초과하면 창 높이가 올라가면서 내용을 스크롤 할 수 있습니다.</p>
                                                            </div>
                                                            <div class="data-figure">
                                                                <img src="../assets/images/components/layerpop-03-b.jpg" alt=" ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="scrollArea">Scroll area</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <p class="para">콘텐츠가 최대 높이나 설정된 높이보다 길면 상단 영역이 자동으로 스크롤 영역이 됩니다.</p>
                                                            </div>
                                                            <div class="data-figure">
                                                                <img src="../assets/images/components/layerpop-03-c.jpg" alt=" ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="landscape">Landscape</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <ul class="data-list bullet-01">
                                                                    <li class="data-item">
                                                                        팝업 가로 모드로 변환할 때 스크롤이 생성됩니다.
                                                                    </li>
                                                                    <li class="data-item">
                                                                        바텀 시트에서 하단 고정 버튼을 사용하는 경우 모드 전환이나 스크롤에 관계없이 플로팅 버튼의 위치가 고정되어야 합니다.
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="data-figure">
                                                                <img src="../assets/images/components/layerpop-03-d.jpg" alt=" ">
                                                                <img src="../assets/images/components/layerpop-03-e.jpg" alt=" ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section code">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="code">Code</h4>
                                                <div class="btn-display">
                                                    <a href="https://codepen.io/PIX-the-bold/pen/XWvMXbY" target="_blank" class="btn view-code design-01">
                                                        View Code
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="section-body">
                                                <pre class="highlight-js">
                                            <code class="html">&lt;div class=&quot;popup-type01 pop-photo hide&quot; tabindex=&quot;0&quot;&gt;
    &lt;div class=&quot;pop-wrap&quot;&gt;
        &lt;div class=&quot;pop-content&quot;&gt;
            &lt;div class=&quot;box-type181&quot;&gt;
                &lt;div class=&quot;list-type560&quot;&gt;
                    &lt;div class=&quot;swiper-area swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden&quot;&gt;
                        &lt;ul class=&quot;list01 swiper-wrapper&quot; id=&quot;swiper-wrapper-843d78773563e91d&quot; aria-live=&quot;polite&quot; style=&quot;transform: translate3d(0px, 0px, 0px);&quot;&gt;
                            &lt;li class=&quot;swiper-slide swiper-slide-active&quot; role=&quot;group&quot; aria-label=&quot;1 / 1&quot;&gt;
                                &lt;div class=&quot;item-box01&quot;&gt;
                                    &lt;figure class=&quot;img-con01&quot;&gt;
                                        &lt;div class=&quot;img colW show&quot;&gt;
                                            &lt;span class=&quot;label-box03&quot;&gt;
                                                &lt;i class=&quot;ico-type03-zoom01&quot;&gt;&lt;em class=&quot;ir-txt01&quot;&gt;이미지 확대&lt;/em&gt;&lt;/i&gt;
                                            &lt;/span&gt;
                                            &lt;img src=&quot;https://qa-img2.yna.co.kr/photo/yna/YH/2024/10/10/PYH2024101013120001300_P4.jpg&quot; alt=&quot;&quot; loading=&quot;lazy&quot; data-ll-status=&quot;loaded&quot;&gt;
                                        &lt;/div&gt;
                                    &lt;/figure&gt;
                                &lt;/div&gt;
                                &lt;div class=&quot;caption-con display-none&quot;&gt;
                                    &lt;div class=&quot;title01&quot;&gt;화보같은 &#39;정년이&#39; 배우들&lt;/div&gt;
                                    &lt;div class=&quot;desc&quot;&gt;
                                        &lt;p&gt;&lt;/p&gt;
                                    &lt;/div&gt;
                                    &lt;div class=&quot;txt-time&quot;&gt;2024-10-10 14:54&lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/li&gt;
                        &lt;/ul&gt;
                        &lt;button type=&quot;button&quot; class=&quot;btn-dir003-prev swiper-button-disabled swiper-button-lock&quot; disabled=&quot;&quot; tabindex=&quot;-1&quot; aria-label=&quot;Previous slide&quot; aria-controls=&quot;swiper-wrapper-843d78773563e91d&quot; aria-disabled=&quot;true&quot;&gt;
                            &lt;span class=&quot;ir-txt01&quot;&gt;이전 콘텐츠&lt;/span&gt;
                        &lt;/button&gt;
                        &lt;button type=&quot;button&quot; class=&quot;btn-dir003-next swiper-button-disabled swiper-button-lock&quot; disabled=&quot;&quot; tabindex=&quot;-1&quot; aria-label=&quot;Next slide&quot; aria-controls=&quot;swiper-wrapper-843d78773563e91d&quot; aria-disabled=&quot;true&quot;&gt;
                            &lt;span class=&quot;ir-txt01&quot;&gt;다음 콘텐츠&lt;/span&gt;
                        &lt;/button&gt;
                        &lt;div class=&quot;pager02&quot;&gt;
                            &lt;span class=&quot;count-box swiper-pagination-custom swiper-pagination-horizontal swiper-pagination-lock&quot;&gt;
                                &lt;span class=&quot;txt-current&quot;&gt;1&lt;/span&gt;
                                &lt;span class=&quot;txt-dash&quot;&gt;/&lt;/span&gt;
                                &lt;span class=&quot;txt-total&quot;&gt;1&lt;/span&gt;
                            &lt;/span&gt;
                        &lt;/div&gt;
                        &lt;span class=&quot;swiper-notification&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;caption-con&quot;&gt;
                    &lt;div&gt;
                        &lt;div class=&quot;title01&quot;&gt;화보같은 &#39;정년이&#39; 배우들&lt;/div&gt;
                        &lt;div class=&quot;desc&quot;&gt;
                            &lt;p&gt;&lt;/p&gt;
                        &lt;/div&gt;
                        &lt;div class=&quot;txt-time&quot;&gt;2024-10-10 14:54&lt;/div&gt;
                    &lt;/div&gt;
                    &lt;button type=&quot;button&quot; class=&quot;btn-type009&quot;&gt;
                        &lt;i class=&quot;ico-type06-arr01&quot;&gt;메뉴 열기/닫기&lt;/i&gt;
                    &lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;box-type182 show&quot;&gt;
                &lt;div class=&quot;list-type561&quot;&gt;
                    &lt;div class=&quot;swiper-area swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden swiper-thumbs&quot;&gt;
                        &lt;ul class=&quot;list02 swiper-wrapper&quot; id=&quot;swiper-wrapper-d15537f624a865ee&quot; aria-live=&quot;polite&quot; style=&quot;transform: translate3d(0px, 0px, 0px);&quot;&gt;
                            &lt;li class=&quot;swiper-slide swiper-slide-active swiper-slide-thumb-active&quot; role=&quot;group&quot; aria-label=&quot;1 / 1&quot; style=&quot;margin-right: 20px;&quot;&gt;
                                &lt;div class=&quot;item-box01&quot;&gt;
                                    &lt;figure class=&quot;img-con01&quot;&gt;
                                        &lt;div class=&quot;img colW show&quot;&gt;
                                            &lt;img src=&quot;https://qa-img4.yna.co.kr/photo/yna/YH/2024/10/10/PYH2024101013120001300_T2.jpg&quot; alt=&quot;&quot; loading=&quot;lazy&quot; data-ll-status=&quot;loaded&quot;&gt;
                                        &lt;/div&gt;
                                    &lt;/figure&gt;
                                &lt;/div&gt;
                            &lt;/li&gt;
                        &lt;/ul&gt;
                        &lt;button type=&quot;button&quot; class=&quot;btn-dir004-prev swiper-button-disabled swiper-button-lock&quot; disabled=&quot;&quot; tabindex=&quot;-1&quot; aria-label=&quot;Previous slide&quot; aria-controls=&quot;swiper-wrapper-d15537f624a865ee&quot; aria-disabled=&quot;true&quot;&gt;
                            &lt;span class=&quot;ir-txt01&quot;&gt;이전 콘텐츠&lt;/span&gt;
                        &lt;/button&gt;
                        &lt;button type=&quot;button&quot; class=&quot;btn-dir004-next swiper-button-disabled swiper-button-lock&quot; disabled=&quot;&quot; tabindex=&quot;-1&quot; aria-label=&quot;Next slide&quot; aria-controls=&quot;swiper-wrapper-d15537f624a865ee&quot; aria-disabled=&quot;true&quot;&gt;
                            &lt;span class=&quot;ir-txt01&quot;&gt;다음 콘텐츠&lt;/span&gt;
                        &lt;/button&gt;
                        &lt;span class=&quot;swiper-notification&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;true&quot;&gt;&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;button type=&quot;button&quot; class=&quot;btn-type004 close02&quot; data-pop-close=&quot;pop-photo&quot;&gt;
            &lt;span class=&quot;ir-txt01&quot;&gt;본문으로 돌아가기&lt;/span&gt;
        &lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="quick-nav">
                            <ul class="nav-list">
                                <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
                                <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="elementPatternsAndTypes">Element patterns and Types</a></li>
                                <li class="nav-item term case-02">
                                    <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
                                    <ul class="sub-nav-list">
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="header">Header</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="resizing">Resizing</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="scrollArea">Scroll area</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="landscape">Landscape</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
                            </ul>
                        </div>

                        <!-- //page-aside -->
                    </div>
                </div>
            </div>
        </div>
        <!-- //page-body -->
        <!-- page-foot -->
        <div class="footer" id="footer">
            <div class="footer-inner">
                <div class="footer-head">
                    <em class="footer-subject">©Pentabreed. StyleGuide Create with</em>
                </div>
                <div class="footer-body">
                    <a href="https://www.pentabreed.com" target="_blank" class="company">
                        <span class="text blind">펜타브리드</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- //page-foot -->
    </div>
</body>

</html>