<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    <meta name="Referrer" content="origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>연합 뉴스 디자인 시스템</title>
    <!-- 연합뉴스 link -->
    <link rel="shortcut icon" type="image/x-icon" href="https://qa-r.yna.co.kr/www/home_n/v02/img/favicon.ico">
    <link rel="icon" type="image/x-icon" href="https://qa-r.yna.co.kr/www/home_n/v02/img/favicon.ico">
    <link rel="icon" type="image/x-icon" href="https://r.yna.co.kr/www/home_n/v02/img/favicon.ico">
    <!-- 가이드 link -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/languages/bash.min.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/gsap.min.js"></script>
    <script src="../assets/js/ScrollTrigger.min.js"></script>
    <script src="../assets/js/ScrollToPlugin.min.js"></script>
    <script src="../assets/js/swiper-bundle.min.js"></script>
    <script src="../assets/js/common.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            frontCommon.Html.reset();
        });
    </script>
</head>

<body>
    <div id="wrap">
        <div class="skip">
            <span class="blind">skip navigation</span>
            <ul>
                <li><a href="#naviMenu">메뉴 바로가기</a></li>
                <li><a href="#main">본문 바로가기</a></li>
                <li><a href="#footer">하단 정보(링크) 바로가기</a></li>
            </ul>
        </div>
        <!-- page-head -->
        <div class="header" id="header">
            <div class="header-inner">
                <!-- 공통 로고 -->
                <h1 class="site-logo">
                    <a href="/yonhapnews/main/index.html" class="site-name">
                        <span class="blind">연합뉴스</span>
                    </a>
                </h1>

                <!-- 공통 네비게이션 -->
                <div class="site-navi" id="naviMenu">
                    <div class="depth1-wrap">
                        <ul class="depth1-list">
                            <li class="depth1-item ">
                                <a href="/yonhapnews/foundation/colors.html" class="depth1">Foundation</a>
                            </li>
                            <li class="depth1-item active">
                                <a href="/yonhapnews/components/top-navigation.html" class="depth1">Components</a>
                            </li>
                            <li class="depth1-item ">
                                <a href="/yonhapnews/guidelines/principles.html" class="depth1">Guidelines</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- 공통 유틸 -->
                <div class="site-util">
                    <div class="util-list">
                        <em class="util-item version">
                            <span class="text">v 0.1</span>
                        </em>
                        <!-- <div class="util-item search">
                    <div class="search-input-wrap">
                        <input type="text" class="search-input" placeholder="Please enter the keyword" />
                    </div>
                </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- //page-head -->
        <!-- page-body -->
        <div class="main" id="main">
            <div class="main-inner">
                <div class="local">
                    <div class="local-head">
                        <div class="local-subject">
                            <h2 class="local-name blind">Tab Button 디자인 가이드</h2>
                        </div>
                    </div>
                    <div class="local-body">
                        <div class="lnb" id="lnb">
                            <div class="lnb-inner">
                                <div class="site-logo">
                                    <a href="/main/index.html" class="site-name">
                                        <span class="blind">연합뉴스</span>
                                    </a>
                                </div>
                                <!-- 타입별 depth2 : 이동 URL 전부 수정할 예정 (현재 javascript:void(0) 되어있는 부분)-->

                                <div class="depth2-wrap components">
                                    <div class="depth2-head">
                                        <em class="depth2-subject">Components</em>
                                    </div>
                                    <div class="depth2-body">
                                        <ul class="depth2-list">
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">Navigation</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="/yonhapnews/components/top-navigation.html" class="depth3">Top Navigation</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/button-navigation.html" class="depth3">Button Navigation</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/navigation-drawer.html" class="depth3">Navigation drawer</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/footer.html" class="depth3">Footer</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item active open"><a href="javascript:void(0)" class="depth2 dropdown">Button</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="/yonhapnews/components/box-button.html" class="depth3">Box Button</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/text-button.html" class="depth3">Text Button</a></li>
                                                        <li class="depth3-item active"><a href="/yonhapnews/components/tab-button.html" class="depth3">Tab Button</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/icon-button.html" class="depth3">Icon Button</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/select-button.html" class="depth3">Select Button</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="/yonhapnews/components/tag.html" class="depth2">Tag</a></li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">Input</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="/yonhapnews/components/text-field.html" class="depth3">Text Field</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/dropdown.html" class="depth3">Dropdown</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/search.html" class="depth3">Search</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="/yonhapnews/components/table.html" class="depth2">Table</a></li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">List</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="/yonhapnews/components/data-list.html" class="depth3">Data List</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/accordion.html" class="depth3">Accordion</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">Popup</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="/yonhapnews/components/layer-popup.html" class="depth3">Layer Popup</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/alert-snackbar.html" class="depth3">Alert&Snackbar</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/tooltip.html" class="depth3">Tooltip</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="depth2-item "><a href="javascript:void(0)" class="depth2 dropdown">UI Elements</a>
                                                <div class="depth3-wrap">
                                                    <ul class="depth3-list">
                                                        <li class="depth3-item "><a href="/yonhapnews/components/thumbnail.html" class="depth3">Thumbnail</a></li>
                                                        <li class="depth3-item "><a href="/yonhapnews/components/loading.html" class="depth3">Loading</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="content">
                            <div class="content-inner">
                                <div class="content-head">
                                    <h3 class="content-name">Tab Button</h3>
                                    <p class="content-summary">콘텐츠 영역 상단에 위치하여 여러 섹션을 쉽게 전환시키는 컴포넌트 입니다.<br>
                                        탭의 사이즈는 상황에 따라 변경 사용할 수 있으며 탭 선택 시 화면 내의 특정 영역의 콘텐츠가 변경됩니다.<br>
                                        탭 타입은 공통 탭과, 예외 케이스 탭으로 나누어 사용합니다.</p>
                                </div>
                                <div class="content-body">
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="anatomy">Anatomy</h4>
                                            </div>
                                            <div class="section-body">
                                                <img src="../assets/images/components/tabButton-01.jpg" alt=" ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="options">Options</h4>
                                            </div>
                                            <div class="section-body">
                                                <div class="post-list design-01">
                                                    <div class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/tabButton-02-a.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="label">Label</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        탭 항목에는 접근성을 위한 레이블이 있어야 합니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/tabButton-02-b.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="stage">Stage</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        페이지 내에서 중요도의 계층을 만드는 데 사용해야 합니다.<br>
                                                                        Depth의 숫자가 작을수록 중요도가 높아집니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/tabButton-02-c.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="states">States</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        선택된 상태의 탭 항목은 현재 탭 항목을 보여줍니다.<br>
                                                                        한 번에 탭 항목 하나만 선택할 수 있습니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/tabButton-02-d.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="padding">Pading</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        탭 항목 컨테이너로 탭의 영역을 나타냅니다.<br>
                                                                        사용자가 클릭 가능한 범위로 설정 되어야 합니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="post-item">
                                                        <div class="post-wrap">
                                                            <div class="post-figure">
                                                                <img src="../assets/images/components/tabButton-02-e.jpg" alt=" ">
                                                            </div>
                                                            <div class="post-info">
                                                                <div class="post-head">
                                                                    <em class="subject" data-link-cont="margin">Margin</em>
                                                                </div>
                                                                <div class="post-body">
                                                                    <p class="para">
                                                                        레이블과 레이블 간의 공간을 조정할 수 있습니다.<br>
                                                                        숫자는 텍스트 사이의 공간 넓이를 나타냅니다.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="elementType">Element Type</h4>
                                            </div>
                                            <div class="section-body">
                                                <div class="data-list design-04">
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="numberitems">항목 수</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <p class="para">
                                                                    제공할 탭 항목의 수를 선택할 수 있습니다. 각 해상도 컨텐츠 영역을 넘어갈 경우 가로스크롤을 사용합니다.
                                                                </p>
                                                            </div>
                                                            <div class="data-figure">
                                                                <img src="../assets/images/components/tabButton-03-a.jpg" alt=" ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="sideMargin">측면 여백</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <p class="para">
                                                                    기본적으로 탭 항목은 컨테이너의 시작(왼쪽)에 정렬됩니다. 카테고리에 따라 여백 유무가 달라질 수 있습니다.
                                                                </p>
                                                            </div>
                                                            <div class="data-figure">
                                                                <img src="../assets/images/components/tabButton-03-b.jpg" alt=" ">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="usage">Usage</h4>
                                            </div>
                                            <div class="section-body">
                                                <div class="data-list design-04">
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="noContent">표시될 콘텐츠가 없는 경우</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <p class="para">
                                                                    탭을 삭제하거나 탭을 선택했을 때 패널에 콘텐츠가 없는 이유에 대한 설명을 제공하여 사용자가 혼동을 느끼지 않도록 해야 합니다.
                                                                </p>
                                                            </div>
                                                            <div class="data-figure">
                                                                <div class="post-list design-02 style-01">
                                                                    <div class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure do">
                                                                                <img src="../assets/images/components/tabButton-04-a.jpg" alt=" ">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure dont">
                                                                                <img src="../assets/images/components/tabButton-04-b.jpg" alt=" ">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="multipleTabs">여러 개의 탭을 중첩하는 경우</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <p class="para">
                                                                    불가피하게 탭을 중첩해야 하는 경우 중첩된 탭의 스타일이 시각적으로 분명하게 구분되어야 합니다.
                                                                </p>
                                                            </div>
                                                            <div class="data-figure">
                                                                <div class="post-list design-02 style-01">
                                                                    <div class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure do">
                                                                                <img src="../assets/images/components/tabButton-04-c.jpg" alt=" ">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure dont">
                                                                                <img src="../assets/images/components/tabButton-04-d.jpg" alt=" ">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="data-item">
                                                        <div class="data-wrap">
                                                            <div class="data-head">
                                                                <em class="subject" data-link-cont="largeNumberItemsTab">탭의 항목 수가 많을 경우</em>
                                                            </div>
                                                            <div class="data-body">
                                                                <p class="para">
                                                                    PC에서 모든 탭이 영역의 너비에서 넘쳐서 표시될 수 없는 경우에는 숨겨진 탭을 탐색할 수 있는 좌/우로 이동할 수 있는 컨트롤 요소를 제공해야 합니다.
                                                                </p>
                                                            </div>
                                                            <div class="data-figure">
                                                                <div class="post-list design-02 style-02">
                                                                    <div class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure do">
                                                                                <img src="../assets/images/components/tabButton-04-e.jpg" alt=" ">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="post-item">
                                                                        <div class="post-wrap">
                                                                            <div class="post-figure dont">
                                                                                <img src="../assets/images/components/tabButton-04-f.jpg" alt=" ">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section code">
                                        <div class="section-wrap">
                                            <div class="section-head">
                                                <h4 class="section-subject" data-link-cont="code">Code</h4>
                                                <div class="btn-display">
                                                    <a href="https://codepen.io/PIX-the-bold/pen/gOVwLRy" target="_blank" class="btn view-code design-01">
                                                        View Code
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="section-body">
                                                <pre class="highlight-js">
                                                <code class="html">&lt;div class="nav-type40"&gt;
    &lt;div class="area01"&gt;
        &lt;strong class="title-type011"&gt;
            &lt;a href="#" class="tit01"&gt;산업&lt;/a&gt;
        &lt;/strong&gt;
        &lt;nav class="gnb-menu41 swiper-area swiper-0"&gt;
            &lt;ul class="list01 swiper-wrapper" id="" aria-live="polite"&gt;
                &lt;li class="swiper-slide" role="group" aria-label="1 / 14"&gt;
                    &lt;a href="#" class="txt01"&gt;산업전체&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="swiper-slide active" role="group" aria-label="2 / 14"&gt;
                    &lt;a href="#" class="txt01"&gt;산업/기업&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="swiper-slide" role="group" aria-label="3 / 14"&gt;
                    &lt;a href="#" class="txt01"&gt;전기전자&lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="swiper-slide" role="group" aria-label="4 / 14"&gt;
                    &lt;a href="#" class="txt01"&gt;중화학&lt;/a&gt;
                &lt;/li&gt;
                ...
            &lt;/ul&gt;
        &lt;/nav&gt;
    &lt;/div&gt;
    &lt;div class="area02"&gt;
        &lt;div class="tab-type22 swiper-area"&gt;
            &lt;ul class="swiper-wrapper"&gt;
                &lt;li class="swiper-slide active"&gt;
                    &lt;a href="#" class="tab"&gt;
                        &lt;span class="txt01"&gt;최신영상&lt;/span&gt;
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="swiper-slide "&gt;
                    &lt;a href="#" class="tab"&gt;
                        &lt;span class="txt01"&gt;통통컬처&lt;/span&gt;
                    &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class="swiper-slide "&gt;
                    &lt;a href="#" class="tab"&gt;
                        &lt;span class="txt01"&gt;많이 본 영상&lt;/span&gt;
                    &lt;/a&gt;
                &lt;/li&gt;
                ...
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
                                            </pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="quick-nav">
                            <ul class="nav-list">
                                <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="anatomy">Anatomy</a></li>
                                <li class="nav-item term case-02">
                                    <a href="javascript:void(0)" class="anchor" data-link="options">Options</a>
                                    <ul class="sub-nav-list">
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="label">Label</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="stage">Stage</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="states">States</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="padding">Padding</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="margin">Margin</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item term case-02">
                                    <a href="javascript:void(0)" class="anchor" data-link="elementType">Element Type</a>
                                    <ul class="sub-nav-list">
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="numberitems">항목 수</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="sideMargin">측면 여백</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item term case-02">
                                    <a href="javascript:void(0)" class="anchor" data-link="usage">Usage</a>
                                    <ul class="sub-nav-list">
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="noContent">표시될 콘텐츠가 없는 경우</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="multipleTabs">여러 개의 탭을 중첩하는 경우</a></li>
                                        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="largeNumberItemsTab">탭의 항목 수가 많을 경우</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item term case-01"><a href="javascript:void(0)" class="anchor" data-link="code">Code</a></li>
                            </ul>
                        </div>

                        <!-- //page-aside -->
                    </div>
                </div>
            </div>
        </div>
        <!-- //page-body -->
        <!-- page-foot -->
        <div class="footer" id="footer">
            <div class="footer-inner">
                <div class="footer-head">
                    <em class="footer-subject">©Pentabreed. StyleGuide Create with</em>
                </div>
                <div class="footer-body">
                    <a href="https://www.pentabreed.com" target="_blank" class="company">
                        <span class="text blind">펜타브리드</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- //page-foot -->
    </div>
</body>

</html>