<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>

    document.addEventListener("DOMContentLoaded", () => {
        const pallarax = $(".pallarax").toArray();
        const io = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if(entry.intersectionRatio > 0.1) {
                    entry.target.classList.add("active")
                }
            })
        }, {
            threshold: [0.1]
        })
        pallarax.forEach(element => {
            io.observe(element);
        });
    })
</script>
</head>
<body class="en">
    <div id="wrap">
        <%-include('../_templates.en/_header.ejs', {
            type: 'light',
        })
        %>
        <div class="main company greetings" id="main">
            <div class="main-inner">
                <div class="local case2">
                    <div class="local-head design5" data-local-animation="case-2">
                        <%-include('../_templates.en/_local-info.ejs', {
                            depth1: 'Company',
                            depth2: 'CEO Message',
                            depth3: null,
                            casetype: 'case2'
                        }) %>
                        <div class="local-subject"><h2 class="local-name">We will realize our vision as an AI company and collaborate with diverse stakeholders to build a sustainable future.</h2></div>
                        <div class="local-aside">
                            <div class="local-wrap">
                                <h3 class="local-title">CEO Message</h3>
                            </div>
                        </div>
                        <div class="local-figure">
                            <img src="../../assets/images/company/bg-local-head-greetings-pc.jpg" alt="">
                        </div>
                        <div class="local-util">
                            <p class="scroll-guide">Scroll Down</p>
                        </div>
                    </div>
                    <div class="local-body">
                        <div class="content-head blind">CEO Message</div>
                        <div class="content-body">
                            <div class="section design1 representative-greetings pallarax">
                                <div class="section-wrap">
                                    <div class="section-body">
                                        <div class="data-display">
                                            <div class="data-head">
                                                <h4 class="data-name">
                                                    We are pleased to welcome you<br class="pc-only"> 
                                                    to the SK Networks website.
                                                </h4>
                                            </div>
                                            <div class="data-body">
                                                <p class="para">Since its foundation in 1953, SK Networks has been devoted to increasing the value of its customers, shareholders, and other stakeholders through business model innovations, keeping pace with the changing times. In 2024, SK Networks will be oriented towards three key objectives to achieve a new leap forward and long-term growth.</p>
                                            </div>
                                        </div>
                                        <div class="data-figure">
                                            <div class="img-wrap">
                                                <img src="../../assets/images/company/greetings-ceo-pc.jpg" alt="Lee-Ho Jeong">
                                            </div>
                                            <div class="caption-wrap">
                                                <span class="position">CEO & President</span>
                                                <strong class="name">Lee-Ho Jeong</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section design1 case2 type5 direction1 pallarax">
                                <div class="section-wrap">
                                    <div class="section-head">
                                        <h4 class="section-name">
                                            First, we will evolve into an<br class="pc-only"> artificial intelligence (AI) company.
                                        </h4>
                                        <p class="section-summary">
                                            Once again, SK Networks aims to prepare for a new future in the era of artificial intelligence (AI).
                                        </p>
                                    </div>
                                    <div class="section-body">
                                        <p class="para">
                                            AI is the most powerful trend in existence, and like electricity, it is expected to permeate all industries and individuals’ daily routines. Therefore, the gap between companies that adopt AI and those that do not will become increasingly difficult to bridge over time. In particular, we will integrate AI into our businesses, such as SK Magic, SK Rent-a-car, Walkerhill, and encore to create mutual synergies and demonstrate organic growth. Moreover, we will continuously explore new M&A opportunities across the AI landscape to secure new growth engines. Ultimately, SK Networks aims to utilize AI technology to provide a wide range of products and benefits, thereby maximizing value creation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="section design1 case2 type5 direction2 pallarax">
                                <div class="section-wrap">
                                    <div class="section-head">
                                        <h4 class="section-name">
                                            We will ensure that a sound financial<br class="pc-only"> structure is maintained.
                                        </h4>
                                        <p class="section-summary">
                                            A stable financial structure is a prerequisite for successful change.
                                        </p>
                                    </div>
                                    <div class="section-body">
                                        <p class="para">
                                            This year, while continuously managing the profitability of its core businesses, SK Networks will improve its operating income ratio and further strengthen financial stability, including credit rating management.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="section design1 case2 type5 pallarax">
                                <div class="section-wrap">
                                    <div class="section-head">
                                        <h4 class="section-name">
                                            Third, we will further enhance<br class="pc-only"> shareholder returns.
                                        </h4>
                                        <p class="section-summary">
                                            SK Networks has been deeply contemplating how to strengthen shareholder returns for many years.
                                        </p>
                                    </div>
                                    <div class="section-body">
                                        <p class="para">
                                            As a result, we have increased communication with the market through active IR activities and executed treasury stock buyback and retirement since last year. In addition, we plan to operate a dividend policy linked to performance. To achieve this, business profits and investment performance earnings based on the dividend profits of the headquarters and subsidiaries will be used as a financial source for dividends. We also plan to pay a significant portion of business profit dividends as regular dividends in the first half of the year and introduce interim dividends to additionally pay a proportion of business and investment profits. As we advance, we will demonstrate our sincerity in shareholder returns to repay our shareholders’ trust and confidence in SK Networks.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="section design1 case2 closing pallarax">
                                <div class="section-wrap">
                                    <div class="section-body">
                                        <p class="para">
                                            As we pursue the evolution into an AI company, as mentioned above, SK Networks will realize this vision by transparently communicating with the market and various stakeholders. We also promise to continuously contemplate and strive to promote the company’s sustainable development. We look forward to your continued interest and support in our journey to prepare for a new future.
                                        </p>
                                        <p class="closing-comment">
                                            Thank you.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%-include('../_templates.en/_footer.ejs')%>
    </div>
    <script>
        $(document).ready(function(){
            localAnimations_Case02();
        });
    </script>
</body>
</html>