<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    }) 
    %>
    <div class="main career talented-person" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%- include('../_templates.en/_local-info.ejs', {
                    depth1: 'Career',
                    depth2: 'Human Resource Development',
                    depth3: null,
                }) %>
                <div class="local-head design3">
                    <div class="local-subject">
                        <h2 class="local-name">Human Resource Development</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">Human Resource Development</div>
                    <div class="content-body">
                        <div class="section design1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">HRD (Human Resource Development) of SK Networks</h4>
                                        <div class="section-summary">
                                            <p class="para">SK Networks offers systemized HRD programs to assist inside talents to enhance their capabilities in areas including leadership, job competence and globality by building on SK Values.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 type1 stock">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">AI Company</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list">
                                        <div class="post-wrap">
                                            <div class="post-item">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/career/stock-com-en.png" alt="This is the image of the organization's main job as an expert in a business-type investment company. Please refer to the details below for more information." class="pc-only">
                                                    <img src="../../assets/images/career/stock-com-mo-en.png" alt="This is the image of the organization's main job as an expert in a business-type investment company. Please refer to the details below for more information." class="mo-only scroll" style="min-width: 600px;">
                                                </div>
                                            </div>
                                            <div class="post-body blind">
                                                <strong>Professional Organization with Strong Performance Key Job(career)</strong>
                                                <ul>
                                                    <li>Business Operation</li>
                                                    <li>Function / tech expert</li>
                                                    <li>Investment experts</li>
                                                </ul>
                                                <ul>
                                                    <li>Key Capacity</li>
                                                    <li>
                                                        <ul>
                                                            <li>Business Conduct</li>
                                                            <li>Mgmt</li>
                                                            <li>investment</li>
                                                            <li>Mgmt (Strategy/Marketing/Finance/HR/Legal)</li>
                                                            <li>Core Competence
                                                                <ul>
                                                                    <li>AI</li>
                                                                    <li>Global</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>Key Process</li>
                                                    <li>
                                                        <ul>
                                                            <li>Curriculum by mySUNI College
                                                                <ul>
                                                                    <li>SK Networks' process</li>
                                                                    <li>AI Competence Hierarchy</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 type1 map">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">People’s Capability Development Roadmap</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list">
                                        <div class="post-wrap">
                                            <div class="post-item">
                                                <div class="postfigure">
                                                    <img src="../../assets/images/career/road-map-en.svg" alt="This is a member competency development road map image. Please refer to the following for more information." class="pc-only">
                                                    <img src="../../assets/images/career/road-map-en-mo.png" alt="This is a member competency development road map image. Please refer to the following for more information." class="mo-only" style="min-width: 901px;">
                                                </div>
                                            </div>
                                            <div class="post-body blind">
                                                <ul>
                                                    <li>
                                                        2022~2023<br> 
                                                        <em>Reskilling &amp; Upskilling with focus on job/career</em><br> 
                                                        Overcoming the skill gap against the acceleration of technological / environmental innovation
                                                    </li>
                                                    <li>
                                                        2024~2026<br> 
                                                        <em>Enhancing Core Competence (AI, Global, etc.)</em><br> 
                                                        Fostering expertise in each business domain
                                                    </li>
                                                    <li>
                                                        2027~<br> 
                                                        <em>Virtuous cycle of businesses-skills-investment responsibilities</em><br> 
                                                        Greater circulation of job responsibilities considering the needs of AI Company
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">AI Competency framework</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list">
                                        <div class="post-wrap">
                                            <div class="post-item">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/career/ai-en.svg" alt="This is an image of the AI competency system, please refer to the following for more information." class="pc-only">
                                                    <img src="../../assets/images/career/ai-en-mo.png" alt="This is an image of the AI competency system, please refer to the following for more information." class="mo-only" style="min-width: 600px;">
                                                </div>
                                                <div class="post-body blind">
                                                    <ul>
                                                        <li>Lv.1 Individuals with AI literacy</li>
                                                        <li>Lv.2 Talents capable of applying AI to their work</li>
                                                        <li>Lv.3 Talents capable of transforming work through AI</li>
                                                        <li>Lv.4 Talents capable of innovating business and creating opportunities with AI</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">AI Competence Roadmap</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="t-display design1 case1 type1 align3 scroll">
                                        <table style="min-width: 763px;" class="col-w-1">
                                            <caption>This table provides AI competency roadmap information, which consists of plans from ~23 years (Data Utilization Competency Scheme), 24 years and 25 years.</caption>
                                            <colgroup>
                                                <col class="col1">
                                                <col class="col2">
                                                <col class="col3">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">~ 2023 (Data utilization capability Hierarchy)</th>
                                                    <th scope="col">2024</th>
                                                    <th scope="col">2025 ~</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Lv.1 414 persons, Lv.2 162 persons</td>
                                                    <td>Lv.1 50% of all people, Lv.2 15% of all people</td>
                                                    <td>Lv.1 50% all people, Lv.2 30% of all people</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p class="para">
                                        SK Networks designs and implements training programs aimed at developing the competence of SKN people. These programs provide an optimal blend of theory and practical applications, enabling SKN people to effectively integrate their learning into actual business processes. We assess their satisfaction levels of participants with these training programs. In 2023, a total of 149 SKN people participated in the Iljaler (Better Worker) training program, with an average satisfaction score of 4.88 out of 5 We continuously evaluate the satisfaction and effectiveness of our program and solicit feedback from SKN people to enhance and refine our training initiatives.
                                    </p>
                                    <div class="btn-display align1">
                                        <div class="btn-area">
                                            <a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">Employee Competency Development Direction</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>

</html>