<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        Tab();
    });
</script>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main career recruit" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates.en/_local-info.ejs', {
                    depth1: 'Career',
                    depth2: 'Recruitment information',
                    depth3: null,
                }) %>
                <div class="local-head design3">
                    <div class="local-subject">
                        <h2 class="local-name">Recruitment information</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">Recruitment information</div>
                    <div class="content-body">
                        <div class="section design1 type1 rec-info">
                            <div class="section-wrap">
                                <div class="section-body">
                                    <div class="tab-display design1 case1 type1">
                                        <div class="swiper tab-wrap">
                                            <ul class="swiper-wrapper tab-list" role="tablist">
                                                <li id="tab1" class="swiper-slide tab-item recruit-tab-item" aria-controls="tab-panel1">
                                                    <button role="tab" class="tab-text">Jobs at SK Networks</button>
                                                </li>
                                                <li id="tab2" class="swiper-slide tab-item recruit-tab-item" aria-controls="tab-panel2">
                                                    <button role="tab" class="tab-text">Recruitment Process</button>
                                                </li>
                                                <li id="tab3" class="swiper-slide recruit-tab-item">
                                                    <a href="https://www.skcareers.com" class="tab-text" target="_blank" title="Opens in a new window.">Job Openings</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-display design1 case1">
                                        <div class="panel-list">
                                            <div id="tab-panel1" class="panel-item" role="tabpanel">
                                                <div class="panel-wrap">
                                                    <div class="panel-head">
                                                        <div class="data-display design2 case4 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Jobs at SK Networks</p>
                                                                        </div>
                                                                        <div class="item-body bg"></div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="board-list design1 case1 type1">
                                                            <div class="board-item">
                                                                <div class="board-wrap">
                                                                    <div class="board-head">
                                                                        <p class="board-subject">ICT Marketing</p>
                                                                        <div class="bullet-display design1 case1 type1">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">Mobile phone terminal wholesale (including ICT devices), management and support for manufacturers and distributors</li>
                                                                                <li class="data-item">Direct online channel planning &amp; operation</li>
                                                                                <li class="data-item">Logistics operation process planning/design, cost analysis</li>
                                                                                <li class="data-item">Used ICT device distribution, New recycle service planning</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="board-util">
                                                                        <div class="btn-display align1">
                                                                            <div class="btn-area">
                                                                                <a class="btn design3 case1 type1 color2 ar-icon-arrow-right2-bg" href="https://www.skcareers.com" target="_blank" title="Opens in a new window."><span class="btn-text">Go to ICT Marketing</span></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="board-item">
                                                                <div class="board-wrap">
                                                                    <div class="board-head">
                                                                        <p class="board-subject">Trading</p>
                                                                        <div class="bullet-display design1 case1 type1">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">Global Trading (direct export to overseas clients, intermediary trading among three countries) for chemical/material products.</li>
                                                                                <li class="data-item">RM monitoring of overseas branches, profit/loss impact analysis, overseas investor management and issue resolution support</li>
                                                                                <li class="data-item">Overseas agent management, market condition analysis and Global Biz Trend investigation</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="board-util">
                                                                        <div class="btn-display align1">
                                                                            <div class="btn-area">
                                                                                <a class="btn design3 case1 type1 color2 ar-icon-arrow-right2-bg" href="#"><span class="btn-text">Go to Global Trading</span></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                            <div class="board-item">
                                                                <div class="board-wrap">
                                                                    <div class="board-head">
                                                                        <p class="board-subject">Business Administration</p>
                                                                        <div class="bullet-display design1 case1 type1">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">Company-wide management strategy planning, investment review, benefit/loss management</li>
                                                                                <li class="data-item">Finance, accounting, taxation</li>
                                                                                <li class="data-item">HR, purchase, PR, legal affairs, SHE</li>
                                                                                <li class="data-item">Corporate Culture, SV(Social Value)</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="board-item">
                                                                <div class="board-wrap">
                                                                    <div class="board-head">
                                                                        <p class="board-subject">Walkerhill Hotels & Resorts</p>
                                                                        <div class="bullet-display design1 case1 type1">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">Marketing, promotion planning</li>
                                                                                <li class="data-item">Hotel business upgrade and BM innovation planning &amp; operation</li>
                                                                                <li class="data-item">New business development including outside projects</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="board-util">
                                                                        <div class="btn-display align1">
                                                                            <div class="btn-area">
                                                                                <a class="btn design3 case1 type1 color2 ar-icon-arrow-right2-bg" href="#"><span class="btn-text">Go to Walkerhill Hotels &amp; Resorts</span></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="tab-panel2" class="panel-item" role="tabpanel">
                                                <div class="panel-wrap">
                                                    <div class="panel-head">
                                                        <div class="data-display design2 case4 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Phased candidate screening process</p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul class="board-list design11 case1 type1">
                                                            <li class="board-item">
                                                                <div class="board-wrap">
                                                                    <div class="board-figure">
                                                                        <img src="../../assets/images/career/appl.svg" alt="">
                                                                    </div>
                                                                    <div class="board-info">
                                                                        <strong class="board-name">Job application</strong>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="board-item">
                                                                <div class="board-wrap">
                                                                    <div class="board-figure">
                                                                        <img src="../../assets/images/career/doc.svg" alt="">
                                                                    </div>
                                                                    <div class="board-info">
                                                                        <strong class="board-name">Document screening</strong>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="board-item">
                                                                <div class="board-wrap">
                                                                    <div class="board-figure">
                                                                        <img src="../../assets/images/career/write.svg" alt="">
                                                                    </div>
                                                                    <div class="board-info">
                                                                        <strong class="board-name">Written test screening</strong>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="board-item">
                                                                <div class="board-wrap">
                                                                    <div class="board-figure">
                                                                        <img src="../../assets/images/career/inter.svg" alt="">
                                                                    </div>
                                                                    <div class="board-info">
                                                                        <strong class="board-name">Interview screening</strong>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="board-item">
                                                                <div class="board-wrap">
                                                                    <div class="board-figure">
                                                                        <img src="../../assets/images/career/audit.svg" alt="">
                                                                    </div>
                                                                    <div class="board-info">
                                                                        <strong class="board-name">Health checkup</strong>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="board-item">
                                                                <div class="board-wrap">
                                                                    <div class="board-figure">
                                                                        <img src="../../assets/images/career/accept.svg" alt="">
                                                                    </div>
                                                                    <div class="board-info">
                                                                        <strong class="board-name">Final acceptance</strong>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <div class="data-display design2 case4 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Job application</p>
                                                                            <p class="para">
                                                                                Online job applications are received through SK Talent Portal (<a href="https://www.skcareers.com/" target="_blank" title="Opens in a new window."><u>www.skcareers.com</u></a>)
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="data-display design2 case4 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Document screening</p>
                                                                            <p class="para">
                                                                                Submitted documents shall be reviewed to check the applicant’s academic background, career history, job relevancy and whether there is any reason for disqualification. In particular, application letters drafted by the applicants themselves are subject to joint review by the HR department and relevant department to have a closer look into their values and see to what extent the values correspond to those sought by SK.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="data-display design2 case4 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Written examination screening</p>
                                                                            <p class="para">
                                                                                SKCT measures competences required to perform tasks in SK in diverse and comprehensive perspectives. SKCT comprises the following criteria: critical thinking measures complex and high-level thinking abilities required to perform tasks; situational judgment measures whether an adequate judgment can be made in problematic situations that can be faced during work; and, work personality measures whether an applicant’s personality, values and attitudes are suitable to perform tasks.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="data-display design2 case4 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Interview screening</p>
                                                                            <p class="para">
                                                                                Various interview tools in forms of individual/group interviews are used to assess an applicant’s expertise, level of job understanding, ability to perform tasks, potential capacities, viewpoints on enterprises, Pae-gy: the spirit of ambition, etc.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="data-display design2 case4 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Health checkup</p>
                                                                            <p class="para">
                                                                                Health checkup is arranged for applicants who passed the interview screening.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="data-display design2 case4 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Recruitment methods</p>
                                                                            <p class="para">
                                                                                New hire recruitment is categorized into on-demand recruitment and internship programs linked with job opportunities. Career employee recruitment is arranged on demand when a position becomes available.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>

</html>