<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    }) 
    %>
    <div class="main career corporate-culture" id="main">
        <div class="main-inner">
            <div class="local design1">
                <%-include('../_templates.en/_local-info.ejs', {
                    depth1: 'Career',
                    depth2: 'Business Culture',
                    depth3: null,
                }) %>
                <div class="local-head design3"> 
                    <div class="local-subject">
                        <h2 class="local-name">Business Culture</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">Business Culture</div>
                    <div class="content-body">
                        <div class="section design1 type1 bg-color corp-cul">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Key Competences of the Right People for SK Networks</h4>
                                        <div class="section-summary">
                                            SK Networks people seek to become experts who can create customer value with Pae-gy: the spirit of ambition and communication by implementing SKMS/SUPEX, the group’s essential values.
                                        </div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <ul class="board-list design7 case2 type4">
                                        <li class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure">
                                                    <img src="../../assets/images/career/guts.svg" alt="">
                                                </div>
                                                <div class="board-info">
                                                    <strong class="board-name">Pae-gy</strong>
                                                    <p class="para">acting with the spirit of ambition</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure">
                                                    <img src="../../assets/images/career/oriantation.svg" alt="">
                                                </div>
                                                <div class="board-info">
                                                    <strong class="board-name">Customer-orientation</strong>
                                                    <p class="para">tuning with the customers</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure">
                                                    <img src="../../assets/images/career/professionalism.svg" alt="">
                                                </div>
                                                <div class="board-info">
                                                    <strong class="board-name">Expertise</strong>
                                                    <p class="para">devoted to continued self-development and owning a high level of expertise</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure">
                                                    <img src="../../assets/images/career/commu.svg" alt="">
                                                </div>
                                                <div class="board-info">
                                                    <strong class="board-name">Communication</strong>
                                                    <p class="para">communicating and cooperating with people with an open mind</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 type1 corp-system">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">SKMS(SK Management System)</h4>
                                        <div class="section-summary">
                                            <p class="para">A systematic collection of SK’s unique management ethos and techniques, the SKMS (SK Management System) was first established in 1979. Empowered and shared by the SK People, it has underpinned SK’s corporate culture, playing a critical role in fostering SK’s unique management initiatives and corporate differentiators that have enabled SK to continuously grow and advance.</p>
                                            <p class="para">The SKMS continues to evolve as the foundation of SK’s management philosophy and corporate culture to ensure the group’s global leadership in the rapidly changing business landscape. SK People have chosen to join SK with the belief that they can be happier when working at SK. They have been faithful to such a belief, with confidence in and enthusiasm for SK management philosophy.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="management">
                                        <div class="post-list design5 case1 type1">
                                            <div class="post-item">
                                                <div class="post-wrap">
                                                    <div class="post-figure">
                                                        <img src="../../assets/images/career/mng-phil-en.png" alt="Commitment to the Philosophy. Happiness of SK people, VWBE Culture, SUPEX Company" style="max-width: 758px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="board-list design10 case1 type1">
                                        <li class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <strong class="board-name">Sustainable Happiness of SK People</strong>
                                                    <p class="para">The ultimate purpose of SK’s business management is the happiness of SK People. As responsible members of SK, SK People will act on the conviction that cultivating the happiness of all members with the company’s organized power can also elevate their own happiness. SK will simultaneously pursue the happiness of SK People and of its stakeholders. All value that a company creates for the happiness of its stakeholders is social value. SK, by creating social value, will elevate its economic value and develop a relationship of trust with its stakeholders.</p>
                                                </div>
                                                <div class="board-figure">
                                                    <img src="../../assets/images/career/career-system1.jpg" alt="an image of people in a meeting">
                                                </div>
                                            </div>
                                        </li>
                                        <li class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <strong class="board-name">VWBE Culture</strong>
                                                    <p class="para">When SK People pursue their own happiness, they engage their brain voluntarily and willingly. A voluntary and willing brain engagement expresses itself in the form of Pae-gi, which means a spirit that challenges and overcomes hurdles in one’s work. People who possess Pae-gi are self-motivated; they raise issues, challenge high goals, and break existing frameworks through bold execution. In the process, they strive to develop the necessary competencies and achieve higher results by actively communicating with others. By accumulating experiences of happiness, SK People will endeavor to establish VWBE as SK’s unique culture.</p>
                                                </div>
                                                <div class="board-figure">
                                                    <img src="../../assets/images/career/career-system2.jpg" alt="images of people discussing">
                                                </div>
                                            </div>
                                        </li>
                                        <li class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-info">
                                                    <strong class="board-name">SUPEX Company</strong>
                                                    <p class="para">The SUPEX Company is a company which, having secured the highest level of competitiveness and conditions for its longevity, sustainably creates economic value, social value, and member happiness. To keep creating economic and social values and happiness for its people, SK vows to be a better company and endeavors to turn itself into a SUPEX Company.</p>
                                                </div>
                                                <div class="board-figure">
                                                    <img src="../../assets/images/career/career-system3.jpg" alt="building image">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>

</html>