<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main error-page" id="main">
        <div class="main-inner">
            <em class="content-head">500</em>
            <div class="content-body">
                <p class="para type1">Internet Server Error</p>
                <p class="para type2">We apologize for any inconvenience caused in using our service.<br> 
                    A system error occurred and the page cannot be displayed.</p>
            </div>
            <div class="content-util">
                <div class="btn-display">
                    <a class="btn design3 case1 type1 color1 ar-icon-arrow-right2-bg" href="/"><span class="btn-text">Back to home</span></a>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>

</body>
</html>