<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
</head>
<body class="kr">
<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main error-page" id="main">
        <div class="main-inner">
            <em class="content-head">500</em>
            <div class="content-body">
                <p class="para type1">Internet Server Error</p>
                <p class="para type2">서비스 이용에 불편을 드려 죄송합니다.<br> 시스템 에러가 발생하여 페이지를 표시할 수 없습니다.</p>
            </div>
            <div class="content-util">
                <div class="btn-display">
                    <a class="btn design3 case1 type1 color1 ar-icon-arrow-right2-bg" href="/"><span class="btn-text">메인으로 돌아가기</span></a>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>

</body>
</html>