<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
<script>
	document.addEventListener("DOMContentLoaded", () => {
		Anchor()

		var scrollSpy = new bootstrap.ScrollSpy(document.body, {
			target: '#navbar-example2'
		})
	});
</script>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Anchor</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Anchor system</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;div class=&quot;anchor-display design1 case1 type1&quot;&gt;
	&lt;div class=&quot;anchor-list swiper&quot;&gt;
		&lt;ul class=&quot;swiper-wrapper&quot;&gt;
			&lt;li class=&quot;anchor-item swiper-slide&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;anchor-btn&quot;&gt;&lt;div class=&quot;btn-text&quot;&gt;&#46020;&#50557;&#44592;&lt;/div&gt;&lt;/button&gt;
			&lt;/li&gt;
			&lt;li class=&quot;anchor-item swiper-slide&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;anchor-btn&quot;&gt;&lt;div class=&quot;btn-text&quot;&gt;&#49457;&#51109;&#44592;&lt;/div&gt;&lt;/button&gt;
			&lt;/li&gt;
			&lt;li class=&quot;anchor-item swiper-slide&quot;&gt;
				&lt;button type=&quot;button&quot; class=&quot;anchor-btn&quot;&gt;&lt;div class=&quot;btn-text&quot;&gt;&#53468;&#46041;&#44592;&lt;/div&gt;&lt;/button&gt;
			&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">demos</div>
							<div class="subsection-body">
								<div class="anchor-display design1 case1 type1">
									<div class="anchor-list">
										<ul class="swiper-wrapper">
											<li class="anchor-item">
												<button type="button" class="anchor-btn" aria-label="Period"><div class="btn-text">도약기</div></button>
											</li>
											<li class="anchor-item">
												<button type="button" class="anchor-btn" aria-label="Growth"><div class="btn-text">성장기</div></button>
											</li>
											<li class="anchor-item">
												<button type="button" class="anchor-btn" aria-label="Beginning"><div class="btn-text">태동기</div></button>
											</li>
										</ul>
									</div>
								</div>

								<div class="anchor-panel" id="Period" style="width: 100%; height: 50vh; background-color: green;">

								</div>
								<div class="anchor-panel" id="Growth" style="width: 100%; height: 50vh; background-color: rgb(128, 105, 0);">

								</div>
								<div class="anchor-panel" id="Beginning" style="width: 100%; height: 50vh; background-color: rgb(0, 32, 128);">

								</div>
							</div>
						</div>
						<div class="subsection" style="position: relative;">
							<div class="subsection-head">demos</div>
							<div class="subsection-body">
								<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
									<ul class="nav nav-pills" style="display: flex;">
										<li class="nav-item">
										<a class="nav-link" href="#scrollspyHeading1">First</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#scrollspyHeading2">Second</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#scrollspyHeading3">3</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#scrollspyHeading4">4</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#scrollspyHeading5">5</a>
										</li>
									</ul>
									</nav>
									<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
									<h4 id="scrollspyHeading1">First heading</h4>
									<p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem et alias ipsam ullam modi dicta molestiae voluptatum laboriosam veniam voluptates maiores quasi, facere aliquid, atque accusantium est adipisci voluptatibus cupiditate soluta, saepe recusandae! Voluptatibus incidunt, temporibus nam ea reiciendis iure explicabo quo consequuntur cumque optio harum, earum sed consequatur enim officiis. Molestiae nesciunt non ullam. A repellendus praesentium ex molestias aut doloribus, sit ad velit aspernatur earum provident, quo ipsum natus dolor quod minus delectus dolores ipsam nemo facilis magnam blanditiis. Assumenda nihil ipsa exercitationem laboriosam quia autem unde maiores ipsam, cupiditate accusantium eveniet repellat rem ea quidem expedita velit?</p>
									<h4 id="scrollspyHeading2">Second heading</h4>
									<p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem et alias ipsam ullam modi dicta molestiae voluptatum laboriosam veniam voluptates maiores quasi, facere aliquid, atque accusantium est adipisci voluptatibus cupiditate soluta, saepe recusandae! Voluptatibus incidunt, temporibus nam ea reiciendis iure explicabo quo consequuntur cumque optio harum, earum sed consequatur enim officiis. Molestiae nesciunt non ullam. A repellendus praesentium ex molestias aut doloribus, sit ad velit aspernatur earum provident, quo ipsum natus dolor quod minus delectus dolores ipsam nemo facilis magnam blanditiis. Assumenda nihil ipsa exercitationem laboriosam quia autem unde maiores ipsam, cupiditate accusantium eveniet repellat rem ea quidem expedita velit?</p>
									<h4 id="scrollspyHeading3">Third heading</h4>
									<p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem et alias ipsam ullam modi dicta molestiae voluptatum laboriosam veniam voluptates maiores quasi, facere aliquid, atque accusantium est adipisci voluptatibus cupiditate soluta, saepe recusandae! Voluptatibus incidunt, temporibus nam ea reiciendis iure explicabo quo consequuntur cumque optio harum, earum sed consequatur enim officiis. Molestiae nesciunt non ullam. A repellendus praesentium ex molestias aut doloribus, sit ad velit aspernatur earum provident, quo ipsum natus dolor quod minus delectus dolores ipsam nemo facilis magnam blanditiis. Assumenda nihil ipsa exercitationem laboriosam quia autem unde maiores ipsam, cupiditate accusantium eveniet repellat rem ea quidem expedita velit?</p>
									<h4 id="scrollspyHeading4">Fourth heading</h4>
									<p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem et alias ipsam ullam modi dicta molestiae voluptatum laboriosam veniam voluptates maiores quasi, facere aliquid, atque accusantium est adipisci voluptatibus cupiditate soluta, saepe recusandae! Voluptatibus incidunt, temporibus nam ea reiciendis iure explicabo quo consequuntur cumque optio harum, earum sed consequatur enim officiis. Molestiae nesciunt non ullam. A repellendus praesentium ex molestias aut doloribus, sit ad velit aspernatur earum provident, quo ipsum natus dolor quod minus delectus dolores ipsam nemo facilis magnam blanditiis. Assumenda nihil ipsa exercitationem laboriosam quia autem unde maiores ipsam, cupiditate accusantium eveniet repellat rem ea quidem expedita velit?</p>
									<h4 id="scrollspyHeading5">Fifth heading</h4>
									<p style="font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem et alias ipsam ullam modi dicta molestiae voluptatum laboriosam veniam voluptates maiores quasi, facere aliquid, atque accusantium est adipisci voluptatibus cupiditate soluta, saepe recusandae! Voluptatibus incidunt, temporibus nam ea reiciendis iure explicabo quo consequuntur cumque optio harum, earum sed consequatur enim officiis. Molestiae nesciunt non ullam. A repellendus praesentium ex molestias aut doloribus, sit ad velit aspernatur earum provident, quo ipsum natus dolor quod minus delectus dolores ipsam nemo facilis magnam blanditiis. Assumenda nihil ipsa exercitationem laboriosam quia autem unde maiores ipsam, cupiditate accusantium eveniet repellat rem ea quidem expedita velit?</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>