<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Board</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section board-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Board system</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;div class=&quot;board-list design1 case1 type1&quot;&gt;
	&lt;div class=&quot;board-item&quot;&gt;
		&lt;div class=&quot;board-wrap&quot;&gt;
			&lt;div class=&quot;board-head&quot;&gt;
				&lt;span class=&quot;board-subject&quot;&gt;...&lt;/span&gt;
				&lt;span class=&quot;board-caption&quot;&gt;...&lt;/span&gt;
			&lt;/div&gt;
			&lt;div class=&quot;board-info&quot;&gt;...&lt;/div&gt;
			&lt;div class=&quot;board-util&quot;&gt;...&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>
<!-- //highlight-js -->
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section board-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Info board</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-info">
								<!-- board -->
								<div class="board-list design1 case1 type1">
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-subject">연결 감사보고서</p>
												<p class="board-date">2023년</p>
											</div>
											<div class="board-util">
												<div class="btn-display align2">
													<div class="btn-area">
														<a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">다운로드</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-subject">연결 감사보고서</p>
												<p class="board-date">2023년</p>
											</div>
											<div class="board-util">
												<div class="btn-display align2">
													<div class="btn-area">
														<a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">다운로드</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-subject">연결 감사보고서</p>
												<p class="board-date">2023년</p>
											</div>
											<div class="board-util">
												<div class="btn-display align2">
													<div class="btn-area">
														<a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">다운로드</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //board -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-info">
								<!-- board -->
								<div class="board-list design2 case1 type1">
									<div class="board-item">
										<a href="#" class="board-info">
											<span class="board-name">이전글</span>
											<span class="board-caption">[엔코아] 엔코아, 2024 AI 제품 서비스 개발을 주도할 기술 인재 채용</span>
										</a>
										<a href="#" class="board-info">
											<span class="board-name">다음글</span>
											<span class="board-caption">[SK네트웍스] SK네트웍스, 탄소중립 경영 글로벌 기관 인정!
											</span>
										</a>
									</div>
								</div>
								<!-- //board -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-info">
								<!-- board -->
								<div class="board-list design3 case1 type1">
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-info">
												<span class="board-name">SK네트웍스의 최신 소식과 더 많은 이야기를 들으시려면?</span>
											</div>
											<div class="board-util">
												<div class="btn-display design1 case2">
													<div class="btn-area">
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">구독</span></a>
														<a class="btn design1 case1 type1 color2" href="#"><span class="btn-text">ㅅㅋN 방문</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //board -->
							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-info">
								<!-- board -->
								<div class="board-list design4 case1 type1 scroll">
									<a href="#" class="board-item">
										<div class="board-wrap">
											<div class="board-info">
												<p class="board-caption">경영실적발표</span>
												<p class="board-name">24년 1분기 실적 및 전략 발표회</p>
											</div>
											<div class="board-util">
												<div class="mark-display case3">
													<div class="mark-list">
														<div class="mark design2 case1 al-icon-location">
															<div class="mark-text-area case1">
																<span class="mark-text">해외</span>
															</div>
														</div>
														<div class="mark design2 case1 al-icon-calendar" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">2024.04.01</span>
																<span class="mark-text accent case2 color3">오후 1시</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a href="#" class="board-item">
										<div class="board-wrap">
											<div class="board-info">
												<p class="board-caption">해외NDR</p>
												<p class="board-name">해외 기업 설명회</p>
											</div>
											<div class="board-util">
												<div class="mark-display case3">
													<div class="mark-list">
														<div class="mark design2 case1 al-icon-location">
															<div class="mark-text-area case1">
																<span class="mark-text">해외</span>
															</div>
														</div>
														<div class="mark design2 case1 al-icon-calendar" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">2024.04.01</span>
																<span class="mark-text accent case2 color3">오후 1시</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a href="#" class="board-item">
										<div class="board-wrap">
											<div class="board-info">
												<p class="board-caption">경영실적발표</p>
												<p class="board-name">24년 1분기 실적 및 전략 발표회</p>
											</div>
											<div class="board-util">
												<div class="mark-display case3">
													<div class="mark-list">
														<div class="mark design2 case1 al-icon-location">
															<div class="mark-text-area case1">
																<span class="mark-text">해외</span>
															</div>
														</div>
														<div class="mark design2 case1 al-icon-calendar" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">2024.04.01</span>
																<span class="mark-text accent case2 color3">오후 1시</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
									<a href="#" class="board-item">
										<div class="board-wrap">
											<div class="board-info">
												<p class="board-caption">해외NDR</p>
												<p class="board-name">해외 기업 설명회</p>
											</div>
											<div class="board-util">
												<div class="mark-display case3">
													<div class="mark-list">
														<div class="mark design2 case1 al-icon-location">
															<div class="mark-text-area case1">
																<span class="mark-text">해외</span>
															</div>
														</div>
														<div class="mark design2 case1 al-icon-calendar" href="#">
															<div class="mark-text-area case1">
																<span class="mark-text">2024.04.01</span>
																<span class="mark-text accent case2 color3">오후 1시</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</a>
								</div>
								<!-- //board -->
							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-info">
								<!-- board -->
								<div class="board-list design6 case1 type1 scroll">
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-rank">A1</p>
											</div>
											<div class="board-info">
												<div class="data-head">
													<p class="data-subject">NICE 신용평가</p>
												</div>
												<div class="data-body">
													<span class="head">평가일</span>
													<span class="body">2023.04.03</span>
												</div>
											</div>
										</div>
									</div>
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-rank">-</p>
											</div>
											<div class="board-info">
												<div class="data-head">
													<p class="data-subject">한국신용평가㈜</p>
												</div>
												<div class="data-body">
													<span class="head">평가일</span>
													<span class="body">2023.04.03</span>
												</div>
											</div>
										</div>
									</div>
									<div class="board-item">
										<div class="board-wrap">
											<div class="board-head">
												<p class="board-rank">-</p>
											</div>
											<div class="board-info">
												<div class="data-head">
													<p class="data-subject">한국기업평가㈜</p>
												</div>
												<div class="data-body">
													<span class="head">평가일</span>
													<span class="body">2023.04.03</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- //board -->
							</div>
						</div>
						
                        
                        <div class="subsection line">
                            <ul class="board-list design7 case1 type1">
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt="">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">Digital Transformation</strong>
                                            <p class="para">Digital 기술은 우리 삶을 편리하고 스마트하게 만듭니다. 사회의 의미 있는 변화를 꿈꾸며 Digital 기술에 투자하고 있습니다.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt="">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">Web 3</strong>
                                            <p class="para">보안, 탈중앙화, 투명성으로 대표되며 향후 다양한 산업에서 적용될 Web3 / 블록체인 영역에 투자하며 미래를 준비하고 있습니다.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt="">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">Sustainability</strong>
                                            <p class="para">전 세대를 아우르는 미래 가치를 만들어내기 위해 지속가능한 발전을 추구하고 있습니다.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="subsection">
                            <ul class="board-list design7 case1 type2">
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt="">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">FY2023 매출액</strong>
                                            <p class="para">4조 5,000억 원</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt="">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">FY2022 단말기 판매대수</strong>
                                            <p class="para">433만 대</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="board-item">
                                    <div class="board-wrap">
                                        <div class="board-figure">
                                            <img src="https://place-hold.it/140x140" alt="">
                                        </div>
                                        <div class="board-info">
                                            <strong class="board-name">전국 물류센터</strong>
                                            <p class="para">6개</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="subsection line">
                            <ul class="board-list design10 case1 type1">
                                <li class="board-item">
                                    <div class="board-wrap">
										<div class="board-info">
											<strong class="board-name">구성원의 지속적 행복</strong>
                                            <p class="para">SK 경영의 궁극적인 목적은 구성원의 행복입니다. 구성원은 행복의 주체로서 전체의 행복을 추구하며 조직화된 힘을 통해 각자의 행복은 더욱 커지게 됩니다. 또한 SK는 회사를 둘러싼 이해관계자의 행복까지 동시에 추구합니다. 사회적 가치 창출을 통한 경제적 가치를 키우고 이해관계자와 신뢰 관계를 통해 행복의 조화와 균형을 이루어 나가는 것, 이것이 SK가 추구하는 궁극적인 가치입니다.</p>
                                        </div>
										<div class="board-figure">
											<img src="/assets/images/career/career-system1.jpg" alt="">
										</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="subsection line">
							<!-- esg : 자료실 -->
							<div class="board-list design14 case1 type1">
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-head">
											<em class="board-subject">ISMS</em>
										</div>
										<div class="board-util">
											<div class="btn-display design1 case6 align5">
												<div class="btn-area">
													<a class="btn design3 case2 type3 color5 ar-icon-arrow-right-up2-2" href="#"><span class="btn-text">바로가기</span></a>
													<a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">다운로드</span></a>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-head">
											<em class="board-subject">ISMS-P</em>
										</div>
										<div class="board-util">
											<div class="btn-display design1 case6 align5">
												<div class="btn-area">
													<a class="btn design3 case2 type3 color5 ar-icon-arrow-right-up2-2" href="#"><span class="btn-text">바로가기</span></a>
													<a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">다운로드</span></a>
												</div>
											</div>
										</div>
										
									</div>
								</div>
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-head">
											<em class="board-subject">가족친화기업</em>
										</div>
										<div class="board-util">
											<div class="btn-display design1 case6 align5">
												<div class="btn-area">
													<a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">다운로드</span></a>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- //esg : 자료실 -->
                        </div>
						<div class="subsection line">
							<ul class="board-list design17 case1 type1">
								<li class="board-item">
									<div class="board-wrap">
										<div class="board-figure">
											<img src="../../assets/images/sustainability/company.png" alt="">
										</div>
										<div class="board-name">
											<em class="board-caption">참여사</em>
											<p class="para">SK네트웍스 및<br>
												6개 자/손회사</p>
										</div>
									</div>
								</li>
								<li class="board-item">
									<div class="board-wrap">
										<div class="board-figure">
											<img src="../../assets/images/sustainability/modal.png" alt="">
										</div>
										<div class="board-name">
											<em class="board-caption">모듈</em>
											<p class="para">법무/CR/SHE</p>
										</div>
									</div>
								</li>
								<li class="board-item">
									<div class="board-wrap">
										<div class="board-figure">
											<img src="../../assets/images/sustainability/team.png" alt="">
										</div>
										<div class="board-name">
											<em class="board-caption">구성원 수</em>
											<p class="para">34명<br   >
												(2020년 기준)</p>
										</div>
									</div>
								</li>
								<li class="board-item">
									<div class="board-wrap">
										<div class="board-figure">
											<img src="../../assets/images/sustainability/act.png" alt="">
										</div>
										<div class="board-name">
											<em class="board-caption">주요 활동</em>
											<p class="para">컴플라이언스 민감도
												제고 및 대응 능력<br>
												Upgrade, 공동교육 및<br>
												정보 공유,
												코로나19 비상 대응</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="subsection line">
							<div class="board-list esg-health">
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-figure medi"></div>
										<div class="board-name">의무실</div>
									</div>
								</div>
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-figure health"></div>
										<div class="board-name">의무실</div>
									</div>
								</div>
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-figure fit"></div>
										<div class="board-name">의무실</div>
									</div>
								</div>
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-figure food"></div>
										<div class="board-name">의무실</div>
									</div>
								</div>
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-figure mass"></div>
										<div class="board-name">의무실</div>
									</div>
								</div>
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-figure stairs"></div>
										<div class="board-name">의무실</div>
									</div>
								</div>
							</div>
						</div>
						<div class="subsection line">
							<div class="board-list esg-stand">
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-figure earth"></div>
										<div class="board-name">Environment & 환경</div>
										<div class="board-body double">
											<div class="bullet-display design1 case2 type2">
												<ul class="data-list">
													<li class="data-item">환경 전략</li>
													<li class="data-item">환경 경영</li>
												</ul>
											</div>
											<div class="bullet-display design1 case2 type2">
												<ul class="data-list">
													<li class="data-item">환경 성과</li>
													<li class="data-item">환경 관리</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-figure people"></div>
										<div class="board-name">Social & 사회</div>
										<div class="board-body double">
											<div class="bullet-display design1 case2 type2">
												<ul class="data-list">
													<li class="data-item">고용 안정</li>
													<li class="data-item">고용 조건</li>
													<li class="data-item">고용 평등</li>
													<li class="data-item">고용 평등</li>
													<li class="data-item">고용 평등</li>
												</ul>
											</div>
											<div class="bullet-display design1 case2 type2">
												<ul class="data-list">
													<li class="data-item">안전 보건</li>
													<li class="data-item">안전 투자</li>
													<li class="data-item">공급망 관리</li>
													<li class="data-item">교육 관리 </li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="board-item">
									<div class="board-wrap">
										<div class="board-figure law"></div>
										<div class="board-name">Governance & 경제/경영</div>
										<div class="board-body double">
											<div class="bullet-display design1 case2 type2">
												<ul class="data-list">
													<li class="data-item">경영 안전성</li>
													<li class="data-item">회계 투명성</li>
												</ul>
											</div>
											<div class="bullet-display design1 case2 type2">
												<ul class="data-list">
													<li class="data-item">경영 시스템</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- esg -->
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>