<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
				<!-- page-body -->
				<div class="page-body">
					<!-- local-head -->
					<div class="local-head">
						<h2 class="local-subject">
							<span class="local-name">Button</span>
							<span class="local-desc">버튼은 디자인 시스템의 비주얼 스타일을 보여주는 중요한 구성요소입니다.</span>
						</h2>
					</div>
					<!-- //local-head -->
					<!-- local-body -->
					<div class="local-body">
						<!-- section -->
						<div class="section button-guide">
							<div class="section-head">
								<h4 class="section-subject">
									<span class="section-name">Text Button</span>
								</h4>
								<p class="section-desc">design클래스는 버튼의 모양(shape), case는 여백(padding), type은 폰트 정보, color는 버튼의 색상(bg, border, text color 등)을 정의합니다.</p>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">design</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">&lt;a href=&quot;#&quot; class=&quot;btn design1 case1 type1 color1&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;Button Text&lt;/span&gt;&lt;/a&gt;   /* text + bg */
&lt;a href=&quot;#&quot; class=&quot;btn design2 case1 type1 color4&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;Button Text&lt;/span&gt;&lt;/a&gt;   /* text only */
</code></pre>
										<!-- //highlight-js -->
										<div class="guide-button-area">
											<!-- btn-display -->
											<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn design1</span></a>
											<a class="btn design2 case1 type1 color4" href="#"><span class="btn-text">btn design2</span></a>
											<!-- //btn-display -->
										</div>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">case</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">&lt;a href="#" class="btn design1 case1 type1 color1"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design1 case2 type1 color4"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design2 case1 type1 color4"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design2 case2 type1 color4"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;   /* padding 없음 */
</code></pre>
										<!-- //highlight-js -->
										<div class="guide-button-area">
											<!-- btn-display -->
											<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">design1 case1</span></a>
											<a class="btn design1 case2 type1 color1" href="#"><span class="btn-text">design1 case2</span></a>
											<a class="btn design2 case1 type1 color4" href="#"><span class="btn-text">design2 case1</span></a>
											<a class="btn design2 case2 type1 color4" href="#"><span class="btn-text">design2 case2</span></a>
											<!-- //btn-display -->
										</div>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">type</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">
&lt;a href="#" class="btn design1 case1 type1 color1"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design1 case1 type2 color4"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design2 case2 type3 color4"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
</code></pre>
										<!-- //highlight-js -->
										<div class="guide-button-area">
											<!-- btn-display -->
											<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">design1 type1</span></a>
											<a class="btn design1 case2 type2 color1" href="#"><span class="btn-text">design1 type2</span></a>
											<a class="btn design1 case2 type3 color4" href="#"><span class="btn-text">design1 type3</span></a>
											<a class="btn design1 case2 type4 color1" href="#" title="pc에서는 type3과 동일하지만 모바일에서 사이즈 변경"><span class="btn-text">design1 type4</span></a>
											<!-- //btn-display -->
										</div>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">color</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">&lt;a href="#" class="btn design1 case1 type1 color1"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design1 case1 type1 color2"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design1 case1 type1 color3"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design2 case1 type1 color4"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href="#" class="btn design2 case1 type1 color5"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;  /* hover 색상 없음 */
</code></pre>
										<!-- //highlight-js -->
										<div class="guide-button-area" style="background-color: #e5e5e5; border-radius: 5px; padding: 6px;">
											<!-- btn-display -->
											<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn color1</span></a>
											<a class="btn design1 case1 type1 color2" href="#"><span class="btn-text">btn color2</span></a>
                                            <a class="btn design1 case1 type1 color3" href="#"><span class="btn-text">btn color3</span></a>
											<a class="btn design2 case1 type1 color4" href="#"><span class="btn-text">btn color4</span></a>
											<a class="btn design1 case1 type1 color7" href="#"><span class="btn-text">btn color7</span></a>
											<!-- //btn-display -->
										</div>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section button-guide">
							<div class="section-head">
								<h4 class="section-subject"><span class="section-name">Icon + Text Button</span></h4>
								<p class="section-desc">al-icon-* 클래스는 아이콘이 텍스트의 왼쪽에 위치한 경우, ar-icon-*는 오른쪽에 위치한 경우 사용합니다. '*'자리에는 사용하려는 아이콘의 이름을 넣습니다.</p>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">design</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">
&lt;a href=&quot;#&quot; class=&quot;btn design3 case1 type1 color1 al-icon-*&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn design3 case2 type1 color1 al-icon-*&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn design3 case3 type1 color1 ar-icon-*&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn design3 case4 type3 color5 ar-icon-*&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;Button Text&lt;/span&gt;&lt;/a&gt;   /* padding 없음 (테이블에 들어가는 버튼) */
</code></pre>
										<!-- //highlight-js -->
										<div class="guide-button-area" style="background-color: #e5e5e5; border-radius: 5px; padding: 6px;">
											<!-- btn-display -->
											<a class="btn design3 case1 type1 color1 ar-icon-arrow-right2-bg" href="#"><span class="btn-text">ar-icon btn</span></a>
											<a class="btn design3 case1 type1 color1 ar-icon-download-bg" href="#"><span class="btn-text">지속가능한 공급망을 위한 Guideline</span></a>
											<a class="btn design3 case1 type1 color2 ar-icon-arrow-right2-bg" href="#"><span class="btn-text">ar-icon btn</span></a>
											<a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">JPG 다운로드</span></a>
											<a class="btn design3 case1 type1 color2 ar-icon-plus-bg" href="#"><span class="btn-text">더보기더보기더보기더보기더보기더보기더보기더보기</span></a>
											<a class="btn design3 case1 type1 color3 ar-icon-arrow-right2-bg" href="#"><span class="btn-text">ar-icon btn</span></a>
											<a class="btn design3 case3 type1 color6 ar-icon-arrow-right-up2" href="#"><span class="btn-text">ar-icon btn</span></a>
											<!-- //btn-display -->
										</div>
										<div class="guide-button-area">
											<!-- btn-display -->
											<a class="btn design3 case2 type1 color4 ar-icon-arrow-right2" href="#"><span class="btn-text">ar-icon btn</span></a>
											<a class="btn design3 case2 type1 color4 ar-icon-arrow-down1" href="#"><span class="btn-text">자세히 보기</span></a>
											<a class="btn design3 case4 type3 color5 ar-icon-download" href="#"><span class="btn-text">다운로드</span></a>
											<a class="btn design3 case4 type3 color8 ar-icon-refresh" href="#"><span class="btn-text">새로고침</span></a>
											<!-- //btn-display -->
										</div>
										<div class="guide-button-area">
											<!-- btn-display -->
											<a class="btn design3 case2 type1 color4 al-icon-arrow-left2" href="#"><span class="btn-text">al-icon btn</span></a>
											<a class="btn design3 case2 type3 color5 al-icon-printer" href="#"><span class="btn-text">인쇄</span></a>
											<a class="btn design3 case2 type3 color5 al-icon-share" href="#"><span class="btn-text">공유</span></a>
											<!-- //btn-display -->
										</div>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section button-guide">
							<div class="section-head">
								<h4 class="section-subject"><span class="section-name">Icon Only Button</span></h4>
								<p class="section-desc">[btn, icon] 클래스가 디폴트입니다. icon 이름을 클래스로 추가합니다.</p>
								<p class="section-desc"></p>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">Icon</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">&lt;a href="#" class="btn icon case1 arrow-right2"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;</code></pre>
										<!-- //highlight-js -->
										<!-- btn-display -->
										<div class="guide-button-area">
											<button class="btn icon case2 menu-header">
												<span class="btn-text blind">메뉴 열기</span>
											</button>
											<a class="btn icon case1 arrow-right2-bg" href="#"><span class="btn-text blind">다음</span></a>
											<a class="btn icon case1 arrow-left2-bg" href="#"><span class="btn-text blind">이전</span></a>
										</div>
										<!-- //btn-display -->
										<!-- //subcategory -->
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section button-guide">
							<div class="section-head">
								<h4 class="section-subject"><span class="section-name">Disabled Button</span></h4>
								<p class="section-desc">비활성된 버튼인 경우 disabled 클래스를 사용하여 해당 버튼을 클릭할 수 없음을 시각적으로 알려줍니다.</p>
								<p class="section-desc"></p>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">disabled</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">&lt;a class="btn design1 case1 type1 color1 disabled" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;button type="button" class="btn design1 case1 type1 color1 disabled" disabled="disabled"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/button&gt;</code></pre>
										<!-- //highlight-js -->
										<div class="guide-button-area" style="background-color: #e5e5e5; border-radius: 5px; padding: 6px;">
											<!-- btn-display -->
                                            <a class="btn design1 case1 type1 color1 disabled" href="#"><span class="btn-text">disabled</span></a>
											<a class="btn design1 case1 type1 color2 disabled" href="#"><span class="btn-text">disabled</span></a>
											<a class="btn design1 case1 type1 color3 disabled" href="#"><span class="btn-text">disabled</span></a>
                                            <a class="btn design3 case1 type1 color1 ar-icon-arrow-right2-bg disabled" href="#"><span class="btn-text">disabled</span></a>
                                            <a class="btn design3 case1 type1 color2 ar-icon-arrow-right2-bg disabled" href="#"><span class="btn-text">disabled</span></a>
                                            <a class="btn design3 case1 type1 color3 ar-icon-arrow-right2-bg disabled" href="#"><span class="btn-text">disabled</span></a>
											<a class="btn design3 case3 type1 color6 ar-icon-arrow-right-up2 disabled" href="#"><span class="btn-text">disabled</span></a>
											<a class="btn icon case1 arrow-right2-bg disabled" href="#"><span class="btn-text blind">Button Text</span></a>
											<a class="btn design2 case1 type1 color4 disabled" href="#"><span class="btn-text">disabled</span></a>
											<!-- //btn-display -->
										</div>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section button-guide">
							<div class="section-head">
								<h4 class="section-subject"><span class="section-name">Button display</span></h4>
								<p class="section-desc">btn-display는 Button 시스템을 통합하여 사용할 때 활용됩니다. design 클래스는 버튼의 정렬 방향(row, column), case는 버튼 간격을(gap) 정의합니다.</p>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection">
									<div class="subsection-head">Design1</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">&lt;!-- btn-display --&gt;
&lt;div class="btn-display design1 case*"&gt;
	&lt;a class="btn" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
	&lt;a class="btn" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
	&lt;a class="btn" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;/div&gt;
&lt;!-- //btn-display --&gt;</code></pre>
										<!-- //highlight-js -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">case1&nbsp;&nbsp;&nbsp;&nbsp;(gap:0.5rem)</div>
											<div class="subcategory-body">
												<!-- btn-display -->
												<div class="btn-display design1 case1 align1">
													<div class="btn-area">
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
													</div>
												</div>
												<!-- //btn-display -->
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">case2&nbsp;&nbsp;&nbsp;&nbsp;(gap:1.2rem)</div>
											<div class="subcategory-body">
												<!-- btn-display -->
												<div class="btn-display design1 case2 align1">
													<div class="btn-area">
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
													</div>
												</div>
												<!-- //btn-display -->
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">case3&nbsp;&nbsp;&nbsp;&nbsp;(gap:2.4rem)</div>
											<div class="subcategory-body">
												<!-- btn-display -->
												<div class="btn-display design1 case3 align1">
													<div class="btn-area">
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
													</div>
												</div>
												<!-- //btn-display -->
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">case4&nbsp;&nbsp;&nbsp;&nbsp;(gap:4rem)</div>
											<div class="subcategory-body">
												<!-- btn-display -->
												<div class="btn-display design1 case4 align1">
													<div class="btn-area">
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design1</span></a>
													</div>
												</div>
												<!-- //btn-display -->
											</div>
										</div>
										<!-- //subcategory -->
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection line">
									<div class="subsection-head">Design2</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">&lt;!-- btn-display --&gt;
&lt;div class="btn-display design2"&gt;
	&lt;a class="btn" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
	&lt;a class="btn" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;/div&gt;
&lt;!-- //btn-display --&gt;</code></pre>
										<!-- //highlight-js -->
										<div class="guide-button-area">
											<!-- btn-display -->
											<div class="btn-display design2 case1">
												<div class="btn-area">
													<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design2</span></a>
													<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display design2</span></a>
												</div>
											</div>
											<!-- //btn-display -->
										</div>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection line">
									<div class="subsection-head">Align</div>
									<div class="subsection-body">
										<!-- highlight-js -->
										<pre class="highlight-js"><code class="html">&lt;!-- btn-display --&gt;
&lt;div class="btn-display align*"&gt;
	&lt;a class="btn" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
	&lt;a class="btn" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
	&lt;a class="btn" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
&lt;/div&gt;
&lt;!-- //btn-display --&gt;
	</code></pre>
										<!-- //highlight-js -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">align1</div>
											<div class="subcategory-body">
												<!-- btn-display -->
												<div class="btn-display design1 case1 align1">
													<div class="btn-area">
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align1</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align1</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align1</span></a>
													</div>
												</div>
												<!-- //btn-display -->
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">align2</div>
											<div class="subcategory-body">
												<!-- btn-display -->
												<div class="btn-display design1 case1 align2">
													<div class="btn-area">
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align2</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align2</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align2</span></a>
													</div>
												</div>
												<!-- //btn-display -->
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">align3</div>
											<div class="subcategory-body">
												<!-- btn-display -->
												<div class="btn-display design1 case1 align3">
													<div class="btn-area">
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align3</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align3</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align3</span></a>
													</div>
												</div>
												<!-- //btn-display -->
											</div>
										</div>
										<!-- //subcategory -->
										<!-- subcategory -->
										<div class="subcategory">
											<div class="subcategory-head">align4</div>
											<div class="subcategory-body">
												<!-- btn-display -->
												<div class="btn-display design1 case1 align4">
													<div class="btn-area">
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align4</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align4</span></a>
														<a class="btn design1 case1 type1 color1" href="#"><span class="btn-text">btn-display align4</span></a>
													</div>
												</div>
												<!-- //btn-display -->
											</div>
										</div>
										<!-- //subcategory -->
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection --> 
								<div class="subsection line">
									<div class="subsection-head">btn flex</div>
									<div class="subsection-body">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;!-- btn-display --&gt;
	&lt;div class="btn-display design1"&gt;
		&lt;a class="btn flex" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
		&lt;a class="btn flex" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
		&lt;a class="btn flex" href="#"&gt;&lt;span class="btn-text"&gt;Button Text&lt;/span&gt;&lt;/a&gt;
	&lt;/div&gt;
&lt;!-- //btn-display --&gt;
</code></pre>
<!-- //highlight-js -->
										<!-- subcategory -->
										<div class="subcategory">
											<!-- btn-display -->
											<div class="btn-display design1 case1">
												<div class="btn-area">
													<a class="btn design1 case1 type1 color1 flex" href="#"><span class="btn-text">btn flex</span></a>
													<a class="btn design1 case1 type1 color1 flex" href="#"><span class="btn-text">btn flex</span></a>
													<a class="btn design1 case1 type1 color1 flex" href="#"><span class="btn-text">btn flex</span></a>
												</div>
											</div>
											<!-- //btn-display -->
										</div>
										<!-- //subcategory -->
									</div>
								</div>
								<!-- //subsection --> 
							</div>
						</div>
						<!-- //section -->
					</div>
					<!-- local-body -->
				</div>
				<!-- //page-body -->
				<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>