<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {

	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        input();
    });
</script>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Form</span>
					<span class="local-desc">효과적인 입력 폼을 설계합니다. 정확한 양식 완성률을 보장하기 위해 주의깊게 설계하고 유지 관리되어야 합니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">submit form</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
<!-- highlight -->
<pre class="highlight-js">
<code class="html">&lt;!-- submit form --&gt;
    &lt;div class="submit-form design1 case1 align1"&gt;
        &lt;div class="form-list"&gt;
            &lt;div class="form-item"&gt;&lt;/div&gt;
            &lt;div class="form-item"&gt;&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;!-- //submit form --&gt;
</code></pre>
									<!-- //highlight -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">design1</div>
							<div class="subsection-body">
                                <div class="submit-form design1 case1 align1">
                                    <div class="form-list">
                                        <div class="form-item">
                                            <div class="form select design1 case1 type1">
                                                <label for="temp" class="blind">Label</label>
                                                <select name="name" id="temp">
                                                    <option value="option1">Option1</option>
                                                    <option value="option2">Option2</option>
                                                    <option value="option3">Option3</option>
                                                    <option value="option4">Option4</option>
                                                    <option value="option5">Option5</option>
                                                </select>
                                                <div class="arrow"><span class="blind">닫힘</span></div>
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div class="form search design1 case1 type1">
                                                <label for="temp-search" class="blind">
                                                    검색
                                                </label>
                                                <input id="temp-search" class="input-elem" type="text" placeholder="Default"/>
                                                <div class="input-icon">
                                                    <button class="btn icon case3 remove">
                                                        <span class="btn-text blind">삭제</span>
                                                    </button>
                                                    <button class="btn icon case3 search">
                                                        <span class="btn-text blind">검색</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
                        <div class="subsection">
                            <div class="subsection-head">Align</div>
                            <div class="subsection-body">
                                <div class="subcategory">
                                    <div class="subcategory-head">align1</div>
                                    <div class="subcategory-body">
                                        <div class="submit-form design1 case1 align1">
                                            <div class="form-list">
                                                <div class="form-item">
                                                    <div class="form select design1 case1 type1">
                                                        <label for="temp" class="blind">Label</label>
                                                        <select name="name" id="temp">
                                                            <option value="option1">Option1</option>
                                                            <option value="option2">Option2</option>
                                                            <option value="option3">Option3</option>
                                                            <option value="option4">Option4</option>
                                                            <option value="option5">Option5</option>
                                                        </select>
                                                        <div class="arrow"><span class="blind">닫힘</span></div>
                                                    </div>
                                                </div>
                                                <div class="form-item">
                                                    <div class="form search design1 case1 type1">
                                                        <label for="temp-search" class="blind">
                                                            검색
                                                        </label>
                                                        <input id="temp-search" class="input-elem" type="text" placeholder="Default"/>
                                                        <div class="input-icon">
                                                            <button class="btn icon case3 remove">
                                                                <span class="btn-text blind">삭제</span>
                                                            </button>
                                                            <button class="btn icon case3 search">
                                                                <span class="btn-text blind">검색</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="subcategory">
                                    <div class="subcategory-head">align2</div>
                                    <div class="subcategory-body">
                                        <div class="submit-form design1 case1 align2">
                                            <div class="form-list">
                                                <div class="form-item">
                                                    <div class="form select design1 case1 type1">
                                                        <label for="temp" class="blind">Label</label>
                                                        <select name="name" id="temp">
                                                            <option value="option1">Option1</option>
                                                            <option value="option2">Option2</option>
                                                            <option value="option3">Option3</option>
                                                            <option value="option4">Option4</option>
                                                            <option value="option5">Option5</option>
                                                        </select>
                                                        <div class="arrow"><span class="blind">닫힘</span></div>
                                                    </div>
                                                </div>
                                                <div class="form-item">
                                                    <div class="form search design1 case1 type1">
                                                        <label for="temp-search" class="blind">
                                                            검색
                                                        </label>
                                                        <input id="temp-search" class="input-elem" type="text" placeholder="Default"/>
                                                        <div class="input-icon">
                                                            <button class="btn icon case3 remove">
                                                                <span class="btn-text blind">삭제</span>
                                                            </button>
                                                            <button class="btn icon case3 search">
                                                                <span class="btn-text blind">검색</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="subcategory">
                                    <div class="subcategory-head">align3</div>
                                    <div class="subcategory-body">
                                        <div class="submit-form design1 case1 align3">
                                            <div class="form-list">
                                                <div class="form-item">
                                                    <div class="form select design1 case1 type1">
                                                        <label for="temp" class="blind">Label</label>
                                                        <select name="name" id="temp">
                                                            <option value="option1">Option1</option>
                                                            <option value="option2">Option2</option>
                                                            <option value="option3">Option3</option>
                                                            <option value="option4">Option4</option>
                                                            <option value="option5">Option5</option>
                                                        </select>
                                                        <div class="arrow"><span class="blind">닫힘</span></div>
                                                    </div>
                                                </div>
                                                <div class="form-item">
                                                    <div class="form search design1 case1 type1">
                                                        <label for="temp-search" class="blind">
                                                            검색
                                                        </label>
                                                        <input id="temp-search" class="input-elem" type="text" placeholder="Default"/>
                                                        <div class="input-icon">
                                                            <button class="btn icon case3 remove">
                                                                <span class="btn-text blind">삭제</span>
                                                            </button>
                                                            <button class="btn icon case3 search">
                                                                <span class="btn-text blind">검색</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Inputfield</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure (inputfield의 width값은 인라인 스타일로 설정)</div>
							<div class="subsection-body">
                                <!-- highlight -->
<pre class="highlight-js">
<code class="html">&lt;div class="form input design1 case1 type1"&gt;
    &lt;label for="name" class="blind"&gt;
        label
    &lt;/label&gt;
    &lt;input 
        id="name"
        class="input-elem"
        type="text"
    /&gt;
    &lt;div class="input-icon"&gt;
        &lt;button class="btn icon case3 remove"&gt;
            &lt;span class="btn-text blind"&gt;삭제&lt;/span&gt;
        &lt;/button&gt;
    &lt;/div&gt;
&lt;div&gt;
</code></pre>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Default</div>
							<div class="subsection-body">
                                <div class="form input design1 case1 type1">
                                    <label for="name" class="blind">name</label>
                                    <input id="name" class="input-elem" type="text" placeholder="Default"/>
                                    <div class="input-icon">
                                        <button class="btn icon case3 remove">
                                            <span class="btn-text blind">삭제</span>
                                        </button>
                                    </div>
                                </div>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Disabled</div>
							<div class="subsection-body">
                                <div class="form input design1 case1 type1 disabled">
                                    <label for="name" class="blind">name</label>
                                    <input id="name" class="input-elem" type="text" placeholder="Disabled"/>
                                </div>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Error</div>
							<div class="subsection-body">
                                <div class="form input design1 case1 type1 error">
                                    <label for="name" class="blind">name</label>
                                    <input id="name" class="input-elem" type="text" placeholder="Error"/>
                                    <div class="input-icon">
                                        <button class="btn icon case3 remove">
                                            <span class="btn-text blind">삭제</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-text error">
                                    <p class="comment design1">* Error message</p>
                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Search</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
                                <!-- highlight -->
<pre class="highlight-js">
<code class="html">&lt;div class="form search design1 case1 type1"&gt;
    &lt;label for="temp-search" class="blind"&gt;
        검색
    &lt;/label&gt;
    &lt;input 
        id="temp-search"
        class="input-elem"
        type="text"
    /&gt;
    &lt;div class="input-icon"&gt;
        &lt;button class="btn icon case3 remove"&gt;
            &lt;span class="btn-text blind"&gt;삭제&lt;/span&gt;
        &lt;/button&gt;
        &lt;button class="btn icon case3 search"&gt;
            &lt;span class="btn-text blind"&gt;검색&lt;/span&gt;
        &lt;/button&gt;
    &lt;/div&gt;
&lt;div&gt;
</code></pre>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Default</div>
							<div class="subsection-body">
                                <div class="form search design1 case1 type1">
                                    <label for="temp-search" class="blind">
                                        검색
                                    </label>
                                    <input id="temp-search" class="input-elem" type="text" placeholder="Default"/>
                                    <div class="input-icon">
                                        <button class="btn icon case3 remove">
                                            <span class="btn-text blind">삭제</span>
                                        </button>
                                        <button class="btn icon case3 search">
                                            <span class="btn-text blind">검색</span>
                                        </button>
                                    </div>
                                </div>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Disabled</div>
							<div class="subsection-body">
                                <div class="form search design1 case1 type1 disabled">
                                    <label for="temp-search" class="blind">
                                        검색
                                    </label>
                                    <input id="temp-search" class="input-elem" type="text" placeholder="Disabled"/>
                                    <div class="input-icon">
                                        <button class="btn icon case3 search">
                                            <span class="btn-text blind">검색</span>
                                        </button>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Datepicker</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Line</div>
							<div class="subsection-body">

							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Fill</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Select</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">design1</div>
							<div class="subsection-body">
                                <!-- highlight -->
<pre class="highlight-js">
<code class="html">&lt;div class="form select design1 case1 type1"&gt;
    &lt;label for="temp" class="blind"&gt;
        Label
    &lt;/label&gt;
    &lt;select name="name" id="temp"&gt;
        &lt;option value="option1"&gt;Option1&lt;/option&gt;
        &lt;option value="option2"&gt;Option2&lt;/option&gt;
        &lt;option value="option3"&gt;Option3&lt;/option&gt;
        &lt;option value="option4"&gt;Option4&lt;/option&gt;
        &lt;option value="option5"&gt;Option5&lt;/option&gt;
    &lt;/select&gt;
    &lt;div class="arrow"&gt;&lt;span class="blind"&gt;닫힘&lt;/span&gt;&lt;/div&gt;
&lt;div&gt;
</code></pre>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Default</div>
							<div class="subsection-body">
                                <div class="form select design1 case1 type1">
                                    <label for="temp" class="blind">Label</label>
                                    <select name="name" id="temp">
                                        <option value="option1">Option1</option>
                                        <option value="option2">Option2</option>
                                        <option value="option3">Option3</option>
                                        <option value="option4">Option4</option>
                                        <option value="option5">Option5</option>
                                    </select>
                                    <div class="arrow"><span class="blind">닫힘</span></div>
                                </div>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Disabled</div>
							<div class="subsection-body">
                                <div class="form select design1 case1 type1 disabled">
                                    <label for="temp" class="blind">Label</label>
                                    <select name="name" id="temp" disabled>
                                        <option value="option1">Option1</option>
                                        <option value="option2">Option2</option>
                                        <option value="option3">Option3</option>
                                        <option value="option4">Option4</option>
                                        <option value="option5">Option5</option>
                                    </select>
                                    <div class="arrow"><span class="blind">닫힘</span></div>
                                </div>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Error</div>
							<div class="subsection-body">
                                <div class="form select design1 case1 type1 error">
                                    <label for="temp" class="blind">Label</label>
                                    <select name="name" id="temp">
                                        <option value="option1">Option1</option>
                                        <option value="option2">Option2</option>
                                        <option value="option3">Option3</option>
                                        <option value="option4">Option4</option>
                                        <option value="option5">Option5</option>
                                    </select>
                                    <div class="arrow"><span class="blind">닫힘</span></div>
                                </div>
                                <div class="form-text error">
                                    <p class="comment design1">* Error message</p>
                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Textarea</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Property</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Radio</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
                                <!-- highlight -->
<pre class="highlight-js">
<code class="html">&lt;div class="form radio design1 case1 type1"&gt;
    &lt;ul class="radio-list"&gt;
        &lt;li class="radio-item"&gt;
            &lt;label for="radio1"&gt;
                &lt;input type="radio" name="temp" value="r1" id="radio1" checked&gt;
                &lt;span class="option"&gt;radio1&lt;/span&gt;
            &lt;/label&gt;
        &lt;/li&gt;
        &lt;li class="radio-item"&gt;
            &lt;label for="radio2"&gt;
                &lt;input type="radio" name="temp" value="r2" id="radio2"&gt;
                &lt;span class="option"&gt;radio2&lt;/span&gt;
            &lt;/label&gt;
        &lt;/li&gt;
        &lt;li class="radio-item"&gt;
            &lt;label for="radio3"&gt;
                &lt;input type="radio" name="temp" value="r3" id="radio3"&gt;
                &lt;span class="option"&gt;radio3&lt;/span&gt;
            &lt;/label&gt;
        &lt;/li&gt;
        &lt;li class="radio-item"&gt;
            &lt;label for="radio4"&gt;
                &lt;input type="radio" name="temp" value="r4" id="radio4"&gt;
                &lt;span class="option"&gt;radio4&lt;/span&gt;
            &lt;/label&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;div&gt;
</code></pre>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">design1</div>
							<div class="subsection-body">
                                <div class="form radio design1 case1 type1">
                                    <ul class="radio-list">
                                        <li class="radio-item">
                                            <label for="radio1">
                                                <input type="radio" name="temp" value="r1" id="radio1" checked>
                                                <span class="option">radio1</span>
                                            </label>
                                        </li>
                                        <li class="radio-item">
                                            <label for="radio2">
                                                <input type="radio" name="temp" value="r2" id="radio2">
                                                <span class="option">radio2</span>
                                            </label>
                                        </li>
                                        <li class="radio-item">
                                            <label for="radio3">
                                                <input type="radio" name="temp" value="r3" id="radio3">
                                                <span class="option">radio3</span>
                                            </label>
                                        </li>
                                        <li class="radio-item">
                                            <label for="radio4">
                                                <input type="radio" name="temp" value="r4" id="radio4">
                                                <span class="option">radio4</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Checkbox</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-body">
                                <!-- highlight -->
<pre class="highlight-js">
    <code class="html">&lt;div class="form checkbox design1 case1 type1"&gt;
        &lt;ul class="checkbox-list"&gt;
            &lt;li class="checkbox-item"&gt;
                &lt;label for="checkbox1"&gt;
                    &lt;input type="checkbox" name="temp" value="c1" id="checkbox1" checkboxed&gt;
                    &lt;span class="option"&gt;checkbox1&lt;/span&gt;
                &lt;/label&gt;
            &lt;/li&gt;
            &lt;li class="checkbox-item"&gt;
                &lt;label for="checkbox2"&gt;
                    &lt;input type="checkbox" name="temp" value="c2" id="checkbox2"&gt;
                    &lt;span class="option"&gt;checkbox2&lt;/span&gt;
                &lt;/label&gt;
            &lt;/li&gt;
            &lt;li class="checkbox-item"&gt;
                &lt;label for="checkbox3"&gt;
                    &lt;input type="checkbox" name="temp" value="c3" id="checkbox3"&gt;
                    &lt;span class="option"&gt;checkbox3&lt;/span&gt;
                &lt;/label&gt;
            &lt;/li&gt;
            &lt;li class="checkbox-item"&gt;
                &lt;label for="checkbox4"&gt;
                    &lt;input type="checkbox" name="temp" value="c4" id="checkbox4"&gt;
                    &lt;span class="option"&gt;checkbox4&lt;/span&gt;
                &lt;/label&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
    &lt;div&gt;
    </code></pre>
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-head">Style</div>
							<div class="subsection-body">

							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>