<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Post</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section post-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">post system</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-info">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;div class=&quot;post-list design1 case1 type1&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;post-item&quot;&gt;
		&lt;div class=&quot;post-wrap&quot;&gt;
			&lt;div class=&quot;post-figure&quot;&gt;...&lt;/div&gt;
			&lt;div class=&quot;post-head&quot;&gt;...&lt;/div&gt;
			&lt;div class=&quot;post-body&quot;&gt;...&lt;/div&gt;
			&lt;div class=&quot;post-info&quot;&gt;...&lt;/div&gt;
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;</code></pre>
<!-- //highlight-js -->
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section post-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">thumbnail</span></h4>
					</div>
					<div class="section-body">
						<!--  IR 뉴스 -->
						<div class="subsection">
							<div class="subsection-info">
								<!-- post -->
								<div class="post-list design1 case1 type1">
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/ir/thumb-01.jpg" alt="ir뉴스 썸네일 이미지">
											</div>
											<div class="post-head">
												<p class="post-caption">SK네트웍스</p>
												<p class="post-subject">이호정 SK네트웍스 대표이사, 구성원들과 묘목 식재 활동</p>
											</div>
											<p class="post-date" title="등록일">2024.03.19</p>
										</div>
									</a>
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/ir/thumb-02.jpg" alt="ir뉴스 썸네일 이미지">
											</div>
											<div class="post-head">
												<p class="post-caption">SK네트웍스</p>
												<p class="post-subject">이호정 SK네트웍스 대표이사, 구성원들과 묘목 식재 활동</p>
											</div>
											<p class="post-date" title="등록일">2024.03.19</p>
										</div>
									</a>
										<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/ir/thumb-03.jpg" alt="ir뉴스 썸네일 이미지">
											</div>
											<div class="post-head">
												<p class="post-caption">SK네트웍스</p>
												<p class="post-subject">이호정 SK네트웍스 대표이사, 구성원들과 묘목 식재 활동</p>
											</div>
											<p class="post-date" title="등록일">2024.03.19</p>
										</div>
									</a>
								</div>
								<!-- //post -->
							</div>
						</div>
						<!--  PR 뉴스룸 : 소셜미디어 -->
						<div class="subsection line">
							<div class="subsection-info">
								<!-- post -->
								<div class="post-list design1 case1 type2">
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/ir/thumb-04.jpg" alt="소셜미디어 썸네일 이미지">
												<span class="figure-name">비즈N</span>
											</div>
											<div class="post-head">
												<p class="post-subject">이제는 개인 비서 시대?! 온디바이스 Ai가 만들어갈 미래 알아보기!</p>
											</div>
											<div class="post-util">
												<ul class="tag-list">
													<li class="tag">#SK네트웍스</li>
													<li class="tag">#ㅅㅋN</li>
													<li class="tag">#생성형AI</li>
													<li class="tag">#온디바이스AI</li>
												</ul>
											</div>
										</div>
									</a>
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/ir/thumb-05.jpg" alt="소셜미디어 썸네일 이미지">
												<span class="figure-name">비즈N</span>
											</div>
											<div class="post-head">
												<p class="post-subject">SK네트웍스, 탄소중립 경영 글로벌 기관 인정!</p>
											</div>
											<div class="post-util">
												<ul class="tag-list">
													<li class="tag">#SK네트웍스</li>
													<li class="tag">#ESG</li>
													<li class="tag">#탄소</li>
													<li class="tag">#글로벌경영</li>
												</ul>
											</div>
										</div>
									</a>
										<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/ir/thumb-06.jpg" alt="소셜미디어 썸네일 이미지">
												<span class="figure-name">비즈N</span>
											</div>
											<div class="post-head">
												<p class="post-subject">이제는 개인 비서 시대?! 온디바이스 Ai가 만들어갈 미래 알아보기!</p>
											</div>
											<div class="post-util">
												<ul class="tag-list">
													<li class="tag">#SK네트웍스</li>
													<li class="tag">#ㅅㅋN</li>
													<li class="tag">#기업소식</li>
													<li class="tag">#이슈콘텐츠</li>
												</ul>
											</div>
										</div>
									</a>
								</div>
								<!-- //post -->
							</div>
						</div>
						<!--  PR 뉴스룸 : 보도자료 -->
						<div class="subsection line">
							<div class="subsection-info">
								<div class="post-list design2 case1 type1">
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/ir/thumb-01.jpg" alt="ir뉴스 썸네일 이미지">
											</div>
											<div class="post-inform">
												<div class="post-head">
													<p class="post-caption">SK네트웍스</p>
													<p class="post-subject">이호정 SK네트웍스 대표이사, 구성원들과 묘목 식재 활동</p>
													<p class="post-summary">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제
													</p>
												</div>
												<p class="post-date" title="등록일">2024.03.19</p>
											</div>
										</div>
									</a>
									<a href="#" class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/ir/thumb-02.jpg" alt="ir뉴스 썸네일 이미지">
											</div>
											<div class="post-inform">
												<div class="post-head">
													<p class="post-caption">SK네트웍스</p>
													<p class="post-subject">SK렌터카, 창립 36주년 맞아 전사 봉사활동 실시</p>
													<p class="post-summary">SK렌터카(대표이사 : 황일문)가 세계 3대 디자인 공모전 중 SK렌터카(대표이사 : 황일문)가 세계 3대 디자인 공모전 중 하나로 꼽히는 ‘IF 디자인 어워드 2024’에서 ‘플랫폼·UI(사용자 인터페이스)’ 부문 본상을 수상했다고 20일 밝혔다. ‘IF 디자인 어워드’는 독일 ‘인터내셔널 포럼 디자인’이 주관하는 디자인 공모전으로, 매년 50…
													</p>
												</div>
												<p class="post-date" title="등록일">2024.03.19</p>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
						
						<!--  ESG : 지역사회 및 SE 생태계 지원 -->
						<div class="subsection line">
							<div class="subsection-info">
								<div class="post-list design6 case1 type1">
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-inform">
												<p class="para">SK네트웍스는 구성원의 업무 전문성을 사회에 환원하고, 사회적기업과 소셜벤처의 성장을 지원하고자 2022년부터 구성원의 자원을 받아 Target형 프로보노와 Sopt성 프로보노를 운영하고 있습니다. Target형 프로보노는 SK네트웍스(자회사 포함)의 Business Model과 연관성 있는 사회적 기업/소셜벤처를 선정하여 약 1년 동안 지속적으로 종합적 자문활동을 진행하는 프로그램입니다.</p>
												<p class="para">
												2022년 Target형 프로보노는 SK네트웍스의 사업군 중 ‘Mobility, 깨끗한 공기, 자원순환‘ 관련 사회문제를 해결하고자 하는 3개 사회적기업/소셜벤처를 대상으로 자문을 진행하였습니다. Spot성 프로보노는 자문 Needs가 있는 사회적 기업과 관련 역량을 보유한 구성원을 매칭하여 Needs 발생 시 자문을 진행하고 있으며, 자문 분야는 경영기획, 마케팅, 법률, 재무/회계, 사업기획, 통번역, R&D, 사용성테스트 등 입니다.
												</p>
											</div>
											<div class="post-body">
												<div class="post-figure">
													<img src="../../assets/images/sustainability/zoom.jpg" alt="">
												</div>
												<p class="comment design1">2023년 SK네트웍스 프로보노 발대식</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="subsection line">
							<div class="subsection-info">
								<div class="post-list design7 case1 type1">
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/sustainability/car.jpg" alt="" style="max-width: 31.4rem;">
											</div>
											<div class="post-inform">
												<div class="post-head">
													<p class="post-subject">모빌리티뱅크</p>
												</div>
												<div class="post-body">
													<p class="para">2018년 도입된 모빌리티 뱅크는 사회적 기업 등 모빌리티 지원이 필요한 대상에게 렌트 차량을 제공하고, 수혜 기업은 차량 이용을 통해 ‘사회적 가치’를 창출하여 렌털료를 대신 지불하는 비즈니스-SV연계형 모델입니다. SK네트웍스는 SK렌터카와 함께 모빌리티 뱅크를 운영하며 사회적 기업 운영 환경 개선을 위해 노력하고 있습니다. 일자리 창출, 취약계층 사회서비스 제공 등 모빌리티 뱅크로 창출되는 사회적 가치 성과는 매 년 측정을 통해 관리되고 있습니다. SK네트웍스와 SK렌터카는 동 프로그램을 질적/양적으로 지속 개선해 나갈 계획입니다. 특히, 벤처 기업 후원 및 재난 지역 무상 공급 프로그램을 통해 지원 범위를 기존의 취약 계층에서 지역 사회로 확장하는 것을 목표하고 있습니다.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="post-item">
										<div class="post-wrap">
											<div class="post-figure">
												<img src="../../assets/images/sustainability/prize.jpg" alt="" style="max-width: 27.9rem;">
											</div>
											<div class="post-inform">
												<div class="post-head">
													<p class="post-subject">워커힐 그린 갤러리</p>
												</div>
												<div class="post-body">
													<p class="para">워커힐 호텔앤리조트는 ESG 경영의 일환으로 ‘워커힐 라이브러리’ 공간을 활용해 ‘그린 갤러리’를 운영하고 있습니다. 2021년 신설된 그린 갤러리에서는 친환경 활동 및 사회 문제 해결에 동참하는 사회적 기업의 제품을 소개하고, 방문 고객 누구나 ‘온라인 스토어 QR코드‘를 통해 즐겁게 상생에 동참할 수 있는 기회를 제공하고 있습니다. 나아가 참여 기업이 제품을 취약 계층에게 기부할 수 있도록 함으로써 기업의 경제적 성장과 사회적 가치 창출이 연계된 선순환 모델 구현을 추구하고 있습니다.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
				<!-- section -->
				<div class="section post-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">pagination</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">HTML structure</div>
							<div class="subsection-info">
									<!-- highlight-js -->
									<pre class="highlight-js"><code class="html">&lt;div class=&quot;pagination design1 case1&quot;&gt;
&#x9;&lt;span class=&quot;page-util&quot;&gt;
&#x9;&#x9;&lt;span class=&quot;util-item&quot;&gt;
&#x9;&#x9;&#x9;&lt;a class=&quot;btn prev disabled&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;&#xC774;&#xC804;&lt;/span&gt;&lt;/a&gt;
&#x9;&#x9;&lt;/span&gt;
&#x9;&lt;/span&gt;
&#x9;&lt;span class=&quot;page-list&quot;&gt;
&#x9;&#x9;&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;1&lt;/a&gt;
&#x9;&#x9;&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;2&lt;/a&gt;
&#x9;&#x9;&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;3&lt;/a&gt;
&#x9;&#x9;&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;4&lt;/a&gt;
&#x9;&#x9;&lt;a class=&quot;page-item&quot; href=&quot;#&quot;&gt;5&lt;/a&gt;
&#x9;&lt;/span&gt;
&#x9;&lt;span class=&quot;page-util&quot;&gt;
&#x9;&#x9;&lt;span class=&quot;util-item&quot;&gt;
&#x9;&#x9;&#x9;&lt;a class=&quot;btn next&quot; href=&quot;#&quot;&gt;&lt;span class=&quot;btn-text&quot;&gt;&#xB2E4;&#xC74C;&lt;/span&gt;&lt;/a&gt;
&#x9;&#x9;&lt;/span&gt;
&#x9;&lt;/span&gt;
&lt;/div&gt;</code></pre>
<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection">
							<div class="subsection-body">
								<div class="pagination design1 case1">
									<span class="page-util">
										<span class="util-item disabled">
											<a class="btn icon case1 arrow-left2-bg" href="#"><span class="btn-text blind">이전</span></a>
										</span>
									</span>
									<span class="page-list">
										<a class="page-item current" href="#">1</a>
										<a class="page-item" href="#">2</a>
										<a class="page-item" href="#">3</a>
										<a class="page-item" href="#">4</a>
										<a class="page-item" href="#">5</a>
									</span>
									<span class="page-util">
										<span class="util-item">
											<a class="btn icon case1 arrow-right2-bg" href="#"><span class="btn-text blind">다음</span></a>
										</span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>