<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {

	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        prSwiper2();
    });
</script>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Swiper</span>
					<span class="local-desc">콘텐츠를 항목별로 구분하여 표시할 때 사용합니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Swiper Area</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">design1</div>
							<div class="subsection-body">
<!-- highlight-js -->
<pre class="highlight-js"><code class="html">&lt;!-- swiper-Area --&gt;
&lt;div class="swiper-area design1"&gt;
	&lt;div class="swiper-display sync1 swiper"&gt;
		&lt;ul class="swiper-wrapper"&gt;
			&lt;li class="swiper-slide"&gt;&lt;/li&gt;
			&lt;li class="swiper-slide"&gt;&lt;/li&gt;
			&lt;li class="swiper-slide"&gt;&lt;/li&gt;
			&lt;li class="swiper-slide"&gt;&lt;/li&gt;
			&lt;li class="swiper-slide"&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
	&lt;div class="swiper-display sync2 swiper"&gt;
		&lt;ul class="swiper-wrapper"&gt;
			&lt;li class="swiper-slide"&gt;&lt;/li&gt;
			&lt;li class="swiper-slide"&gt;&lt;/li&gt;
			&lt;li class="swiper-slide"&gt;&lt;/li&gt;
			&lt;li class="swiper-slide"&gt;&lt;/li&gt;
			&lt;li class="swiper-slide"&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;!-- //swiper-Area --&gt;</code></pre>
<!-- //highlight-js -->
                                <div class="guide-swiper">
                                </div>
							</div>
						</div>
					</div>
				</div>
				<div class="section">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Swiper Display</span></h4>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-head">design1</div>
							<div class="subsection-body">
                                <div class="guide-swiper">
                                    <div class="swiper-display swiper pr-swiper2">
                                        <ul class="swiper-wrapper">
                                            <li class="swiper-slide">
                                                <a href="javascript:void(0)">
                                                    <div class="figure-wrap">
                                                        <img src="https://unsplash.it/590/453" alt="SK렌터카, 'IF 디자인 어워드 2024' 본상 수상">
                                                    </div>
                                                    <div class="text-wrap">
                                                        <div class="slide-head">
                                                            <span class="cate">SK렌터카1</span>
                                                            <h3 class="tit">SK렌터카, 'IF 디자인 어워드 2024' 본상 수상</h3>
                                                        </div>
                                                        <div class="slide-body">
                                                            <p class="des">SK렌터카(대표이사:황일문)가 세계 3대 디자인 공모전 중 하나로 꼽히는 ‘IF 디자인 어워드 2024＇에서 ＇플랫폼ㆍUI (사용자 인터페이스)’ 부문 본상을 수상했다고 20일 밝혔다.</p>
                                                            <span class="date">2024.02.01</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="swiper-slide">
                                                <a href="javascript:void(0)">
                                                    <div class="figure-wrap">
                                                        <img src="https://unsplash.it/591/453" alt="SK렌터카, 'IF 디자인 어워드 2024' 본상 수상">
                                                    </div>
                                                    <div class="text-wrap">
                                                        <div class="slide-head">
                                                            <span class="cate">SK렌터카2</span>
                                                            <h3 class="tit">SK렌터카, 'IF 디자인 어워드 2024' 본상 수상</h3>
                                                        </div>
                                                        <div class="slide-body">
                                                            <p class="des">SK렌터카(대표이사:황일문)가 세계 3대 디자인 공모전 중 하나로 꼽히는 ‘IF 디자인 어워드 2024＇에서 ＇플랫폼ㆍUI (사용자 인터페이스)’ 부문 본상을 수상했다고 20일 밝혔다.</p>
                                                            <span class="date">2024.02.01</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="swiper-slide">
                                                <a href="javascript:void(0)">
                                                    <div class="figure-wrap">
                                                        <img src="https://unsplash.it/592/453" alt="SK렌터카, 'IF 디자인 어워드 2024' 본상 수상">
                                                    </div>
                                                    <div class="text-wrap">
                                                        <div class="slide-head">
                                                            <span class="cate">SK렌터카3</span>
                                                            <h3 class="tit">SK렌터카, 'IF 디자인 어워드 2024' 본상 수상</h3>
                                                        </div>
                                                        <div class="slide-body">
                                                            <p class="des">SK렌터카(대표이사:황일문)가 세계 3대 디자인 공모전 중 하나로 꼽히는 ‘IF 디자인 어워드 2024＇에서 ＇플랫폼ㆍUI (사용자 인터페이스)’ 부문 본상을 수상했다고 20일 밝혔다.</p>
                                                            <span class="date">2024.02.01</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="swiper-slide">
                                                <a href="javascript:void(0)">
                                                    <div class="figure-wrap">
                                                        <img src="https://unsplash.it/593/453" alt="SK렌터카, 'IF 디자인 어워드 2024' 본상 수상">
                                                    </div>
                                                    <div class="text-wrap">
                                                        <div class="slide-head">
                                                            <span class="cate">SK렌터카4</span>
                                                            <h3 class="tit">SK렌터카, 'IF 디자인 어워드 2024' 본상 수상</h3>
                                                        </div>
                                                        <div class="slide-body">
                                                            <p class="des">SK렌터카(대표이사:황일문)가 세계 3대 디자인 공모전 중 하나로 꼽히는 ‘IF 디자인 어워드 2024＇에서 ＇플랫폼ㆍUI (사용자 인터페이스)’ 부문 본상을 수상했다고 20일 밝혔다.</p>
                                                            <span class="date">2024.02.01</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="swiper-control">
                                            <button class="btn icon case1 arrow-left2-bg swiper-button-prev"><span class="btn-text blind">이전</span></button>
                                            <button class="btn icon case1 arrow-right2-bg swiper-button-next"><span class="btn-text blind">다음</span></button>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>