<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_guide.head.ejs', {
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<div id="guide-list">
		<%-include('../_templates/_guide.header.ejs') %>
		<!-- page-body -->
		<div class="page-body">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-subject">
					<span class="local-name">Table</span>
					<span class="local-desc">테이블 컴포넌트 입니다. caption 태그는 표의 제목을 표현하기 위해 반드시 선언합니다.</span>
				</h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body">
				<!-- section -->
				<div class="section table-guide">
					<div class="section-head">
						<h4 class="section-subject"><span class="section-name">Data table</span></h4>
						<p class="section-desc">design 클래스는 테이블의 형태, case는 여백과 간격, type은 font 스타일을 정의합니다.</p>
					</div>
					<div class="section-body">
						<div class="subsection">
							<div class="subsection-body">
									<!-- highlight-js -->
<pre class="highlight-js">
<code class="html">&lt;!-- table-list --&gt;
&lt;div class=&quot;t-display design1 case1 type1 mo-layout1 ac&quot;&gt;
&#x9;&lt;table&gt;
&#x9;&#x9;&lt;caption&gt;<caption>이 표는 --- 정보를 제공하며 --,--,-- 으로 구성되어 있습니다.</caption>&lt;/caption&gt;
&#x9;&#x9;&lt;colgroup&gt;
&#x9;&#x9;&#x9;&lt;col&gt;
&#x9;&#x9;&#x9;&lt;col&gt;
&#x9;&#x9;&#x9;&lt;col&gt;
&#x9;&#x9;&lt;/colgroup&gt;
&#x9;&#x9;&lt;thead&gt;
&#x9;&#x9;&#x9;&lt;tr&gt;
&#x9;&#x9;&#x9;&#x9;&lt;th scope=&quot;col&quot;&gt;&#xAD6C;&#xBD84;&lt;/th&gt;
&#x9;&#x9;&#x9;&#x9;&lt;th scope=&quot;col&quot;&gt;&#xAC00;&#xACA9;(won)&lt;/th&gt;
&#x9;&#x9;&#x9;&#x9;&lt;th scope=&quot;col&quot;&gt;&#xC5F4;&#xB7C9;(kcal)&lt;/th&gt;
&#x9;&#x9;&#x9;&lt;/tr&gt;
&#x9;&#x9;&lt;/thead&gt;
&#x9;&#x9;&lt;tbody&gt;
&#x9;&#x9;&#x9;&lt;tr&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,000&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,000&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;300&lt;/td&gt;
&#x9;&#x9;&#x9;&lt;/tr&gt;
&#x9;&#x9;&#x9;&lt;tr&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,500&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;3,500&lt;/td&gt;
&#x9;&#x9;&#x9;&#x9;&lt;td&gt;350&lt;/td&gt;
&#x9;&#x9;&#x9;&lt;/tr&gt;
&#x9;&#x9;&lt;/tbody&gt;
&#x9;&lt;/table&gt;
&lt;/div&gt;
&lt;!-- //table-list --&gt;</code></pre>
										<!-- //highlight-js -->
							</div>
						</div>
						<div class="subsection table-guide">
							<div class="subsection-head">demo</div>
							<div class="subsection-body">
								<!-- table -->
								<div class="t-display design1 case1 type1 align3 scroll">
									<table style="min-width: 680px;">
										<caption>이 표는 --- 정보를 제공하며 --,--,-- 으로 구성되어 있습니다.</caption>
										<colgroup>
											<col>
											<col>
											<col>
										</colgroup>
										<thead>
											<tr>
												<th scope="col">구분</th>
												<th scope="col">2023년</th>
												<th scope="col">2022년</th>
												<th scope="col">2021년</th>
												<th scope="col">2020년</th>
												<th scope="col">2019년</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>배당금 총액</td>
												<td>3,000</td>
												<td>300</td>
												<td>300</td>
												<td>300</td>
												<td>300</td>
											</tr>
											<tr>
												<td>배당금 총액</td>
												<td>3,000</td>
												<td>300</td>
												<td>300</td>
												<td>300</td>
												<td>300</td>
											</tr>
										</tbody>
									</table>
								</div>
								<p class="comment design1">* K-IFRS연결대차대조표 기준</p>
								<!-- //table -->
							</div>
						</div>
						<div class="subsection table-guide">
							<div class="subsection-body">
								<!-- table -->
								<div class="t-display design1 case1 type1 align3 scroll">
									<table style="min-width: 500px;">
										<caption>이 표는 --- 정보를 제공하며 --,--,-- 으로 구성되어 있습니다.</caption>
										<colgroup>
											<col>
											<col>
											<col>
											<col>
											<col>
										</colgroup>
										<thead>
											<tr>
												<th scope="col">전일대비</th>
												<th scope="col">등락율</th>
												<th scope="col">고가</th>
												<th scope="col">저가</th>
												<th scope="col">거래량</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="accent color1" title="상승">1,000 ▲</td>
												<td class="accent color2">-0.80%</td>
												<td class="accent color1">8,800</td>
												<td class="accent color2">7,200</td>
												<td>357,692</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //table -->
								<!-- table -->
								<div class="t-display design1 case1 type1 align3 mo-layout1">
									<table>
										<caption>이 표는 --- 정보를 제공하며 --,--,-- 으로 구성되어 있습니다.</caption>
										<colgroup>
											<col style="width: 8%;">
											<col style="width: 55%;">
											<col>
											<col>
										</colgroup>
										<thead>
											<tr>
												<th scope="col">번호</th>
												<th scope="col">제목</th>
												<th scope="col">언어</th>
												<th scope="col">다운로드</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>938</td>
												<td>2024년 1분기 경영실적</td>
												<td>국문</td>
												<td class="fs-0">
													<a class="btn design3 case4 type3 color5 ar-icon-download" href="#"><span class="btn-text">다운로드</span></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //table -->
								<!-- table -->
								<div class="t-display design1 case1 type1 align3 mo-layout1">
									<table>
										<caption>이 표는 --- 정보를 제공하며 --,--,-- 으로 구성되어 있습니다.</caption>
										<colgroup>
											<col style="width: 8%;">
											<col style="width: 55%;">
											<col>
										</colgroup>
										<thead>
											<tr>
												<th scope="col">번호</th>
												<th scope="col">제목</th>
												<th scope="col">공고일</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>정기 주주총회 소집공고</td>
												<td>2024.03.13</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //table -->
								<!-- table -->
								<div class="t-display design2 case1 type1 align1">
									<table>
										<caption>이 표는 --- 정보를 제공하며 --,--,-- 으로 구성되어 있습니다.</caption>
										<colgroup>
											<col style="width: 14.1%;">
											<col style="width: 13.55%;">
											<col style="width: 25%;">
											<col>
										</colgroup>
										<thead>
											<tr>
												<th scope="col" colspan="4">환경 법/규제 관리 체계 및 대응 전략</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td rowspan="9" class="t-bg">Plan</td>
												<td rowspan="4" class="align3">조직 상황</td>
												<td>조직과 조직 상황의 이해</td>
												<td>조직/조직상황의 이해를 위해 내/외부 주요 이슈 사항을 규명하고 활동, 제품 및 서비스에 관련된 환경 법규 및 요구사항을 파악</td>
											</tr>
											<tr>
												<td>이해관계자의 니즈와 기대 이해</td>
												<td>환경법규 기반 내/외부 이해관계자 관련 의무준수사항을 파악 (관련 법규 내 변경 및 신규 제정 여부 확인(최소 연 1회 이상))</td>
											</tr>
											<tr>
												<td>환경경영시스템의 적용 범위 결정</td>
												<td rowspan="2">파악된 의무준수사항을 환경경영시스템 내 포함하여 조직별 적용 여부를 결정하고 문서화 관리</td>
											</tr>
											<tr>
												<td>환경경영시스템</td>
											</tr>
											<tr>
												<td rowspan="3" class="align3">리더십</td>
												<td>리더십과 의지표명</td>
												<td rowspan="3">관련 환경 법규 내 요구사항을 충족할 수 있는 환경방침을 수립하고 조직별 역할 및 책임과 권한을 명기</td>
											</tr>
											<tr>
												<td>조직의 역할, 책임 및 권한</td>
											</tr>
											<tr>
												<td>환경방침</td>
											</tr>
											<tr>
												<td rowspan="2" class="align3">기획</td>
												<td>리스크와 기회를 다루는 조치</td>
												<td rowspan="2">1.환경 측명 파악 및 영향 평가 실시<br>
													2.환경 이슈 파악 및 리스크 평가 실시<br>
													3.환경 법규 파악 및 법규 준수 평가 실시*</td>
											</tr>
											<tr>
												<td>환경방침</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //table -->
								<!-- table -->
								<div class="t-display design3 case1 type1 align1">
									<table>
										<caption>이 표는 --- 정보를 제공하며 --,--,-- 으로 구성되어 있습니다.</caption>
										<colgroup>
											<col style="width: 15.6%;">
											<col style="width: 33%;">
											<col style="width: 14.6%;">
											<col>
										</colgroup>
										<thead>
											<tr>
												<th scope="col" colspan="2">환경법규 준수평가표</th>
												<th scope="col">점검일자</th>
												<th scope="col" class="align1">2022.08.10</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td class="t-bg align3">법령</td>
												<td class="align3">폐기물법 등</td>
												<td class="align3 bl-bg">점검부서</td>
												<td>SV추진2팀</td>
											</tr>
											<tr>
												<td class="t-bg align3">관리번호</td>
												<td class="align3">환경-01</td>
												<td class="align3 bl-bg">점검자</td>
												<td>ㅇㅇㅇ</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //table -->
								<!-- table -->
								<div class="t-display design4 case1 type1 align1">
									<table>
										<caption>이 표는 --- 정보를 제공하며 --,--,-- 으로 구성되어 있습니다.</caption>
										<colgroup>
											<col style="width: 20.8%;">
											<col style="width: 27.8%;">
											<col style="width: 13.3%;">
											<col style="width: 13.3%;">
											<col style="width: 13.3%;">
											<col>
										</colgroup>
										<thead>
											<tr>
												<th scope="col" rowspan="2">법 조항 및 항목</th>
												<th scope="col" rowspan="2">점검내용</th>
												<th scope="col" colspan="3">준수평가</th>
												<th scope="col" rowspan="2">조치사항</th>
											</tr>
											<tr>
												<th scope="col" class="t-bg">적합</th>
												<th scope="col" class="t-bg">부적합</th>
												<th scope="col" class="t-bg">해당사항 없음</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>제15조(생활폐기물 배출자의 처리 협조 등)</td>
												<td>생활폐기물 보관 시설 설치 및 사업장폐기물 중 생활폐기물을 종류, 성상별로 구분</td>
												<td>
													<div class="form radio design1 case1 type1">
														<ul class="radio-list">
															<li class="radio-item">
																<label for="good">
																	<input type="radio" name="suit" value="s1" id="good">
																	<span class="option"></span>
																</label>
															</li>
														</ul>
													</div>
												</td>
												<td>
													<div class="form radio design1 case1 type1">
														<ul class="radio-list">
															<li class="radio-item">
																<label for="bad">
																	<input type="radio" name="suit" value="s2" id="bad" checked>
																	<span class="option"></span>
																</label>
															</li>
														</ul>
													</div>
												</td>
												<td>
													<div class="form radio design1 case1 type1">
														<ul class="radio-list">
															<li class="radio-item">
																<label for="none">
																	<input type="radio" name="suit" value="s3" id="none">
																	<span class="option"></span>
																</label>
															</li>
														</ul>
													</div>
												</td>
												<td></td>
											</tr>
											<tr>
												<td>제15조의2(음식물류 폐기물 배출자의 의무)</td>
												<td>음식물류 폐기물은 조례에 따라 발생 억제 및 적정처리 계획을 신고</td>
												<td>
													<div class="form radio design1 case1 type1">
														<ul class="radio-list">
															<li class="radio-item">
																<label for="good">
																	<input type="radio" name="suit1" value="s4" id="good" checked>
																	<span class="option"></span>
																</label>
															</li>
														</ul>
													</div>
												</td>
												<td>
													<div class="form radio design1 case1 type1">
														<ul class="radio-list">
															<li class="radio-item">
																<label for="bad">
																	<input type="radio" name="suit1" value="s5" id="bad">
																	<span class="option"></span>
																</label>
															</li>
														</ul>
													</div>
												</td>
												<td>
													<div class="form radio design1 case1 type1">
														<ul class="radio-list">
															<li class="radio-item">
																<label for="none">
																	<input type="radio" name="suit1" value="s6" id="none">
																	<span class="option"></span>
																</label>
															</li>
														</ul>
													</div>
												</td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- //table -->
							</div>
						</div>
					</div>
				</div>
				<!-- //section -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_guide.footer.ejs') %>
	</div>
</div>
</body>
</html>