		<!--page-side-->
		<div class="page-side" id="layoutPageSide">
			<!--aside-body-->
			<div class="aside-body">
				<!--section-->
				<div class="section toc" id="tableOfContent">
					<div class="section-head">
						<h2 class="section-subject">
							<span class="section-name">UI Components For<br class="mo-only" /> SK Networks</span>
							<p class="para">HERE'S WHAT TEAM PIX HAS CREATED.</p>
						</h2>
					</div>
					<div class="section-body">
						<ul class="gnb-list">
							<li class="gnb-item"><span class="gnb-name">Preview</span>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="./../list/front.html">Front</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../intro/index.html">Admin</a></li>
								</ul>
							</li>
							<li class="gnb-item"><span class="gnb-name">Components</span>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="./../components/accordion.html">Accordion</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/banner.html">Banner</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/board.html">Board</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/button.html">Button</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/chart.html">Chart</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/color.html">Color</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/font.html">Font</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/form.html">Form</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/icon.html">Icon</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/list.html">List</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/mark.html">Mark</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/post.html">Post</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/swiper.html">Swiper</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/tab.html">Tab</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../components/table.html">Table</a></li>
								</ul>
							</li>
							<li class="gnb-item"><span class="gnb-name">Info</span>
								<ul class="lnb-list">
									<li class="lnb-item"><a class="lnb-name" href="./../info/wai-guide.html">WAI guide</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../info/layout-guide.html">Layout guide</a></li>
									<li class="lnb-item"><a class="lnb-name" href="./../info/source.html">Sourses</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<!--//section-->
			</div>
			<!--//aside-body-->
		</div>