<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        localAnimations_Case02();
        Tab();
    });
</script>
</head>
<body class="en">

<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    })
    %>
     <div class="main esg info-protection" id="main">
        <div class="main-inner">
            <div class="local design1">
                <div class="local-head design5" data-local-animation="case-2">
                    <%-include('../_templates.en/_local-info.ejs', {
                        depth1: 'Sustainability',
                        depth2: 'Governance',
                        depth3: 'Information Protection and Security',
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject"><h2 class="local-name">Creating Future Value through<br class="pc-only"> Transparent Management</h2></div>
                    <div class="local-aside">
                        <div class="local-wrap">
                            <h3 class="local-title">Information Protection and Security</h3>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/sustainability/bg-local-head-esg-governance.jpg" alt="">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">Information Protection and Security</div>
                    <div class="content-info">
                    </div>
                    <div class="content-body">
                        <div class="section design1 case2 type1 security">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Information Protection and Security</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK Networks is acutely aware of the importance of security for personal information/IT services and thus safely protects the company and customers’ information. We have various measures in place to prevent complaints related to corporate data leakage or theft, personal information leakage or theft and information protection, including but not limited to: information security instructions and guidelines; an organization dedicated to information protection tasks; a working-level consultative body joined by CISO(Chief Information Security Officer)/CPO(Chief Privacy Officer); and, employee training on information protection.
                                    </p>
                                    <div class="board-list design19 case1 type1">
                                        <div class="board-item">
                                            <div class="board-body">
                                                <p class="para">
                                                    The Information Security Center vows to upgrade the security control system and<br class="pc-only"> security certification to minimize security risks in and out of the organization.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="data-display design1 case2 type1">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">Information Security Roadmap</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display roadmap case1 type1">
                                                            <div class="data-list">
                                                                <div class="data-item">
                                                                    <div class="data-wrap">
                                                                        <div class="data-head">
                                                                            <div class="data-head-area">
                                                                                <em class="data-subject">2024</em>
                                                                            </div>
                                                                        </div>
                                                                        <div class="data-body">
                                                                            <p class="para">Expanding digital tech security 
                                                                                management area</p>
                                                                            <div class="bullet-display design1 case1 type7">
                                                                                <ul class="data-list">
                                                                                    <li class="data-item">Digital Tech-centered Information Protection Certification<br>(Maintaining ISMS/ISMS-P Certification)</li>
                                                                                </ul>
                                                                            </div>
                                                                            <p class="comment design1">
                                                                                * Expanding security of Cloud Service area
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="data-item">
                                                                    <div class="data-wrap">
                                                                        <div class="data-head">
                                                                            <div class="data-head-area">
                                                                                <em class="data-subject">2025</em>
                                                                            </div>
                                                                        </div>
                                                                        <div class="data-body">
                                                                            <p class="para">Establishing an AI-based security management system</p>
                                                                            <div class="bullet-display design1 case1 type7">
                                                                                <ul class="data-list">
                                                                                    <li class="data-item">Strengthening response to AI-based cyber attack</li>
                                                                                </ul>
                                                                            </div>
                                                                            <p class="comment design1">
                                                                                * Dark web monitoring, response to exposure of vulnerable information assets (ASM), etc
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="data-item">
                                                                    <div class="data-wrap">
                                                                        <div class="data-head">
                                                                            <div class="data-head-area">
                                                                                <em class="data-subject">2026</em>
                                                                            </div>
                                                                        </div>
                                                                        <div class="data-body">
                                                                            <p class="para">Securing global-level certification systems</p>
                                                                            <div class="bullet-display design1 case1 type7">
                                                                                <ul class="data-list">
                                                                                    <li class="data-item">Expanding global information protection certifications<br> (ISO/IEC 27001, 27701)</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="data-display design1 case2 type1 guide-line">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">Information Security Guideline</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="post-list design6 case2 type1">
                                                            <div class="post-item">
                                                                <div class="post-wrap">
                                                                    <div class="post-inform">
                                                                        <p class="para">SK Networks revised its regulations on personal and company information protection to manage thoroughly and safely protect all personal information handled in accordance with the revision of the three data-related government bills. The revised regulations reflect the disciplinary action to information management that has been strengthened following the liberalization of employees’ PC usage, and Personal information management of all stakeholders, including employees, external company employees, and visitors is handled under this regulation. In addition, we protect valuable information assets by preventing damages, forgeries, alteration, falsification, and leak through the regulations and rules of IT service/security management. The regulations are applied to all divisions, employees, and partners related to information and the system that collects, processes, handles, sends, stores, and manages the information in order to secure safety from various threats.</p>
                                                                    </div>
                                                                    <div class="post-body">
                                                                        <div class="post-figure">
                                                                            <img src="../../assets/images/sustainability/info-protection-thumb-1.jpg" alt="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1 align3 bg-1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Certification for Information Security &amp; Personal Information Management System</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="section-figure">
                                        <img src="../../assets/images/sustainability/isms-logo-1.png" alt="Information Security Management System ISMS">
                                        <img src="../../assets/images/sustainability/isms-p-logo-1.png" alt="Personal Information & Information Security Management System ISMS*P">
                                    </div>
                                    <div class="data-display design1 case1 type1">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">ISMS-P Certification and Information Protection Disclosure</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="para">SK Networks initially acquired the information security management system(ISMS) certification and personal information management system(PIMS) certification in 2015, and has maintained the revised ISMS-P* certification since its acquisition it in 2021. ISMS-P inspects the overall level of information security and personal information systems with 101 control items, including 16 items on establishing and operating management systems, 64 items on security requirements, and 21 items on requirements in each step of personal information processing. In addition, since 2022, we have disclosed our information protection outcomes to satisfy request from the external organization with public trust and to engage in transparent management of investments and activities related to information protection.</p>
                                                        <p class="comment design1">
                                                            * ISMS-P (Personal Information &amp; Information Security Management System)<br>
                                                            - Legal grounds: Article 47 of the Act on Promotion of Information and Communications Network Utilization and Information Protection, etc., Article 32.2 of the Personal Information Protection Act, and enforcement decrees, enforcement rules, public announcements of applicable acts.<br>
                                                            - Certification agency: Korea Internet &amp; Security Agency (KISA) / an agency designated by the Ministry of Science and ICT<br>
                                                            - Certification criteria: Assessment on sustained management system operation for 102 certification items<br>
                                                            - The above certification is mandatory for companies in the Information &amp; Communication Services sector with the previous year’s sales over KRW 10 billion or more than 1 million daily users on average during the recent 3months.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">Complying with the Group’s Security Guidelines</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="para">Beyond acquiring the ISMS-P certification and observing laws, SK Networks follows the security guidelines of SK Group. SK Group annually Inspects the implementation of the security guidelines by group members And subsidiaries, and recommends tasks for improvement. SK Networks establishes a plan for implementing SK Group’s recommendations, reports the plan to the top management, and continuously improves its security level by executing the tasks. We are also introducing cloud security posture management (CSPM) and new security solutions to prevent security incidents while establishing a systematic response system in case of a breach.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design4 case4 type1 organization">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Information Security Management System</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="data-display design1 case1 type8">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">Information Security Management System</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="para">SK Networks appointed the Head of the Information Protection Division as the Chief Information Security Officer (CISO) and Chief Privacy Officer (CPO) to manage, direct, and supervise the information protection and personal information protection duties of the company. A dedicated organization for information protection (Information Protection Team) prevents the leakage of (personal) information and responds to security compliance issues. Personnel in the organization dedicated to information protection is strictly prohibited from holding another position concurrently with the information protection duty pursuant to the Act on Promotion of Information and Communications Network Utilization and Information Protection, and the organization complies with the qualifications for CISO, as regulated by laws. SK Networks operates an Information Protection Committee, which is the highest decision-making body that comprises key executives and team leaders. The committee reviews, deliberates, and resolves matters and policies related to information protection and personal information protection, makes decisions on disciplinary actions against internal security accidents and violations, and approves action plans according to internal and external security audit results. The discussion results of the Information Protection Committee are reported to the top management. Additionally, we strengthen our ability to execute information protection duties by forming and operating a working-level council on (personal) information protection</p>
                                                    </div>
                                                    <div class="data-figure">
                                                        <img src="../../assets/images/sustainability/info-protection-diagram-2-en.png" alt="This is an organizational image of the Information Protection Committee, CISO, CPO Working-level Council. Please refer to the following for more information." class="pc-only">
                                                        <img src="../../assets/images/sustainability/info-protection-diagram-2-mo-en.png" alt="This is an organizational image of the Information Protection Committee, CISO, CPO Working-level Council. Please refer to the following for more information." class="mo-only" style="min-width: 600px;">
                                                        <div class="blind">
                                                            <em>CISO (Chief Information Security Officer) Chief Privacy Officer (CPO)</em>
                                                            <ul>
                                                                <li>Information Protection Officer Information Protection Team Leader
                                                                    <ul>
                                                                        <li>Party in Charge of Information Protection Information Protection Team
                                                                            <ul>
                                                                                <li>Party in Charge of Servers/Networks/ Information Protection System Security Information Protection Team</li>
                                                                                <li>Application Security Officer Digital Transformation Team Leader
                                                                                    <ul>
                                                                                        <li>Party in Charge of Application Security Digital Transformation Team
                                                                                            <ul>
                                                                                                <li>Biz. Security Organizations Trading Business Division, ICT Marketing Division, SpeedMate Division, Walkerhill</li>
                                                                                                <li>Security Organizations of Subsidiaries CISO and persons in charge (SK magic, SK rent-a-car, SK networks service, MINTIT, cartini, SK electlink)</li>
                                                                                            </ul>
                                                                                        </li>
                                                                                    </ul>
                                                                                </li>
                                                                                <li>Physical Security Officer HR Team Leader
                                                                                    <ul>
                                                                                        <li>Party in Charge of Physical Security Business Support Center</li>
                                                                                    </ul>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                            <em>Information Protection Committee</em>
                                                            <ul>
                                                                <li>Chief Operation Officer (COo)(Chair)</li>
                                                                <li>Chief Sustainability Officer (CSO) (member)</li>
                                                                <li>Chief Information Security Officer (member)</li>
                                                                <li>Head of Corporate Culture Division (member)</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case4 type7 response">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Security Breach Response</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="data-display design1 case2 type1">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">Security Breach Response Procedure</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <ul class="board-list design16 case1 type1">
                                                            <li class="board-item">
                                                                <div class="board-body">
                                                                    <p class="para">Giving notification* of the occurrence of an accident</p>
                                                                </div>
                                                            </li>
                                                            <li class="board-item">
                                                                <div class="board-body">
                                                                    <div class="bullet-display design1 case1 type1">
                                                                        <ul class="data-list">
                                                                            <li class="data-item">Disclosing accident information on the website for seven days or longer</li>
                                                                            <li class="data-item">No tifying the information subject and reporting to the specialized agency within 72 hours</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="board-item">
                                                                <div class="board-body">
                                                                    <p class="para">Reviewing after supplementation<br> (committee and BOD)</p>
                                                                </div>
                                                            </li>
                                                            <li class="board-item">
                                                                <div class="board-body">
                                                                    <div class="bullet-display design1 case1 type1">
                                                                        <ul class="data-list">
                                                                            <li class="data-item">Conducting post evaluation on the accident and establishing preventive measures within one month after the conclusion of the accident</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="board-item">
                                                                <div class="board-body">
                                                                    <p class="para">Conducting mock training and reporting results</p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="comment design1">* Reporting procedure : Person who recognizes the accident → Upper-level team leader and person in charge of the company wide personal information division → Upper-level team leader and person in charge of the company-wide risk management division → CPO and team leaders/executives of relevant divisions → CEO and executives of the holding company</p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Prevention of Violations on Data Protection and Privacy</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">SK Networks recognizes the importance of customer personal information and conducts exhaustive protective actions for safe management. In case personal information is included in any stage of the task process, including those handled by our subsidiaries, we make it clear that our privacy policy applies and ensure that employees enter the objectives and reasons for using personal information for more robust security.</p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Enhancing Security Awareness Among Employees</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">SK Networks announces the enactment and revision of regulations related to information security to ensure that employees can be aware and publishes the regulations so that they are available for review, and it provides updates on major changes in laws and internal policies through regular information security campaigns. All employees sign the information protection pledge each year and are obliged to complete online (personal) information protection education at least once a year. Additionally, we frequently share information about various security accidents and major policy changes and strengthen the security awareness of employees through periodic mock trainings and on-site inspections. In 2023, we built a system for managing the security level of each individual and have continued to improve the security level of individuals and organizations</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>
</html>