<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        localAnimations_Case02();
    });
</script>
</head>
<body class="en">

<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main esg member" id="main">
        <div class="main-inner">
            <div class="local design1">
                <div class="local-head design5" data-local-animation="case-2">
                    <%-include('../_templates.en/_local-info.ejs', {
                        depth1: 'Sustainability',
                        depth2: 'Society',
                        depth3: 'Safety &amp; Health',
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject"><h2 class="local-name">Managing Business for<br class="pc-only"> 
                        a Sustainable Society</h2></div>
                    <div class="local-aside">
                        <div class="local-wrap">
                            <h3 class="local-title">Safety &amp; Health</h3>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/sustainability/bg-local-head-esg-society.jpg" alt="">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">Safety &amp; Health</div>
                    <div class="content-info">
                    </div>
                    <div class="content-body">
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name accent color7">Safety &amp; Health</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK Networks recognizes the safety and health of stakeholders including customers, citizens and its employees as core values of its corporate management, and endeavors to keep serious industrial accidents at zero by enhancing and enforcing ESG practices, implementing a safety and health management system, and fostering safety and health culture.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case4 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Safety &amp; Health Management Policy</h4>
                                        <p class="section-summary">SK Networks has developed management policies regarding safety and health as statements of the management leadership’s commitment to safety and health and enforced those policies in a bid to create wholesome working conditions and prevent industrial accidents more effectively. In addition, major developments concerning safety and health are reported to the board of directors and safety and health performance outcomes are reflected on the CEO and enterprise KPIs to provide interfaces with compensation schemes.</p>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="section-figure">
                                        <img src="../../assets/images/sustainability/safety-health-en.jpg" alt="This is the image of the management policy regarding safety and health. Please refer to the following for more information." style="width: 100%">
                                        <div class="blind">
                                            <div>Safety &amp; Health Management Policy</div>
                                            <div>
                                                <p><strong>SK Networks Co., Ltd.</strong> recognizes the safety and health of the stakeholders including customers, citizens, and employees* as critical values of corporate management and strives to achieve a zero-serious-accident objective by fostering ESG management practices and safety and health culture as stated by its management policy.</p>
                                            </div>
                                            <div>1 Management leadership continues to uphold their commitment to safety and health leading by example to encourage employees to engage voluntarily and work proactively in nurturing a safety and health culture.</div>
                                            <div>2 Safety and health management systems incorporating applicable legislative/-regulatory requirements: practical constraints of workplaces are implemented: and control standards are specified and thoroughly complied with.</div>
                                            <div>3 Safety and health hazards/risks in workplaces are continuously identified and addressed to foster safe work environments and thereby effectively prevent occupational accidents.</div>
                                            <div>4 Safety and health management systems are continuously upgraded reflecting developments in and out of the company and feedback from employees to step up the effectiveness of safety and health controls.</div>
                                            <div>5 Employees are in constant communication and train to improve their safety and health awareness in workplaces, and internalize their safety and health culture.</div>
                                            <div>
                                                <div>CEO &amp; President</div>
                                                <div>
                                                    <span>Lee, Ho-jeong</span>
                                                </div>
                                                <div>*employees: all employees working at sk networks including part-times and contractors</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1 health-layout">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Mid-to-long-term Safety &amp; Health Roadmap</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        We at SK Networks will ensure constant evolution and improvement of the safety and health management system and bolster up its effectiveness in consideration of worksite-specific characteristics and changing business landscape to create safe and healthy worksites of global top-tier level in each business domain and meet the goal of zero industrial accidents. By nurturing and embedding safety and health culture, we will empower all SK Networks people to exercise VWBE leadership in safety and health to roll out a business environment wherein SK Networks people and stakeholders can remain happy, healthy and safe.
                                    </p>
                                    <div class="data-display roadmap case1 type1">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <div class="data-head-area">
                                                            <em class="data-subject">2024</em>
                                                            <p class="para">Establishing a Self-regulated<br> Prevention System</p>
                                                        </div>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="bullet-display design1 case2 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">Strengthening employees participation and communication to prevent major disasters</li>
                                                                <li class="data-item">Conducting risk assessment with increased employees participation</li>
                                                                <li class="data-item">Establishing a health management system that accounts for the characteristics of employees</li>
                                                                <li class="data-item">Ex-post review of safety and health management systems (ISO 45001)</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <div class="data-head-area">
                                                            <em class="data-subject">2025</em>
                                                            <p class="para">Fostering and Habituating the<br class="pc-only"> VWBE Safety and Health Culture</p>
                                                        </div>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="bullet-display design1 case1 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">Creating a culture promoting safety and health and strengthening VWBE safety and health leadership</li>
                                                                <li class="data-item">Spreading the safety and health culture through participation and cooperation</li>
                                                                <li class="data-item">Expanding access to safety and health education and opportunities for participation</li>
                                                                <li class="data-item">Ex-post review of safety and health management systems (ISO 45001)</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <div class="data-head-area">
                                                            <em class="data-subject">2026 ~</em>
                                                            <p class="para">Creating a Healthy and<br class="pc-only"> Happy Workplace</p>
                                                        </div>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="bullet-display design1 case1 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">Creating the highest level of organizational culture with safety internalized</li>
                                                                <li class="data-item">Strengthening employees' safety and health responsibilities and participation</li>
                                                                <li class="data-item">Going through audit for renewal of occupational health and safety management system (ISO 45001)</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Identifying and mitigating safety and health risks</h4>
                                        <p class="section-summary">
                                            We are steadfast in our commitment to proactively mitigate serious accident risks and cultivate a safe and health work environment. This entails identifying safety hazards at worksites through risk assessment, developing and implementing recommended actions, and verifying their effectiveness. Since 2022, we have conducted risk assessments twice a year, ensuring that all 93 safety hazards identified in 2023 (with a risk level of 6 or higher) have been diligently addressed. Furthermore, SK Networks is taking proactive actions to eliminate hazards found from feedback contributed by workers via the health and safety council. Walkerhill has implemented an enterprise risk management (ERM) system to enhance its risk assessment scheme specific to the needs of its worksite.

                                        </p>
                                    </div>
                                    <p class="comment design1">* Risk = probability of occurrence X criticality of consequence (probability/criticality is estimated on a scale of 1 to 3 respectively)</p>
                                </div>
                                <div class="section-body">
                                    <div class="post-list design5 case1 type1 case1 type1">
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-head">
                                                    <p class="post-subject">Risk assessment process</p>
                                                </div>
                                                <div class="post-figure">
                                                    <img src="../../assets/images/sustainability/feed-process-en.svg" alt="1 Prepare in advance, 2 Identify safety and health hazards, 3 Estimate risks, 4 Determine risks, If acceptable, it will be terminated, reported (recorded). If not acceptable, 5 Risk Reduction Measures will be established and implemented before returning to the 2 Hazardous Risk Factor Identification Process." class="pc-only">
                                                    <img src="../../assets/images/sustainability/feed-process-en-mo.png" alt="1 Prepare in advance, 2 Identify safety and health hazards, 3 Estimate risks, 4 Determine risks, If acceptable, it will be terminated, reported (recorded). If not acceptable, 5 Risk Reduction Measures will be established and implemented before returning to the 2 Hazardous Risk Factor Identification Process." style="min-width: 915px;width: 100%;" class="mo-only">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1 health-layout">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Safety and health training</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK Networks provide health and safety training to SK Networks people, considering both legal requirements and the specific needs of each worksite. This training is designed to heighten their awareness of health and safety protocols as part of our organizational culture. Training programs are developed for various groups within SK Networks, including office staff and logistics center personnel, and are consistently delivered online to maximize effectiveness. Additionally, we arrange specialized training for health and safety managers through reputable external institutions.
                                    </p>
                                    <div class="t-display design1 case1 type1 align3 scroll">
                                        <table style="min-width: 644px;" class="col-w-1">
                                            <caption>This table provides information on the implementation of safety and health education and consists of classification and training content.</caption>
                                            <colgroup>
                                                <col class="col1">
                                                <col class="col2">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">Classification</th>
                                                    <th scope="col">Training Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Office workers</td>
                                                    <td class="align1">Fostering and improvement of occupational safety culture, work environment and health management for office workers, statutory safety and health training requirements, prevention of health conditions attributable to work stress, etc.</td>
                                                </tr>
                                                <tr>
                                                    <td>Logistics center</td>
                                                    <td class="align1">Work safety of forklifts, prevention of musculoskeletal diseases, understanding and utilization of material safety datasheets (MSDSs), safety protection gears set forth in the Occupational Safety and Health Act, etc.</td>
                                                </tr>
                                                <tr>
                                                    <td>Occupational training</td>
                                                    <td class="align1">Publicly accessible training courses in Korea Industrial Safety Psychology Counseling Association (KISCA), Korea Industrial Safety Association (KISA), Korean Industrial Health Association, etc.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Collecting employee feedback</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        At SK Networks worksites across the nation, a monthly health and safety council is established and chaired by health and safety managers, with supplier involvement. The council serves as a platform to enhance health and safety protocols and gather feedback from workers regarding health and safety issues at each SK Networks worksite. Quarterly collaborative inspections are conducted to evaluate safety conditions and mitigate potential accidents onsite. Furthermore, risk assessments are also regularly conducted to solicit input from workers and suppliers on health and safety hazards, ensuring ongoing improvement. Walkerhill remains committed to identifying and mitigating health and safety risks, including the enhancement of road infrastructure to promote pedestrian safety.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section design2 type1 response">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Emergency response system and drills</h4>
                                        <p class="section-summary">Emergency response systems are implemented at worksites across the nation including Samil Building, SK Networks logistics centers, and Walkerhill. Regular emergency response drills for fire and natural disasters are conducted each year. Onsite facilities include Automated External Defibrillators (AEDs) and fire masks, with workers receiving regular training in CPR (cardiopulmonary resuscitation) and Heimlich maneuver to address airway obstructions. Walkerhill provides safety incident experience training to its people to prepare them for a variety of contingencies. Additionally, Walkerhill is certified as a CPR training institution by the Korean Association of Cardiopulmonary Resuscitation (KACPR), offering systematic and professional first-aid response training on a regular basis.
                                        </p>
                                    </div>
                                </div>
                                <div class="section-figure">
                                    <img src="../../assets/images/sustainability/esg-member-response.jpg" alt="Emergency Response Training Photo">
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1 health-support">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name accent color7">Health Supports</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        As SK Networks considers health an essential condition for the happiness of its people, the company has a health support system in place for sustained, improved healthy life and has established a safe work environment. In particular, the company contributes to people’s healthy life focusing on adult disease prevention and mental health enhancement, considering job characteristics mostly composed of office jobs. In addition, key plans and issues concerning SK Networks people’s health are reported to management leadership to ensure their accountability to SK Networks people.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Intensive management areas considering job characteristics</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <ul class="board-list design12 case1 type1">
                                        <li class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-name">Prevention of Adult Diseases</div>
                                                <div class="board-body">
                                                    <div class="data-display design1 case4 type5">
                                                        <div class="data-list">
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">1. Smoking rate : 19.5%(2021) → 10%(~2025)</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">Programs in collaboration with Jongno-gu Public Health Center (2022~)</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">2. Minimizing obesity rate</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">BMI Assessment</li>
                                                                                <li class="data-item">Diet and exercise coaching</li>
                                                                                <li class="data-item">Health-friendly environment including cafeteria</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">3. Physical exercise ratio : 44.5%(2021) → 50%(~2025)</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">Fitness programs available (2022~)</li>
                                                                                <li class="data-item">Health-friendly environment consisting of fitness center, healthy stairways, air-tossing app, etc.</li>
                                                                                <li class="data-item">Various fitness programs available in ‘Wings of Happiness’ Training Institute app</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">4. Minimizing SK Networks people with high blood pressure or diabetes</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">Focused care for SK Networks people with high blood pressure or diabetes</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-name">Mental Health Program</div>
                                                <div class="board-body">
                                                    <div class="data-display design1 case4 type5">
                                                        <div class="data-list">
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">1. Raising mental health awareness program</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">Various educational programs to improve accessibility to mental health care (2022~)<br>Ex) &lt;Misunderstanding of psychological counseling	&gt;, &lt;Interpretation of MBTI&gt;, etc.</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">2. Accessibility enhancement programs</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">Introduction and development of ‘healing program(2021-)<br>Ex) Personality test and interpretation by organization</li>
                                                                                <li class="data-item">SK Networks people stress measurement program (2022~)<br>Ex) Job stress level and resilience check, special lecture on stress management</li>
                                                                                <li class="data-item">Meditation programs available in ‘Wings of Happiness’ Training Institute (2023~)</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Health check &amp; follow-up management</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK Networks provides annual health check-ups to all SK Networks people, aiming for a completion of 100%*. All SK Networks people are encouraged to undergo these check-ups annually, with SK Networks covering the expenses for detailed health assessments. Individuals identified with health issues receive one-one-one health counseling with nurses, while those deemed to be at high risks and requiring focused care are managed accordingly.
                                    </p>
                                    <p class="comment design1">* Available to legally qualified recipients (biennial checkups compulsory for office workers, based on their birth year), and exceptions are applied to those who are on a leave of absence, deceased, retired, pregnant, or under treatment and received health checkups independently.</p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">SOKSOK Counseling Room : Promoting mental health</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK Networks is providing professional psychological consultation services as the company has set up the management of mental health, to which office workers are vulnerable, as a specialized area. Consultation services are offered to employees and their immediate family members and tackle a wide spectrum of areas, including not only work-related stress and private emotions but also family issues, child-rearing, and legal advice. Quarterly notices and promotions are also made so that many employees can take advantage of those services. Health counseling services are provided not only in person but also over the phone or via video conference to ensure better accessibility. All personal information collected during counseling is strictly kept confidential in accordance with relevant statutory provisions (Article 83 of the Framework Act on Workers’ Welfare). Services are further improved by collecting feedbacks with a target to achieve a satisfaction score of 4.5 points (out of 5) from those who have used the consultation services.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Infectious diseases control</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK Networks safeguards its employees against infectious diseases such as the flu by providing them with annual flu vaccinations, covered by the company. Additionally, personal disinfectant products are supplied to all employees.<br> COVID test kits, hand sanitizers, and face masks are disseminated to individuals with respiratory conditions, and company canteens exposed to significant health risks undergo monthly disinfection procedures.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1 health-layout">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Health promotion program</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        Since the end of August 2022, SK Networks has been running a health enhancement program for all members including contract workers. The program titled Workout in daily life is implemented so that members can develop a healthy workout routine and prevent adult diseases. SK Networks people who engage in physical activity for 30 minutes or longer per day receive rewards, with additional incentives for those who maintain this routine for 15 days or more each month to foster exercise habits. Furthermore, stress management lectures and stress level assessment programs are provided to support the mental health of SK Networks people. Furthermore, Stress diagnosis program is also available for assess mental health. A member’s mental condition is checked through a stress test conducted twice a year, and customized solutions are offered according to the results. Also, programs are recommended and offered for each organization’s members according to their stress source (such as job, relationship and organizational culture) and stress level.
                                    </p>
                                    <div class="board-list design3 case1 type1">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="data-display design1 case1 type1">
                                                    <div class="data-list">
                                                        <div class="data-item">
                                                            <div class="data-wrap">
                                                                <div class="data-body">
                                                                    <p class="para accent case4 color6">* Performance of the Workout in daily life program(as of end of December 2023)</p>
                                                                    <div class="bullet-display design1 case1 type1">
                                                                        <ul class="data-list">
                                                                            <li class="data-item">Number of participants : 46 persons (ca. 11%)</li>
                                                                            <li class="data-item">Number of participations : 1,833 cases</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1 health-layout">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Health-friendly Environment</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK Networks provides support to employees to effectively manage their health by fostering a health-friendly environment. In-house nurses are stationed at the head office to provide medical products and services, and cafeteria nutritionists provide nutritionally balanced diets. Moreover, an indoor fitness facility is set up in an area of 496m2, housed with fitness equipment to assist employees' fitness management and in-house 'health-keepers(who provides professional massage services),' and massage chairs are also offered to prevent musculoskeletal disorders as a result of long hours of work. SK Networks people who opt for the healthy choice of using stairways are rewarded through the Hangarae app to promote the adoption of healthy daily routines. In addition to health checkup data and infectious disease data, various indexes related to fostering a health-friendly environment, including fitness use rate and canteen use rate, are also managed as valuable data.
                                    </p>
                                    <div class="board-list esg-health">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure medi"></div>
                                                <div class="board-name">Medical Office</div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure health"></div>
                                                <div class="board-name">‘Health-keeper’</div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure fit"></div>
                                                <div class="board-name">Fitness Facility</div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure food"></div>
                                                <div class="board-name">Cafeteria</div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure mass"></div>
                                                <div class="board-name">Massage Chairs</div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure stairs"></div>
                                                <div class="board-name">'Stairs for health'</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Health Support System</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK Networks relieves the medical expense burden of the employees through an in-house medical fee support system. Up to KRW 5 million is annually provided to employees with permanent employment, their spouses, and children. All SK Networks employees are supported under the company's group personal accident insurance that covers major diseases such as cancer and strokes. In 2021, group dental insurance has also been offered to relieve people's financial burden of dental treatment.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>
</html>