<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        localAnimations_Case02();
    });
</script>
</head>
<body class="en">
<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main esg double-bottom-line" id="main">
        <div class="main-inner">
            <div class="local design1">
                <div class="local-head design5" data-local-animation="case-2">
                    <%-include('../_templates.en/_local-info.ejs', {
                        depth1: 'Sustainability',
                        depth2: 'Social Value',
                        depth3: 'Double Bottom Line',
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject"><h2 class="local-name">Creating Social Value through<br class="pc-only"> Value Innovation in Harmony.</h2></div>
                    <div class="local-aside">
                        <div class="local-wrap">
                            <h3 class="local-title">Double<br class="mo-only"> Bottom Line</h3>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/sustainability/bg-local-head-esg-social-values.jpg" alt="">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">Double Bottom Line</div>
                    <div class="content-info">
                    </div>
                    <div class="content-body">
                        <div class="section design1 case3 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">SKMS and Pursuit of ‘Stakeholder Happiness’</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="section-figure hotel"></div>
                                    <p class="para">According to SK Group’s management philosophy, SKMS (SK Management System), the concept of stakeholder happiness means “A corporation must consistently achieve stability and growth to persevere and advance. In doing so, a corporation must also create greater happiness for customers, employees, shareholders, and society.”</p>
                                    <p class="para">We are actively engaged in sustainable management rooted in this concept. SK Group also designated 2018 as ‘Year One for a New SK’ and is pursuing enhanced social value (SV) as a vital corporate strategy for survival. Ultimately, we seek to realize sustainable growth together with society.</p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type2 value-diagram">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">DBL(Double Bottom Line)</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">DBL is SK’s management principle which states all SK business activities should create economic value and increase social value so that society can share in the company’s growth.</p>
                                    <p class="para">SK Networks recognizes the pursuit of social value is indispensable to the sustainable growth of the company and its employees. In 2018, it selected the pursuit of social value as one of the management policies supporting the beginning of DBL (Double Bottom Line), Furthermore, it sought to identify the social issues associated with each business division and made a quantitative measure of the fundamental impact of all SK-led business activities from the environmental, social, and governance aspects. Going forward, we will continue research and monitoring to expand the range of indicators for measuring social value and develop a more sophisticated methodology. We will also uncover ways to create social value and cultivate business models based on the measure of social value.</p>
                                    <div class="data-display doudle-circle">
                                        <ul class="data-list">
                                            <li class="data-item purple">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <div class="data-subject">
                                                            Economic Value
                                                        </div>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="para">
                                                            Financial outcomes<br> created through business activities
                                                        </p>
                                                    </div>
                                                    <div class="data-util">
                                                        <p class="value-type">revenue and operating income, etc.</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item orange">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <div class="data-subject">
                                                            Social Value
                                                        </div>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="para">
                                                            Contribution to solving social issues<br> 
                                                            through business activities
                                                        </p>
                                                    </div>
                                                    <div class="data-util">
                                                        <p class="value-type">indirect economic contributions</p>
                                                        <p class="value-type">environmental achievements</p>
                                                        <p class="value-type">social performance</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case1 type2 bg-color">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">SK DBL Key Strategies</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="board-list design20 case1">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure">
                                                    <img src="../../assets/images/sustainability/dbl-1.jpg" alt="회의하는 사람들 이미지">
                                                </div>
                                                <div class="board-inform">
                                                    <em class="head">All business activities</em>
                                                    <p class="body">Expand the scope of SV creation beyond CSR
                                                        to overall concept of Biz Value Chain</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure">
                                                    <img src="../../assets/images/sustainability/dbl-2.jpg" alt="토론하는 사람들 이미지">
                                                </div>
                                                <div class="board-inform">
                                                    <em class="head">Create economic value and increase social value</em>
                                                    <p class="body">Actively review ways to grow SV during decision-making process (Decreasing (-)SV, generating (+)SV)</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure">
                                                    <img src="../../assets/images/sustainability/dbl-3.jpg" alt="건물 이미지">
                                                </div>
                                                <div class="board-inform">
                                                    <em class="head">SK management principle of growing with society</em>
                                                    <p class="body">Increase economic value and social value to pursue happiness in harmony and balance for all stakeholders</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case1 type2 over">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">SV Management Organization</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list design5 case1 type1">
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/sustainability/esg-diagram2-en.svg" alt="This is an SV-promoted organization image, please refer to the following for more information." class="pc-only" style="max-width: 1098px;">
                                                    <img src="../../assets/images/sustainability/esg-diagram2-mo-en.png" alt="This is an SV-promoted organization image, please refer to the following for more information." class="mo-only"  style="min-width: 512px;">
                                                </div>
                                                <div class="blind">
                                                    <em>BOD</em>
                                                    <ul>
                                                        <li>ESG Management Committee</li>
                                                        <li>CEO
                                                            <ul>
                                                                <li>Management Supporting Division
                                                                    <ul>
                                                                        <li>Sustainable Management Division</li>
                                                                        <li>SV Implementation Team
                                                                            <ul>
                                                                                <li>Environmental CoE</li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>Company-wide ESG Implementation Committee</li>
                                                                <li>SV meet up</li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="data-display design1 case2 type2">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">Strengthening the Organization to Establish the ESG Management System</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="para">SK Networks operates a dedicated SV Implementation Team to concentrate its company-wide capabilities on creating social value and securing communication channels for each business. The Board of Directors, as the highest decision-making body, deliberates on, decides, and supervises agenda items reviewed in advance by Strategy∙ESG Committee. Furthermore, ESG management is promoted through the Company-wide ESG Implementation Committee, which includes the CEO, executives, and subsidiary representatives.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">SV Meetup, the Social Value Council</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <p class="para">Since 2019, SK Networks has been operating SV Meetup, a social value council. The SV Meetup, led by the Head of Management Support Division, includes members from the Strategy Team, each business unit, and the SV-related departments within subsidiaries. This meetup serves as a platform to discuss and share updates on domestic and international trends related to sustainability disclosures, RE100, and other SV-related issues. Additionally, it features SV-BM* workshops and discussions on the current status and challenges of social value initiatives across different business units.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>
</html>