<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        localAnimations_Case02();
    });
</script>
</head>
<body class="en">

<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main esg award" id="main">
        <div class="main-inner">
            <div class="local design1">
                <div class="local-head design5" data-local-animation="case-2">
                    <%-include('../_templates.en/_local-info.ejs', {
                        depth1: 'Sustainability',
                        depth2: 'Data Center',
                        depth3: 'Certifications',
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject">
                        <h2 class="local-name">
                            Disclosing ESG information<br class="pc-only">
                            Transparently in accordance<br class="pc-only">
                            with international standards.
                        </h2>
                    </div>
                    <div class="local-aside">
                        <div class="local-wrap">
                            <h3 class="local-title">Certifications</h3>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/sustainability/bg-local-head-esg-reference.jpg" alt="">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">Certifications</div>
                    <div class="content-info">
                    </div>
                    <div class="content-body">
                        <div class="section design1 case3 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Certifications</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="data-display design1 case2 type1">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">SK Networks</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISMS</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-arrow-right-up2-2" href="https://www.etoday.co.kr/news/view/2091321" target="_blank" title="Opens in a new window."><span class="btn-text">Link</span></a>
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISMS-P</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-arrow-right-up2-2" href="https://www.etoday.co.kr/news/view/2091321" target="_blank" title="Opens in a new window."><span class="btn-text">Link</span></a>
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Best Family Friendly Management</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 9001:2015</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 22000</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">HACCP</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 14001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">GPTW</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 37001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                    <!-- <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a> -->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 45001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Environmental Mark</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Zero Waste to Landfill (ZWTL)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">LEED Green Building Certification</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">SK Networks service</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Korea Excellent Service Quality Business</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 9001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 45001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">SK Magic</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 14001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 9001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISMS-P</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">SK Rent-a-car</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Best Family Friendly Management</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-arrow-right-up2-2" href="https://www.sknetworks.co.kr/promotion/pressView.do?PRE_IDX=15316&curPage=1&keyword=PRE_TIT&search=%EA%B0%80%EC%A1%B1%EC%B9%9C%ED%99%94%EA%B8%B0%EC%97%85" target="_blank" title="Opens in a new window."><span class="btn-text">Link</span></a>
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Cloud service security certification (CSAP)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Information Security &amp; Privacy Protection System certification (ISMS-P)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 9001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-arrow-right-up2-2" href="https://www.thevaluenews.co.kr/news/view.php?idx=166472" target="_blank" title="Opens in a new window."><span class="btn-text">Link</span></a>
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 14001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 37001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 45001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">Web Accessibility (WA) certification</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">MINTIT</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 27001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">TUV SUD SQA certification (Windows data deletion SW)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">TUV SUD SQA certification (Android data deletion app)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">SK Electlink</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">OCPP (Open Charge Protocol Point) 1.6 certification</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">Download</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>
</html>