<!DOCTYPE html>
<html lang="en">
<head>
<%-include('../_templates.en/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        localAnimations_Case02();
        Tab();
    });
</script>
</head>
<body class="en">

<div id="wrap">
    <%-include('../_templates.en/_header.ejs', {
        type: 'light',
    })
    %>
     <div class="main esg report-st" id="main">
        <div class="main-inner">
            <div class="local design1">
                <div class="local-head design5" data-local-animation="case-2">
                    <%-include('../_templates.en/_local-info.ejs', {
                        depth1: 'Sustainability',
                        depth2: 'Data Center',
                        depth3: 'Sustainability Report and Policy',
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject">
                        <h2 class="local-name">
                            Disclosing ESG information<br class="pc-only"> 
                            Transparently in accordance<br class="pc-only"> 
                            with international standards.
                        </h2>
                        </div>
                    <div class="local-aside">
                        <div class="local-wrap">
                            <h3 class="local-title">Sustainability Report and Policy</h3>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/sustainability/bg-local-head-esg-reference.jpg" alt="">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">Sustainability Report and Policy</div>
                    <div class="content-info">
                    </div>
                    <div class="content-body">
                        <div class="section design2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Sustainability Report Download</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="post-list design5 case1 type1">
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-figure">
                                                    <img src="../../assets/images/sustainability/green-en.jpg" alt="Cover of 2023 Sustainable Management Report">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="data-display design2 case1 type1">
                                        <ul class="data-list network">
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2023 Sustainability Report</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Download</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Sustainability Report</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="data-display design2 case6 type1">
                                        <ul class="data-list">
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2021</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Download</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2020</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Download</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2019</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Download</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2018</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Download</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="data-item">
                                                <div class="item-wrap">
                                                    <div class="item-head">
                                                        <p class="item-date">2017</p>
                                                    </div>
                                                    <div class="item-util">
                                                        <div class="btn-display design1 case3 align1">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case2 type3 color5 ar-icon-download" href="#"><span class="btn-text">Download</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Policy</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="data-display design5">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-body">
                                                        <p class="para">SK Networks discloses environmental, social, and governance (ESG) data in line with sustainability reporting standards such as GRI and SASB. To ensure the accuracy of our data reporting, we conduct internal verification and third-party verification processes. We transparently share our data collection criteria and calculation methods through the ESG Data Manual. In addition, we collect internal policies related to sustainable management and transparently disclose them through the Policy Book.</p>
                                                        <div class="btn-display align3">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">ESG Policy and Practice <br>Guideline Download</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="subject">Policy</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="order-list design2">
                                                            <ul class="list-inner">
                                                                <li class="order-item"><span class="num">03</span>Corporate Governance Charter</li>
                                                                <li class="order-item"><span class="num">13</span>Code of Ethics</li>
                                                                <li class="order-item"><span class="num">15</span>Practice Guidelines for the Code of Ethics</li>
                                                                <li class="order-item"><span class="num">20</span>Corruption Prevention Policy</li>
                                                            </ul>
                                                            <ul class="list-inner">
                                                                <li class="order-item"><span class="num">21 </span>Human Rights Policy</li>
                                                                <li class="order-item"><span class="num">23 </span>Human Rights Commitment Declaration</li>
                                                                <li class="order-item"><span class="num">25 </span>Health and Safety Management Policy</li>
                                                                <li class="order-item"><span class="num">26 </span>Sustainable Supply Chain Policy</li>
                                                            </ul>
                                                            <ul class="list-inner">
                                                                <li class="order-item"><span class="num">29</span>Supplier Code of Conduct</li>
                                                                <li class="order-item"><span class="num">34</span>Supply Chain ESG Guidelines</li>
                                                                <li class="order-item"><span class="num">43</span>Environmental Policy</li>
                                                            </ul>
                                                        </div>
                                                        <div class="btn-display align3">
                                                            <div class="btn-area">
                                                                <a class="btn design3 case1 type1 color2 ar-icon-download-bg" href="#"><span class="btn-text">Policy Book Download</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
</body>
</html>