<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        localAnimations_Case02();
    });
</script>
</head>
<body class="kr">

<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main esg award" id="main">
        <div class="main-inner">
            <div class="local design1">
                <div class="local-head design5" data-local-animation="case-2">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'Sustainability',
                        depth2: '자료실',
                        depth3: '인증',
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject"><h2 class="local-name">국제 표준에 맞추어<br> ESG 정보를 투명하게 공개합니다.</h2></div>
                    <div class="local-aside">
                        <div class="local-wrap">
                            <h3 class="local-title">인증</h3>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/sustainability/bg-local-head-esg-reference.jpg" alt="">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">인증</div>
                    <div class="content-info">
                    </div>
                    <div class="content-body">
                        <div class="section design1 case3 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">인증</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="data-display design1 case2 type1">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">SK네트웍스</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISMS</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-arrow-right-up2-2" href="https://www.etoday.co.kr/news/view/2091321" target="_blank" title="새창 열기"><span class="btn-text">바로가기</span></a>
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISMS-P</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-arrow-right-up2-2" href="https://www.etoday.co.kr/news/view/2091321" target="_blank" title="새창 열기"><span class="btn-text">바로가기</span></a>
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">가족친화기업</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 9001:2015</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 22000</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">HACCP</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 14001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">GPTW</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 37001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                    <!-- <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a> -->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 45001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">환경표지</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">폐기물 매립 제로 검증 (ZWTL)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">친환경 건축물 인증 (LEED)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">SK네트웍스 서비스</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">한국서비스품질 우수기업</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 9001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 45001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">SK매직</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 14001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 9001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISMS-P</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">SK렌터카</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">가족친화기업</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-arrow-right-up2-2" href="https://www.sknetworks.co.kr/promotion/pressView.do?PRE_IDX=15316&curPage=1&keyword=PRE_TIT&search=%EA%B0%80%EC%A1%B1%EC%B9%9C%ED%99%94%EA%B8%B0%EC%97%85" target="_blank" title="새창 열기"><span class="btn-text">바로가기</span></a>
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">클라우드 서비스 보안인증<br class="mo-only"> (CSAP)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">정보보호 및 개인 정보보호<br class="mo-only"> 관리체계 인증 (ISMS-P)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 9001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-arrow-right-up2-2" href="https://www.thevaluenews.co.kr/news/view.php?idx=166472" target="_blank" title="새창 열기"><span class="btn-text">바로가기</span></a>
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 14001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 37001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 45001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">정보통신접근성(WA)인증</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">민팃</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">ISO 27001</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">TUV SUD SQA 인증<br class="mo-only">(Window 데이터삭제 SW)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">TUV SUD SQA 인증<br class="mo-only">(Android 데이터삭제 App)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <em class="data-subject">SK일렉링크</em>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="data-display design2 case6 type2">
                                                            <ul class="data-list">
                                                                <li class="data-item">
                                                                    <div class="item-wrap">
                                                                        <div class="item-head">
                                                                            <p class="item-subject">OCPP 1.6 인증<br class="mo-only">(완속 충전기 운영 서버)</p>
                                                                        </div>
                                                                        <div class="item-util">
                                                                            <div class="btn-display design1 case4 align1">
                                                                                <div class="btn-area">
                                                                                    <a class="btn design3 case2 type3 color5 ar-icon-download" href="javascript:void(0)"><span class="btn-text">다운로드</span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>