<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageJavascript: ''
}) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        localAnimations_Case02();
    });
</script>
</head>
<body class="kr">

<div id="wrap">
    <%-include('../_templates/_header.ejs', {
        type: 'light',
    })
    %>
    <div class="main esg member" id="main">
        <div class="main-inner">
            <div class="local design1">
                <div class="local-head design5" data-local-animation="case-2">
                    <%-include('../_templates/_local-info.ejs', {
                        depth1: 'Sustainability',
                        depth2: '사회',
                        depth3: '안전 보건',
                        casetype: 'case2'
                    }) %>
                    <div class="local-subject"><h2 class="local-name">지속가능한 사회를 위한<br>
                        경영을 하겠습니다.</h2></div>
                    <div class="local-aside">
                        <div class="local-wrap">
                            <h3 class="local-title">안전 보건</h3>
                        </div>
                    </div>
                    <div class="local-figure">
                        <img src="../../assets/images/sustainability/bg-local-head-esg-society.jpg" alt="">
                    </div>
                    <div class="local-util">
                        <p class="scroll-guide">Scroll Down</p>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">안전 보건</div>
                    <div class="content-info">
                    </div>
                    <div class="content-body">
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name accent color7">안전보건</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK네트웍스는 고객, 시민, 종사자 등 다양한 이해관계자의 안전과 건강을 기업경영의 핵심가치로 인식하고, ESG 경영 강화와 실천, 안전보건관리체계 구축 및 안전보건문화의 정착을 통해 ‘중대재해발생 Zero’의 지속적인 달성을 위해 노력하고 있습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case4 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">안전보건 경영방침</h4>
                                        <p class="section-summary">SK네트웍스는 안전 및 보건에 관한 경영방침을 설정하여, 최고 경영층의 안전보건에 대한 경영의지를 표명하고 이를 실천함으로서 안전하고 건강한 근무환경 조성과 실질적인 재해 예방 활동을 강화하고 있습니다. 또한 안전보건 관련 주요 사항을 이사회에 보고하고, CEO 및 전사 KPI에 안전보건 성과를 반영하여 보상과 연계하고 있습니다.</p>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <div class="section-figure">
                                        <img src="../../assets/images/sustainability/safety-health.jpg" alt="안전 및 보건에 관한 경영방침 이미지입니다. 자세한 설명은 하단 내용을 참고하세요." style="width: 100%">
                                        <div class="blind">
                                            <div>안전 및 보건에 관한 경영방침</div>
                                            <div>
                                                <p><strong>SK네트웍스 주식회사는 고객, 시민, 종사자* 등 다양한 이해관계자의 안전과 건강을 기업경영의 핵심가치로 인식하고,</strong></p>
                                                <p>본 경영방침을 근간으로 ESG 경영 강화와 실천, 안전보건문화 정착을 통해 중대재해발생 Zero 목표를 달성하기 위해 노력한다.</p>
                                            </div>
                                            <div>1.경영진은 안전보건 경영의지를 지속적으로 표명하고 실천에 솔선수범하여, 구성원의 자발적 참여와 적극적 실천을 이끌어 안전보건 문화를 정착한다.</div>
                                            <div>2. 안전보건 관계법령의 요구사항 반영 및 사업장의 실정에 맞는 안전보건 관리 체계를 구축하고 관리기준을 설정하여 철저하게 준수한다.</div>
                                            <div>3. 사업장의 유해·위험요인을 지속적으로 확인하고 개선하여 안전한 근로환경을 조성함으로써 재해발생을 효과적으로 예방한다.</div>
                                            <div>4. 대내외 환경 변화, 종사자의 의견을 반영하여 안전보건 관리체계를 지속적으로 개선함으로써 안전보건 관리의 실효성을 제고한다.</div>
                                            <div>5. 종사자와의 적극적인 소통 및 교육을 통해 사업장의 안전보건의식을 제고하고 안전보건문화를 생활화한다.</div>
                                            <div>
                                                <div>SK네트웍스 주식회사 대표이사</div>
                                                <div>
                                                    <span>이 호 정</span>
                                                </div>
                                                <div>*종사자: 구성원(정규직, 계약직, 단시간 및 특수형태 근로종사자까지 모두 포함) 및 협력업체 근로자</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1 health-layout">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">안전보건 중장기 Roadmap</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK네트웍스는 사업장별 특성과 경영 환경 변화를 고려한 안전보건관리체계의 지속적인 진화와 개선, 실천력 강화를 통해 영역별 글로벌 Top-Tier 수준의 안전하고 건강한 사업장 실현과 ‘중대재해 Zero’를 지속적으로 달성해 나갈 것입니다. 안전보건 문화의 정착과 생활화를 통하여 모든 구성원이 VWBE한 안전보건 리더십을 실천함으로써, 구성원과 이해관계자 모두 행복한 건강하고 안전한 사업 환경을 구축해 나갈 것입니다.
                                    </p>
                                    <div class="data-display roadmap case1 type1">
                                        <div class="data-list">
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <div class="data-head-area">
                                                            <em class="data-subject">2024</em>
                                                            <p class="para">자기규율예방<br>체계 확립</p>
                                                        </div>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="bullet-display design1 case2 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">중대재해 예방 위한 구성원 참여 및 커뮤니케이션 활동 강화</li>
                                                                <li class="data-item">구성원 참여 확대한 위험성 평가 실시</li>
                                                                <li class="data-item">구성원 특성 고려한 건강관리체계 정착/강화</li>
                                                                <li class="data-item">안전보건경영시스템(ISO 45001) 사후관리 심사</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <div class="data-head-area">
                                                            <em class="data-subject">2025</em>
                                                            <p class="para">VWBE 안전보건<br>문화 정착과 생활화</p>
                                                        </div>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="bullet-display design1 case1 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">안전보건 문화의 정착과 VWBE 안전보건 리더십 강화</li>
                                                                <li class="data-item">참여와 협력을 통한 안전보건 문화 확산</li>
                                                                <li class="data-item">안전보건 교육 접근성 및 참여 기회 확대</li>
                                                                <li class="data-item">안전보건경영시스템(ISO 45001) 사후관리 심사</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-wrap">
                                                    <div class="data-head">
                                                        <div class="data-head-area">
                                                            <em class="data-subject">2026 ~</em>
                                                            <p class="para">건강하고 행복한<br>사업장 구축</p>
                                                        </div>
                                                    </div>
                                                    <div class="data-body">
                                                        <div class="bullet-display design1 case1 type1">
                                                            <ul class="data-list">
                                                                <li class="data-item">안전이 내재화된 최고수준의 조직문화 구축</li>
                                                                <li class="data-item">구성원의 안전보건 책임과 참여 강화</li>
                                                                <li class="data-item">안전보건경영시스템(ISO 45001) 갱신 심사</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case3 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">유해위험요인의 확인과 개선</h4>
                                        <p class="section-summary">
                                            위험성평가를 통해 사업장의 유해위험요인을 확인하고 개선대책을 수립, 이행하며 효과성을 검증하여 중대재해 리스크를 사전에 예방하고, 안전하고 건강한 사업환경 조성을 위해 지속적으로 노력하고 있습니다. ‘22년부터 연 2회 위험성평가를 실시하고 있으며, ‘23년 식별된 유해위험요인 93개(위험성* 6 이상)를 모두 개선하여 위험 요인을 감소시켰습니다. 또한, 안전보건협의체 등 종사자 의견 청취를 통해 발견된 유해위험요인에 대해서도 적극 조치, 개선을 진행하고 있습니다. 워커힐에서는 전사적 리스크 관리(ERM) 시스템을 구축하여 사업장 특성에 적합한 위험성평가 시스템을 강화하여 운영하고 있습니다.
                                        </p>
                                    </div>
                                    <p class="comment design1">* 위험성(Risk) = 사고발생 가능성 X 사고결과 중대성 (가능성/중대성 각각 1 ~ 3 Scale 조합하여 산정)</p>
                                </div>
                                <div class="section-body">
                                    <div class="post-list design5 case1 type1 case1 type1">
                                        <div class="post-item">
                                            <div class="post-wrap">
                                                <div class="post-head">
                                                    <p class="post-subject">위험성 평가 Process</p>
                                                </div>
                                                <div class="post-figure">
                                                    <img src="../../assets/images/sustainability/feed-process.svg" alt="1 사전준비, 2 유해위험 요인파악, 3 위험성 추정, 4 위험성 결정, 허용가능한 경우 종료, 보고(기록)됩니다. 허용가능하지 않은 경우 5 위험성 감소대책 수립 및 실행을 거쳐 다시 2 유해위험 요인파악 과정으로 돌아갑니다." class="pc-only">
                                                    <img src="../../assets/images/sustainability/feed-process-mo.png" alt="1 사전준비, 2 유해위험 요인파악, 3 위험성 추정, 4 위험성 결정, 허용가능한 경우 종료, 보고(기록)됩니다. 허용가능하지 않은 경우 5 위험성 감소대책 수립 및 실행을 거쳐 다시 2 유해위험 요인파악 과정으로 돌아갑니다." style="min-width: 91.5rem;width: 100%;" class="mo-only">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1 health-layout">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">안전보건 교육 시행</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        구성원의 안전보건 의식 제고와 안전보건문화 생활화를 위하여 법령 및 사업장의 특성을 고려하여 안전보건교육을 실시하고 있습니다. 실질적인 교육효과와 안전역량 강화를 위해 사무직, 물류센터 등 직무별로 교육안을 구성, 법령을 준수하여 정기적으로 온라인 교육을 실시하고 있으며, 안전보건관리책임자 등의 직무교육도 외부 전문기관을 통하여 실시하고 있습니다.
                                    </p>
                                    <div class="t-display design1 case1 type1 align3 scroll">
                                        <table style="min-width: 644px;" class="col-w-1">
                                            <caption>이 표는 안전보건 교육 시행 정보를 제공하며 구분(사무직, 물류센터, 직무교육), 교육 내용 으로 구성되어 있습니다.</caption>
                                            <colgroup>
                                                <col class="col1">
                                                <col class="col2">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">구분</th>
                                                    <th scope="col">교육 내용</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>사무직</td>
                                                    <td class="align1">기업 안전문화 정착과 개선, 사무실 근로자를 위한 작업환경 및 건강관리, 법에서 규정하는 안전보건교육, 직무스트레스에 의한 건강장애 예방 등</td>
                                                </tr>
                                                <tr>
                                                    <td>물류센터</td>
                                                    <td class="align1">지게차의 작업안전 확보, 근골격계 질환 예방관리 프로그램, 물질안전보건자료의 이해와 활용, 산업안전보건법에서의 안전보호구 등</td>
                                                </tr>
                                                <tr>
                                                    <td>직무교육</td>
                                                    <td class="align1">한국산업안전심리상담협회, 대한산업안전협회, 대한산업보건협회 등 개설 과정</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">종사자의 의견 청취</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        전국 사업장별 안전보건총괄책임자를 중심으로 협력업체와의 안전보건협의체를 구성하여 매월 운영하고 있습니다. 협의체 운영을 통하여 각 사업장의 안전보건관련 점검 체계를 강화하고, 종사자의 안전보건에 대한 의견을 청취하고 있습니다. 매 분기 합동점검을 시행하여 사업장의 안전 상태를 점검하고 근무 중 발생할 수 있는 안전사고를 방지하기 위해 노력하고 있으며, 위험성평가 청취조사를 통해 근로자와 협력업체로부터 안전보건 유해요인에 대한 의견을 수렴, 반영하여 지속적으로 개선하고 있습니다. 또한 워커힐은 보행자 안전을 위해 도로 시설물을 보완하는 등 안전보건 위험성을 지속적으로 파악, 개선하고 있습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section design2 type1 response">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">비상대응체계 및 훈련</h4>
                                        <p class="section-summary">삼일빌딩, 물류센터, 워커힐 등 전국 사업장별로 비상대응체계를 구축하고, 매년 화재 및 자연 재해 등에 대비한 비상 대응 훈련을 정기적으로 실시하고 있습니다. 실생활에서 발생할 수 있는 응급상황에 대처하기 위해 사업장에 자동심장충격기와 화재마스크를 비치하였고, 심폐소생술, 기도폐쇄 처치법 등을 주기적으로 훈련하고 있습니다. 워커힐은 다양한 비상상황에 대한 대처 능력을 향상시키기 위해 구성원 대상 안전체험관 재난 체험교육을 시행하고 있으며, 대한심폐소생협회로부터 심폐소생술 일반인 교육기관으로 승인받아 체계적이고 전문적인 응급처치 교육을 정기적으로 운영하고 있습니다.
                                        </p>
                                    </div>
                                </div>
                                <div class="section-figure">
                                    <img src="../../assets/images/sustainability/esg-member-response.jpg" alt="비상대응 훈련 사진">
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1 health-support">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name accent color7">건강지원</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK네트웍스는 건강을 구성원의 행복을 위한 필수 요소로 여기며, 건강한 삶을 유지 및 증진하기 위해 건강 지원 제도와 안전한 근무 환경을 구축하고 있습니다. 특히, 대부분 사무직으로 구성된 직무 특성을 고려하여 성인병 예방과 정신 건강에 중점을 두어 구성원의 건강한 삶에 기여합니다. 또한 구성원 건강 관련 계획 및 주요 핵심 이슈를 CEO를 포함한 경영층에게 보고하며 경영층의 책임을 강화하고 있습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case1 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">직무 특성 고려 집중관리 영역</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <ul class="board-list design12 case1 type1">
                                        <li class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-name">성인병 예방 프로그램</div>
                                                <div class="board-body">
                                                    <div class="data-display design1 case4 type5">
                                                        <div class="data-list">
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">1. 흡연율 : 19.5%(2021) → 10%(~ 2025)</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">종로구 보건소와 연계 프로그램 운영(2022 ~)</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">2. 비만율 최소화 관리</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">BMI 수치 평가</li>
                                                                                <li class="data-item">식단 및 운동 코칭</li>
                                                                                <li class="data-item">사내식당 등 건강 친화적 환경 구축</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">3. 운동 수행율 : 44.5%(2021) → 50%(~ 2025)</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">운동 프로그램 운영(2022 ~)</li>
                                                                                <li class="data-item">피트니스센터, 건강 계단, 행가래 앱 운영 등 건강 친화적 환경 구축</li>
                                                                                <li class="data-item">행복 날개 수련원 App내 다양한 운동 프로그램 운영</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">4. 고혈압 당뇨 유소견자 최소화 관리</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">고혈압 및 당뇨 유소견자 집중관리</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-name">정신건강 증진 프로그램</div>
                                                <div class="board-body">
                                                    <div class="data-display design1 case4 type5">
                                                        <div class="data-list">
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">1. 정신건강 인식 제고를 위한 교육</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">정신건강에 대한 쉬운 접근을 위한 다양한 교육 제공(2022 ~)<br>예) 심리 상담에 대한 오해, MBTI의 해석 등</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="data-item">
                                                                <div class="data-wrap">
                                                                    <div class="data-head">
                                                                        <em class="data-subject">2. 접근성 강화 프로그램 운영</em>
                                                                    </div>
                                                                    <div class="data-body">
                                                                        <div class="bullet-display design1 case1 type3">
                                                                            <ul class="data-list">
                                                                                <li class="data-item">힐링프로그램 신설 및 지속 운영 및 개선 관리(2021 ~)<br>예) 조직별 성격검사 및 해석 강의 등</li>
                                                                                <li class="data-item">구성원 스트레스 측정 프로그램 운영(2022 ~)<br>예) 직무 스트레스 검사 및 회복탄력성 검사, 스트레스 특강</li>
                                                                                <li class="data-item">행복날개 수련원 명상 프로그램 운영 (2023 ~)</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">건강 검진 및 사후관리</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK네트웍스는 건강 검진 수검률 100%*를 목표로 전 구성원을 대상으로 매년 건강 검진을 시행하고 있습니다. 모든 구성원이 건강 검진을 연내에 받을 수 있도록 안내하고 있으며, 건강 검진 정밀 검사 항목 비용을 지원하고 있습니다. 건강검진 결과 상 유소견자를 대상으로 간호사와 1:1 건강 상담 진행 및 집중 관리가 필요한 고위험자를 선정하여 주기적으로 관리 하고 있습니다.
                                    </p>
                                    <p class="comment design1">* 법적 대상자 기준 (사무직은 2년에 1회 의무 실시, 출생년도 기준), 휴직, 사망, 퇴사, 임신, 치료 중 개별 검진 시행자 예외 적용</p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">SOKSOK 상담실 : 정신 건강 증진</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK네트웍스는 사무직군이 취약한 정신 건강 관리를 특화 영역으로 설정하고 전문 심리 상담 서비스를 제공하고 있습니다. 상담 서비스는 구성원 본인과 직계 가족에게 제공되며, 직무 스트레스, 개인 정서는 물론 가정 문제, 자녀 양육, 법률 자문의 영역까지도 다룹니다. 많은 구성원들이 이용할 수 있도록 분기별 안내 및 홍보를 진행하고 있습니다. 대면 상담뿐만 아니라 접근성을 높이기 위해 전화·화상 상담도 진행하고 있습니다. 모든 상담 내용은 관렵 법률(근로복지기본법 제83조)에 의거하여 철저하게 비밀이 보장 됩니다. 또한 상담 서비스 이용 구성원의 만족도 4.5점(5점 만점) 이상을 목표로 하여, 구성원의 피드백을 통해 서비스를 개선해 나가고 있습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">감염병 관리</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK네트웍스는 독감 등의 감염병으로부터 구성원을 보호합니다. 구성원을 대상으로 매년 독감 예방접종을 지원하고 있습니다. 또한, 방역 소독 및 임직원 방역 물품을 지원하고 있습니다. 호흡기 관련 증상이 있을 시 코로나 진단키트, 손소독제 비치, 마스크를 제공하고 있으며, 감염병 발생 위험이 높은 식당에서는 매달 방역을 실시하고 있습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1 health-layout">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">건강증진 프로그램</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK네트웍스는 2022년 8월 말 부터 계약직을 포함한 전 구성원을 대상으로 건강증진 프로그램을 실행하고 있습니다. 각종 성인병을 예방하기 위해 건강한 운동 루틴을 형성 할 수 있도록 ‘운동 생활화 Program’을 시행하고 있습니다. 하루 30분이상 운동 인증 시, 리워드를 지급하고 있으며 꾸준한 습관을 형성할 수 있도록 1달에 15회 이상 실천 시 별도의 추가 리워드를 지급하고 있습니다. 뿐만 아니라, 마음 건강을 위하여 스트레스 특강 및 ‘스트레스 진단 Program’을 시행하고 있습니다. 연 2회 스트레스 검사를 통해 자신의 마음상태를 확인하고, 결과별 맞춤형 솔루션을 제공하고 있습니다. 또한 조직별로 구성원들의 스트레스 원인 (직무,관계, 조직문화 등) 및 수준에 따라 추천 프로그램을 제공하고 있습니다.
                                    </p>
                                    <div class="board-list design3 case1 type1">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="data-display design1 case1 type1">
                                                    <div class="data-list">
                                                        <div class="data-item">
                                                            <div class="data-wrap">
                                                                <div class="data-body">
                                                                    <p class="para accent case4 color6">* 운동 생활화 프로그램 실적 (‘23년 12월 말 기준)</p>
                                                                    <div class="bullet-display design1 case1 type1">
                                                                        <ul class="data-list">
                                                                            <li class="data-item">참여자 수 : 46명 (약 11%)</li>
                                                                            <li class="data-item">참여횟수 : 3,599 건</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1 health-layout">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">건강 친화적 환경</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK네트웍스는 건강 친화적 환경을 조성하여 구성원 건강관리를 지원하고 있습니다. 본사에는 사내 간호사가 상주하여 의약품 제공과 처치를 지원하며, 구내 식당에서는 영양사가 영양적으로 균형 잡힌 식단을 제공합니다. 뿐만 아니라, 각종 운동 기구를 구비한 150평의 피트니스 센터를 마련해 구성원의 체력 관리에 기여하고 있으며, 장시간 업무로 발생 가능한 근골격계 질환을 예방하기 위해 사내 헬스키퍼(전문 안마사 서비스) 및 안마의자를 운영 중입니다. 건강 계단 이용 인증 시 행가래 App을 통해 리워드를 지급하고 있어 생활 속 건강을 실천할 수 있도록 지원하고 있습니다. 구성원 건강 검진 및 감염병 예방 외에도 Fitness center 이용률, 구내 식당 이용률 등 건강 친화적 환경 조성과 관련된 지표를 데이터화하여 관리하고 있으며, 연중 만족도 조사를 통해 구성원의 의견을 적극 수렴하고 반영하여 환경 및 제도를 개선해 나가고 있습니다.
                                    </p>
                                    <div class="board-list esg-health">
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure medi"></div>
                                                <div class="board-name">의무실</div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure health"></div>
                                                <div class="board-name">헬스키퍼</div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure fit"></div>
                                                <div class="board-name">피트니스 센터</div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure food"></div>
                                                <div class="board-name">구내 식당</div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure mass"></div>
                                                <div class="board-name">안마의자</div>
                                            </div>
                                        </div>
                                        <div class="board-item">
                                            <div class="board-wrap">
                                                <div class="board-figure stairs"></div>
                                                <div class="board-name">건강계단</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section design1 case2 type1">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">건강 지원 제도</h4>
                                    </div>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        SK네트웍스는 사내 의료비 지원 제도를 통해 구성원의 의료비 부담을 완화합니다. 정규 구성원 및 배우자, 자녀를 대상으로 연한도 500만원을 지원하며, 구성원 대상으로 암, 뇌졸중 등의 주요 질환을 포함한 단체 상해보험에 가입하여 지원하고 있습니다. 2021년에는 치과 치료 부담을 줄이기 위해 단체 치과 보험을 추가로 가입하여 운영 중입니다. 이 밖에도 정부의 코로나19 대응에 발맞춰 백신 휴가를 도입하는 등 사회적 변화에 따라 구성원 건강 관리를 적극적으로 지원하고 있습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>