<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../_templates.en/_head.ejs', {
        layoutTemplate: 'front',
        pageStyle: 'main',
        pageJavascript: ''
    }) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const intro = document.querySelector(".section.intro")
        const ourEsg = intro.querySelector(".our-esg")
        const company = document.querySelector(".section.company")
        const subsidiary = company.querySelector(".subsidiary")
        const network = company.querySelector(".network")
        const media = document.querySelector(".section.media")
        let press = media.querySelector(".press-media")
        const sns = media.querySelector(".sns-media")
        const investment = document.querySelector(".section.investment")

        intro.classList.add("active1")
        setTimeout(() => {
            intro.classList.add("active2")
        }, 1500);

        const io = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                const _width = window.innerWidth
                const intro = entry.target.closest(".intro")
                if(_width >= 1024) {
                    if(entry.intersectionRatio > 0.5) {
                        intro.classList.add("active3")
                    } else {
                        intro.classList.remove("active3")
                    }
                } else {
                    if(entry.intersectionRatio > 0.1) {
                        intro.classList.add("active3")
                    } else {
                        intro.classList.remove("active3")
                    }
                }
            })
        }, {
            threshold: [0.1, 0.5]
        })

        const io2 = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                const _width = window.innerWidth
                const company = entry.target
                if(_width >= 1024) {
                    if(entry.intersectionRatio > 0.2) {
                        intro.classList.add("active4")
                        company.classList.add("active1")
                    } else {
                        company.classList.remove("active1")
                        intro.classList.remove("active4")
                    }
                } else {
                    if(entry.intersectionRatio > 0.1) {
                        intro.classList.add("active4")
                        company.classList.add("active1")
                    } else {
                        company.classList.remove("active1")
                        intro.classList.remove("active4")
                    }
                }
            })
        }, {
            threshold: [0.1, 0.2]
        })

        const io3 = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                const _width = window.innerWidth
                if(_width >= 1024) {
                    if(entry.intersectionRatio > 0.4) {
                        company.classList.remove("active4")
                        company.classList.add("active2")
                    }
                } else {
                    if(entry.intersectionRatio > 0.2) {
                        company.classList.add("active2")
                    }
                }
                if(!entry.isIntersecting) {
                    company.classList.remove("active2")
                }
            })
        }, {
            threshold: [0.2, 0.4]
        })

        const io6 = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if(entry.intersectionRatio > 0.1) {
                    press.style.top = window.innerHeight - press.offsetHeight + "px"
                    media.classList.add("active1")
                } else {
                    media.classList.remove("active1")
                }
            })
        }, {
            threshold: [0.1]
        })

        const io7 = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if(entry.intersectionRatio > 0.1) {
                    investment.classList.add("active1")
                } else {
                    investment.classList.remove("active1")
                }
            })
        }, {
            threshold: [0.1]
        })

        io.observe(ourEsg)
        io2.observe(company)
        io3.observe(network)
        io6.observe(media)
        io7.observe(investment)

        let _width = window.innerWidth
        let pressSwiper = undefined;

        function initPressSwiper() {
            if(_width >= 1024 && pressSwiper == undefined) {
                pressSwiper = new Swiper(".press-swiper", {
                    slidesPerView: "auto",
                    freeMode: true,
                    scrollbar: {
                        el: ".swiper-scrollbar",
                        draggable: true,
                    }
                });
            } else if(_width < 1024 && pressSwiper != undefined) {
                pressSwiper.destroy();
                pressSwiper = undefined;
            }
        }
        initPressSwiper();
        window.addEventListener("resize", () => {
            _width = window.innerWidth;
            initPressSwiper();
            company.classList.remove("active3")
            media.classList.remove("active1")
            media.classList.remove("active2")
            if(sns) {
                sns.style.marginTop = "0"
            }
        })

        new Swiper(".section-content.esg .swiper", {
            slidesPerView: "auto",
            freeMode: true,
        });

        new Swiper(".section.media .sns-media .swiper", {
            slidesPerView: "auto",
            freeMode: true,
        });
    });
</script>
</head>
<body class="en">
<!-- Modal -->
<!-- <div class="modal-display">
    <div class="modal notice" id="modalNotice1">
        <div class="modal-inner modal-dialog">
            <div class="modal-area">
                <div class="modal-wrap">
                    <div class="modal-body">
                        <div class="section">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <em class="section-subject"><span class="section-name">회사 분할에 따른 개인정보 이전<br> [통지/공고]</span></em>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        에스케이네트웍스 주식회사(이하 “당사”)는<br>
                                        2024년 6월 17일 이사회에서 스피드메이트 사업부문을 물적분할(이하 “본건 분할”)하여 분할신설회사를 설립하고,당사가 존속하면서 분할신설회사 발행주식 전부를 배정받는내용의 분할계획서를 승인하였습니다.
                                        에스케이네트웍스 주식회사(이하 “당사”)는<br>
                                        2024년 6월 17일 이사회에서 스피드메이트 사업부문을 물적분할(이하 “본건 분할”)하여 분할신설회사를 설립하고,당사가 존속하면서 분할신설회사 발행주식 전부를 배정받는내용의 분할계획서를 승인하였습니다.
                                        에스케이네트웍스 주식회사(이하 “당사”)는<br>
                                        2024년 6월 17일 이사회에서 스피드메이트 사업부문을 물적분할(이하 “본건 분할”)하여 분할신설회사를 설립하고,당사가 존속하면서 분할신설회사 발행주식 전부를 배정받는내용의 분할계획서를 승인하였습니다
                                    </p>
                                    <p class="para">
                                        본건 분할 이후 기존에 당사가 제공받아 처리하던 개인정보는2024년 9월 1일자(예정)로 분할신설회사에 이전될 예정입니다.
                                    </p>
                                    <p class="para">
                                        세부사항은 전자공고를 통해 확인하시기 바랍니다.
                                    </p>
                                </div>
                                <div class="section-util">
                                    <div class="btn-display design1 case1 align3">
                                        <div class="btn-area">
                                            <a class="btn design1 case1 type1 color1" href="#" tabindex="1"><span class="btn-text">상세 내용 확인하기</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form checkbox design1 case1 type1">
                            <div class="checkbox-list">
                                <div class="checkbox-item">
                                    <label for="checkbox1">
                                        <input type="checkbox" name="temp" value="chk1" id="checkbox1" tabindex="2">
                                        <span class="option">Do not open for a day</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="btn-display design1 case1 align3">
                            <div class="btn-area">
                                <a href="javascript:void(0);" onclick="closePop('modalNotice1');" class="btn design3 case2 type1 color4 ar-icon-close modal-close" tabindex="3"><span class="btn-text">Close</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal notice" id="modalNotice2">
        <div class="modal-inner modal-dialog">
            <div class="modal-area">
                <div class="modal-wrap">
                    <div class="modal-body">
                        <div class="section">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <em class="section-subject"><span class="section-name">회사 분할에 따른 개인정보 이전<br> [통지/공고]</span></em>
                                </div>
                                <div class="section-body">
                                    <p class="para">
                                        에스케이네트웍스 주식회사(이하 “당사”)는2024년 6월 17일 이사회에서 스피드메이트 사업부문을 물적분할(이하 “본건 분할”)하여 분할신설회사를 설립하고,당사가 존속하면서 분할신설회사 발행주식 전부를 배정받는내용의 분할계획서를 승인하였습니다.
                                    </p>
                                    <p class="para">
                                        본건 분할 이후 기존에 당사가 제공받아 처리하던 개인정보는2024년 9월 1일자(예정)로 분할신설회사에 이전될 예정입니다.
                                    </p>
                                    <p class="para">
                                        세부사항은 전자공고를 통해 확인하시기 바랍니다.
                                    </p>
                                </div>
                                <div class="section-util">
                                    <div class="btn-display design1 case1 align3">
                                        <div class="btn-area">
                                            <a class="btn design1 case1 type1 color1" href="#" tabindex="4"><span class="btn-text">상세 내용 확인하기</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form checkbox design1 case1 type1">
                            <div class="checkbox-list">
                                <div class="checkbox-item">
                                    <label for="checkbox2">
                                        <input type="checkbox" name="temp" value="chk1" id="checkbox2" tabindex="5">
                                        <span class="option">Do not open for a day</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="btn-display design1 case1 align3">
                            <div class="btn-area">
                                <a href="javascript:void(0);" onclick="closePop('modalNotice2');" class="btn design3 case2 type1 color4 ar-icon-close modal-close" tabindex="6"><span class="btn-text">Close</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div id="wrap" class="main">
    <%-include('../_templates.en/_header.ejs', {
        type: 'transparent',
    })
    %>
    <!-- main -->
    <div class="sk-main" id="main">
        <div class="main-inner">
            <section class="section intro">
                <div class="section-wrap">
                    <div class="background intro-video">
                        <video preload="auto" autoplay loop muted playsinline poster="../../assets/images/main/poster-main-intro1.png" src="../../assets/movies/bg-main-intro1.mp4"></video>
                    </div>
                    <div class="section-content our-business">
                        <div class="content-inner">
                            <div class="section-head">
                                <h2 class="section-name">
                                    AI for All, <br>Powered by SK Networks
                                </h2>
                            </div>
                            <div class="section-body">
                                <p class="para">
                                    SK Networks is paving the way for artificial <br>
                                    intelligence that opens up new possibilities in our <br>
                                    daily lives, ensuring that everyone can benefit.
                                </p>
                            </div>
                            <div class="section-util">
                                <a class="btn design3 case1 type1 color3 ar-icon-arrow-right2-bg" href="#">
                                    <span class="btn-text">Business</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="section-content our-esg">
                        <div class="content-background">
                            <div class="figure-bundle1">
                                <span class="figure1"></span>
                                <span class="figure2"></span>
                                <span class="figure3"></span>
                            </div>
                            <div class="figure-bundle2">
                                <span class="figure4"></span>
                                <span class="figure5"></span>
                                <span class="figure6"></span>
                            </div>
                        </div>
                        <div class="content-inner">
                            <div class="section-head">
                                <h3 class="section-name">Responsibility<br>for Sustainability</h3>
                            </div>
                            <div class="section-body">
                                <p class="para">
                                    We will bring our vision as an AI company to life by implementing efficient ESG practices and partnering with diverse stakeholders to build a sustainable future.
                                </p>
                            </div>
                            <div class="section-util">
                                <a class="btn design3 case1 type1 color3 ar-icon-arrow-right2-bg" href="#">
                                    <span class="btn-text">Sustainability</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section company">
                <div class="section-wrap">
                    <div class="section-content subsidiary">
                        <div class="content-background">
                            <video preload="auto" autoplay loop muted playsinline poster="../../assets/images/main/poster-main-company1.png" src="../../assets/movies/bg-main-company1.mp4"></video>
                        </div>
                        <div class="content-inner">
                            <div class="section-head">
                                <h3 class="split-wrap1">
                                    <span class="split pc-only">SK Networks is a global AI company</span>
                                    <span class="split mo-only">SK Networks is a global AI</span>
                                </h3>
                                <h3 class="split-wrap2">
                                    <span class="split pc-only">dedicated to creating future value</span>
                                    <span class="split mo-only">company dedicated to creating</span>
                                </h3>
                                <h3 class="split-wrap3">
                                    <span class="split pc-only">through AI.</span>
                                    <span class="split mo-only">future value through AI.</span>
                                </h3>
                            </div>
                            <div class="section-body">
                                <video preload="auto" autoplay loop muted playsinline src="../../assets/movies/bg-main-company-logo-en.mp4"></video>
                            </div>
                        </div>
                    </div>
                    <div class="section-content network">
                        <div class="content-inner">
                            <div class="section-head">
                                <div class="section-subject">
                                    <h3 class="section-name">Transitioning to an<br>AI-Centric Business Model</h3>
                                </div>
                                <p class="section-summary">
                                    We will achieve sustainable growth through AI-driven business model innovation and investment in promising future technologies.
                                </p>
                            </div>
                            <div class="section-body">
                                <ul class="board-list">
                                    <li class="item global-investment">
                                        <div class="board-head">
                                            <h3 class="board-name">Global Investment</h3>
                                        </div>
                                        <div class="board-body">
                                            <p class="para">Investing in future opportunities by leveraging our global network and portfolio management expertise</p>
                                        </div>
                                    </li>
                                    <li class="item infocom">
                                        <div class="board-head">
                                            <h3 class="board-name">ICT</h3>
                                        </div>
                                        <div class="board-body">
                                            <p class="para">Connecting people and<br>AI through ICT devices</p>
                                        </div>
                                    </li>
                                    <li class="item hotel">
                                        <div class="board-head">
                                            <h3 class="board-name">Hotels&Resorts</h3>
                                        </div>
                                        <div class="board-body">
                                            <p class="para">Beyond Entertainment,<br>Elevating Excitement</p>
                                        </div>
                                    </li>
                                    <li class="item rental">
                                        <div class="board-head">
                                            <h3 class="board-name">Wellness Appliance</h3>
                                        </div>
                                        <div class="board-body">
                                            <p class="para">Promoting healthy, convenient,<br>and eco-friendly lifestyles</p>
                                        </div>
                                    </li>
                                    <li class="item mobility">
                                        <div class="board-head">
                                            <h3 class="board-name">Mobility</h3>
                                        </div>
                                        <div class="board-body">
                                            <p class="para">Innovating with AI<br>to offer differentiated mobility services</p>
                                        </div>
                                    </li>
                                    <li class="item global-trading">
                                        <div class="board-head">
                                            <h3 class="board-name">Global Trading</h3>
                                        </div>
                                        <div class="board-body">
                                            <p class="para">Engaging in trade focused on chemicals and delivering value to our business partners</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section media">
                <div class="section-wrap">
                    <div class="section-content press-media">
                        <div class="content-inner">
                            <div class="section-head">
                                <div class="section-subject">
                                    <h3 class="section-name">Press Media</h3>
                                </div>
                                <p class="section-summary">
                                    Explore the future with SK Networks’ latest updates and discover what tomorrow holds.
                                </p>
                            </div>
                            <div class="section-body">
                                <div class="swiper press-swiper">
                                    <ul class="swiper-wrapper">
                                        <li class="swiper-slide">
                                            <a href="" class="link">
                                                <div class="swiper-head">
                                                    <div class="img-wrap">
                                                        <img src="https://place-hold.it/387x218" alt="">
                                                    </div>
                                                </div>
                                                <div class="swiper-body">
                                                    <span class="swiper-caption">Press</span>
                                                    <p class="para">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!</p>
                                                    <span class="date">2024.02.01</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="swiper-slide">
                                            <a href="" class="link">
                                                <div class="swiper-head">
                                                    <div class="img-wrap">
                                                        <img src="https://place-hold.it/387x218" alt="">
                                                    </div>
                                                </div>
                                                <div class="swiper-body">
                                                    <span class="swiper-caption">Press</span>
                                                    <p class="para">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!</p>
                                                    <span class="date">2024.02.01</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="swiper-slide">
                                            <a href="" class="link">
                                                <div class="swiper-head">
                                                    <div class="img-wrap">
                                                        <img src="https://place-hold.it/387x218" alt="">
                                                    </div>
                                                </div>
                                                <div class="swiper-body">
                                                    <span class="swiper-caption">Press</span>
                                                    <p class="para">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!</p>
                                                    <span class="date">2024.02.01</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="swiper-slide">
                                            <a href="" class="link">
                                                <div class="swiper-head">
                                                    <div class="img-wrap">
                                                        <img src="https://place-hold.it/387x218" alt="">
                                                    </div>
                                                </div>
                                                <div class="swiper-body">
                                                    <span class="swiper-caption">Press</span>
                                                    <p class="para">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!</p>
                                                    <span class="date">2024.02.01</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="swiper-slide">
                                            <a href="" class="link">
                                                <div class="swiper-head">
                                                    <div class="img-wrap">
                                                        <img src="https://place-hold.it/387x218" alt="">
                                                    </div>
                                                </div>
                                                <div class="swiper-body">
                                                    <span class="swiper-caption">Press</span>
                                                    <p class="para">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!</p>
                                                    <span class="date">2024.02.01</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="swiper-slide">
                                            <a href="" class="link">
                                                <div class="swiper-head">
                                                    <div class="img-wrap">
                                                        <img src="https://place-hold.it/387x218" alt="">
                                                    </div>
                                                </div>
                                                <div class="swiper-body">
                                                    <span class="swiper-caption">Press</span>
                                                    <p class="para">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!</p>
                                                    <span class="date">2024.02.01</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="swiper-slide">
                                            <a href="" class="link">
                                                <div class="swiper-head">
                                                    <div class="img-wrap">
                                                        <img src="https://place-hold.it/387x218" alt="">
                                                    </div>
                                                </div>
                                                <div class="swiper-body">
                                                    <span class="swiper-caption">Press</span>
                                                    <p class="para">SK네트웍스, 2023년 영업이익 2,373억원 달성 전년비 33.6% 증가 배당 증액·자사주 소각 통해 주주가치 제고 추진!</p>
                                                    <span class="date">2024.02.01</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="swiper-scrollbar"></div>
                                </div>
                            </div>
                            <div class="section-util">
                                <a class="btn design3 case1 type1 color1 ar-icon-arrow-right2-bg report" href="javascript:void(0)">
                                    <span class="btn-text">Go to the Press Release</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section investment">
                <div class="section-wrap">
                    <div class="content-inner">
                        <div class="section-head">
                            <div class="section-subject">
                                <h3 class="section-name">Investment</h3>
                            </div>
                        </div>
                        <div class="section-body">
                            <div class="board-list">
                                <div class="board-item sk-stock">
                                    <iframe src="https://ir.gsifn.io/sknetworks/ir2_main_pc.html?koreng=2" title="SK Networks Stock Price" class="pc-only">
                                    </iframe>
                                    <iframe src="https://ir.gsifn.io/sknetworks/ir2_main_m.html?koreng=2" title="SK Networks Stock Price" class="mo-only"></iframe>
                                </div>
                                <div class="board-item stock-info">
                                    <a href="javascript:void(0)" class="link">
                                        <div class="board-head">
                                            <h4 class="board-name">Stocks</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="board-item fina-info">
                                    <a href="javascript:void(0)" class="link">
                                        <div class="board-head">
                                            <h4 class="board-name">Finance</h4>
                                        </div>
                                    </a>
                                </div>
                                <div class="board-item ir">
                                    <div class="board-head">
                                        <img src="../../assets/images/logo/logo-w-e.svg" class="sk-logo" alt="SK Networks Logo">
                                    </div>
                                    <div class="board-body">
                                        <h4 class="board-name">IR Archives</h4>
                                        <div class="board-util">
                                            <a href="javascript:void(0)" class="ir-link">
                                                <span class="text">IR Letter & Research Report</span>
                                            </a>
                                            <a href="javascript:void(0)" class="ir-link">
                                                <span class="text">Audit Report</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <%-include('../_templates.en/_footer.ejs')%>
</div>
<script>
    $(document).ready(function() {
        openPop('modalNotice1');
        openPop('modalNotice2');
        $('.modal-display').addClass('show');
    });

    function popupLengthCheck() {
        var modalNotice = $('.modal.notice.show');
        var modalNoticeLength = modalNotice.length;

        if(modalNoticeLength < 1) {
            $('.modal-display').removeClass('show');
        }
    }

    function openPop(id){
        $("#"+id).addClass('show');
    }

    function closePop(id){
        $("#"+id).removeClass('show');
        popupLengthCheck();
    }
</script>
</body>
</html>