<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'main',
	pageJavascript: ''
}) %>
</head>
<body>
<!-- Modal -->
<div id="wrap" class="main">
    <%-include('../_templates/_header.ejs', {type: 'white',})%>
    <!-- main -->
    <main id="main" class="page main">
        <div class="page-body" style="height: 5000px; background-color: blueviolet;">

        </div>
    </main>
     <!-- // main -->
     <%-include('../_templates/_footer.ejs')%>
</div>
</body>
</html>