<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'main',
	pageJavascript: ''
}) %>
<script src="./../../assets/js/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        mainVisual();
    });
</script>
</head>
<body>
<div id="wrap" class="wrap">
    <%-include('../_templates/_header.ejs', {type: 'transparent',})%>
    <!-- main -->
    <main id="main" class="page main" style="height: 5000px;">
        <div class="page-body">
            <section class="section key-visual">
                <div class="section-wrap">
                    <div class="section-head blind">
                        <h2 class="section-subject">ClickESG</h2>
                    </div>
                    <div class="section-body">
                        <div class="swiper-display">
                            <div class="swiper swiper-list bg">
                                <ul class="swiper-wrapper">
                                    <li class="swiper-slide swiper-item">
                                        <video class="swiper-figure" preload="auto" autoplay loop muted playsinline src="../../assets/movies/main-visual-01.mp4"></video>
                                    </li>
                                    <li class="swiper-slide swiper-item">
                                        <video class="swiper-figure" preload="auto" autoplay loop muted playsinline src="../../assets/movies/main-visual-02.mp4"></video>
                                    </li>
                                    <li class="swiper-slide swiper-item">
                                        <video class="swiper-figure" preload="auto" autoplay loop muted playsinline src="../../assets/movies/main-visual-03.mp4"></video>
                                    </li>
                                </ul>
                            </div>
                            <div class="swiper-inner">
                                <div class="swiper swiper-list title">
                                    <ul class="swiper-wrapper">
                                        <li class="swiper-slide swiper-item">
                                            <div class="swiper-wrap">
                                                <div class="swiper-head">
                                                    <h3 class="swiper-subject">ClickESG SERVICE</h3>
                                                </div>
                                                <div class="swiper-body">
                                                    <p class="para">ClickESG는 Global 표준 기술력 보유하고,<br> ESG 전문성을 가진 기업중심의 컨설팅 서비스를 제공합니다.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="swiper-slide swiper-item">
                                            <div class="swiper-wrap">
                                                <div class="swiper-head">
                                                    <h3 class="swiper-subject">ClickESG Solutions</h3>
                                                </div>
                                                <div class="swiper-body">
                                                    <p class="para">맞춤형 ESG 솔루션으로 고객니즈에 맞춘 최적화 솔루션을 제공하고, 다양한 언어 Pack을 갖춰 해외사업장의 공급망 ESG 진단을 지원할 수 있습니다.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="swiper-slide swiper-item">
                                            <div class="swiper-wrap">
                                                <div class="swiper-head">
                                                    <h3 class="swiper-subject">About ClickESG</h3>
                                                </div>
                                                <div class="swiper-body">
                                                    <p class="para">ESG 혁신의 선두주자 SK C&C ClickESG<br> 기술과 전문성으로 지속가능한 미래를 열어갑니다.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="swiper swiper-list link">
                                    <ul class="swiper-wrapper">
                                        <li class="swiper-slide swiper-item">
                                            <a href="#" class="btn module-a style-a color-b">
                                                <span class="btn-text">More1</span>
                                            </a>
                                        </li>
                                        <li class="swiper-slide swiper-item">
                                            <a href="#" class="btn module-a style-a color-b">
                                                <span class="btn-text">More2</span>
                                            </a>
                                        </li>
                                        <li class="swiper-slide swiper-item">
                                            <a href="#" class="btn module-a style-a color-b">
                                                <span class="btn-text">More3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="swiper-controls">
                                    <p class="count_txt"></p>
                                    <div class="swiper-pagination"></div>
                                    <div class="controls">
                                        <button id="toggleButton" class="btn icon style-a play">Stop</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section story-01">
                <div class="section-wrap">
                    <div class="section-body">
                        <div class="data-list">
                            <a href="#" class="data-item item-01">
                                <div class="data-head">
                                    <h2 class="data-subject">Our Services</h2>
                                    <p class="data-summary">ClickESG는 Global 표준 기술력을 보유하고,<br> ESG 전문성을 가진 기업중심의<br> 컨설팅 서비스를 제공합니다.</p>
                                </div>
                            </a>
                            <a href="#" class="data-item item-02">
                                <p class="para">기업 대출을 심사를 위한<br> ESG 수준 진단</p>
                            </a>
                            <a href="#" class="data-item item-03">
                                <p class="para">이중 중대성 평가를 위한<br> ESG 수준 파악</p></a>
                            <a href="#" class="data-item item-04">
                                <p class="para">Net Zero 달성을 위한<br> 탄소 배출량 세부 관리</p>
                            </a>
                            <a href="#" class="data-item item-05">
                                <p class="para">지속가능성보고서 작성을 위한<br> 세부 지표 관리 및 실적 관리</p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section story-02">
                <div class="section-wrap">
                    <div class="section-head">
                        <h2 class="section-subject">Solutions</h2>
                        <p class="section-summary">맞춤형 ESG 솔루션을 통해 고객의 니즈에 최적화된 서비스를 제공하며, 다양한 언어 팩을 지원해<br> 해외 사업장의 공급망 ESG 진단을 도울 수 있습니다.</p>
                    </div>
                    <div class="section-body">
                        <div class="swiper swiper-list">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide swiper-item">
                                    <div class="swiper-wrap">
                                        <div class="swiper-info">
                                            <div class="swiper-head">
                                                <em class="swiper-subject">ESG Assessment</em>
                                                <span class="swiper-category">(ESG 경영 진단)</span>
                                            </div>
                                            <div class="swiper-body">
                                                <p class="para">ESG 경영관리의 시작, 글로벌 기관 기준과 국내 법제도 및 가이드라인 에 맞춘 기업의 ESG 경영 수준을 진단하고 개선 방향을 수립해 보세요.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide swiper-item">
                                    <div class="swiper-wrap">
                                        <div class="swiper-info">
                                            <div class="swiper-head">
                                                <em class="swiper-subject">ESG Assessment</em>
                                                <span class="swiper-category">(ESG 경영 진단)</span>
                                            </div>
                                            <div class="swiper-body">
                                                <p class="para">ESG 경영관리의 시작, 글로벌 기관 기준과 국내 법제도 및 가이드라인 에 맞춘 기업의 ESG 경영 수준을 진단하고 개선 방향을 수립해 보세요.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide swiper-item">
                                    <div class="swiper-wrap">
                                        <div class="swiper-info">
                                            <div class="swiper-head">
                                                <em class="swiper-subject">ESG Assessment</em>
                                                <span class="swiper-category">(ESG 경영 진단)</span>
                                            </div>
                                            <div class="swiper-body">
                                                <p class="para">ESG 경영관리의 시작, 글로벌 기관 기준과 국내 법제도 및 가이드라인 에 맞춘 기업의 ESG 경영 수준을 진단하고 개선 방향을 수립해 보세요.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide swiper-item">
                                    <div class="swiper-wrap">
                                        <div class="swiper-info">
                                            <div class="swiper-head">
                                                <em class="swiper-subject">ESG Assessment</em>
                                                <span class="swiper-category">(ESG 경영 진단)</span>
                                            </div>
                                            <div class="swiper-body">
                                                <p class="para">ESG 경영관리의 시작, 글로벌 기관 기준과 국내 법제도 및 가이드라인 에 맞춘 기업의 ESG 경영 수준을 진단하고 개선 방향을 수립해 보세요.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="swiper-slide swiper-item">
                                    <div class="swiper-wrap">
                                        <div class="swiper-info">
                                            <div class="swiper-head">
                                                <em class="swiper-subject">ESG Assessment</em>
                                                <span class="swiper-category">(ESG 경영 진단)</span>
                                            </div>
                                            <div class="swiper-body">
                                                <p class="para">ESG 경영관리의 시작, 글로벌 기관 기준과 국내 법제도 및 가이드라인 에 맞춘 기업의 ESG 경영 수준을 진단하고 개선 방향을 수립해 보세요.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="swiper-controls">
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-prev btn icon style-b arrow-left1"></div>
                                <div class="swiper-button-next btn icon style-b arrow-right1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
     <!-- // main -->
</div>
</body>
</html>